/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.pf2e.chat-card {
  font-style: normal;
}
.pf2e.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #fff;
  border-bottom: 2px groove #fff;
}
.pf2e.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.pf2e.chat-card .card-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
}
.pf2e.chat-card .card-content {
  margin: 5px 0;
}
.pf2e.chat-card .card-buttons {
  margin: 5px 0;
}
.pf2e.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
  border: 1px solid var(--secondary-background);
}
.pf2e.chat-card .card-buttons button {
  margin: 2px 0;
}
.pf2e.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #fff;
}
.pf2e.chat-card .card-footer span {
  border-right: 2px groove #fff;
  padding: 0 5px 0 0;
  font-size: 12px;
}
.pf2e.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}

.pf2e.chat-card .card-buttons-multiattack {
  display: grid;
  grid-template-columns: auto 40px 40px;
  grid-column-gap: 4px;
}
.pf2e.chat-card .card-buttons-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4px;
}
