.message-content {
    .dice-roll {
        .statuseffect-message {
            font-weight: 700;
        }
        .statuseffect-rules {
            font-size: 13px;
            font-weight: 500;
            h2 {
                font-weight: 700;
            }
        }
    }
}