.dice-total-shield-btn.shield-activated {
  background-color: #333;
  color: white;
}
.dice-roll .dice-tooltip.dmg-tooltip span {
  font-size: 10px;
}
.dice-roll .dice-tooltip.dmg-tooltip span:not(:first-child) {
  display: block;
  border-top: 1px;
  border-top-color: #999;
  border-top-style: solid;
}
