.directory-item.actor {
    h4 {
        line-height: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .actor-level {
        font-size: x-small;
        color: var(--color-text-light-primary);
    }
}