.combat-sidebar {
    li.combatant {
        &.drag-preview {
            background: rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 6px inset var(--color-shadow-highlight);
        }

        // The gap left by a combatant being dragged to a new position
        &.drag-gap {
            visibility: hidden;
        }

        .hidden-name .token-name h4 {
            color: var(--color-text-light-7);
        }
    }

    #combat-controls {
        padding: 0.25rem 0 0.5rem;
    }
}
