section.compendium-sidebar {
    .directory-item.compendium.locked {
        > .compendium-banner {
            opacity: 0.5;
        }

        &:hover > .compendium-banner {
            opacity: 1;
        }
    }

    ol.subdirectory {
        border-left-width: 6px;
    }

    ol.directory-list ol.document-matches {
        background: rgba(0, 0, 0, 25%);
        margin-top: 1px;
        padding: 0;

        li.match {
            align-items: center;
            column-gap: 2px;
            cursor: pointer;
            display: grid;
            font-size: var(--font-size-12);
            grid-template-areas:
                "thumbnail name"
                "thumbnail details";
            grid-template-columns: calc(36px + 2px) 1fr;
            grid-template-rows: 1fr 1fr;
            list-style: none;
            padding: 2px 0 2px 4px;

            &:hover {
                background: rgba(255, 255, 255, 10%);
            }

            > * {
                align-items: inherit;
                display: flex;
                height: 100%;
            }

            .thumbnail {
                grid-area: thumbnail;
                justify-content: start;

                img {
                    border: none;
                    height: 36px;
                    object-fit: contain;
                    object-position: 50% 0;
                    padding: 2px 0;
                    width: 36px;
                }
            }

            .name {
                grid-area: name;
            }

            .details {
                color: var(--color-text-light-primary);
                grid-area: details;
            }
        }
    }
}

#pack-search-drag-preview {
    background: url(../../../ui/parchment.jpg) repeat;
    border-bottom: 1px solid var(--color-border-light-1);
    border-top: 1px solid transparent;
    box-shadow: none;
    display: flex;
    height: 50px;
    line-height: 48px;
    position: absolute;
    text-shadow: 0 0 0.5rem var(--color-shadow-primary);
    top: -1000px;
    width: 328px;

    img {
        border: none;
        height: 48px;
    }

    h4 {
        color: var(--color-text-dark-primary);
        font-size: var(--font-size-14);
    }
}
