#combat,
#combat-popout {
    .metrics {
        color: var(--color-text-tertiary);
        display: flex;
        font-size: var(--font-size-14);
        gap: 1rem;
        justify-content: center;
        line-height: 1.5rem;
        white-space: nowrap;
        .threat .value {
            &.trivial {
                color: aqua;
            }

            &.low {
                color: lime;
            }

            &.moderate {
                color: yellow;
            }

            &.severe {
                color: orange;
            }

            &.extreme {
                color: red;
            }
            text-shadow: 1px 1px 2px var(--color-shadow-dark);
        }
        .award .value {
            color: var(--color-text-primary);
        }
    }

    .combatant-controls {
        --element-spacing-half: 2px;
    }

    li.combatant {
        cursor: var(--cursor-default);
        --color-border-disposition: var(--color-warm-2);
        &.active::before {
            border-color: var(--color-border-disposition);
        }

        &.gm-draggable {
            cursor: var(--cursor-grab);
        }

        &.drag-preview {
            background: rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 6px inset var(--color-shadow-highlight);
        }

        // The gap left by a combatant being dragged to a new position
        &.drag-gap {
            visibility: hidden;
        }

        .hidden-name > strong {
            color: var(--color-text-subtle);
        }

        .token-name > strong {
            display: flex;
            flex-direction: row;

            .users-targeting {
                display: inline-block;
                font-size: x-small;
                line-height: inherit;
                padding: 0 0.3em;
                text-shadow: none;
                vertical-align: bottom;
            }
        }
    }
}
