@import "actor-directory";
@import "item-directory";
@import "chat";
@import "compendium-directory";
@import "encounter-tracker";

.sidebar-tab {
    footer.directory-footer {
        display: flex;
        gap: var(--space-8);
        line-height: var(--sidebar-header-height);

        button {
            flex: 1;
            font-size: var(--font-size-13);
        }
    }
}
