#sidebar {
<<<<<<< HEAD
    font-family: $body-serif;
    line-height: 1.4;
    font-weight: 400;
    color: var(--body);
=======
    &.app {
        @include corner-boxes;
    }
>>>>>>> 6e1207e... Sidebar Base
}