.directory-item.item {
    img.thumbnail {
        object-fit: contain;
    }

    h4 {
        line-height: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .item-level {
        font-size: x-small;
        color: var(--color-text-light-primary);
    }
}
