.combat-sidebar {
    li.combatant {
        cursor: default;
        padding: 3px 0 3px 3px;

        &.gm-draggable {
            cursor: grab;
        }

        .token-name h4 {
            flex-direction: row;

            .users-targeting {
                display: inline-block;
                font-size: x-small;
                line-height: inherit;
                padding: 0 0.3em;
                text-shadow: none;
                vertical-align: bottom;
            }
        }
    }
}
