#check-prompt-generator {
    .roll-options {
        display: contents;

        button {
            --control-size: var(--font-size-24);
            font-size: var(--font-size-14);
            flex-basis: fit-content;
            justify-self: start;
            margin-right: auto;

            i.fa-plus {
                display: none;
            }

            .contents {
                display: contents;
            }
        }

        &.collapsed {
            button i.fa-plus {
                display: inline;
            }

            button i.fa-minus {
                display: none;
            }

            .contents {
                display: none;
            }
        }
    }

    .preview {
        border-top: 1px solid var(--table-header-border-color);
        padding: var(--spacer-8) 0 0;

        textarea {
            width: 100%;
        }
    }
}
