div#generate-skill-save-prompt {
  height: auto !important;

  .dialog-buttons {
    flex: 0 1 auto;
  }

  form.skill-save-prompt {
    margin-bottom: 10px;
  
    > nav a.active {
      text-decoration: underline;
    }
  
    tags.tagify {
      background-color: rgba(0, 0, 0, 0.075);
      border: 1px solid var(--color-border-light-tertiary);
      border-radius: 3px;
    }
    
    .form-group.secret {
      justify-content: flex-end;
      text-align: right;
    }
  
    input#secret, input#basic-save {
      margin-right: 0;
    }

    select {
      height: var(--form-field-height);
      text-transform: capitalize;
    }
  }
}
