.travel-duration {
    h2 {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    table {
        td {
            padding: 5px 10px;
        }

        td.centered {
            text-align: center;
        }
    }

    .journey-input {
        display: grid;
        column-gap: 5px;
        grid: "size type" / 50px 1fr 1fr;
    }

    .fraction-input {
        text-align: center;
        input {
            width: 30px
        }
    }

    .speed-input {
        width: 30px;
    }

}