/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */

.pf2e.chat-card {
  font-style: normal;

  .card-header {
    padding: 3px 0;
    border-top: 2px groove #fff;
    border-bottom: 2px groove #fff;
    h3 {
      flex: 1;
      margin: 0;
      line-height: 36px;
    }
    img {
      flex: 0 0 36px;
      margin-right: 5px;
    }
  }

  .card-content {
    margin: 5px 0;
  }

  .card-buttons {
    margin: 5px 0;
    button {
      margin: 2px 0;
    }
    span {
      display: block;
      line-height: 28px;
      text-align: center;
      border: 1px solid var(--secondary-background);
    }
  }

  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #fff;
    span {
      border-right: 2px groove #fff;
      padding: 0 5px 0 0;
      font-size: 12px;
      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }

  .card-buttons-multiattack {
    display: grid;
    grid-template-columns: auto 40px 40px;
    grid-column-gap: 4px;
  }

  .card-buttons-two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4px;
  }
}
