/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */

.message-content .dice-roll .statuseffect-message {
  word-break: normal;
  font-weight: 100;
  font-size: 12px;
  text-align: left;
  padding: 0 0 0 0.5em;
  ul {
    list-style-type: none;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-right: 6px;
      }
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
}
.message-content .dice-roll .statuseffect-li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.message-content .dice-roll .statuseffect-li-text {
  display: inline-block;
  width: 200px;
  font-weight: 600;
}
.message-content .dice-roll .statuseffect-rules {
  visibility: hidden;
  width: 264px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: -42px;
  text-align: left;
  font-size: 14px;
  font-weight: 100;
  line-height: normal;

  background: url(../../ui/parchment.jpg) repeat;
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 3px #fff inset;
  opacity: 0;
  transition: opacity 1s;
}
.message-content .dice-roll .statuseffect-rules p {
  margin: 0;
}
.statuseffect-li-text:hover + .statuseffect-rules {
  visibility: visible;
  opacity: 1;
}
.status-effects .status-effect-summary {
  visibility: hidden;
  width: 174px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  line-height: normal;

  box-sizing: content-box;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px #000;
  border: 1px solid #333;
  border-radius: 4px;
}
.status-effects .status-effect-summary.active {
  visibility: visible;
}
