<form class="{{cssClass}}" autocomplete="off">
  <!-- HEADER -->
  {{> systems/pf2e/templates/actors/main/actor-header.html}}
  <!-- SIDEBAR -->
  <section class="sheet-sidebar sidebar">
    <div class="abilities" data-group="sidebar" data-tab="abilities">
      <!-- ARMOR CLASS -->
      {{> systems/pf2e/templates/actors/main/actor-armorclass.html}}
      <!-- STAMINA (if enabled) -->
      {{#if_stamina}}
        {{> systems/pf2e/templates/actors/main/actor-stamina.html}}
      {{/if_stamina}}
      <!-- HEALTH -->
      {{> systems/pf2e/templates/actors/main/actor-health.html}}
      <!-- Resistances -->
      {{> systems/pf2e/templates/actors/main/actor-resistances.html}}
      <!-- Perception -->
      {{> systems/pf2e/templates/actors/main/actor-perception.html}}
      <!-- Initiative -->
      {{> systems/pf2e/templates/actors/main/actor-initiative.html}}
      <!-- Class DC -->
      {{> systems/pf2e/templates/actors/main/actor-class-dc.html}}
      <!-- Saves -->
      {{> systems/pf2e/templates/actors/main/actor-saves.html}}
      <!-- Ability Scores -->
      {{> systems/pf2e/templates/actors/main/actor-ability-scores.html}}
    </div>
  </section>

  <!-- SHEET NAVIGATION -->
  <nav class="sheet-navigation">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="actions">{{localize "PF2E.TabActionsLabel"}}</a>
      <a class="item" data-tab="inventory">{{localize "PF2E.TabInventoryLabel"}}</a>
      <a class="item" data-tab="spellbook">{{localize "PF2E.TabSpellbookLabel"}}</a>
      <a class="item" data-tab="skills">{{localize "PF2E.TabSkillsLabel"}}</a>
      <a class="item" data-tab="feats">{{localize "PF2E.TabFeatsLabel"}}</a>
      <a class="item active" data-tab="biography">Character</a>
    </nav>
  </nav>

  <!-- LOWER SECTION -->
  <section class="sheet-lower">

    <!-- BODY -->
    <section class="sheet-content content">

      <!-- Actions -->
      {{> systems/pf2e/templates/actors/tabs/actor-actions.html}}

      <!-- INVENTORY -->
      {{> systems/pf2e/templates/actors/tabs/actor-inventory.html}}

      <!-- SPELLBOOK -->
      {{> systems/pf2e/templates/actors/tabs/actor-spellbook.html}}

      <!-- SKILLS -->
      {{> systems/pf2e/templates/actors/tabs/actor-skills.html}}

      <!-- FEATS -->
      {{> systems/pf2e/templates/actors/tabs/actor-feats.html}}

      <!-- BIOGRAPHY -->
      {{> systems/pf2e/templates/actors/tabs/actor-biography.html}}

    </section>
  </section>
</form>
