<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label>{{localize "PF2E.CurrencyPP"}}:</label>
        <input type="text" name="pp" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.CurrencyGP"}}:</label>
        <input type="text" name="gp" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.CurrencySP"}}:</label>
        <input type="text" name="sp" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.CurrencyCP"}}:</label>
        <input type="text" name="cp" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.AddCoinsCombineStacksLabel"}}:</label>
        <input type="checkbox" name="combineStacks" checked data-dtype="Boolean"/>
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i>{{localize "PF2E.AddCoinsTitle"}}</button>
</form>