<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'PF2E.loot.LootNamePlaceholder'}}"/>
        </h1>
        <div class="editsheet">
            <label>{{localize "PF2E.loot.EditLootLabel</label>
            <input class="isLootEditable" name="flags.pf2e.editLoot.value" type="checkbox" data-dtype="Boolean" {{checked flags.pf2e.editLoot.value}}/>
        </div>
    </header>

    <!-- SIDEBAR -->

    <section class="sheet-sidebar sidebar">
        <p>This is edit mode!</p>        
    </section>

    <!------------->
</form>