<form class="{{cssClass}} updatedNPCSheet" autocomplete="off">

    <div class="contentcontainer">
        <div class="npc-title-bar">
            <h1 class="name">{{actor.name}}</h1>
            <h1 class="editorLootButton">
                <div style="font-size: 10px; font-weight: normal; margin-right: 150px; text-align: center;">
                    <label>{{localize "PF2E.Loot.EditLootLabel}}</label>
                    <input class="isLootEditable" name="flags.pf2e.editLoot.value" type="checkbox" data-dtype="Boolean" {{checked flags.pf2e.editLoot.value}}/>
                </div>
            </h1>
        </div>
    </div>
</form>