<div class="tab inventory" data-group="primary" data-tab="inventory">
    <div id="items" class="inventory-section">
        <div class="header">
            <div></div>
            <div class="item-name">{{ localize 'PF2E.NPC.Inventory.Header.NameLabel'}}</div>
            <div class="item-quantity">{{ localize 'PF2E.NPC.Inventory.Header.QuantityLabel'}}</div>
            <div>
            </div>
        </div>
        <div class="body">
            <ul class="items-list">
                {{#each actor.equipment as |category categoryId|}}
                <div class="category-header">
                    <h4>{{ category.label }}</h4>
                    <div class="category-controls controls">
                        {{# if ../options.editable }}
                        <a class="item-add add-{{category.type}} add" data-type="item" data-item-type="{{ category.type }}"><i class="fas fa-plus"></i></a>
                        {{/if}}
                    </div>
                </div>
                    {{#each category.items as |item itemId|}}
                    {{ log item }}
                        {{> 'systems/pf2e/templates/actors/npc/partials/npc-item.html' item=item isEditable=../../options.editable }}
                    {{/each}}
                {{/each}}
            </ul>
        </div>
        <div class="footer">
            <div class="items-controls controls" for="data.traits.senses">
                <!-- {{# if options.editable }}
                <a class="item-add add-weapon add" title="{{ localize 'PF2E.NPC.AddWeapon' }}" data-type="item" data-action-type="weapon"><i class="fas fa-plus"></i> {{ localize 'PF2E.NPC.AddWeapon' }}</a>
                <a class="item-add add-armor add" title="{{ localize 'PF2E.NPC.AddArmor' }}" data-type="item" data-action-type="armor"><i class="fas fa-plus"></i> {{ localize 'PF2E.NPC.AddArmor' }}</a>
                <a class="item-add add-equipment add" title="{{ localize 'PF2E.NPC.AddEquipment' }}" data-type="item" data-action-type="equipment"><i class="fas fa-plus"></i> {{ localize 'PF2E.NPC.AddEquipment' }}</a>
                <a class="item-add add-consumable add" title="{{ localize 'PF2E.NPC.AddConsumable' }}" data-type="item" data-action-type="consumable"><i class="fas fa-plus"></i> {{ localize 'PF2E.NPC.AddConsumable' }}</a>
                <a class="item-add add-treasure add" title="{{ localize 'PF2E.NPC.AddTreasure' }}" data-type="item" data-action-type="treasure"><i class="fas fa-plus"></i> {{ localize 'PF2E.NPC.AddTreasure' }}</a>
                {{/if}} -->
            </div>
        </div>
    </div>
</div>