{{> 'systems/pf2e/templates/actors/npc/partials/data/npc-health.html' }} {{>
'systems/pf2e/templates/actors/npc/partials/data/npc-armor.html' }} {{>
'systems/pf2e/templates/actors/npc/partials/data/npc-senses.html' }}{{>
'systems/pf2e/templates/actors/npc/partials/data/npc-saves.html' }}{{>
'systems/pf2e/templates/actors/npc/partials/data/npc-speeds.html' }}{{>
'systems/pf2e/templates/actors/npc/partials/data/npc-wri.html' }}{{>
'systems/pf2e/templates/actors/npc/partials/data/npc-effects.html' }}
