<div class="tab main" data-group="primary" data-tab="main">
    {{> 'systems/pf2e/templates/actors/npc/partials/data/npc-ability-scores.html' }} {{>
    'systems/pf2e/templates/actors/npc/partials/data/npc-actions.html' }} {{>
    'systems/pf2e/templates/actors/npc/partials/data/npc-attacks.html' }} {{>
    'systems/pf2e/templates/actors/npc/partials/data/npc-languages.html' }} {{>
    'systems/pf2e/templates/actors/npc/partials/data/npc-recall-knowledge.html' }}{{>
    'systems/pf2e/templates/actors/npc/partials/data/npc-passives.html' }} {{>
    'systems/pf2e/templates/actors/npc/partials/data/npc-skills.html' }} {{>
    'systems/pf2e/templates/actors/npc/partials/data/npc-speeds.html' }} {{>
    'systems/pf2e/templates/actors/npc/partials/data/npc-toggles.html' }}
</div>
