/* ----------------------------------------- */
/* App UI                                    */
/* ----------------------------------------- */

#players {
    @include glass;
}

.app {
    @include glass;
    border-radius: 5px;
    box-shadow: var(--glassy), 0px 10px 30px 10px rgba(0, 0, 0, 0.5);

    &.sidebar-popout {
        .window-content {
            background: none;
            box-shadow: none;
            margin: 0px;
        }
    }
    &.image-popout {
        backdrop-filter: blur(5px);
        .window-content {
            background: none;
            box-shadow: none;
        }
    }
}

.app.journal-entry .window-content {
    box-shadow: none;
    margin:0px;
    .journal-entry-content {
        @include sheet;
        margin-left: 4px;
        height: calc(100% - 4px);
    }
}

.window-app .window-header {
    border: none;
}

.window-app .window-content {
    @include sheet;
    border-radius: 0px 0px 3px 3px;
}

.window-app.chat-popout {
    border-radius: 5px 5px 7px 7px;
    
    .window-header {
        border: none;
    }
    .message.chat-message {
        margin: 1px;
    }
}

/* ----------------------------------------- */
/* Context Menu                              */
/* ----------------------------------------- */

#context-menu {
    @include glass;
    background-color:rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);

    &.expand-down {
        margin-top: 3px;
    }

    ol.context-items {
        border: none;

        li.context-item:hover {
            color: var(--color-text-light-highlight);
            text-shadow: 0 0 4px wheat;
        }
    }
}

/* ----------------------------------------- */
/* Tooltip                                   */
/* ----------------------------------------- */

#tooltip {
    @include glass;
    background-color:rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

/* ----------------------------------------- */
/* FPS display                               */
/* ----------------------------------------- */


#fps {
    @include glass;
}