/* ----------------------------------------- */
/*  Item Buttons
/* ----------------------------------------- */
.pf2e.sheet .item-buttons button {
  font-size: 10px;
  line-height: 12px;
  margin: 0;
}
.pf2e.sheet .item-buttons span {
  padding:0;
}
.pf2e.sheet .melee-buttons button {
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  border: 1px groove darkgray;
}
.pf2e.sheet .melee-buttons span {
  padding:0;
  margin-top: 3px;
}
