/* ----------------------------------------- */
/* Controls                                  */
/* ----------------------------------------- */

nav#controls {
    ol.control-tools {
        & > li {
            &.active, &:hover {
                background-color: var(--primary);
                box-shadow: 0 0 10px var(--color-shadow-dark);
                border-color: var(--color-border-dark);
            }

            &.toggle {
                background-color: var(--secondary-alpha);
                border-color: var(--color-border-dark);
                &.active, &:hover {
                    background-color: var(--secondary);
                }
            }
        }
    }
}
