/* ----------------------------------------- */
/* Controls                                  */
/* ----------------------------------------- */

nav#controls {
    padding-top: 12px;

    ol.control-tools {
        &.main-control {
            margin-right: 8px;
        }
        li.control-tool,
        li.scene-control {
            @include glass;
            @include quick-transition;
            text-shadow: 0px 0px 3px black;
            border-radius: 3px;
            margin-bottom: 8px;

            &.active, &:hover {
                @include glass;
                background-color: var(--primary);
            }
            
            &.toggle {
                @include glass;
                background-color: var(--secondary-dark);

                &.active, &:hover {
                    @include glass;
                    background-color: var(--secondary-light);
                }

            }
        }
    }
}