/* ----------------------------------------- */
/*  Generic Sheet Styling
/* ----------------------------------------- */
.pf2e.sheet form {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Form Elements */
  /* Select Fields */
  /* Sheet Tabs */
  /* Tags */
}
.pf2e.sheet form input[type="text"] {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: none;
  padding: 0;
  margin: 1px 0;
  color: #444;
  border: 1px solid transparent;
}
.pf2e.sheet form input[type="text"]:hover,
.pf2e.sheet form input[type="text"]:focus {
  border: 1px solid #111;
  /* box-shadow: 0 0 8px red; */
  box-shadow: 0 0 10px rgb(0, 0, 90);
}
.pf2e.sheet form select {
  font-size: 10px;
  height: 18px;
  background: rgba(255, 255, 255, 0.5);
}
.pf2e.sheet form input:disabled,
.pf2e.sheet form select:disabled,
.pf2e.sheet form textarea:disabled {
  color: #444;
  border: none;
}
.pf2e.sheet form input:disabled:hover,
.pf2e.sheet form select:disabled:hover,
.pf2e.sheet form textarea:disabled:hover,
.pf2e.sheet form input:disabled:focus,
.pf2e.sheet form select:disabled:focus,
.pf2e.sheet form textarea:disabled:focus {
  border: none;
  box-shadow: none;
}
.pf2e.sheet form span,
.pf2e.sheet form label {
  display: block;
}
.pf2e.sheet form .mce-panel span {
  display: inherit;
}
.pf2e.sheet form.editable .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px rgb(0, 0, 90);
  /* text-shadow: 0 0 10px red; */
  cursor: pointer;
}
.pf2e.sheet form .sheet-tabs {
  height: 30px;
}
.pf2e.sheet form .sheet-tabs > .item {
  line-height: 24px;
  padding: 4px 8px 0;
}
.pf2e.sheet form .sheet-tabs > .item.active {
  color: #000;
  font-weight: 700;
}
.pf2e.sheet form .tab {
  flex: 1;
  overflow: hidden;
}
.pf2e.sheet form .tag {
  float: left;
  margin: 0 2px 2px 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
