.hover-content {
    display: none;
}

.crb-hover {
    .tooltipster-box {
        @include corner-boxes;
        background-color: rgba(black, 0.9);
        overflow: visible;

        .tooltipster-content {
            margin: 0;
            padding: 0;

            .item-summary {
                @include journal-styling;
                a,
                span[data-pf2-effect-area] {
                    color: var(--color-text-dark-primary);
                }
            }

            .hover-content {
                display: flex;
                flex-direction: column;
                max-width: fit-content;
                min-width: 7.5rem;
                padding: var(--space-4);

                p {
                    font: 400 var(--font-size-14) var(--body-serif);
                }

                h1,
                h2,
                h3 {
                    font-size: var(--font-size-12);
                    font-weight: 500;
                    text-align: left;
                }

                .sidebar_title {
                    align-items: baseline;
                    border-bottom: 1px solid var(--sidebar-title);
                    display: flex;
                    flex: 1 auto;
                    justify-content: space-between;
                    margin: var(--space-2) 0 var(--space-8);

                    h2,
                    a {
                        @include micro;
                        border: none;
                        color: var(--sidebar-title);
                        line-height: 1.5;
                        margin: 0;

                        & + h2 {
                            font-size: var(--font-size-11);
                        }
                    }

                    a {
                        color: var(--text-light);
                        text-decoration: none;
                    }
                }

                &.select-shield {
                    gap: var(--space-4);
                    overflow: hidden;
                    width: 14rem;

                    ul {
                        line-height: normal;
                        width: 100%;

                        > li {
                            display: flex;
                            flex-basis: 100%;
                            justify-content: space-between;

                            .label {
                                flex: 1;
                                line-height: 1.125rem;
                            }

                            .data {
                                justify-self: center;
                                position: relative;
                                top: calc(-1 * var(--space-1));
                            }
                        }
                    }
                }

                ul {
                    display: flex;
                    flex: 1 auto;
                    flex-direction: column;
                    gap: var(--space-8);
                    justify-content: center;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    input {
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid rgba(white, 0.5);
                        border-radius: 0;
                        color: var(--text-light);
                        font-family: var(--body-serif);
                        width: 100%;

                        &:focus {
                            border-bottom: 1px solid var(--color-text-light-0);
                            box-shadow: none;

                            &::placeholder {
                                color: transparent;
                            }
                        }

                        &::placeholder {
                            color: rgba(white, 0.8);
                        }

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            appearance: none;
                            margin: 0;
                        }

                        &[type="number"] {
                            -moz-appearance: textfield;
                            appearance: textfield;
                        }
                    }

                    select {
                        background: transparent;
                        border: 1px solid var(--color-border-light-1);
                        border-radius: 2px;
                        cursor: pointer;
                        height: 1.125rem;

                        option {
                            color: var(--text-dark);
                            font-size: var(--font-size-13);
                            min-height: 1rem;
                            text-transform: capitalize;
                        }
                    }

                    label {
                        align-items: center;
                        display: flex;
                        font-family: var(--serif);
                        font-weight: 500;
                        text-align: left;
                    }

                    .label,
                    .data {
                        color: var(--text-light);
                        font: 400 var(--font-size-12) var(--serif);
                        margin: 0;
                        padding: 0;
                    }

                    .item {
                        align-items: center;
                        gap: var(--space-2) var(--space-8);
                        display: grid;
                        grid:
                            "data label close" var(--space-12)
                            "data type close" var(--space-12)
                            / 1.875rem 1fr;
                        justify-items: start;

                        &:first-child {
                            border: none;
                        }

                        &.no-effect {
                            filter: opacity(0.5);
                            position: relative;
                        }

                        .tag-legacy {
                            @include micro;
                            @include flex-center;
                            color: var(--color-pf-tertiary);
                            grid-area: type;
                            letter-spacing: 0.5px;
                            white-space: nowrap;
                            width: min-content;

                            .remove-modifier {
                                white-space: nowrap;
                            }
                        }

                        .label {
                            grid-area: label;
                        }

                        .data {
                            font-size: var(--font-size-21);
                            grid-area: data;
                            justify-self: right;
                            text-align: right;
                            width: min-content;
                        }
                    }

                    .disabled {
                        .label,
                        .data,
                        .data::placeholder {
                            color: rgba(white, 0.5);
                        }

                        .label {
                            text-decoration: line-through;
                        }
                    }
                }

                &.modifiers-tooltip {
                    .remove-modifier {
                        cursor: pointer;
                        font-size: 0.8rem;
                        grid-area: close;
                    }

                    .add-modifier {
                        border-top: 1px solid var(--sidebar-title);
                        align-items: baseline;
                        font-size: 0.8rem;
                        gap: var(--space-4) var(--space-8);
                        grid:
                            "value name name" 1fr
                            "type type btn" 1fr
                            / 2.625rem 1fr 1fr;
                        padding-top: var(--space-5);

                        .add-modifier-value {
                            align-items: center;
                            column-gap: var(--space-4);
                            display: grid;
                            font-size: 1rem;
                            grid:
                                "input plus" 1fr
                                "input minus" 1fr
                                / 1fr var(--space-10);
                            grid-area: value;
                            text-align: right;

                            input {
                                grid-area: input;
                            }

                            .fa-solid {
                                cursor: pointer;
                                font-size: var(--font-size-9);
                                margin-top: var(--space-2);

                                &.fa-plus-circle {
                                    grid-area: plus;
                                }

                                &.fa-minus-circle {
                                    grid-area: minus;
                                }
                            }
                        }

                        .add-modifier-name {
                            grid-area: name;
                        }

                        .add-modifier-submit {
                            @include micro;
                            background-color: black;
                            color: var(--color-pf-tertiary);
                            grid-area: btn;
                            line-height: 1.5;
                            white-space: nowrap;
                        }
                    }
                }

                &.manage-tabs {
                    ul {
                        li {
                            display: flex;

                            label {
                                color: var(--color-pf-tertiary);
                                flex-basis: 100%;
                            }

                            input {
                                display: flex;
                                min-width: 2em;
                            }
                        }
                    }
                }
            }
        }
    }
}
