@import "windows", "sidebar", "combat", "hover", "dialog", "icons", "token-hud", "traits", "app-ui", "controls", "hotbar", "navigation", "notifications", "module-support";

/* ----------------------------------------- */
/* Sidebar                                   */
/* ----------------------------------------- */

#sidebar {
    border: none;
    border-radius: 6px 3px 3px 3px;

    &.collapsed {
        border-radius: 3px;

        #sidebar-tabs .item.active {
            border: none;
        }
    }

    #sidebar-tabs {
        --sidebar-tab-height: 20px;
        --sidebar-tab-width: 20px;
        border: none;
        box-shadow: none;
        margin: 0px;
        margin-top: 1px;

        .item {
            border: none;
            margin: 2px;

            &.active {
                @include gold-border;
                border-radius: 3px;
                text-shadow: none;
                background-color: var(--primary-light);
            }
        }
    }

    #chat-controls i.fas {
        line-height: 24px; // center-aligns icons
    }
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border: 1px solid var(--gold-brown);
}