/* ----------------------------------------- */
/* Monk's little details                     */
/* ----------------------------------------- */

#token-hud.placeable-hud.monks-little-details .status-effects {
    grid-template-columns: 90px 90px 90px 90px !important;
    background: none;

    .effect-control {
        border: none;
        opacity: 1;

        &.active {
            border: none;
            opacity: 1;
        }
    }

    .effect-name {
        padding-right: 4px;
        font-size: var(--font-size-12);
    }
}

#hotbar {
    width: 647px;

    .hotbar-page {
        overflow: visible;
        gap: 4px;
        bottom: 56px;

        .macro-list {
            gap: 7px;
            border: none;
        }

        .action-bar {
            margin: 0px 5px 0px 3px;
        }
    }
}


/* ----------------------------------------- */
/* Monk's hotbar expansion                   */
/* ----------------------------------------- */


#hotbar .action-bar.no-arrows+.bar-controls span.page-number,
#hotbar .hotbar-page .hotbar-page-row .bar-controls span.page-number,
#hotbar .hotbar-page .hotbar-page-row .bar-controls i {
    line-height: 52px;
    ;
}

#hotbar .hotbar-page .hotbar-page-row.selected .bar-controls .page-number {
    color: var(--tertiary-dark);
}