/* ----------------------------------------- */
/* Tag Selector                              */
/* ----------------------------------------- */

.app.tag-selector a.document-id-link {
    visibility: hidden;
}

.app.tag-selector form {
    height: 100%;

    header {
        align-items: center;
        display: flex;
        gap: 0.5rem;

        input {
            background: rgba(255, 255, 255, 0.5);

            &::placeholder {
                font-family: var(--fa6);
                font-weight: 900;
                padding-left: 0.25em;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        max-height: 87%;
        overflow-y: scroll;
        padding: 0;

        &.has-custom {
            max-height: 78%;
        }

        li > label {
            align-items: center;
            display: flex;
            gap: 0.125rem;
        }
    }

    table {
        th,
        td {
            text-align: left;
            white-space: nowrap;
        }

        tr.sense {
            td:first-child .label-checkbox-source {
                align-items: center;
                display: flex;

                i {
                    cursor: help;
                    margin-left: 0.25rem;
                }
            }

            td:nth-child(2) {
                text-align: center;
            }
        }
    }
}
