/* ----------------------------------------- */
/* Tag Selector                              */
/* ----------------------------------------- */

.app.tag-selector form {
    height: 100%;

    ol.trait-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        max-height: 87%;
        overflow-y: scroll;
        padding: 0;

        &.has-custom {
            max-height: 78%;
        }
    }

    table {
        th, td {
            text-align: left;
            white-space: nowrap;
        }

        tbody td:first-child label {
            vertical-align: super;
        }
    }

    .trait-header {
        flex: 0 0 32px;
        line-height: 32px;
        text-align: center;
        margin: 0;

        .header-search {
            flex: 1;

            input {
                background: rgba(255, 255, 245, 0.8);
                width: calc(100% - 26px);
                margin: 0 2px;
            }
        }
    }

    .trait-footer {
        flex: 0 0 32px;
        line-height: 32px;
        margin: 0;
        margin-bottom: 5px;
        border-top: 1px solid grey;
    }

    .trait-selection-label {
        display: flex;
        align-items: center;

        .trait-label {
            margin-left: 5px;
        }
    }

    input:not([type="checkbox"]) {
        flex: 1.8;
    }
}
