/* ----------------------------------------- */
/* Tag Selector                              */
/* ----------------------------------------- */

.app.tag-selector a.document-id-link {
    visibility: hidden;
}

.app.tag-selector form {
    height: 100%;

    ol.trait-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        max-height: 87%;
        overflow-y: scroll;
        padding: 0;

        &.has-custom {
            max-height: 78%;
        }
    }

    table {
        th,
        td {
            text-align: left;
            white-space: nowrap;
        }

        tr.sense {
            td:first-child .label-checkbox-source {
                align-items: center;
                display: flex;

                i {
                    cursor: help;
                    margin-left: 0.25rem;
                }
            }

            td:nth-child(2) {
                text-align: center;
            }
        }
    }

    .trait-header {
        flex: 0 0 2rem;
        line-height: 2rem;
        text-align: center;
        margin: 0;

        .header-search {
            flex: 1;

            input {
                background: rgba(255, 255, 245, 0.8);
                width: calc(100% - 26px);
                margin: 0 2px;
            }
        }
    }

    .trait-footer {
        flex: 0 0 2rem;
        line-height: 2rem;
        margin: 0;
        margin-bottom: 0.25rem;
        border-top: 1px solid grey;
    }

    .trait-selection-label {
        display: flex;
        align-items: center;

        .trait-label {
            margin-left: 5px;
        }
    }

    input:not([type="checkbox"]) {
        flex: 1.8;
    }
}
