#token-hud .effect-control {
    border: none;
    margin: 0px;
    padding: 0px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: var(--glassy);
        border-radius: 3px;
        overflow: hidden;
        pointer-events: none;
    }

    &.active::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: var(--gold-and-glow), var(--glassy);
        border-radius: 3px;
        overflow: hidden;
        pointer-events: none;
    }

    &:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 10px rgba(220, 200, 100, 0.5) inset, var(--glassy);
        border-radius: 3px;
        overflow: hidden;
        pointer-events: none;
    }

    &.active:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: var(--gold-and-glow), var(--glassy);
        border-radius: 3px;
        overflow: hidden;
        pointer-events: none;
    }
}


#token-hud {
    input[type="text"] {
        @include glass;
    }
    .control-icon {
        @include glass;
        &.active {
            color: var(--color-text-light-highlight);
            background-color: var(--secondary-light);
        }
        > img {
            filter: drop-shadow(0px 0px 4px black);
        }
    }
    .status-effects {
        background: none;
        box-shadow: none;
        border: none;
        padding: 0px;
        grid-template-columns: repeat(5, 1fr);
        width: auto;
        gap: 8px;

        .effect-control {
            color: var(--color-text-dark-1);
            cursor: pointer;
            height: 40px;
            opacity: 1;
            position: relative;
            width: 40px;
            background-color: rgba(black, 0.5);
            filter: brightness(0.75) saturate(0.75);

            &:hover, &.active {
                filter: none;
                opacity: 1;
            }

            &.active:hover {
                filter: brightness(0.75) saturate(0.75);
            }

            &.active img {
                opacity: 1;
            }

            img {
                margin: 0px;
                opacity: 1;
            }

            .badge {
                background: rgba(255, 255, 255, 90%);
                border-radius: 50%;
                border: 0.1em solid darkred;
                font-size: var(--font-size-8);
                height: 0.8rem;
                line-height: var(--font-size-10);
                pointer-events: none;
                position: absolute;
                right: -3px;
                text-align: center;
                top: -3px;
                width: 0.8rem;
                z-index: 1;
            }

            &.overridden > * {
                filter: saturate(0);
            }

            &.valued .badge {
                font-size: var(--font-size-12);
                font-style: unset;
                font-weight: 500;
                line-height: var(--font-size-12);
            }
        }

        .title-bar {
            @include glass;
            box-sizing: content-box;
            font-size: var(--font-size-20);
            font-weight: normal;
            left: 0;
            line-height: normal;
            padding: 3px 0;
            position: absolute;
            text-align: center;
            top: -40px;
            visibility: hidden;
            width: 100%;
            z-index: 1;

            &.active {
                visibility: visible;
            }
        }
    }
}
