#token-hud {
    .status-effects {
        --control-icon-filter: none;
        --effect-size: 32px;

        .effect-control {
            border: 1px solid transparent;
            position: relative;

            &.active {
                border-color: var(--color-warm-2);
            }

            &:not(.active):hover {
                border-color: rgba(#c9593f, 0.5);
            }

            .badge {
                background: rgba(255, 255, 255, 90%);
                border-radius: 50%;
                border: 0.1em solid var(--color-warm-3);
                color: var(--color-cool-4);
                font-size: var(--font-size-8);
                height: 0.8rem;
                line-height: var(--font-size-10);
                pointer-events: none;
                position: absolute;
                right: -3px;
                text-align: center;
                top: -3px;
                width: 0.8rem;
                z-index: 1;
            }

            &.overridden > * {
                filter: saturate(0);
            }

            &.valued .badge {
                font-size: var(--font-size-12);
                font-style: unset;
                font-weight: 500;
                line-height: var(--font-size-12);
            }
        }

        .title-bar {
            background: rgba(0, 0, 0, 0.6);
            color: var(--color-text-light-0);
            border-radius: inherit;
            border: inherit;
            box-shadow: inherit;
            box-sizing: content-box;
            font-size: var(--font-size-14);
            font-weight: normal;
            left: 0;
            line-height: normal;
            padding: 3px 0;
            position: absolute;
            text-align: center;
            top: -30px;
            visibility: hidden;
            width: 100%;
            z-index: 1;

            &.active {
                visibility: visible;
            }
        }
    }

    button.clown-car {
        &:disabled {
            cursor: wait;
            opacity: 0.5;
        }

        img {
            transform-style: preserve-3d;
            transition: 0.5s;

            &.retrieve {
                transform: scaleX(-1);
            }
        }
    }
}
