/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */

#trait-selector {
    .trait-list {
        flex: 1;
        list-style: none;
        margin: 0 0 0.5em;
        padding: 0;
        overflow-y: auto;
        scrollbar-width: thin;
    }

    .trait-header {
        flex: 0 0 32px;
        line-height: 32px;
        text-align: center;
        margin: 0;

        .header-search {
            flex: 1;

            input {
                background: rgba(255, 255, 245, 0.8);
                width: calc(100% - 26px);
                margin: 0 2px;
            }
        }
    }

    .trait-footer {
        flex: 0 0 32px;
        line-height: 32px;
        margin: 0;
        margin-bottom: 5px;
        border-top: 1px solid grey;
    }
}

#trait-selector .window {
    overflow-y: hidden;

    .trait-label {
        line-height: normal;
    }

    .trait-selection-label {
        display: flex;
        align-items: center;

        .trait-label {
            margin-left: 5px;
        }
    }

    input:not([type=checkbox]) {
        flex: 1.8;
    }
}
