{{> systems/pf2e/templates/chat/action/header.hbs glyph=action.glyph subtitle=action.subtitle title=action.title}}
{{#if traits}}
    <div class="tags paizo-style" data-tooltip-class="pf2e">
        {{#each traits as |trait|}}
            <span class="tag" data-slug="{{trait.name}}" data-tooltip="{{trait.description}}">{{localize trait.label}}</span>
        {{/each}}
    </div>
{{/if}}

<hr class="action-divider" />
