<h4 class="action">
    {{#if glyph}}
        <span class="pf2-icon larger">{{glyph}}</span>
    {{/if}}
    <strong>{{localize title}}</strong>
    {{#if subtitle}}
        <p class="compact-text">({{localize subtitle}})</p>
    {{/if}}
</h4>
