<h4 class="action">
    <strong>{{localize title}}</strong>
    {{#if glyph}}<span class="pf2-icon">{{glyph}}</span>{{/if}}
    {{#if subtitle}}<span class="subtitle">({{localize subtitle}})</span>{{/if}}
</h4>
