<h4 class="action">
    <strong>{{localize title}}</strong>
    {{#if glyph}}<span class="action-glyph">{{glyph}}</span>{{/if}}
    {{#if subtitle}}<span class="subtitle">({{localize subtitle}})</span>{{/if}}
</h4>
