// These styles are only applied for the "pf2e" theme, injected by the journal entry

.journal-sheet.pf2e {
    .journal-entry-content {
        padding: var(--space-s) var(--space-m);
        font-size: var(--font-size-13);
        overflow-y: hidden;
    }

    form {
        // reset the font to prevent breakage from pf2e global styles
        font-family: var(--font-primary);

        @import "header";

        input[name="name"]:disabled:hover {
            border-bottom: 2px solid transparent;
        }
    }

    .journal-entry-page section, .editor-content {
        --p-space: var(--space-l);
        --max-width: 570px;
        font-size: 1.2em;
        line-height: 1.5;
        color: var(--body);
        padding-bottom: 2em;

        @include tinymce-system-specific;
    }
}

.journal-entry-page.text.pf2e {
    .journal-page-header, .journal-page-content {
        font-family: var(--journal-serif);

        * + * {
            margin-top: var(--p-space, 1em);
        }

        > *:not(.edit-container) {
            width: 94%;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
        }

        h1,
        h2,
        h3,
        h4 {
            margin-bottom: 0;
            border: unset;
        }

        h1,
        h2 {
            font-family: var(--serif);
        }

        h1 {
            font-size: 3em;
            color: var(--primary);
            border: none;
            text-align: center;
            margin-top: var(--space-l);
            margin-bottom: var(--space-s);
            line-height: 1;
        }

        h2 {
            color: var(--secondary);
            font-size: 1.8em;
            border: none;
        }

        h3 {
            font-size: 1.4em;
            font-weight: 900;
            color: var(--primary);
        }

        h3,
        h4,
        h5,
        h6 {
            font-family: var(--sans-serif);
        }

        h4,
        h5,
        h6 {
            font-weight: 700;
            color: black;
            text-transform: uppercase;
        }

        h4 {
            font-size: 1.2em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        }

        h5 {
            font-size: 1.1em;
        }

        table {
            th {
                text-align: center;
                text-shadow: 1px 1px 3px black;
                font-weight: 900;
                background-color: var(--primary);
                color: #fdf8e8;
                h3 {
                    color: #fdf8e8;
                }
            }
            thead, tbody {
                border: 1px solid var(--secondary);
            }
        }

        :is(h2, h3, h5, h6) + p {
            margin-top: 0;
        }

        p {
            font-weight: 400;
        }

        blockquote {
            margin: 0;
            padding: 0;
            border: none;
            color: white;
            margin: var(--p-space) auto;
            margin-bottom: 0;
            padding: var(--space-l) var(--space-xl);
            padding-left: var(--space-2xl);
            background-color: var(--primary);
            font-weight: normal;
            border-radius: 3px;
            position: relative;
        }

        blockquote::before {
            font-family: "Font Awesome 5 Free";
            content: "\f27a";
            font-style: normal;
            font-weight: 900;
            position: absolute;
            height: 2em;
            width: 2em;
            color: var(--primary);
            border-radius: 3em;
            border: 2px solid var(--tertiary);
            background-color: white;
            display: grid;
            padding-left: 2px;
            padding-top: 2px;
            place-content: center;
            top: 1em;
            left: -1.2em;
        }

        a.content-link,
        a.inline-roll {
            border: none;
            box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.5);
            font-family: var(--sans-serif);
            font-size: 0.9em;

            i {
                font-size: 0.8em;
                color: var(--alt);
            }
        }

        ul,
        ol {
            margin-top: var(--space-s);
            padding-left: var(--space-m);

            li {
                padding-left: var(--space-s);
            }

            li + li {
                margin-top: 0;
            }
        }

        ul li::marker {
            content: "\25B8";
            color: var(--primary);
        }

        ol li::marker {
            font-weight: 700;
            color: var(--primary);
        }

        p + :is(ul, ol) {
            margin-top: revert;
        }
    }
}

