.compendium-browser {
    --color-result-list-odd: rgba(0, 0, 0, 0.12);
    --color-trait-select-active: rgba(29, 103, 208, 255);
    --input-text-color: var(--color-dark-2);

    .window-content {
        padding: 0.5em;
    }
}

.theme-dark .compendium-browser {
    --secondary: var(--color-cool-5);
    --color-result-list-odd: var(--color-dark-2);
    --color-select-option-bg: var(--color-cool-5);
    --color-trait-select-active: var(--color-cool-3);
    --input-text-color: var(--color-light-3);
}
