.compendium-browser {
    --color-result-list-odd: rgba(0, 0, 0, 0.12);

    .window-content {
        padding: 0.5em;
    }
}

.theme-dark .compendium-browser {
    --secondary: var(--color-cool-5);
    --color-border-trait: var(--color-dark-5);
    --color-tagify-input-background: var(--color-cool-4);
    --color-result-list-odd: var(--color-dark-2);
}
