<form autocomplete="off">
    <div class="form-group">
        <label>{{ localize "DOCUMENT.JournalEntry" }}</label>
        <div class="form-fields">
            <select name="entryId">
                {{selectOptions entries selected=data.entryId valueAttr="id" labelAttr="name" blank=""}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "JOURNALENTRYPAGE.Page"}}</label>
        <div class="form-fields">
            <select name="pageId">
                {{selectOptions pages selected=data.pageId valueAttr="id" labelAttr="name" blank=""}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.TextLabel" }}</label>
        <div class="form-fields">
            <input type="text" name="text" value="{{data.text}}" placeholder="{{label}}" />
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "XCoord" }}</label>
        <div class="form-fields">{{numberInput data.x name="x"}}</div>
    </div>

    <div class="form-group">
        <label>{{ localize "YCoord" }}</label>
        <div class="form-fields">{{numberInput data.y name="y"}}</div>
    </div>

    <div class="form-group">
        <label>
            {{localize "Elevation"}}
            <span class="units">({{gridUnits}})</span>
        </label>
        {{numberInput data.elevation name="elevation" placeholder=gridUnits}}
    </div>

    <div class="form-group">
        <label>{{ localize "Sort" }}</label>
        {{numberInput data.sort name="sort" step=1}}
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.Global" }}</label>
        <div class="form-fields">
            <input type="checkbox" name="global" {{checked data.global}} />
        </div>
        <p class="notes">{{ localize "NOTE.GlobalHint" }}</p>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.EntryIcon" }}</label>
        <div class="form-fields">
            <select name="icon.selected">
                {{selectOptions icons selected=icon.selected valueAttr="src" labelAttr="label"}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.CustomLabel" }}</label>
        <div class="form-fields">
            <input type="text" name="flags.pf2e.code" value="{{code}}" />
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.CustomIcon" }}</label>
        <div class="form-fields">
            <file-picker name="icon.custom" type="image" value="{{icon.custom}}"></file-picker>
        </div>
    </div>

    <div class="form-group">
        <label>
            {{ localize "NOTE.IconSize" }}
            <span class="units">({{localize "Pixels"}})</span>
        </label>
        <div class="form-fields">{{numberInput data.iconSize name="iconSize"}}</div>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.IconTint" }}</label>
        <div class="form-fields">
            <color-picker name="texture.tint" value="{{data.texture.tint}}"></color-picker>
        </div>
    </div>

    <div class="form-group">
        <label for="fontFamily">{{ localize "NOTE.FontFamily" }}</label>
        <div class="form-fields">
            <select name="fontFamily">
                {{selectOptions fontFamilies selected=data.fontFamily}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.FontSize" }}</label>
        <div class="form-fields">{{numberInput data.fontSize name="fontSize"}}</div>
    </div>

    <div class="form-group">
        <label for="textColor">{{ localize "NOTE.TextColor" }}</label>
        <div class="form-fields">
            <color-picker name="textColor" value="{{data.textColor}}"></color-picker>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "NOTE.AnchorPoint" }}</label>
        <div class="form-fields">
            <select name="textAnchor" data-dtype="Number">
                {{selectOptions textAnchors selected=data.textAnchor}}
            </select>
        </div>
    </div>

    <button type="submit">
        <i class="far fa-save"></i>
        {{ submitText }}
    </button>
</form>
