<template>
    <section class="standard-form">
        <fieldset aria-label="{{localize "PF2E.Region.Environment.RegionLegend.Header"}}">
            <legend>{{localize "PF2E.Region.Environment.RegionLegend.Header"}}</legend>
            <div class="form-group">
                <label>{{localize "PF2E.Region.Environment.Type.Label"}}</label>
                <div class="tags input-element-tags">
                    {{#each environmentTypes as |type|}}
                        <div class="tag">{{type}}</div>
                    {{/each}}
                </div>
            </div>
        </fieldset>
    </section>
</template>
