<div class="section-container">
    <div class="section-header">
        <h4>{{localize "PF2E.Familiar.AbilitiesLabel"}}</h4>
        <div class="controls">
            <a data-action="browse-abilities" data-action-category="familiar"><i class="fa-solid fa-search"></i> {{localize "PF2E.BrowseLabel"}}</a>
        </div>
    </div>
    <div class="section-body">
        <ol class="actions-list item-list">
            {{#each familiarAbilities.items as |action|}}
                {{> "systems/pf2e/templates/actors/npc/partials/action.hbs" action=action isEditable=../options.editable}}
            {{/each}}
        </ol>
    </div>
</div>
