# IDE
.idea/
.vs/
icons/\!dox/

/.vscode
/dist-example
/node_modules/
/dist/*
!/dist/packs
!/dist/icons
foundryconfig.json
package/
coverage
packs/temp-data
static/packs/*
!static/pack/Spells (SRD) - LICENSE

dist/

docs/
