# IDE
.idea/
.vs/
.vscode
icons/\!dox/

coverage
dist/
docs/
foundryconfig.json
node_modules/
package/
packs-temp/
json-assets/
types/foundry/node_modules/
types/foundry/package-lock.json

# Dummy files for vite dev server
/index.html
/styles/pf2e.css
/pf2e.mjs
/vendor.mjs
