# IDE
.idea/
.vs/
icons/\!dox/

/.vscode
/dist-example
node_modules/
dist/assets
dist/fonts
dist/pf2e.css
foundryconfig.json
package/
dist/system.json
coverage
dist/LICENSE
dist/README.md
dist/lang
dist/module
dist/pf2e.js
dist/scripts
dist/template.json
dist/templates
