.tab.character-building.active {
    height: 98%;
    > .content-box.character-builder {
        height: 100%;
        @import "nav";
        > nav {
            border-width: unset;
        }
        > section.content {
            height: 98%;
            > .tab.browser.active {
                height: 94%;
                > div {
                    display: grid;
                    grid-template-columns: 320px auto;
                    .control-area {
                        grid-column-start: 1;
                    }
                    ul {
                        grid-column-start: 2;
                    }
                }
            }
        }
    }
}
