.compendium-browser-settings {
    .setting-section {
        border: 1px solid #bbb;
        border-radius: 5px;
        margin-top: 5px;
        padding:2px;

        h3 {
            margin:0;
            cursor:pointer;
        }

        dt {
            width:10%;
        }

        /* Checkbox */
        dt > input[type="checkbox"] {
            transform: none;
            flex: none;
            height: auto;
            margin: 3px 3px;
        }

        dd {
            width:88%;
        }
    }

    dl {
        margin: 5px 0;
    }

    dt {
        display:inline-block;
        width:40%;
        padding-left:5px;
    }

    dd {
        display:inline-block;
        width:58%;
        margin-left:0;
    }

    .settings-container {
        height: 580px;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;

        div {
            width: 375px;
            margin-right: 1em;
        }
    }
}
