.compendium-browser-settings {
    height: 100%;

    .outer-container {
        display: flex;
        height: 95%;
        flex-direction: column;
        margin-bottom: 10px;

        .setting-section {
            border: 1px solid #bbb;
            border-radius: 5px;
            margin-top: 5px;
            padding: 2px;

            .sources-header {
                display: flex;
                width: 100%;
                align-items: center;
            }
        }

        .settings-container {
            overflow-y: auto;

            .tab[data-tab="packs"].active {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1em;
                width: 100%;

                .setting-section {
                    width: 48%;
                    margin-bottom: 0.5em;
                }
            }

            .tab[data-tab="source"].active {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
            }

            .single-column {
                width: 100%;
            }

            .fixed-height {
                min-height: 22.9em;
            }

            h2 {
                margin-top: 1em;
                margin-bottom: 0.5em;
                width: 100%;
            }
        }
    }

    @import "nav";
    nav {
        border-width: unset;
    }

    button.save-settings {
        background: rgba(0, 0, 0, 0.1);
        border: 2px groove var(--color-border-light-highlight);
    }
}
