&.emote > .message-content {
    font-style: italic;

    p.action-content {
        display: flex;
        align-items: center;
        font-weight: normal;

        a.content-link {
            background: none;
            border: none;
            padding: 0;
            text-decoration: underline;
            white-space: unset;
            word-break: normal;

            > i {
                margin-inline: 0.125rem;
            }
        }

        img {
            height: 2.33em;
            width: 2.33em;
            float: left;
            margin-right: 0.5em;
        }
    }

    hr.action-divider {
        margin: 0;
    }
}

> .message-header .flavor-text h4.action {
    line-height: 1.5em;
    margin: 0;

    > strong {
        font-weight: 600;
    }

    + .tags {
        padding: var(--space-2) 0 0;
    }
}

> .message-content {
    > .description {
        margin-bottom: 0rem;
        position: relative;

        // Remove in a few releases
        a.preview {
            height: 4.5ch;
            display: block;
            -webkit-mask-image: linear-gradient(to bottom, black, rgba(black, 0));
            mask-image: linear-gradient(to bottom, black, rgba(black, 0));
            overflow: hidden;
            position: relative;
            z-index: 2;

            &:hover {
                text-shadow: none;

                + .shadow {
                    box-shadow: 0 1px 6px var(--color-shadow-primary);
                    clip-path: polygon(0 0, 100% 0, 100% 200%, 0 200%);
                    width: 100%;
                }
            }
        }

        // Remove in a few releases
        .shadow {
            border-bottom: 1px solid rgba(black, 0.05);
            height: 6px;
            position: relative;
            top: -6px;
            z-index: 1;
        }
    }

    .message-buttons {
        margin: 0.5rem 0 var(--space-2);

        button {
            position: relative;
            .cue {
                position: absolute;
                right: 0.5rem;

                i {
                    --fa-primary-color: var(--color-border-dark);
                    --fa-secondary-color: var(--primary);
                    --fa-secondary-opacity: 0.6;
                }
            }
        }

        .crafted-item,
        .effect-applied {
            align-items: center;
            color: var(--color-text-dark-secondary);
            display: flex;
            font-style: italic;
            gap: var(--space-4);
            justify-content: center;
            min-height: 2.1rem;
            padding-bottom: 0.1rem;
        }
    }
}
