#chat-log li.message.emote  {
  border: 2px solid #887c5d;

  p.action-content {
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: normal;

    img {
      height: 2.33em;
      width: 2.33em;
      float: left;
      margin-right: 0.5em;
    }
  }

  hr.action-divider {
    margin: 0;
  }
}
