.chat-inspect-roll {
    .content {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        height: 100%;
        flex: 1 1 auto;
    }

    .summary {
        flex: 0 1 auto;
        .type {
            display: flex;
            align-items: baseline;
            gap: 2px;
        }

        .tags.domains {
            justify-items: end;
            margin-top: 4px;

            .tag {
                font-size: var(--font-size-12);
                font-weight: normal;
                text-transform: none;
                user-select: all;
            }
        }
    }

    .body {
        display: flex;
        flex-direction: row;
        gap: 1em;
        width: 100%;
        flex: 1;
    }

    .roll-options, .modifiers {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    .roll-options {
        .filter {
            margin-bottom: 2px;
        }

        .roll-option-lists {
            @include scrollbar;
            flex: 1 0 0;
            overflow: auto;
            padding-right: 1px; // compensate for filter's border
            ul {
                @include p-reset;
                list-style-type: none;
                border-radius: 3px;
                white-space: nowrap;
                border: 1px solid var(--color-border-dark-tertiary);
                overflow-x: auto;
            }
            li {
                user-select: text;
                line-height: 1.5em;
                padding-left: 5px;
                &:nth-child(even) {
                    background-color: #00000011;
                }
            }
        }
    }

    .modifier-list {
        @include scrollbar;
        flex: 1 0 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
        .modifier {
            border: 1px solid black;
            border-radius: 3px;
            padding: 4px;
            &.disabled {
                border-style: dashed;
                opacity: 0.6;
            }

            h4 {
                font-size: 1.1em;
            }

            & > div {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }
        }
    }
}
