.flavor-text {
    div.degree-of-success {
        span.criticalSuccess {
            color: green;
        }
        span.success {
            color: blue;
        }
        span.failure {
            color: orangered;
        }
        span.criticalFailure {
            color: red;
        }
    }
}
