> .message-header {
    .flavor-text {
        .target-dc-result {
            line-height: 0.75rem;
            margin-bottom: var(--space-4);

            .target-dc,
            .result {
                display: block;
                margin: var(--space-1) 0;
                width: fit-content;
            }

            .unadjusted {
                text-decoration: line-through;
            }

            .adjusted {
                text-decoration: underline dotted;
                &.increased {
                    color: $degree-success-critical;
                }
                &.decreased {
                    color: $degree-failure-critical;
                }
            }

            .degree-of-success {
                .criticalSuccess {
                    color: $degree-success-critical;
                }
                .success {
                    color: $degree-success;
                }
                .failure {
                    color: $degree-failure;
                }
                .criticalFailure {
                    color: $degree-failure-critical;
                }
            }
        }

        .effect {
            align-items: center;
            column-gap: var(--space-5);
            display: flex;

            img {
                height: 2rem;
                width: 2rem;
            }
        }
    }
}

> .message-content {
    .dice-total button.set-as-initiative {
        align-items: center;
        display: flex;
        font-size: var(--font-size-10);
        height: 2.2em;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 1px;
        width: 2.2em;

        > i {
            margin-right: 0;
        }
    }
}
