.flavor-text {
    div.degree-of-success {
        .criticalSuccess {
            color: green;
        }
        .success {
            color: blue;
        }
        .failure {
            color: orangered;
        }
        .criticalFailure {
            color: red;
        }
    }
}
