> .message-header {
    .flavor-text {
        .target-dc-result {
            line-height: 0.75rem;
            margin-bottom: var(--space-4);

            .target-dc,
            .result {
                display: block;
                margin: var(--space-1) 0;
                width: fit-content;
            }

            .unadjusted {
                text-decoration: line-through;
            }

            .adjusted {
                text-decoration: underline dotted;
                &.increased {
                    color: var(--color-pf-text-critical-success);
                }
                &.decreased {
                    color: var(--color-pf-text-critical-failure);
                }
            }
        }

        .degree-of-success {
            .criticalSuccess {
                color: var(--color-pf-text-critical-success);
            }
            .success {
                color: var(--color-pf-text-success);
            }
            .failure {
                color: var(--color-pf-text-failure);
            }
            .criticalFailure {
                color: var(--color-pf-text-critical-failure);
            }
        }

        .effect {
            align-items: center;
            column-gap: var(--space-5);
            display: flex;

            img {
                height: 2rem;
                width: 2rem;
            }
        }
    }
}

> .message-content {
    h4.dice-total {
        &.success {
            color: var(--color-pf-text-critical-success);
        }
        &.failure {
            color: var(--color-pf-text-critical-failure);
        }
    }

    .dice-total button.set-as-initiative {
        --button-size: 2em;
        height: var(--button-size);
        font-size: var(--font-size-10);
        justify-content: center;
        position: absolute;
        right: 2px;
        top: 2px;

        > i {
            margin-right: 0;
        }
    }
}
