ul.participant-conditions {
    background: rgba(black, 0.1);
    border-radius: 3px;
    border: 1px solid var(--color-border-light-2);
    box-shadow: 0 0 2px white inset;
    display: flex;
    flex-direction: column;
    gap: 3px;
    list-style: none;
    padding: 0.5em;

    li {
        align-items: center;
        cursor: help;
        display: flex;
        gap: 0.5rem;

        img {
            width: 2rem;
        }
    }
}
