@use "sass:color";

.message-content {
    .damage-roll {
        &:not(:first-child) {
            margin-top: 1em;
        }

        .dice-result {
            .dice-formula {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: 0.25em;
                justify-content: center;

                .instance {
                    padding: 0 0.25em;
                }
            }

            .dice-total {
                flex-direction: column;
                font-weight: normal;

                .total {
                    font-weight: 700;
                    padding: 0 2ch;

                    .increased-from {
                        color: var(--color-text-dark-2);
                        font-size: var(--font-size-16);
                        font-weight: normal;
                        vertical-align: 15%;
                    }
                }

                .instances {
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    font-size: var(--font-size-12);
                    justify-content: center;
                    line-height: var(--font-size-12);
                    margin-bottom: 0.2em;
                    vertical-align: top;

                    .instance {
                        padding: 0.15em 0.25em;
                    }
                }
            }

            .dice-tooltip {
                display: flex;
                flex-direction: column;
                gap: 0.25em;
                margin-bottom: 0.25em;

                .instance {
                    border-radius: 2px;
                    border-style: solid;
                    border-width: 1px;

                    > header {
                        align-items: center;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 0.1em;
                    }

                    .dice {
                        .part-formula, .part-total {
                            color: var(--color-text-dark-secondary);
                        }
                    }

                    > header, .dice {
                        padding: 0.2em;
                    }
                }
            }

            .instance {
                $darker: -12.5%;
                $transparent: 0.125;
                white-space: nowrap;

                // Default coloration
                &:not(.tooltip-part), &.tooltip-part > header {
                    background: rgba($damage-physical, $transparent);
                }

                &.acid {
                    border-color: $damage-acid;
                    color: color.adjust($damage-acid, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-acid, $transparent);
                    }

                    .icon {
                        color: $damage-acid;
                    }
                }

                &.bleed {
                    border-color: $damage-bleed;
                    color: color.adjust($damage-bleed, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-bleed, $transparent);
                    }

                    .icon {
                        color: $damage-bleed;
                    }
                }

                &.bludgeoning {
                    border-color: $damage-physical;
                    color: color.adjust($damage-physical, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-physical, $transparent);
                    }

                    .icon {
                        color: $damage-physical;
                    }
                }

                &.chaotic {
                    border-color: $damage-chaotic;
                    color: color.adjust($damage-chaotic, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-chaotic, $transparent);
                    }

                    .icon {
                        color: $damage-chaotic;
                    }
                }

                &.cold {
                    border-color: $damage-cold;;
                    color: color.adjust($damage-cold, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-cold, $transparent);
                    }

                    .icon {
                        color: $damage-cold;
                    }
                }

                &.electricity {
                    border-color: $damage-electricity;
                    color: color.adjust($damage-electricity, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-electricity, $transparent);
                    }

                    .icon {
                        color: $damage-electricity;
                    }
                }

                &.evil {
                    border-color: $damage-evil;
                    color: color.adjust($damage-evil, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-evil, $transparent);
                    }

                    .icon {
                        color: $damage-evil;
                    }
                }

                &.fire {
                    border-color: $damage-fire;
                    color: color.adjust($damage-fire, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-fire, $transparent);
                    }

                    .icon {
                        color: $damage-fire;
                    }
                }

                &.force {
                    border-color: $damage-force;
                    color: color.adjust($damage-force, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-force, $transparent);
                    }

                    .icon {
                        color: $damage-force;
                    }
                }

                &.good {
                    border-color: $damage-good;
                    color: color.adjust($damage-good, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-good, $transparent);
                    }

                    .icon {
                        color: $damage-good;
                    }
                }

                &.lawful {
                    border-color: $damage-lawful;
                    color: color.adjust($damage-lawful, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-lawful, $transparent);
                    }

                    .icon {
                        color: $damage-lawful;
                    }

                }

                &.mental {
                    border-color: $damage-mental;
                    color: color.adjust($damage-mental, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-mental, $transparent);
                    }

                    .icon {
                        color: $damage-mental;
                    }
                }

                &.negative {
                    border-color: $damage-negative;
                    color: $damage-negative;

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-negative, $transparent);
                    }

                    .icon {
                        color: $damage-negative;
                    }
                }

                &.piercing {
                    border-color: $damage-physical;
                    color: color.adjust($damage-physical, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-physical, $transparent);
                    }

                    .icon {
                        color: $damage-physical;
                    }
                }

                &.poison {
                    border-color: $damage-poison;
                    color: color.adjust($damage-poison, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-poison, $transparent);
                    }

                    .icon {
                        color: $damage-poison;
                    }
                }

                &.positive {
                    border-color: $damage-positive;
                    color: color.adjust($damage-positive, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-positive, $transparent);
                        text-shadow: 1px 1px black;
                    }

                    .icon {
                        color: $damage-positive;
                    }
                }

                &.slashing {
                    border-color: $damage-physical;
                    color: color.adjust($damage-physical, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-physical, $transparent);
                    }

                    .icon {
                        color: $damage-physical;
                    }
                }

                &.sonic {
                    border-color: $damage-sonic;
                    color: color.adjust($damage-sonic, $lightness: $darker);

                    &:not(.tooltip-part), &.tooltip-part > header {
                        background: rgba($damage-sonic, $transparent);
                    }

                    .icon {
                        color: $damage-sonic;
                    }
                }

                .precision, .splash {
                    border-color: inherit;
                    border-width: 1px;
                    border-style: dotted;
                    padding: 1px 2px;
                    line-height: 0;
                }
            }

            .dice-tooltip {
                .damage-type {
                    margin-bottom: 3px;

                    h3 {
                        text-transform: capitalize;
                        padding-left: 3px;
                        padding-right: 1px;
                    }

                    i.fa {
                        flex: none;
                        margin: 2px;
                    }

                    .dice {
                        margin-left: 2px;
                        margin-right: 2px;
                    }

                }

                .dice .part-header .part-flavor {
                    text-transform: capitalize;
                }
            }
        }
    }


    .damage-application {
        display: flex;
        justify-content: center;
        margin-top: 3px;
        order: 3;

        button {
            align-items: center;
            display: flex;
            flex-direction: column;
            font-size: var(--font-size-18);
            height: 2em;
            justify-content: space-around;
            line-height: unset;
            padding: 0;

            &.half-damage {
                position: relative;

                .transparent-half {
                    background: rgb(248, 247, 233);
                    display: block;
                    height: 24px;
                    left: 49%;
                    opacity: 0.6;
                    position: absolute;
                    top: 0px;
                    width: 10px;
                }
            }

            > img {
                border: none;
                height: var(--font-size-18);
            }

            &.heal-damage .fa-stack {
                font-size: 0.5em;

                i.fa-plus {
                    font-size: var(--font-size-10);
                }
            }

            .label {
                font-size: var(--font-size-9);
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }

    .damage-taken {
        section.roll-note {
            font-size: var(--font-size-12);
        }
        .persistent {
            font-style: normal;
            margin-top: 1em;

            h4 {
                border-bottom: 1px solid var(--color-underline-header);
                max-width: fit-content;
            }
        }

        button.revert-damage {
            align-items: center;
            background: var(--bg-dark);
            display: inline-flex;
            justify-content: center;
            width: 3ch;
            margin-left: 2px;
        }

        .reverted {
            text-decoration: line-through;
        }
    }
}
