.dice-roll .dice-result .dice-tooltip {
    .damage-type {
        margin-bottom: 3px;

        h3 {
            text-transform: capitalize;
            padding-left: 3px;
            padding-right: 1px;
        }

        i.fa {
            flex: none;
            margin: 2px;
        }

        .dice {
            margin-left: 2px;
            margin-right: 2px;
        }

        &.acid {
            border: solid 1px darkgreen;
            h3 {
                color: darkgreen;
                background-color: rgba(0, 100, 0, 0.25);
            }
        }
        &.bludgeoning {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.chaotic {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.cold {
            border: solid 1px darkblue;
            h3 {
                color: darkblue;
                background-color: rgba(0, 0, 139, 0.25);
            }
        }
        &.electricity {
            border: solid 1px darkgoldenrod;
            h3 {
                color: darkgoldenrod;
                background-color: rgba(184, 134, 11, 0.25);
            }
        }
        &.evil {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.fire {
            border: solid 1px darkred;
            h3 {
                color: darkred;
                background-color: rgba(139, 0, 0, 0.25);
            }
        }
        &.force {
            border: solid 1px darkmagenta;
            h3 {
                color: darkmagenta;
                background-color: rgba(139, 0, 139, 0.25);
            }
        }
        &.good {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.lawful {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.mental {
            border: solid 1px midnightblue;
            h3 {
                color: midnightblue;
                background-color: rgba(25, 25, 112, 0.25);
            }
        }
        &.negative {
            border: solid 1px #000000;
            h3 {
                color: #000000;
                background-color: rgba(0, 0, 0, 0.25);
            }
        }
        &.piercing {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.poison {
            border: solid 1px darkolivegreen;
            h3 {
                color: darkolivegreen;
                background-color: rgba(85, 107, 47, 0.25);
            }
        }
        &.positive {
            border: solid 1px #ffffff;
            h3 {
                color: #ffffff;
                background-color: rgba(255, 255, 255, 0.25);
                text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
            }
        }
        &.slashing {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.sonic {
            border: solid 1px darkcyan;
            h3 {
                color: darkcyan;
                background-color: rgba(0, 139, 139, 0.25);
            }
        }
    }

    .dice .part-header .part-flavor {
        text-transform: capitalize;
    }
}
