.message-content {
    .damage-roll {
        &:not(:first-child) {
            margin-top: 1em;
        }

        &.expanded .dice-result .dice-tooltip {
            margin-bottom: 0.25rem;
            .wrapper {
                margin-bottom: 0.25rem;
            }
        }

        .dice-result {
            .dice-formula {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: 0.25em;
                justify-content: center;

                .instance {
                    padding: 0 0.25em;
                }
            }

            .dice-total {
                font-weight: normal;

                .total {
                    font-weight: 700;
                    padding: 0 2ch;

                    .increased-from {
                        color: var(--color-dark-2);
                        font-size: var(--font-size-16);
                        font-weight: normal;
                        vertical-align: 15%;
                    }
                }

                .instances {
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    font-size: var(--font-size-12);
                    gap: 1px;
                    justify-content: center;
                    line-height: normal;
                    margin-bottom: 1px;
                    vertical-align: top;

                    .instance {
                        padding: 1px 0.25em 0;
                    }
                }
            }

            .dice-tooltip {
                .wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;
                }

                .instance {
                    border-radius: 2px;
                    border-style: solid;
                    border-width: 1px;

                    > header {
                        align-items: center;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 0.1em;
                    }

                    .dice {
                        .part-formula,
                        .part-total {
                            color: var(--color-text-secondary);
                        }
                    }

                    > header,
                    .dice {
                        padding: 0.2em;
                    }
                }
            }

            .instance {
                white-space: nowrap;

                &.tooltip-part {
                    > header {
                        // Darken slightly
                        background: var(--color-bg-bludgeoning);
                    }

                    > .dice {
                        text-shadow: none;
                    }
                }

                .precision,
                .splash {
                    border-color: inherit;
                    border-width: 1px;
                    border-style: dotted;
                    padding: 1px 2px;
                    line-height: 0;
                }
            }
        }
    }

    .damage-application {
        display: flex;
        gap: 0.25rem;
        justify-content: center;
        margin-top: 3px;
        order: 3;

        button {
            --button-size: 2em;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            font-size: var(--font-size-18);
            gap: var(--space-2);
            justify-content: space-around;
            padding: 1px 0 0;
            &.half-damage {
                position: relative;
                > i {
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    background-image: linear-gradient(to right, var(--button-text-color) 50%, #999 50%);
                }

                &:hover > i {
                    background-image: linear-gradient(to right, var(--button-hover-text-color) 50%, #999 50%);
                }
            }

            > img {
                border: none;
                height: var(--font-size-18);
            }

            .label {
                font-size: 0.5em;
                font-weight: 500;
                text-transform: uppercase;
            }

            &.apply-healing {
                .fa-stack {
                    font-size: 0.5em;

                    i.fa-plus {
                        --fa-inverse: #aaa;
                        font-size: var(--font-size-10);
                        top: -1px;
                    }
                }
            }

            &.healing-only {
                flex-direction: row;
                justify-content: center;
                gap: 0.25rem;

                .fa-stack {
                    font-size: 0.5em;

                    i.fa-plus {
                        --fa-inverse: #aaa;
                        font-size: var(--font-size-11);
                    }
                }

                .label {
                    font-size: var(--font-size-14);
                    font-weight: normal;
                    text-transform: none;
                }
            }
        }
    }

    .damage-taken {
        section.roll-note {
            font-size: var(--font-size-12);
        }
        .persistent {
            font-style: normal;
            margin-top: 1em;

            h4 {
                border-bottom: 1px solid var(--color-underline-header);
                max-width: fit-content;
            }
        }

        button.revert-damage {
            align-items: center;
            background: var(--bg-dark);
            display: inline-flex;
            justify-content: center;
            min-height: unset;
            width: 3ch;
            height: 3ch;
            margin-left: 2px;

            // Upstream adds a margin that pushes the FA icon off center
            > i {
                margin: 0;
            }
        }

        .reverted {
            text-decoration: line-through;
        }
    }

    .persistent-damage-recovery button {
        width: 100%;
    }
}
