div[data-visibility="gm"] {
        box-sizing: border-box;
        display: inline-block;
        border: 1px dotted;
        background: #e8e8ef;
        padding: 2px;
        margin-bottom: 2px;

        em[data-visibility="gm"] {
            border: none;
            padding: 0px;
            margin-bottom: 0px;
        }
    }

em[data-visibility="gm"] {
    box-sizing: border-box;
    display: inline-block;
    border: 1px dotted;
    background: #e8e8ef;
    padding: 2px;
    margin-bottom: 2px;
}
