.chat-message {
    @import "action", "check", "damage", "reroll";

    hr {
        border-top: 2px groove white;
        margin: 0.5em 0;
    }

    .message-header.with-image {
        display: grid;
        grid-template:
            "img name details" 1.375rem
            "img user details" 1.125rem
            "gap gap gap" var(--space-4)
            "whisper whisper whisper" min-content
            "flavor flavor flavor" 1fr
            / 2.75rem 1fr min-content;

        justify-content: stretch;
        width: 100%;

        .portrait {
            grid-area: img;
            padding: 0.125rem 0.125rem 0.125rem 0;
            img {
                border: none;
                height: 36px;
                object-fit: contain;
                width: 36px;
            }

            &.actor-image {
                img {
                    object-fit: cover;
                    object-position: top;
                }
            }
        }

        h4.message-sender {
            align-self: end;
            color: var(--color-text-secondary);
            font-weight: 500;
            grid-area: name;
            line-height: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .user {
            align-self: center;
            grid-area: user;
            font-size: var(--font-size-12);
        }

        .message-metadata {
            grid-area: details;
            white-space: nowrap;
        }

        .whisper-to {
            grid-area: whisper;
        }

        .flavor-text {
            grid-area: flavor;
        }
    }

    .message-header .flavor-text {
        .modifiers .tag[data-visibility="gm"] {
            background: var(--visibility-gm-bg);
            border-radius: 4px;
            box-shadow: none;
        }

        .modifiers:has(.tag[data-visibility="gm"]) {
            // Enlarge gap and bottom margin by a pixel due to `[data-visibility]` elements having outlines instead of
            // borders
            gap: var(--space-3);
            margin-bottom: var(--space-3);
        }

        ul.notes {
            display: flex;
            flex-direction: column;
            font-family: var(--sans-serif);
            gap: var(--space-4);
            list-style: none;
            margin: 0;
            padding: var(--space-4) 0;

            li {
                display: block;
                line-height: 1.25em;
            }
        }
    }

    > .message-content {
        @import "conditions";

        > .description,
        > .chat-card .card-content {
            &.collapsed {
                cursor: pointer;
                max-height: 4.5rem;
                mask-image: linear-gradient(to bottom, black, transparent);
                overflow: hidden;

                * {
                    pointer-events: none;
                }

                + .shadow {
                    border-bottom: 1px solid rgba(black, 0.05);
                    height: 6px;
                    position: relative;
                    top: -8px;
                    margin-bottom: -6px;
                    z-index: 1;
                }

                &:hover + .shadow {
                    box-shadow: 0 1px 6px var(--color-shadow-primary);
                    clip-path: polygon(0 10%, 100% 10%, 100% 200%, 0 200%);
                    width: 100%;
                }
            }

            p {
                margin: var(--space-4) 0;
                min-height: unset;

                &.item-block-line {
                    --wrap-indent: var(--space-14);
                    line-height: 1.25rem;
                    margin: 0;
                    padding: 0 0 0 var(--wrap-indent);
                    text-indent: calc(-1 * var(--wrap-indent));

                    .adjusted {
                        text-decoration: underline dotted 1px black;
                    }

                    &:first-child {
                        margin-top: var(--space-1);
                    }
                }
            }
        }

        .addendum {
            @include frame-elegant;
            background: rgba($alt-dark, 0.1);
            border-radius: 2px;
            color: var(--color-pf-alternate-darker);
            padding: var(--space-4);

            h4 {
                font-weight: 600;
                margin: 0 0 var(--space-4) 0;
                text-align: center;
            }
        }

        .dice-roll {
            .dice-result > [data-visibility="gm"] {
                background: var(--visibility-gm-bg);
                outline: 1px dotted rgba(75, 74, 68, 0.5);
            }

            &.expanded .dice-tooltip[data-visibility="gm"] .wrapper {
                padding: var(--space-2) var(--space-3) 0;
            }
            &:not(.expanded) .dice-tooltip {
                background: transparent;
                outline-color: transparent;
            }
        }
    }
}
