@import "roll-inspector";

.chat-message {
    @import "action", "check", "damage", "reroll";

    .message-header.with-image {
        display: grid;
        grid-template:
            "img name details" 1.375rem
            "img user details" 1.125rem
            "gap gap gap" var(--space-4)
            "whisper whisper whisper" min-content
            "flavor flavor flavor" 1fr
            / 2.75rem 1fr min-content;

        justify-content: stretch;
        width: 100%;

        .portrait {
            grid-area: img;
            padding: 0.125rem 0.125rem 0.125rem 0;
            img {
                border: none;
                height: 2.25rem;
                object-fit: contain;
                width: 2.25rem;
            }

            &.actor-image {
                img {
                    object-fit: cover;
                    object-position: top;
                }
            }
        }

        h4.message-sender {
            grid-area: name;
            color: var(--color-text-dark-primary);
            line-height: 1;
            font-size: var(--font-size-15);
            font-weight: 500;
            margin-top: auto;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .user {
            grid-area: user;
            font-size: var(--font-size-12);
            line-height: 1;
            padding-top: var(--space-2);
        }

        .message-metadata {
            grid-area: details;
            white-space: nowrap;
        }

        .whisper-to {
            grid-area: whisper;
        }

        .flavor-text {
            grid-area: flavor;
        }
    }

    .message-header .flavor-text {
        .modifiers .tag[data-visibility="gm"] {
            background: var(--visibility-gm-bg);
            border-radius: 4px;
            box-shadow: none;
        }

        .modifiers:has(.tag[data-visibility="gm"]) {
            // Enlarge gap and bottom margin by a pixel due to `[data-visibility]` elements having outlines instead of
            // borders
            gap: var(--space-3);
            margin-bottom: var(--space-3);
        }

        ul.notes {
            display: flex;
            flex-direction: column;
            font-family: var(--sans-serif);
            gap: var(--space-4);
            list-style: none;
            margin: 0;
            padding: var(--space-4) 0;

            li {
                display: block;
                line-height: 1.25em;
            }
        }
    }

    > .message-content {
        @import "conditions";

        .dice-roll {
            .dice-result > [data-visibility="gm"] {
                background: var(--visibility-gm-bg);
                border: 1px dotted rgba(75, 74, 68, 0.5);
            }

            .dice-tooltip[data-visibility="gm"] {
                padding: var(--space-2) var(--space-2) 0;
            }
        }
    }
}
