.roll-inspector {
    .window-content {
        overflow: hidden;
    }

    .content {
        display: grid;
        gap: var(--space-8);
        grid-template: auto 1fr / 2fr 50%;
        height: 100%;
    }

    .summary {
        grid-column: span 2;

        .type {
            align-items: baseline;
            display: flex;
            gap: var(--space-2);
        }

        .tags.domains {
            justify-items: end;
            margin-top: var(--space-4);

            .tag {
                font-size: var(--font-size-12);
                font-weight: normal;
                text-transform: none;
                user-select: all;
            }
        }
    }

    .roll-options,
    .modifiers {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        ul {
            border: 1px solid var(--color-border-dark-tertiary);
            border-radius: 3px;
            list-style-type: none;
            margin: 0;
            overflow: hidden auto;
            padding: 0;
            scrollbar-gutter: stable;

            li:nth-child(even of :not([hidden])) {
                background-color: #00000011;
            }
        }
    }

    .roll-options {
        .filter {
            margin-bottom: var(--space-4);
        }

        ul {
            height: 100%;
            white-space: nowrap;

            li {
                line-height: 1.5em;
                overflow-x: hidden;
                padding-left: var(--space-4);
                text-overflow: ellipsis;
                user-select: text;
            }
        }
    }

    .modifiers {
        grid-area: "modifiers";

        ul {
            gap: var(--space-4);

            li {
                display: block;
                padding: var(--space-4);

                &.disabled {
                    border-style: dashed;
                    opacity: 0.6;
                }

                h4 {
                    align-items: baseline;
                    display: flex;
                    font-size: 1.1em;
                    gap: var(--space-4);
                    margin-bottom: 0.37em;

                    i {
                        margin-left: auto;
                        padding-left: var(--space-4);
                    }
                }

                & > div {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                }
            }
        }
    }
}
