{{> "systems/pf2e/templates/items/partials/ability-activation.hbs"}}

<div class="form-group">
    <label>{{localize "PF2E.ActionDeathNoteLabel"}}</label>
    <input type="checkbox" name="system.deathNote" {{checked data.deathNote}} data-dtype="Boolean"/>
</div>
