{{> "systems/pf2e/templates/items/partials/ability-activation.hbs"}}

{{#unless (eq item.system.actionType.value "passive")}}
    {{> "systems/pf2e/templates/items/partials/self-applied-effect.hbs"}}
{{/unless}}

<div class="form-group">
    <label for="{{fieldIdPrefix}}death-note">{{localize "PF2E.ActionDeathNoteLabel"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="system.deathNote" id="{{fieldIdPrefix}}death-note" {{checked data.deathNote}} />
    </div>
</div>
