{{> systems/pf2e/templates/items/partials/ability-activation.html }}

<div class="form-group">
    <label>{{localize "PF2E.ActionCategoryLabel"}}</label>
    <select name="system.actionCategory.value" data-dtype="String">
        {{#select data.actionCategory.value}}
            <option value=""></option>
            {{#each categories as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.ActionDeathNoteLabel"}}</label>
    <input type="checkbox" name="system.deathNote" {{checked data.deathNote}} data-dtype="Boolean"/>
</div>
