<div class="form-group">
    <label>{{localize "PF2E.Rarity"}}</label>
    <select name="data.traits.rarity.value" data-dtype="String">
        {{#select data.traits.rarity.value}}
        {{#each rarityChoices as |label key|}}
        <option value="{{key}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.HitPointsHeader"}}</label>
    <input type="text" name="data.hp" value="{{data.hp}}" data-dtype="Number"/>
</div>

<div class="form-group">
    <label>{{localize "PF2E.SizeLabel"}}</label>
    <select name="data.size" data-dtype="String">
        {{#select data.size}}
        {{#each actorSizes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.SpeedFeet"}}</label>
    <input type="text" name="data.speed" value="{{data.speed}}" data-dtype="Number"/>
</div>

<table>
    <tr>
        <th>&nbsp;</td>
        <th>{{localize "PF2E.AbilityId.str"}}</th>
        <th>{{localize "PF2E.AbilityId.dex"}}</th>
        <th>{{localize "PF2E.AbilityId.con"}}</th>
        <th>{{localize "PF2E.AbilityId.int"}}</th>
        <th>{{localize "PF2E.AbilityId.wis"}}</th>
        <th>{{localize "PF2E.AbilityId.cha"}}</th>
    </tr>

    {{#each data.boosts as |boost idx|}}
    <tr>
        <td>
            {{localize "PF2E.AbilityBoost"}}
        </td>
        <th><input type="checkbox" name="data.boosts.{{idx}}.str" data-dtype="Boolean" {{checked boost.str}}></th>
        <th><input type="checkbox" name="data.boosts.{{idx}}.dex" data-dtype="Boolean" {{checked boost.dex}}></th>
        <th><input type="checkbox" name="data.boosts.{{idx}}.con" data-dtype="Boolean" {{checked boost.con}}></th>
        <th><input type="checkbox" name="data.boosts.{{idx}}.int" data-dtype="Boolean" {{checked boost.int}}></th>
        <th><input type="checkbox" name="data.boosts.{{idx}}.wis" data-dtype="Boolean" {{checked boost.wis}}></th>
        <th><input type="checkbox" name="data.boosts.{{idx}}.cha" data-dtype="Boolean" {{checked boost.cha}}></th>
    </tr>
    {{/each}}

    {{#each data.flaws as |flaw idx|}}
    <tr>
        <td>
            {{localize "PF2E.AbilityFlaw"}}
        </td>
        <th><input type="checkbox" name="data.flaws.{{idx}}.str" data-dtype="Boolean" {{checked flaw.str}}></th>
        <th><input type="checkbox" name="data.flaws.{{idx}}.dex" data-dtype="Boolean" {{checked flaw.dex}}></th>
        <th><input type="checkbox" name="data.flaws.{{idx}}.con" data-dtype="Boolean" {{checked flaw.con}}></th>
        <th><input type="checkbox" name="data.flaws.{{idx}}.int" data-dtype="Boolean" {{checked flaw.int}}></th>
        <th><input type="checkbox" name="data.flaws.{{idx}}.wis" data-dtype="Boolean" {{checked flaw.wis}}></th>
        <th><input type="checkbox" name="data.flaws.{{idx}}.cha" data-dtype="Boolean" {{checked flaw.cha}}></th>
    </tr>
    {{/each}}
   
</table>

<div class="form-group-stacked">
    <label class="pf-title" for="data.languages">
        {{localize "PF2E.Languages"}}
        <a class="trait-selector" data-options="languages"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="traits-list">
        {{#each data.languages.value as |v k|}}
        <span class="tag {{k}}">
            {{v}}
        </span>
        {{/each}}
    </ul>
</div>

<div class="form-group-stacked">
    <label class="pf-title" for="data.additionalLanguages">
        {{localize "PF2E.LanguagesAdditional"}}
        <a class="trait-selector" data-options="languages"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="traits-list">
        {{#each data.additionalLanguages.value as |v k|}}
        <span class="tag {{k}}">
            {{v}}
        </span>
        {{/each}}
    </ul>
</div>

<div class="form-group-stacked">
    <label for="data.traits">
        {{localize "PF2E.TraitsLabel"}}
        <a class="trait-selector" data-options="ancestryItemTraits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list">
        {{#each data.traits.selected as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
        {{/each}}
    </ul>
</div>

{{~#*inline "abcItems"~}}
<ul class='abc-items'>
{{~#each items as |item i|}}
<li class="abc-item" data-pack-id="{{item.pack}}" data-index="{{i}}" data-item-id="{{item.id}}">
  <img class="-item-image" src="{{item.img}}">
  <div class="abc-item-name">{{item.name}}{{#unless item.pack}}<i class="fa fa-globe" title="{{localize "PF2E.AncestryFeatures"}}"></i>{{/unless}}</div>
  <input value="{{item.name}}" name="{{@partial-block}}items.{{i}}.name" type="hidden" data-dtype='String'>
  <input value="{{item.pack}}" name="{{@partial-block}}items.{{i}}.pack" type="hidden" data-dtype='String'>
  <input value="{{item.id}}" name="{{@partial-block}}items.{{i}}.id" type="hidden" data-dtype='String'>
  <a class="abc-item-remove" data-action='remove'><i class="fa fa-times"></i></a>
  {{#if item.items~}}
  {{#> abcItems item}}{{@partial-block}}items.{{i}}.{{/abcItems}}
  {{~/if}}
</li>
{{/each~}}
</ul>
{{~/inline~}}

<div class="form-group-stacked abc-list">
    <label for="data.traits">
        {{localize "PF2E.AncestryFeatures"}}
    </label>
    {{#> abcItems data}}data.{{/abcItems}}
</div>