{{> "systems/pf2e/templates/items/partials/apex.hbs"}}

<div class="form-group">
    <label for="{{fieldIdPrefix}}countsTowardsLimit">{{systemFields.countsTowardsLimit.label}}</label>
    <div class="form-fields">
        {{formInput systemFields.countsTowardsLimit value=data.countsTowardsLimit id=(concat fieldIdPrefix "countsTowardsLimit")}}
    </div>
</div>
