{{> "systems/pf2e/templates/items/partials/ability-activation.hbs"}}

<div class="form-group stacked">
    <label>{{localize "PF2E.FeatPrereqLabel"}}</label>
    <input class="pf2e-tagify" type="text" name="system.prerequisites.value" value="{{prerequisites}}" data-dtype="JSON" />
</div>
