<div class="form-group">
    <label>{{localize "PF2E.Condition.ActiveLabel"}}</label>
    <input type="checkbox" name="system.active" {{checked data.active}} />
    <label>{{localize "PF2E.Condition.RemovableLabel"}}</label>
    <input type="checkbox" name="system.removable" {{checked data.removable}} />
</div>

<div class="form-group">
    <label>{{localize "PF2E.Condition.HasValueLabel"}}</label>
    <input type="checkbox" name="system.value.isValued" {{checked data.value.isValued}} />
    {{#if data.value.isValued}}
        <label title="{{localize "PF2E.Condition.ImmutableTitle"}}">{{localize "PF2E.Condition.ImmutableLabel"}}</label>
        <input type="checkbox" title="{{localize "PF2E.Condition.ImmutableTitle"}}" name="system.value.immutable" {{checked data.value.immutable}} />
    {{/if}}
</div>

{{#if data.value.isValued}}
    <div class="form-group">
        <label>{{localize "PF2E.Condition.ValueLabel"}}</label>
        <input type="number" name="system.value.value" value="{{data.value.value}}" />
    </div>
{{/if}}

<hr />

<div class="form-group">
    <label>{{localize "PF2E.Condition.PerpetualLabel"}}</label>
    <input type="checkbox" name="system.duration.perpetual" {{checked data.duration.perpetual}} />
</div>
{{#unless data.duration.perpetual}}
    <div class="form-group">
        <label>{{localize "PF2E.Condition.DurationTextLabel"}}</label>
        <input type="text" name="system.duration.text" value="{{data.duration.text}}" />
        <label>{{localize "PF2E.Condition.DurationNumberLabel"}}</label>
        <input type="number" name="system.duration.value" value="{{data.duration.value}}" />
    </div>
{{/unless}}
