{{#if data.requirements.value}}
    <span class="item-summary">{{data.requirements.value}}</span>
{{/if}}

<div class="feat-details">
    <div class="form-group">
        <label>{{localize "PF2E.FeatTypeLabel"}}</label>
        <select name="system.featType.value">
            {{#select data.featType.value}}
                {{#each featTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    {{#unless (any (eq data.featType.value "classfeature") (eq data.featType.value "ancestryfeature") (eq data.featType.value "curse") (eq data.featType.value "dietyboon") )}}
        <span class="item-summary">{{localize "PF2E.FeatPrereqLabel"}}</span>
        <ol class="item-tags tags">
        {{#each data.prerequisites.value as |v k|}}
            <li class="tag tag_transparent {{k}}">{{v.value}}</li>
        {{/each}}
        </ol>
    {{/unless}}
</div>
