<div class="inventory-details">
    <div class="form-group">
        <label>Item ID</label>
        <input type="text" name="system.craftedItem.uuid" value="{{data.craftedItem.uuid}}" />
    </div>
</div>
