<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "PF2E.PriceLabel"}}</label>
        <input type="text" name="system.price.value" value="{{priceString}}" />
    </div>
</div>
