<fieldset class="basics">
    <div class="form-group">
        <label>{{localize "PF2E.ProficiencyLabel"}}</label>
        <select name="system.proficient.value" data-dtype="Number">
            {{selectOptions proficiencyRanks selected=data.proficient.value localize=true}}
        </select>
    </div>
</fieldset>
