<div class="tab item-mystification" data-tab="mystification">
    <p>{{localize "PF2E.identification.UnidentifiedHint"}}</p>
    <div class="identification-data unidentified">
        <img class="mystify-control image-picker" src="{{data.identification.unidentified.img}}" data-edit="data.identification.unidentified.img" title="{{localize PF2E.Item.NameLabel}}" />
        <input type="text" name="data.identification.unidentified.name" value="{{data.identification.unidentified.name}}" class="mystify-control" title="{{localize PF2E.Item.IconLabel}}" />
        {{editor content=data.identification.unidentified.description target="data.identification.unidentified.description" button=true owner=owner editable=editable}}
    </div>

    {{!--
        <div class="identification-data misidentified">
        <div class="form-group" style="height: fit-content">
        <img class="mystify-control image-picker" src="{{data.identification.misidentified.img}}" data-edit="data.identification.misidentified.img" />
        <input class="mystify-control" type="text" value="{{data.identification.misidentified.name}}" name="data.identification.misidentified.name" data-dtype="String"/>
        </div>

        <label>{{localize "PF2E.ItemDescription"}}</label>
        <textarea name="data.identification.misidentified.description">{{data.identification.misidentified.description}}</textarea>
        </div>
        --}}
</div>
