<span class="item-summary">{{{actionGlyph data.time.value fallback=true}}}</span>

<ol class="item-tags tags">
    {{#each spellComponents}}
        <li class="tag tag_transparent">{{this}}</li>
    {{/each}}
</ol>
