{{#each variants}}
<ol class="form-list">
    <div class="form-group">
        <label>{{localize "PF2E.Item.NameLabel"}}</label>
        <div class="details-container-flex-row">
            <input type="text" name="data.variants.value.{{id}}.name" value="{{name}}" data-dtype="String"/>
            <div class="item-controls">
                <a data-action="variant-delete" data-id="{{id}}" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="toggle-button-grid">
        {{#each overrideStates}}
            <button class="toggle-button {{#if overriden}}toggled-on{{/if}}" data-action="variant-toggle-property" data-id="{{../id}}" data-property="{{key}}">
                <input type="checkbox" {{checked overriden}}/>
                {{localize label}}
            </button>
        {{/each}}
    </div>

    {{#if data.time}}
    <div class="form-group">
        <label>{{localize "PF2E.SpellTimeLabel"}}</label>
        <div>
            <input type="text" name="{{base}}.time.value" value="{{data.time.value}}" data-dtype="String"/>
        </div>
    </div>
    {{/if}}

    {{#if data.components}}
    <div class="form-group">
        <label>{{localize "PF2E.SpellComponentsLabel"}}</label>
        <div class="details-container-flex-row">
            <label>
                <input type="checkbox" name="{{base}}.components.material" {{checked data.components.material}} data-dtype="Boolean"/>
                {{localize "PF2E.SpellComponentM"}}
            </label>
            <label>
                <input type="checkbox" name="{{base}}.components.somatic" {{checked data.components.somatic}} data-dtype="Boolean"/>
                {{localize "PF2E.SpellComponentS"}}
            </label>
            <label>
                <input type="checkbox" name="{{base}}.components.verbal" {{checked data.components.verbal}} data-dtype="Boolean"/>
                {{localize "PF2E.SpellComponentV"}}
            </label>
        </div>
    </div>
    {{/if}}

    {{#if data.target}}
    <div class="form-group">
        <label>{{localize "PF2E.SpellTargetLabel"}}</label>
        <div>
            <input type="text" name="{{base}}.target.value" value="{{data.target.value}}" data-dtype="String"/>
        </div>
    </div>
    {{/if}}

    {{#if data.area}}
    <div class="form-group">
        <label>{{localize "PF2E.SpellAreaLabel"}}</label>
        <div class="details-container-two-columns">
            <select name="{{base}}.area.value" data-dtype="String">
                <option value=""></option>
                {{#select data.area.value}}
                {{#each @root.areaSizes as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
                {{/each}}
                {{/select}}
            </select>
            <select name="{{base}}.area.areaType" data-dtype="String">
                <option value=""></option>
                {{#select data.area.areaType}}
                {{#each @root.areaTypes as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    {{/if}}

    {{#if data.range}}
    <div class="form-group">
        <label>{{localize "PF2E.SpellRangeLabel"}}</label>
        <div>
            <input type="text" name="{{base}}.range.value" value="{{data.range.value}}" data-dtype="String"/>
        </div>
    </div>
    {{/if}}

    {{#if data.damage}}
    <div class="form-group">
        <label>{{localize "PF2E.SpellDamageLabel"}}</label>
        <div class="details-container-flex-row">
            <input type="text" name="{{base}}.damage.value" value="{{data.damage.value}}" data-dtype="String"/>
            <label>
                <span>&nbsp;{{localize "PF2E.SpellAbilityModLabel"}}</span>
                <input type="checkbox" name="{{base}}.damage.applyMod" value="0" data-dtype="Boolean" {{checked data.damage.applyMod}}/>
            </label>
        </div>
    </div>
    {{/if}}

    {{#if data.damageType}}
    <div class="form-group">
        <label>{{localize "PF2E.SpellDamageTypeLabel"}}</label>
        <select name="{{base}}.damageType.value" data-dtype="String">
            {{#select data.damageType.value}}
                <option value=""></option>
                {{#each @root.damageTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    {{/if}}

    {{#if data.scaling}}
    <div class="form-group">
        <label>{{localize "PF2E.SpellScalingLabel"}}</label>
        <div class="details-container-flex-row">
            <select name="{{base}}.scaling.mode">
                {{#select data.scaling.mode}}
                    {{#each @root.spellScalingModes as |name key|}}
                        <option value="{{key}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <input type="text" data-dtype="String" name="{{base}}.scaling.formula" value="{{data.scaling.formula}}" placeholder="Formula" />
        </div>
    </div>
    {{/if}}
</ol>
{{/each}}

{{#if @root.owner}}
    <button data-action="variant-create"><i class="fas fa-plus"></i>Add Variant</button>
{{/if}}
