<div class="content-box compendium-browser-settings">
    <nav class="tabs">
        <a data-action="tab" data-group="settings" data-tab="packs">{{localize "PF2E.CompendiumBrowser.Settings.PacksLabel"}}</a>
        <a data-action="tab" data-group="settings" data-tab="source">{{localize "PF2E.CompendiumBrowser.Settings.SourcesLabel"}}</a>
    </nav>
    <div class="outer-container">
        <div class="settings-container">
            <div class="tab active" data-group="settings" data-tab="packs">
                {{> "systems/pf2e/templates/compendium-browser/settings/pack-settings.hbs"}}
            </div>

            <div class="tab" data-group="settings" data-tab="source">
                {{> "systems/pf2e/templates/compendium-browser/settings/source-settings.hbs"}}
            </div>
        </div>
        <button type="submit" class="save-settings" data-action="save-settings">{{localize "SETTINGS.Save"}}</button>
    </div>
</div>
