<form class="flexcol" autocomplete="off">
  <div class="form-group">
    <label>{{localize 'PF2E.SETTINGS.statusEffectShowCombatMessage.name'}}</label>
    <div class="form-fields">
        <input type="checkbox" {{checked statusEffectShowCombatMessage.value}} name="statusEffectShowCombatMessage">
    </div>
    <p class="notes">{{localize 'PF2E.SETTINGS.statusEffectShowCombatMessage.hint'}}</p>
  </div>
  <div class="form-group">
    <label>{{localize 'PF2E.SETTINGS.Metagame.SecretDamage.Name'}}</label>
    <div class="form-fields">
        <input type="checkbox" {{checked metadata.secretDamage.value}} name="pf2e.metadata.secretDamage">
    </div>
    <p class="notes">{{localize 'PF2E.SETTINGS.Metagame.SecretDamage.Hint'}}</p>
  </div>
  <div class="form-group">
    <label>{{localize 'PF2E.SETTINGS.Metagame.SecretCondition.Name'}}</label>
    <div class="form-fields">
        <input type="checkbox" {{checked metadata.secretCondition.value}} name="pf2e.metadata.secretCondition">
    </div>
    <p class="notes">{{localize 'PF2E.SETTINGS.Metagame.SecretCondition.Hint'}}</p>
  </div>
  <div class="form-group">
    <label>{{localize 'PF2E.SETTINGS.Metagame.ShowDC.Name'}}</label>
    <div class="form-fields">
          <select name="pf2e.metadata.showDC">
          {{#select metadata.showDC.value}}
          {{#each metadata.showDC.setting.choices as |label value|}}
          <option value="{{value}}">{{localize label}}</option>
          {{/each}}
          {{/select}}
        </select>
    </div>
    <p class="notes">{{localize 'PF2E.SETTINGS.Metagame.ShowDC.Hint'}}</p>
  </div>
  <div class="form-group">
    <label>{{localize 'PF2E.SETTINGS.Metagame.ShowResults.Name'}}</label>
    <div class="form-fields">
          <select name="pf2e.metadata.showResults">
          {{#select metadata.showResults.value}}
          {{#each metadata.showResults.setting.choices as |label value|}}
          <option value="{{value}}">{{localize label}}</option>
          {{/each}}
          {{/select}}
        </select>
    </div>
    <p class="notes">{{localize 'PF2E.SETTINGS.Metagame.ShowResults.Hint'}}</p>
  </div>
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
        <i class="far fa-save"></i> {{localize "Save Changes"}}
    </button>
    <button type="button" name="reset">
        <i class="fas fa-undo"></i> {{localize "Reset Defaults"}}
    </button>
  </footer>
</form>