<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="instructions">{{localize instructions}}</p>
    {{#each settings as |setting|}}
        {{> systems/pf2e/templates/system/settings/basic-setting.hbs setting=setting}}
    {{/each}}

    <footer>
        <button type="submit">
            <i class="fa-regular fa-floppy-disk"></i> {{localize "SETTINGS.Save"}}
        </button>
        <button type="reset">
            <i class="fa-solid fa-arrow-rotate-left"></i> {{localize "PF2E.SETTINGS.ResetChanges"}}
        </button>
    </footer>
</form>
