<section class="sheet-body content sheet-content-loot inventory">
    {{> "systems/pf2e/templates/actors/partials/coinage.hbs" owner=owner}}
    {{> "systems/pf2e/templates/actors/partials/inventory.hbs"}}
</section>
