.armor-section {
    .armor-label {
        color: $armor-color;
    }

    .armor-value {
        flex: 0px;
        text-align: right;
        font-weight: bold;
        color: $value-color;
        padding-right: 4px;
    }
}

