.effects-list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .separator {
        flex: 0 0 1px;
        height: 32px;
        margin-right: 4px;
        border-left: 2px solid $color;
    }

    > .effect {
        display: flex;
        flex: 0 0 32px;
        height: 32px;
        margin-right: 4px;
        margin-bottom: 4px;
        border-bottom: none !important;

        .item-image {
            background-size: cover;
            border: 1px solid $color;
            border-bottom: 1px solid $color;
            border-radius: 3px;
            width: 32px;
        }

        .item-image:hover {
            border: 1px solid $light-text;
            border-radius: 3px;
        }
    }
}
