#health {
    .health-value {
        display: flex;
        margin-left: auto;
        font-size: 1rem;

        input {
            height: min-content;
            line-height: 1;
            @include p-reset;

            &:first-child {
                width: 5ch;
                text-align: right;
                padding-right: 3px;
            }
            &:last-child {
                font-weight: bold;
                text-align: center;
                &.lt10 {
                    width: 2ch;
                }
                &.lt100 {
                    width: 3ch;
                }
                &.lt1000 {
                    width: 4ch;
                }
            }
        }
        span {
            display: flex;
            text-align: right;
            align-items: center;
        }
    }
}
