.side-bar-section {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .controls {
        padding-right: 4px;
    }
}

.side-bar-section-header {
    display: flex;
    width: 100%;
    font-size: 1rem;
    border-bottom: 1px solid;
    border-color: $faded-color;
    margin-top: 10px;
    margin-bottom: 0px;

    .side-bar-label {
        display: flex;
        flex: auto;
        flex-direction: row;
        align-items: flex-start;

        .fa {
            font-size: 0.8rem;
        }

        h4 {
            font-size: 0.8rem;
            margin-bottom: 0px;
            padding-left: 6px;
        }
    }
}

.side-bar-section-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2px;
}
