section {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        border-bottom: 1px solid;
        border-color: var(--primary);
        margin-bottom: 0.25em;

        .input-group {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        input {
            margin: 0;
            text-align: right;
            border: none;

            &:hover {
                border: none;
                outline: 1px solid var(--primary);
                box-shadow: none;
            }
        }

        .label {
            display: flex;
            color: rgba(255, 255, 255, 0.9);
            background-color: var(--primary);
            padding: 0 0.5em;
            border-top-left-radius: 0.2em;
            border-top-right-radius: 0.2em;

            h4 {
                font-weight: 400;
                white-space: nowrap;
                @include p-reset;
            }
        }
    }

    .content {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
