#speed-section {
    text-align: center;

    #walk-speed {
        font-size: 1.2rem;
    }

    #other-speeds {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }
}
