.immunity,
.resistance,
.weakness {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-family: 'Roboto Condensed', $sans-serif;

    // &:after {
    //     content: ' | ';
    // }

    // &:last-of-type::after {
    //     content: '';
    // }
    border-radius: 2px;
    border: 1px solid var(--alt-dark);
    padding: 0.1em 0.25em;
    // background-color: var(--alt);
    // color: rgba(255,255,255,0.8);
}

#immunities,
#resisitances,
#weaknesses {
    .content {
        gap: 0.1em;
    }
}
