.immunity,
.resistance,
.weakness {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;

    // &:after {
    //     content: ' | ';
    // }

    // &:last-of-type::after {
    //     content: '';
    // }

    border: 1px solid var(--alt);
    border-radius: 2px;
    padding: 0.1em 0.25em;
    background-color: var(--tertiary);
}

#immunities,
#resisitances,
#weaknesses {
    .side-bar-section-content {
        gap: 0.1em;
    }
}
