.side-bar {
    grid-area: sidebar;
    height: 100%;
    overflow: hidden scroll;

    @import 'layout';
    @import 'armor';
    @import 'shield';
    @import 'health';
    @import 'wri';
    @import 'saves';
    @import 'speed';
    @import 'effects';
}
