.sidebar {
    grid-area: sidebar;
    overflow: hidden scroll;
    padding-right: 0.5em;
    float: none !important;
    width: initial !important;

    & > * + * {
        margin-top: 0.5em;
    }

    @import 'layout';
    @import 'armor';
    @import 'shield';
    @import 'health';
    @import 'wri';
    @import 'saves';
    @import 'effects';
    @import 'senses';
}
