<div class="tab inventory item-container" data-container-type="actorInventory" data-group="primary" data-tab="inventory">
    <div class="items inventory-section">
        {{#if @root.owner}}
            {{> "systems/pf2e/templates/actors/partials/coinage.hbs" owner=@root.owner}}
        {{/if}}
        <div class="body">
            {{> "systems/pf2e/templates/actors/partials/inventory.hbs"}}
        </div>
        <div class="footer">
        </div>
    </div>
</div>
