.ability-builder-popup .window-content {
    $boost-color: #316549;
    $boost-locked-color: #1b3c2a;
    $flaw-color: #5e0000;
    $flaw-locked-color: #5e0000;
    $neutral-color: var(--alt);

    background: url("../assets/sheet/background.webp");
    background-repeat: repeat-x, no-repeat;
    background-size: cover;
    background-attachment: local;
    height: 100%;
    padding: 10px 20px 10px 20px;
    position: relative;

    button:focus:not(:focus-visible) {
        box-shadow: none;
    }

    .background-stripes {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 50px;
        right: 0;
        padding: 10px 20px 10px 20px;
        pointer-events: none;

        div:nth-child(even) {
            background-color: rgba(68, 55, 48, 0.1);
        }
    }

    .row {
        display: grid;
        grid-template-columns: 220px repeat(6, 84px);
        grid-template-rows: auto;

        &.not-eligible {
            pointer-events: none;
            filter: blur(1px);
            opacity: 0.6;

            .remaining {
                visibility: hidden;
            }
        }
    }

    .header-row {
        height: 60px;

        div {
            padding-top: 10px;
        }

        .row-column {
            display: block;
        }
    }

    .voluntary-flaw-row {
        margin: 0.5rem 0;

        .flaw-buttons {
            display: flex;
            flex-direction: row;

            button {
                flex: 1 1 0;

                &.first {
                    border-bottom-right-radius: 0;
                    border-right: none;
                    border-top-right-radius: 0;
                    width: 4em;
                }

                &.second {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    max-width: 2em;
                    text-transform: none;

                    &.selected {
                        border-left-color: rgba(white, 50%);
                    }
                }
            }
        }
    }

    .full-row {
        align-items: center;
        display: flex;
        grid-column: 2 / span 6;
        justify-content: center;
    }

    .row-heading {
        display: grid;
        grid-template-columns: 42px 1fr auto;
        grid-template-areas: "img description remaining";
        align-items: center;

        h3 {
            grid-column: 1 / 4;
            align-self: start;
            font-size: var(--font-size-24);
        }
        .hint-container {
            grid-column: 1 / 4;
        }
        img {
            grid-area: img;
            border: 0;
        }

        div.label {
            grid-area: description;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-right: 10px;
        }

        div.remaining {
            grid-area: remaining;
            display: flex;
            margin-right: 10px;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background: rgba(68, 55, 48, 0.1);
            align-self: center;
            align-items: center;
            justify-content: center;
            text-align: center;

            &.extra {
                animation: glow 0.5s infinite alternate;
            }
        }

        @keyframes glow {
            from {
                box-shadow: 0 0 1px 1px #ffb351;
            }
            to {
                box-shadow: 0 0 3px 3px #ffb351;
            }
        }
    }

    .row-column {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        button {
            align-items: center;
            display: flex;
            font-size: var(--font-size-12);
            height: 1.5em;
            justify-content: space-around;
            line-height: inherit;
            margin: 4px 0;
            outline: none;
            padding: 0.1em 0 0;
            position: relative;
            text-transform: uppercase;
            width: 6em;

            &:hover {
                cursor: pointer;

                &.key-ability.selected {
                    box-shadow: none;
                    cursor: default;
                }

                &:disabled {
                    background: rgba(0, 0, 0, 0.04);
                    box-shadow: none;
                    cursor: not-allowed;
                }
            }

            i.fas {
                font-size: var(--font-size-10);
                left: 0.5em;
                position: absolute;
                text-align: left;
            }

            &.hidden {
                pointer-events: none;
                visibility: hidden;
            }

            &:disabled {
                background: rgba(0, 0, 0, 0.04);

                &:active {
                    pointer-events: none;
                }
            }

            &.locked {
                pointer-events: none;
            }

            &.boost {
                border: 1px solid $boost-color;
                color: $boost-color;

                &.locked, &.selected {
                    color: white;
                }

                &.selected {
                    background: $boost-color;
                }

                &.locked {
                    background: $boost-locked-color;
                    border-color: $boost-locked-color;
                }

                &:hover {
                    box-shadow: 0 0 5px $boost-color;
                    &:disabled {
                        box-shadow: none;
                        color: rgba($boost-color, 0.4);
                        border-color: rgba($boost-color, 0.4);
                    }
                }

                &:disabled {
                    color: rgba($boost-color, 0.4);
                    border-color: rgba($boost-color, 0.4);
                }
            }

            &.flaw {
                border: 1px solid $flaw-color;
                color: $flaw-color;

                &.locked, &.selected {
                    color: white;
                }

                &.selected {
                    background: $flaw-color;
                }

                &.locked {
                    background: $flaw-locked-color;
                    border-color: $flaw-locked-color;
                }

                &:hover {
                    box-shadow: 0 0 5px $flaw-color;
                    &:disabled {
                        box-shadow: none;
                        color: rgba($flaw-color, 0.4);
                        border-color: rgba($flaw-color, 0.4);
                    }
                }

                &:disabled {
                    color: rgba($flaw-color, 0.4);
                    border-color: rgba($flaw-color, 0.4);
                }
            }

            .flaw-indicator {
                float: left;
                margin: -1px -6px;
                height: 14px;
                width: 27px;
                background: $flaw-color;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &.neutral {
                border: 1px solid $neutral-color;
                color: $neutral-color;

                &.selected {
                    border: none;
                    background: $neutral-color;
                    color: white;
                }
            }
        }
    }

    .summary-row {
        grid-template-rows: auto auto;

        .row-heading {
            grid-row: 1 / 3;
        }

        .row-column {
            display: flex;
            flex-direction: column;
            padding-top: 10px;

            .value {
                height: 40px;
                font: 700 var(--font-size-24) var(--serif);
                line-height: var(--font-size-30);
            }

            input {
                width: calc(100% - 20px);
                flex-grow: 0;
                height: 30px;
                color: var(--text-dark);
                font: 500 var(--font-size-24) var(--serif);
                border: 0;
                border-bottom: 1px solid #D3CCBC;
                border-radius: 0;
                background-color: transparent;
                margin: 0 10px 10px 10px;

                &::placeholder {
                    filter: opacity(0.5);
                }
                &:focus {
                    border-bottom: 1px solid var(--alt);
                }
                &[type="number"] {
                    padding-bottom: 0;
                    padding-left: 4px;
                }
            }
        }

        .complete {
            grid-row: 2 / 3;
            grid-column: 2 / 9;

            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin-top: 10px;

            button {
                color: white;
                background: var(--secondary);
                height: 35px;
                width: 131px;
                border: 1px solid var(--tertiary);
            }
        }
    }

    .hint-container {
        background: rgba(211, 204, 188, 0.4);
        padding: 12px;
        margin-right: 10px;
        border: 1px solid rgba(211, 204, 188, 1);
        border-radius: 3px;
        align-self: end;

        h3 {
            color: var(--primary);
            font-variant: small-caps;
            font-size: var(--font-size-20);
            line-height: var(--font-size-16);
            font-family: var(--sans-serif-condensed);
            font-weight: 500;
        }

        p {
            font-style: italic;
            font-size: var(--font-size-12);
            line-height: var(--font-size-14);
            font-family: var(--sans-serif);
            font-weight: 500;
            margin-bottom: 3px;
        }

        label {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
    }

    .title {
        color: var(--primary);
        font: 500 var(--font-size-10) var(--sans-serif-condensed);
        line-height: var(--font-size-10);
        text-transform: uppercase;
    }

    div[data-tooltip-content] {
        &.description, .description {
            text-decoration: underline dotted;
            text-underline-offset: 2px;
        }
    }

    .description {
        font: 600 var(--font-size-16) var(--serif);
    }

    .extra {
        display: flex;
        align-items: center;
        font-size: var(--font-size-12);
        margin-top: -0.25rem;
        .fas {
            margin-left: 0.125rem;
        }
        input[type=checkbox] {
            height: var(--font-size-12);
            margin: 0;
        }
    }

    h3 {
        font: 400 var(--font-size-24) var(--serif-condensed);
        line-height: var(--font-size-24);
    }

    h4 {
        font: 400 var(--font-size-10) var(--sans-serif);
        text-transform: uppercase;
        color: #605856;
    }
}

.crb-hover .tooltipster-box .tooltipster-content .hover-content {
    h2:not(:first-child) {
        margin-top: 10px;
    }

    ul.boost-details {
        li {
            white-space: nowrap;
            display: flex;
            flex-direction: row;
            align-items: center;

            i {
                font-size: var(--font-size-5);
                margin-right: 5px;
            }
        }
    }
}
