.ability-builder-popup .window-content {
    background: url("/assets/sheet/background.webp");
    background-repeat: repeat-x, no-repeat;
    background-size: cover;
    background-attachment: local;
    height: 100%;
    padding: 10px 20px 10px 20px;
    position: relative;

    h3 {
        font: 400 var(--font-size-24) var(--serif-condensed);
        line-height: var(--font-size-24);
    }

    h4 {
        font: 400 var(--font-size-10) var(--sans-serif);
        text-transform: uppercase;
        color: #605856;
    }

    button:focus:not(:focus-visible) {
        box-shadow: none;
    }

    .row {
        display: flex;
        align-items: center;

        .row-heading {
            width: 220px;
        }

        &.not-eligible {
            pointer-events: none;
            filter: blur(1px);
            opacity: 0.6;

            .remaining {
                visibility: hidden;
            }
        }

        .abilities {
            display: grid;
            grid-template-columns: repeat(6, 84px);
            grid-template-rows: auto;
            flex: 0 0 auto;
        }

        .full-row {
            display: flex;
            flex: 1;
            justify-content: center;
        }
    }

    header.row {
        align-items: normal;
        padding-top: 10px;
        height: 60px;

        .row-column {
            display: block;
        }

        .abilities {
            align-items: normal;
        }
    }

    .background-stripes {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 50px;
        right: 0;
        padding: 10px 20px 10px 20px;
        pointer-events: none;
        align-items: normal;

        .abilities div:nth-child(odd) {
            background-color: rgba(68, 55, 48, 0.1);
        }
    }

    .voluntary-flaw-row {
        margin: 0.5rem 0;

        .flaw-buttons {
            display: flex;
            flex-direction: row;

            button {
                flex: 1 1 0;

                &.first {
                    border-bottom-right-radius: 0;
                    border-right: none;
                    border-top-right-radius: 0;
                    width: 4em;
                }

                &.second {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    max-width: 2em;
                    text-transform: none;

                    &.selected {
                        border-left-color: rgba(white, 50%);
                    }
                }
            }
        }
    }

    .row-heading {
        display: grid;
        grid-template-columns: 42px 1fr auto;
        grid-template-areas: "img description remaining";
        align-items: center;

        h3 {
            grid-column: 1 / 4;
            align-self: start;
            font-size: var(--font-size-24);
        }
        .hint-container {
            grid-column: 1 / 4;
        }
        img {
            grid-area: img;
            border: 0;
        }

        div.label {
            grid-area: description;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-right: 10px;
        }

        div.remaining {
            grid-area: remaining;
            display: flex;
            margin-right: 10px;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            background: rgba(68, 55, 48, 0.1);
            align-self: center;
            align-items: center;
            justify-content: center;
            text-align: center;

            &.extra {
                animation: glow 0.5s infinite alternate;
            }
        }

        @keyframes glow {
            from {
                box-shadow: 0 0 1px 1px #ffb351;
            }
            to {
                box-shadow: 0 0 3px 3px #ffb351;
            }
        }
    }

    .row-column {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        button {
            align-items: center;
            border: 1px solid var(--button-color);
            color: var(--button-color);
            display: flex;
            font-size: var(--font-size-12);
            justify-content: space-around;
            outline: none;
            margin: 0;
            padding: 0.1em 0 0;
            position: relative;
            text-transform: uppercase;

            width: 6em;
            height: 1.5em;

            &.boost {
                margin-top: auto; // line up with bottom
                --button-color: #316549;
                --button-locked-color: #1b3c2a;
            }

            &.flaw {
                margin-bottom: auto; // line up with top
                --button-color: #5e0000;
                --button-locked-color: #5e0000;
            }

            &.selected {
                background: var(--button-color);
            }

            &:hover {
                box-shadow: 0 0 5px var(--button-color);
                cursor: pointer;

                &.key-ability.selected {
                    box-shadow: none;
                    cursor: default;
                }

                &:disabled {
                    background: rgba(0, 0, 0, 0.04);
                    box-shadow: none;
                    cursor: not-allowed;
                }
            }

            i.fas {
                font-size: var(--font-size-10);
                left: 0.5em;
                position: absolute;
                text-align: left;
            }

            &.hidden {
                pointer-events: none;
                visibility: hidden;
            }

            &:disabled {
                background: rgba(0, 0, 0, 0.04);
                opacity: 0.4;

                &:active {
                    pointer-events: none;
                }
            }

            &.locked {
                background: var(--button-locked-color);
                border-color: var(--button-locked-color);
                pointer-events: none;
            }

            &.locked, &.selected {
                color: white;
            }
        }

        div + .boost, button + .boost {
            margin-top: 4px;
        }
    }

    .summary-row {
        .row-heading {
            display: block;
        }

        .hint-container {
            background: rgba(211, 204, 188, 0.4);
            padding: 12px;
            margin-right: 10px;
            border: 1px solid rgba(211, 204, 188, 1);
            border-radius: 3px;
            align-self: end;

            h3 {
                color: var(--primary);
                font-variant: small-caps;
                font-size: var(--font-size-20);
                line-height: var(--font-size-16);
                font-family: var(--sans-serif-condensed);
                font-weight: 500;
            }

            p {
                font-style: italic;
                font-size: var(--font-size-12);
                line-height: var(--font-size-14);
                font-family: var(--sans-serif);
                font-weight: 500;
                margin-bottom: 3px;
            }

            label {
                display: flex;
                align-items: center;
                margin-top: 10px;
            }
        }

        .abilities {
            grid-template-rows: auto auto;
        }

        .row-column {
            display: flex;
            flex-direction: column;
            padding-top: 10px;

            .value {
                height: 40px;
                font: 700 var(--font-size-24) var(--serif);
                line-height: var(--font-size-30);
            }

            input {
                width: calc(100% - 20px);
                flex-grow: 0;
                height: 30px;
                color: var(--text-dark);
                font: 500 var(--font-size-24) var(--serif);
                border: 0;
                border-bottom: 1px solid #D3CCBC;
                border-radius: 0;
                background-color: transparent;
                margin: 0 10px 10px 10px;

                &::placeholder {
                    filter: opacity(0.5);
                }
                &:focus {
                    border-bottom: 1px solid var(--alt);
                }
                &[type="number"] {
                    padding-bottom: 0;
                    padding-left: 4px;
                }
            }
        }

        .complete {
            grid-row: 2;
            grid-column: 1 / 7;
            margin-top: 10px;
            margin-left: auto;
        }

        button.complete {
            color: white;
            background: var(--secondary);
            height: 35px;
            width: 131px;
            border: 1px solid var(--tertiary);
        }
    }

    .title {
        color: var(--primary);
        font: 500 var(--font-size-10) var(--sans-serif-condensed);
        line-height: var(--font-size-10);
        text-transform: uppercase;
    }

    div[data-tooltip-content] {
        &.description, .description {
            text-decoration: underline dotted;
            text-underline-offset: 2px;
        }
    }

    .description {
        font: 600 var(--font-size-16) var(--serif);
    }

    .extra {
        display: flex;
        align-items: center;
        font-size: var(--font-size-12);
        margin-top: -0.25rem;
        .fas {
            margin-left: 0.125rem;
        }
        input[type=checkbox] {
            height: var(--font-size-12);
            margin: 0;
        }
    }
}

.crb-hover .tooltipster-box .tooltipster-content .hover-content {
    h2:not(:first-child) {
        margin-top: 10px;
    }

    ul.boost-details {
        li {
            white-space: nowrap;
            display: flex;
            flex-direction: row;
            align-items: center;

            i {
                font-size: var(--font-size-5);
                margin-right: 5px;
            }
        }
    }
}
