&.actions {
    gap: 0.5rem;
    padding: 0;

    .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list {
        & + .actions-list {
            margin-top: 8px;
        }

        li.strike {
            gap: 3px;

            .item-name {
                align-items: start;

                .actions-title {
                    display: flex;
                    flex-direction: column;
                }

                .item-image {
                    height: 32px;
                    width: 32px;
                }
            }

            .ammo {
                align-items: center;
                display: flex;
                gap: 3px;

                select.linked {
                    font: normal var(--font-size-12) var(--sans-serif);
                    line-height: var(--font-size-12);
                    padding-top: 3px;
                    width: fit-content;

                    &[data-compatible="false"] {
                        color: #ffffff99;
                    }

                    option,
                    optgroup {
                        color: white;
                    }
                }

                .magazine {
                    margin-right: 0.5rem;
                    font-family: var(--sans-serif);
                    font-weight: 600;

                    .icon {
                        display: inline-block;
                        width: 0.9rem;
                        height: 0.9rem;
                        background-image: url("/assets/icons/heavy-bullets.svg");
                        background-size: cover;
                    }
                }
            }

            .button-group {
                align-items: center;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                font-size: var(--font-size-14);
                margin-bottom: 0;

                button {
                    @include button;
                    border: none;
                    flex: 0;
                    height: 1.25rem;
                    margin: 0;
                    padding: 0 0.5em;
                    white-space: nowrap;

                    span.activity-icon {
                        font-size: var(--font-size-16);
                        line-height: initial;
                        padding-right: 2px;
                    }

                    &:not(:disabled) {
                        background: var(--secondary);
                        cursor: pointer;

                        &.damage {
                            background: var(--primary);
                        }

                        &:hover {
                            box-shadow: none;
                            text-shadow: 0 0 2px white;
                        }
                    }
                }

                .versatile-options {
                    align-items: center;
                    display: flex;
                    font-size: var(--font-size-14);
                    gap: 2px;
                    padding: 0 3px;

                    .title {
                        text-transform: uppercase;
                    }

                    button {
                        align-items: center;
                        background: var(--bg-dark);
                        display: flex;
                        justify-content: center;
                        width: 3ch;

                        &.selected {
                            background: var(--body);
                            color: var(--bg-dark);
                        }

                        &:hover {
                            box-shadow: inset 0 0 0 1px rgba(white, 0.15), inset 0 0 0 2px rgba(black, 0.4);
                        }

                        &:active {
                            text-shadow: 0 0 1px $rank-legendary;
                        }
                    }
                }
            }

            .alt-usage {
                flex-basis: 100%;
                margin-left: calc(3em - 2px);
                position: relative;

                img.alt-usage-icon {
                    border: none;
                    position: absolute;
                    left: -1.5em;
                    top: 0.15em;
                }
            }

            .auxiliary-actions {
                display: flex;
                gap: 3px;
                margin-left: 2.5rem;

                &.weapon-drawn {
                    flex-basis: 100%;
                }

                button {
                    @include button;
                    @include micro;
                    border-radius: 2px;
                    border: none;
                    color: var(--text-dark);
                    flex: 0;
                    font-weight: 500;
                    line-height: 14px;
                    margin: 0;
                    padding: 3px;
                    white-space: nowrap;

                    box-shadow: inset 0 0 0 1px rgba(white, 0.3), inset 0 0 0 2px rgba(0, 0, 0, 0.2);

                    span.activity-icon {
                        line-height: 14px;
                        font-size: var(--font-size-14);
                        margin: 0 0 0 2px;
                    }

                    p {
                        margin: 2px;
                    }

                    &:not(:disabled) {
                        background: var(--bg-dark);
                        cursor: pointer;

                        &:hover {
                            box-shadow: inset 0 0 0 1px rgba(white, 0.15), inset 0 0 0 2px rgba(black, 0.4);
                        }

                        &:active {
                            color: $rank-legendary;
                        }
                    }

                    // Modular damage select menu
                    select.modular {
                        appearance: auto;
                        background: none;
                        color: var(--text-dark);
                        cursor: default;
                        font: inherit;
                        margin-left: 0.5em;
                        padding: 0.15em 0.2em;
                        text-transform: uppercase;

                        option {
                            background: var(--bg-dark);
                        }
                    }

                    &:has(select.modular:hover) {
                        text-shadow: none;
                    }
                }
            }

            .action-name {
                .item-carry-type {
                    color: rgba(0, 0, 0, 0.4);
                    &.active {
                        color: var(--primary);
                    }
                }
            }
        }
    }

    h4 {
        flex: 1;
    }

    .action-tracking {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: auto;
        margin-right: 16px;

        input {
            width: 0;
            flex: 0 1 48px;
            background: none;
            text-align: center;
        }

        span {
            white-space: nowrap;
        }
    }

    button.activate {
        background: none;
        border: 1px solid #00000066;
        border-radius: 5px;
        flex: 0;
        line-height: 1.25em;
        opacity: 0.7;
        margin-right: 0.5rem;
        padding: 0 0.25rem;
        &.active, &:hover {
            background-color: var(--primary);
            color: white;
            opacity: 1;
        }
    }

    .item-controls {
        display: flex;
        min-width: 2.5em;
        justify-content: end;
    }
}
