.tab {
    @import "actions";
}

.tab.actions {
    @import "../tabs/actions";
    @import "option-toggles";

    margin: 0.25em var(--space-4) 0;

    .actions-container {
        padding: 0 var(--space-2);
    }

    ul.option-toggles {
        margin-bottom: 0;

        select {
            appearance: none;
            background: var(--color-pf-alternate);
            border-color: var(--color-pf-alternate-dark);
            color: var(--text-light);
            font: 500 var(--font-size-14) var(--serif);
            line-height: 1;
            padding: var(--space-4) 1.1rem var(--space-4) var(--space-4);

            &:not(:disabled) {
                cursor: pointer;
            }
        }

        option {
            background-color: var(--color-pf-alternate);
        }
    }

    ol.actions-list {
        list-style: none;

        li.strike {
            border: unset;
            grid-template:
                "img content" min-content
                "summary summary" min-content/2rem 1fr;

            .item-image {
                height: 1.5rem;
                width: 1.5rem;
            }

            .button-groups {
                display: flex;
                flex-direction: column;
            }

            .ammo {
                select.linked {
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: var(--alt);
                    background-image: url("/assets/icons/chevron-down.svg");
                    background-position: right 0.25em top 50%;
                    background-repeat: no-repeat;
                    background-size: 1em auto;
                    border-radius: 2px;
                    border: 1px solid #53422a;
                    color: var(--text-light);
                    height: auto;
                    padding: 0.25rem 1.1rem 0.25rem 0.25rem;
                    position: relative;
                    text-overflow: ellipsis;

                    &[data-compatible="false"] {
                        color: #ffffff99;
                    }

                    option,
                    optgroup {
                        color: var(--text-light);
                        background-color: var(--alt);
                    }
                }
            }
        }
    }
}
