&.biography {
    padding-right: 20px !important;

    .biography-personality {
        display: flex;
        flex-wrap: wrap;

        .h3 {
            display: block;
        }

        .bio {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex: 50%;
            margin-bottom: 8px;

            span {
              width: 100%;
            }
        }
    }

    .biography-campaign-notes {
        display:flex;
        flex-direction: column;

        span {
          width: 100%;
        }
    }
}
