&.biography {
    & > header {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        padding: 0 var(--space-1);

        i.fa-eye-slash {
            opacity: 75%;
        }
    }

    section {
        &.editable {
            .editor-content,
            input {
                background: rgba(0, 0, 0, 5%);
            }

            .editor-content {
                min-height: 4rem;
            }
        }

        &:not(.editable) .editor-content {
            min-height: 2rem;
        }

        // Override core input:disabled coloration
        input:disabled {
            color: var(--text-dark);
        }

        &.appearance-details {
            display: grid;
            grid-template:
                "bio bio" 1fr
                "height weight" min-content
                / 1fr 1fr;
            .bio {
                grid-area: bio;
            }
        }

        &.personality {
            display: flex;
            flex-wrap: wrap;

            .bio {
                align-items: start;
                display: flex;
                flex-direction: column;
                flex: 50%;
                justify-content: start;
                margin-bottom: var(--space-8);

                span {
                    width: 100%;
                }
            }

            .edicts,
            .anathema {
                flex-basis: 100%;

                > * {
                    width: 100%;
                }

                .label-add {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    width: calc(100% - 0.75em);
                }

                ol {
                    list-style-type: decimal;
                    margin-top: 0;

                    li {
                        white-space: nowrap;

                        input {
                            margin: 0.2em;
                            max-width: calc(100% - 2rem);
                        }
                    }
                }
            }
        }

        &.campaign {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        input {
            background: none;
            border-bottom: 1px solid var(--color-border-input);
            font-family: var(--body-serif);
            width: calc(100% - 6px);

            &::placeholder {
                filter: opacity(0.5);
                color: var(--text-dark);
            }

            &:focus {
                border-bottom: 1px solid #644f33;

                &::placeholder {
                    color: transparent;
                }
            }

            &[type="number"] {
                padding-bottom: 0;
                padding-left: var(--space-4);
            }
        }

        hr {
            margin: var(--space-10) var(--space-6) var(--space-10) 0;
        }

        .bio {
            h3 {
                @include p-reset;
                background-color: rgba($text-dark-color, 0.1);
                border: none;
                color: var(--text-dark);
                font: 700 var(--font-size-14) var(--body-serif);
                grid-area: mod;
                height: 1.625rem;
                padding: var(--space-8) var(--space-4) var(--space-6);
                width: calc(100% - 6px);

                i {
                    float: right;
                    position: relative;
                    right: calc(-1 * var(--space-2));
                    top: calc(-1 * var(--space-2));
                }

                span.value {
                    display: inline-block;
                    max-width: 87%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            h4.details-label {
                margin-bottom: 0;
                width: 100%;
            }

            .biography-content {
                padding: 0 0 0.5rem;

                /* Typography */
                h1,
                h2 {
                    font-family: var(--serif);
                    line-height: 1.1;
                }
                h1 {
                    text-align: center;
                    font-size: 2.5em;
                    margin-bottom: 1.875rem;
                }

                h2 {
                    color: var(--color-pf-secondary);
                    font-size: 2.25em;
                }

                h3 {
                    font-size: 2em;
                    border-bottom: 0;
                }

                h4 {
                    border-bottom: 1px solid var(--color-border-dark-primary);
                    color: var(--text-dark);
                    margin-bottom: 0;
                    text-transform: uppercase;
                }

                h5 {
                    text-transform: uppercase;
                }

                h6 {
                    background-color: var(--header-bg);
                    border-radius: var(--space-12) var(--space-12) 0 0;
                    color: var(--header-color);
                    font-size: 1.25em;
                    margin-bottom: var(--space-5);
                    padding-bottom: var(--space-3);
                    padding-left: var(--space-8);
                    padding-top: var(--space-5);
                    text-transform: uppercase;
                }

                p,
                p + p,
                ul,
                ol {
                    font-family: var(--body-serif);
                }

                .editor {
                    .editor-edit {
                        background: var(--color-pf-primary);
                        color: var(--text-light);
                    }

                    // When the editor is open, fill more space so the user has something to work with
                    .tox.tox-tinymce {
                        // !important to work around tox's limitations and a foundry issue where initial height is overwritten
                        height: 12.5rem !important;
                    }

                    .tox {
                        .tox-editor-container {
                            .tox-editor-header {
                                background: none;

                                .tox-toolbar-overlord {
                                    background-color: var(--color-pf-secondary);

                                    .tox-toolbar {
                                        &__primary {
                                            background-color: var(--color-pf-alternate);
                                            box-shadow: inset 0 0 0 1px rgba(white, 0.3);
                                        }
                                    }
                                }
                            }
                        }

                        .tox-tbtn {
                            &:not(&--disabled) {
                                border-radius: 1px;
                                color: var(--text-light);
                                cursor: pointer;

                                &:hover {
                                    background: var(--color-pf-secondary);

                                    svg {
                                        fill: var(--text-light);
                                    }
                                }

                                span {
                                    cursor: pointer;
                                }

                                svg {
                                    fill: var(--text-light);
                                }
                            }

                            &--disabled {
                                svg {
                                    fill: var(--text-light-disabled);
                                }
                            }

                            &--select {
                                background: var(--color-pf-alternate);

                                .tox-tbtn__select-label {
                                    width: 5em;
                                }
                            }
                        }
                    }

                    .editor-content {
                        overflow-y: inherit;
                        padding: 0 0.25rem;
                    }
                }
            }
        }
    }
}
