&.character {
    select {
        width: calc(100% - 6px);
        background-color: var(--alt);
        border: 1px solid darken($alt-color, 8);

        &:disabled {
            cursor: initial;
        }
    }

    hr {
        margin: 10px 6px 10px 0;
    }

    .pc h3 {
        align-items: center;
        background-color: rgba($text-dark-color, 0.1);
        border: none;
        color: var(--text-dark);
        display: flex;
        font: 700 var(--font-size-14) / 1em var(--body-serif);
        margin: 0;
        padding: 0.5em 0.25em;
        width: calc(100% - 0.5em);

        span.value {
            flex-basis: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .character-details {
        display: grid;
        grid:
            "img details" 9rem
            "img deity" auto
            / 120px 1fr;
        margin-top: 0.25rem;

        .image-container {
            grid-area: img;
            z-index: 3;

            .actor-image {
                @include brown-border;
                border-radius: 0;
                max-height: 11rem;
                object-fit: cover;
                object-position: top;
                width: 100%;
            }
        }

        .abcd {
            grid-area: details;
            display: grid;
            grid-template-columns: repeat(2, 13em);
            grid-row-gap: 0.5rem;
            justify-content: start;
            padding-left: 0.75rem;

            > * {
                display: flex;
                flex-wrap: wrap;
                gap: 2px;

                .details-label {
                    flex-basis: 100%;
                }
            }

            .deity {
                align-items: center;

                .input {
                    h3 {
                        min-width: 11em;
                    }
                }
            }

            img.deity-emblem {
                @include brown-border;
                align-self: end;
                border-radius: 50%;
                height: 2rem;
                margin-left: 0.25rem;
                width: 2rem;
            }
        }

        .detail-item-control {
            cursor: pointer;

            > i:hover {
                text-shadow: 0 0 8px var(--color-shadow-primary);
            }

            #context-menu {
                left: -85px;
                min-width: 105px;
                padding: 0;
                text-align: left;

                .context-item {
                    font-family: var(--font-primary);
                    font-weight: normal;
                    min-width: 105px;

                    i {
                        position: static;
                        float: none;
                    }
                }
            }
        }
    }

    .character-background {
        display: flex;
        flex-wrap: wrap;

        label {
            align-items: start;
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            justify-content: start;
            margin-bottom: 8px;
            span {
                width: 100%;
            }
        }
    }

    .character-traits {
        display: flex;
        flex-wrap: wrap;

        .tags {
            width: 100%;
        }

        .pc {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            flex: 20%;
            margin-bottom: 0.5rem;

            span {
                width: 100%;
            }

            span.speed {
                * {
                    width: 50%;
                }
            }

            &_land-speed,
            &_size {
                flex: 50%;
            }

            &_speed-types {
                flex: 50%;
            }

            &_senses {
                flex: 50%;
            }

            &_languages {
                flex: 50%;
                margin-bottom: 0;
            }
            &_traits {
                flex: 50%;
                margin-bottom: 0;
            }

            label,
            h4 {
                margin: 0;
                white-space: nowrap;
            }

            .tags {
                margin: 0;
                padding: 0;
            }

            .tags,
            select,
            input,
            h3 {
                margin-top: 0.25rem;
            }
        }
    }

    .attributes {
        @include p-reset;
        display: grid;
        gap: 12px;
        grid: 1fr / repeat(6, 1fr);
        justify-content: center;
        list-style: none;

        .attribute {
            display: grid;
            grid:
                "abbrev" auto
                "mod" 1fr
                "label" auto
                / 1fr;
            column-gap: 10px;
            align-items: center;
            &:focus-within {
                .abbreviation {
                    filter: opacity(1);
                }
            }

            &.key {
                .abbreviation,
                .modifier {
                    color: var(--secondary);
                }
            }

            .abbreviation {
                @include p-reset;
                border: none;
                color: var(--primary);
                font: 400 22px var(--serif-condensed);
                grid-area: abbrev;
                position: relative;
                text-align: center;
                text-transform: capitalize;

                i.key,
                i.apex {
                    bottom: 4px;
                    position: absolute;
                    font-size: var(--font-size-12);
                }

                i.key {
                    left: 2px;
                }

                i.apex {
                    right: 2px;

                    &.unselected:not(:hover) {
                        opacity: 0.75;
                    }
                }
            }

            h3.modifier {
                @include flex-center;
                @include frame-elegant;
                grid-area: mod;
                font-size: var(--font-size-24);
                font-family: var(--serif);
                font-weight: 700;
                height: 46px;
                margin: 0;
                padding-right: 4px;
            }

            .label {
                color: rgba(68, 55, 48, 1);
                grid-area: label;
                margin: 0;
                opacity: 0.4;
                padding: 2px;
                text-align: center;
            }
        }
    }
}
