&.crafting {
    .crafting-options {
        display: flex;
        flex-wrap: wrap;
        margin: 0 1rem 1rem;
        padding: 0.5rem 1rem;
        @include frame-elegant;

        .crafting-option {
            display: flex;
            align-items: center;
            width: 100%;

            label {
                * {
                    vertical-align: middle;
                }

                input {
                    @include p-reset;
                }
            }
        }
    }

    .known-formulas, .crafting-entry {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background: none;
        border: none;

        &.item-container {
            margin-bottom: 0.5em;
        }

        &.alchemical-entry {
            margin-bottom: 0;
            &:last-child {
                margin-bottom: 0.5em;
            }
        }

        &:first-child .action-header {
            margin-top: 0;
        }

        .action-header {
            .item-controls {
                .toggle-free-crafting {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    * {
                        flex: 1 0 auto;
                    }

                    input[type=checkbox] {
                        height: 1em;
                        width: 1em;
                    }
                }
            }

            &.alchemical-title {
                background: var(--secondary);
            }
        }

        .formula-list {
            @include p-reset;
            width: 100%;
            flex-basis: 100%;
            position: relative;
            z-index: 1;

            .formula-item {
                &[data-expended-state="true"] {
                    h4 {
                        color: var(--color-disabled);
                        text-decoration: line-through;
                    }

                    .toggle-formula-expended {
                        color: var(--primary);
                    }
                }
            }

            .formula-level-header, .formula-item {
                display: grid;
                grid: "name dc price quantity controls" 1fr
                      / 4fr 0.7fr 1fr 1fr 1fr;
                align-items: center;
                justify-items: center;

                @include p-reset;
                background: none;
                border: none;
                border-left: 1px solid var(--sub);
                border-right: 1px solid var(--sub);
                cursor: default;

                &:nth-child(odd) {
                    background-color: rgba($alt-color, 0.1);
                }

                &:last-child {
                    border-bottom: 1px solid var(--sub);
                    .item-image {
                        margin-bottom: 0;
                        margin-top: 2px;
                    }
                }

                &.formula-level-header {
                    background: rgba($sub-color, 0.25);
                    border: 1px solid var(--sub);
                    padding: 4px;
                    color: var(--body);
                    font: 600 var(--font-size-12) var(--sans-serif);
                    line-height: 1;
                    letter-spacing: 0.25px;
                    margin: 0;

                    h3 {
                        text-transform: capitalize;
                        font-size: var(--font-size-12);
                        margin-left: 0;
                        padding: 4px 0;
                    }

                    .level-name {
                        line-height: 1;
                        gap: 0.5em;
                        h3 {
                            @include p-reset;
                        }
                    }

                    .formula-number {
                        background: var(--alt);
                        border: 1px solid var(--sub);
                        border-radius: 3px;
                        color: white;
                        font-size: var(--font-size-11);
                        height: 14px;
                        max-width: 22px;
                        padding-top: 2px;
                        text-align: center;
                        width: 22px;
                    }

                    input.formula-number {
                        background: var(--alt-dark);
                    }
                }

                .item-name {
                    cursor: pointer;
                    min-height: 28px;
                }

                .level-name, .item-name {
                    justify-self: start;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: nowrap;
                    line-height: 1.5;
                    flex-basis: 50%;

                    h3 {
                        white-space: nowrap;
                    }
                    + span:not(.flex0) {
                        font-size: var(--font-size-12);
                    }

                    .item-image {
                        margin: 2px 0;
                        margin-left: 4px;
                    }

                    h4 {
                        @include p-reset;
                        margin-left: 8px;
                        line-height: 1;
                        letter-spacing: -0.075em;
                        &:hover {
                            color: var(--secondary);
                        }
                    }

                    &.aa-level, &.reagent-resource {
                        justify-content: flex-end;
                    }
                }

                .item-controls {
                    justify-self: end;
                    font-size: var(--font-size-12);
                    margin-right: 4px;

                    .item-control.disabled {
                        opacity: 0.3;
                    }
                }

                .item-summary {
                    grid-column: 1 / 6;
                    padding: 8px;
                    border-bottom: 1px solid var(--sub);
                    border-top: 1px solid lighten($sub-color, 30);
                    background-color: var(--bg);

                    p {
                        margin-top: 0;
                    }
                    .item-buttons button {
                        display: none;
                    }
                }

                .quantity {
                    align-items: center;
                    display: flex;
                    gap: 3px;
                    justify-content: center;

                    .adjust {
                        align-items: center;
                        display: flex;
                        font-size: var(--font-size-16);
                        font-family: var(--sans-serif-monospace);
                        justify-content: center;
                        width: 1em;
                    }

                    input {
                        width: 1.5rem;
                        text-align: center;
                    }
                }
            }

            .empty {
                align-items: center;
                display: flex;
                justify-content: space-between;
                min-height: 28px;

                > * {
                    white-space: nowrap;
                }
            }
        }
    }
}
