@use "sass:color";

&.crafting {
    .crafting-options {
        @include frame-elegant;
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
        margin: 0 1rem 1rem;
        padding: 0.5rem 1rem;

        .crafting-option {
            display: flex;
            align-items: center;
            flex-basis: 100%;

            label {
                * {
                    vertical-align: middle;
                }

                input {
                    @include p-reset;
                }
            }
        }
    }

    li.known-formulas,
    li.crafting-entry {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background: none;
        border: none;

        &.item-container {
            margin-bottom: 0.5em;
        }

        &.alchemical-entry {
            margin-bottom: 0;

            &:last-child {
                margin-bottom: 0.5em;
            }
        }

        .action-header {
            color: var(--text-light);
            font-size: var(--font-size-16);
            font-weight: 500;
            height: 1.75rem;

            .level {
                white-space: nowrap;
            }

            &.alchemical-title {
                background: var(--color-pf-secondary);
                font-size: var(--font-size-14);
                height: 1.5rem;
            }
        }

        ol.formula-list {
            @include p-reset;
            flex-basis: 100%;

            .formula-item[data-expended-state="true"] {
                h4 {
                    color: var(--color-disabled);
                    text-decoration: line-through;
                }

                .toggle-formula-expended {
                    color: var(--color-pf-primary);
                }
            }

            li.formula-level-header,
            li.formula-item {
                display: grid;
                grid:
                    "name dc price quantity controls" 1fr
                    / 4fr 0.7fr 1fr 1fr 1fr;
                align-items: center;
                justify-items: center;

                @include p-reset;
                background: none;
                border: none;
                border-left: 1px solid var(--sub);
                border-right: 1px solid var(--sub);
                cursor: default;

                &:nth-child(odd) {
                    background-color: rgba($alt-color, 0.1);
                }

                &:nth-child(even) .item-summary {
                    background: none;
                }

                &:last-child {
                    border-bottom: 1px solid var(--sub);
                }

                &.formula-level-header {
                    background: rgba($sub-color, 0.25);
                    border: 1px solid var(--sub);
                    padding: 0 var(--space-4);
                    color: var(--text-dark);
                    font: 600 var(--font-size-12) var(--sans-serif);
                    height: 1.25rem;
                    margin: 0;

                    h3 {
                        text-transform: capitalize;
                        font-size: var(--font-size-12);
                        font-weight: 500;
                        margin-left: 0;
                        padding: var(--space-4) 0;
                    }

                    .level-name {
                        line-height: 1;
                        gap: 0.5em;

                        h3 {
                            @include p-reset;
                        }
                    }

                    .formula-number {
                        text-align: center;
                    }

                    input.formula-number {
                        background: var(--color-pf-alternate);
                        height: unset;
                        border-radius: 3px;
                        border: 1px solid var(--sub);
                        color: var(--text-light);
                        font: var(--font-size-12) var(--sans-serif);
                        text-align: center;
                        width: 2em;
                    }
                }

                .item-name {
                    cursor: pointer;
                    min-height: 2em;
                }

                .level-name,
                .item-name {
                    align-items: center;
                    display: flex;
                    flex-basis: 50%;
                    flex-wrap: nowrap;
                    justify-content: start;
                    justify-self: start;
                    line-height: 1.5;

                    h3 {
                        white-space: nowrap;
                    }
                    + span:not(.flex0) {
                        font-size: var(--font-size-12);
                    }

                    .item-image {
                        margin: var(--space-2) 0;
                        margin-left: var(--space-4);
                    }

                    h4 {
                        font-weight: 500;
                        letter-spacing: -0.075em;
                        line-height: 1;
                        margin: 0 0 0 var(--space-8);
                        padding: 0;

                        &:hover {
                            color: var(--color-pf-secondary);
                        }
                    }

                    &.aa-level,
                    &.reagent-resource {
                        justify-content: flex-end;
                    }
                }

                .item-controls {
                    justify-self: end;
                    font-size: var(--font-size-12);
                    margin-right: var(--space-4);
                }

                .item-summary {
                    grid-column: 1 / 6;
                    padding: var(--space-8);
                    border-bottom: 1px solid var(--sub);
                    border-top: 1px solid color.adjust($sub-color, $lightness: 30%);
                    background-color: rgba($light-background-color, 0.5);

                    p {
                        margin-top: 0;
                    }

                    .item-buttons button {
                        display: none;
                    }
                }

                .quantity {
                    align-items: center;
                    display: flex;
                    gap: var(--space-3);
                    justify-content: center;

                    .adjust {
                        align-items: center;
                        display: flex;
                        font-size: var(--font-size-16);
                        font-family: var(--sans-serif-monospace);
                        justify-content: center;
                        width: 1em;
                    }

                    input {
                        width: 1.5rem;
                        text-align: center;
                    }
                }
            }

            li.formula-level-header.infused-reagents {
                height: 1.75rem;
            }

            .empty {
                align-items: center;
                display: flex;
                justify-content: space-between;
                min-height: 2em;

                > h4 {
                    margin: 0;
                    opacity: 0.75;
                }

                > * {
                    white-space: nowrap;
                }
            }
        }
    }

    li.crafting-entry button.perform-daily {
        width: 75%;
    }
}
