&.feats {
    .feat-section {
        padding-bottom: 1em;
    }

    .feat-item {
        align-items: center;
        display: grid;
        grid:
            "name ctrl" min-content
            "content content" min-content
            / 1fr min-content;
        padding: var(--space-size-2) 0;
        position: relative;

        &:nth-child(odd) {
            background-color: rgba($alt-color, 0.1);
        }

        .item-name,
        .item-controls {
            margin: 0;
        }

        .item-name {
            align-items: center;
            display: flex;
            flex: 1;
            gap: var(--space-size-8);
            grid-area: name;
            height: var(--font-size-25);
            width: 100%;

            .feat-slot-title {
                display: flex;
                font-family: var(--serif);
                font-size: 1.1em;
                font-weight: 600;
                color: var(--secondary);
                justify-content: center;
                width: 20px;
                margin-left: var(--space-size-6);
            }

            .item-placeholder {
                margin-left: 40px;
                margin-right: var(--space-size-4);
            }

            h4 {
                cursor: pointer;
                font-family: var(--serif);

                &:hover {
                    color: var(--primary);
                    text-shadow: 0 0 3px var(--tertiary);
                }
            }
        }

        .item-controls {
            align-items: center;
            display: flex;
            font-size: var(--font-size-12);
            grid-area: ctrl;
            height: 100%;
            white-space: nowrap;
            width: 100%;

            a {
                &:last-child {
                    margin-right: var(--space-size-6);
                }
            }
        }

        .item-summary {
            grid-area: content;
            margin: 0 0 0 var(--space-size-2);
            padding: var(--space-size-4);

            .tags {
                padding: var(--space-size-2) 0 0;
            }

            .level {
                position: absolute;
                right: 3rem;
                top: var(--space-size-2);
                font: 600 var(--font-size-14) var(--serif);
            }
        }

        ol.nested-items {
            border-left: 3px dotted var(--pf-color-alternate);
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            grid-column: span 2;
            margin: 0;
            padding: 0;

            li {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: var(--space-size-2);
                margin: var(--space-size-2) 0 0;
                position: relative;

                .item-name {
                    margin: 0 0 0 3.875rem;

                    .feat-slot-title {
                        display: none;
                    }
                }

                .item-controls {
                    flex: 0;
                }

                .item-summary {
                    .level {
                        top: 0;
                    }
                }

                ol.nested-items .item-name {
                    margin-left: 90px;
                }
            }
        }
    }
}
