@import "proficiency-ranks";
@import "sidebar";
@import "header";

nav.sheet-navigation {
    .item {
        &.to-hide {
            opacity: 45%;
        }
        &.hidden {
            display: none;
        }

        .pfs-icon {
            clip-rule: evenodd;
            fill-rule: evenodd;
            padding: 4px;
            position: relative;
            stroke-linejoin: round;
            stroke-miterlimit: 2;
            top: -1px;

            path {
                fill-rule: nonzero;
            }
        }
    }

    .manage-tabs {
        color: white;
        margin: 0;
        padding: 0 6px;
    }
}

.sheet-body .sheet-content {
    & > .tab.active {
        display: flex;
        height: 100%;
    }

    & > .tab:not(.inventory, .actions),
    .tab-content {
        @include scrollbar;
        flex-grow: 1;
        min-height: 0;
        overflow: hidden scroll;
        margin-left: 8px;
    }

    nav + .tab-content {
        padding-top: 12px;
    }

    h3.header {
        position: relative;
        margin-top: 0.75em;
        font-size: var(--font-size-16);
        font-family: var(--serif);
        font-weight: 600;
        color: var(--primary);
        line-height: 1;
        border-bottom: 1px solid var(--color-border-divider);
        & > button, & > .controls {
            position: absolute;
            bottom: -1px;
            right: 0;
        }
        .controls {
            display: flex;
        }
        button {
            background: transparent;
            border-radius: 2px 2px 0 0;
            border: 1px solid var(--color-border-divider);
            color: var(--primary);
            cursor: pointer;
            font-family: var(--sans-serif);
            font-size: var(--font-size-12);
            font-weight: 500;
            height: 20px;
            line-height: var(--font-size-12);
            margin: 0;
            outline: none;
            text-transform: uppercase;
            width: auto;
        }
    }

    // general item-image properties
    .item-image {
        cursor: pointer;
        display: flex;
        font-size: var(--font-size-16);
        height: 24px;
        min-width: 24px;
        position: relative;
        width: 24px;

        img {
            border: none;
        }

        i {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            color: black;
        }

        &:hover {
            i {
                background: #f1eee9;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    // character specific item-image properties
    .item-image.framed {
        background-color: var(--tertiary);
        &, i {
            @include frame-icon;
        }
    }

    .tab {
        flex-direction: column;

        @import "character", "actions", "effects", "spellcasting", "proficiencies", "feats", "bio", "inventory", "pfs", "crafting";
    }

    .directory-list {
        @include p-reset;
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;

        h4 {
            @include p-reset;
        }

        .item {
            ol {
                list-style: none;
            }
        }
    }

    .blue-button {
        align-items: center;
        background: var(--secondary);
        border: black;
        border-radius: 2px;
        box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
        color: white;
        display: flex;
        font-family: var(--serif);
        font-weight: 500;
        gap: 0.25em;
        line-height: 1.8em;
        justify-content: center;
        margin: 0;
        padding: 0 0.5em;

        &:hover {
            text-shadow: 0 0 4px white;
        }
    }
}
