.pf-rank {
    @include micro;
    background: var(--color-proficiency-untrained);
    border: 1px solid rgba(black, 0.5);
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(white, 0.15);
    color: var(--text-light);
    display: block;
    font-weight: 500;
    height: 1rem;
    line-height: 1rem;
    overflow: hidden;
    padding: 0 var(--space-1);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 4.25rem;

    &.readonly {
        pointer-events: none;
    }

    &[data-rank="0"],
    option[value="0"] {
        background: var(--color-proficiency-untrained);
    }

    &[data-rank="1"],
    option[value="1"] {
        background: var(--color-proficiency-trained);
    }

    &[data-rank="2"],
    option[value="2"] {
        background: var(--color-proficiency-expert);
    }

    &[data-rank="3"],
    option[value="3"] {
        background: var(--color-proficiency-master);
    }

    &[data-rank="4"],
    option[value="4"] {
        background: var(--color-proficiency-legendary);
    }
}

select.pf-rank {
    cursor: pointer;
    line-height: initial;

    &:disabled {
        cursor: default;
    }
}
