&.proficiencies {
    h1,
    h4,
    h6 {
        @include p-reset;
        line-height: 1;
        display: flex;
        align-items: center;
    }

    h6 {
        @include micro;
        padding: 2px 0.25rem;
        border-radius: 2px;
        box-shadow: inset 0 0 0 1px rgba(black, 0.5);
        color: var(--text-light);
    }

    ul.proficiencies-list {
        list-style: none;
        @include p-reset;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.625rem;
        align-items: center;
        margin-bottom: 0.75rem;

        li {
            @include frame-elegant;
            align-items: center;
            display: flex;
            gap: 0.25rem;
            min-height: 2.25rem;
            padding: 0.125rem 0.5rem 0.125rem 0.25rem;

            a.skill-name,
            a.modifier {
                &:hover {
                    color: var(--primary);
                    text-shadow: none;
                }
            }

            a.modifier:hover,
            a.skill-name:hover > .modifier {
                text-decoration: underline;
            }

            .modifier {
                color: var(--primary);
                font: 600 var(--font-size-20) / 1em var(--serif);
                text-align: end;
                width: 2.25rem;
            }

            .skill-name {
                align-items: center;
                display: flex;
                flex: 1;
                gap: 0.25rem;
            }

            .button-group {
                align-items: center;
                display: flex;
                justify-content: center;

                button {
                    @include micro;
                    align-items: center;
                    background: var(--color-proficiency-untrained);
                    border: 1px solid rgba(black, 0.5);
                    border-radius: 2px;
                    box-shadow: inset 0 0 0 1px rgba(white, 0.1);
                    color: var(--text-light);
                    display: flex;
                    font-weight: 500;
                    padding: 2px;

                    flex: 0;
                    &:hover {
                        background: var(--primary);
                    }
                }
            }

            // Proficiencies added by the user
            &.custom {
                position: relative;

                a.delete {
                    position: absolute;
                    top: -0.5rem;
                    right: -0.5rem;
                    opacity: 0.75;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    ul.lores-list,
    ul.combat-list {
        li .button-group {
            flex-direction: row;
            flex-wrap: nowrap;
            margin-left: auto;

            .item-controls {
                font-size: var(--font-size-12);
                margin-left: 0.5rem;
                margin-top: 1px;
            }
        }
    }

    ul.lores-list {
        grid-template-columns: 1fr;

        input {
            color: var(--text-dark);
            font-weight: 600;
        }
    }

    ul.combat-list {
        grid-template: repeat(2, 1fr);

        .item {
            grid-column: 1 / 3;
        }
    }

    ul.spellcasting {
        li {
            grid-column: span 2;
        }
    }

    .lore-header {
        .item-controls {
            white-space: nowrap;
            color: var(--text-light);
            @include micro;

            .item-control {
                padding: 0.25rem;
                background: var(--secondary);
                font-size: var(--font-size-10);
                border-radius: 2px;
            }
        }
    }
}
