&.proficiencies {
    h1,
    h4,
    h6 {
        @include p-reset;
        line-height: 1;
        display: flex;
        align-items: center;
    }

    h6 {
        @include micro;
        padding: var(--space-2) 0.25rem;
        border-radius: 2px;
        box-shadow: inset 0 0 0 1px rgba(black, 0.5);
        color: var(--text-light);
    }

    ul.proficiencies-list {
        list-style: none;
        @include p-reset;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 0.75rem;

        li {
            @include frame-elegant;
            align-items: center;
            display: flex;
            font-family: var(--serif);
            font-size: var(--font-size-16);
            min-height: 2.5rem;
            padding: 0 0.5rem 0 0.25rem;

            a.d20 {
                &:hover {
                    @include die-spin;
                }

                filter: drop-shadow(0 0 1px var(--color-shadow-dark)) drop-shadow(0 0 3px var(--color-text-dark-4))
                    drop-shadow(0 0 12px var(--color-text-light-3));
                padding: 0.25rem;
                path {
                    fill: var(--color-text-light-1);
                }
            }

            .name,
            .modifier,
            .dc {
                // Compensation for the font's alignment
                padding-top: 0.1em;
                margin-bottom: -0.1em;
            }

            .modifier,
            .dc {
                color: var(--primary);
                font-weight: 600;
                margin-right: 0.25rem;
                text-align: end;
                width: 1.75rem;
            }

            .name {
                flex: 1;
                margin-right: 0.25rem;
            }

            .button-group {
                align-items: center;
                display: flex;
                justify-content: center;

                button {
                    @include micro;
                    align-items: center;
                    background: var(--sub);
                    border-radius: 2px;
                    border: 1px solid rgba(black, 0.5);
                    box-shadow: inset 0 0 0 1px rgba(white, 0.15);
                    color: var(--text-light);
                    display: flex;
                    font-weight: 500;
                    justify-content: center;
                    line-height: 1.3em;
                    margin: 0;
                    padding: var(--space-1) 0 0;
                    width: 6.5em;

                    &:hover {
                        background: var(--primary);
                    }
                }

                &.stacked {
                    flex-flow: column wrap;
                    gap: var(--space-1);
                }
            }

            // Proficiencies added by the user
            &.custom {
                position: relative;

                a.delete {
                    font-size: var(--font-size-12);
                    position: absolute;
                    right: -0.5rem;
                    top: -0.5rem;
                    opacity: 0.65;
                }

                &:hover a.delete {
                    opacity: 1;
                }
            }
        }
    }

    ul.lores-list,
    ul.combat-list {
        li .button-group {
            flex-direction: row;
            flex-wrap: nowrap;
            margin-left: auto;

            .item-controls {
                font-size: var(--font-size-12);
                margin-left: 0.5rem;
                margin-top: var(--space-1);
            }
        }
    }

    ul.lores-list > li,
    li.all-by-myself {
        grid-column: span 2;
    }
}
