aside {
    grid-area: sidebar;
    color: var(--sidebar-label);
    font-family: var(--serif);
    font-size: var(--font-size-10);
    font-weight: 600;
    margin-left: 8px;
    background-image: url("/assets/sheet/red_sidebar_top.webp"), url("/assets/sheet/red_sidebar_bottom.webp");
    background-repeat: no-repeat;
    background-position:
        center calc(100% - 52px),
        center bottom;
    background-size:
        224px 100%,
        224px 52px;
    display: flex;
    flex-direction: column;

    input[type="number"] {
        color: var(--text-light);

        text-align: center;
        font-size: var(--font-size-28);
        line-height: 1em;
        font-weight: initial;

        &:focus {
            box-shadow: none;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &:read-only {
            pointer-events: none;
            color: var(--tertiary-light);
        }
        &:hover {
            @include input-glow;
        }
    }

    select {
        font-size: var(--font-size-15);
        background-color: var(--primary);
        padding: 2px 6px;
        width: 100%;
        max-width: 100%;
        @include input-border;
    }

    .logo {
        margin: 5px -6px 0 -6px;
        border: none;
        z-index: 10;
        max-width: unset;
        flex-shrink: 0;
    }

    .sidebar {
        padding: 0 2px 2px 8px;
        margin-bottom: 2.625rem;
        overflow: hidden scroll;

        &::-webkit-scrollbar-track {
            box-shadow: none;
        }

        h2,
        h3,
        h4 {
            margin: 0;
            line-height: 1;
        }

        header {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-end;
            margin: 0.8em 0 0.5em;

            &:first-of-type {
                margin-top: 0.5em;
                margin-bottom: -1px;
            }

            h2 {
                font-family: var(--sans-serif);
                font-size: var(--font-size-13);
                font-variant: small-caps;
                letter-spacing: 0.05em;
                line-height: 1;
                color: var(--sidebar-title);
                flex: 1;
            }

            button {
                background: rgba(white, 0.75);
                border-radius: 2px 2px 0 0;
                border: none;
                box-shadow: inset 0 0 0 1px rgba(white, 0.4);
                color: var(--primary);
                flex: 0;
                font: 600 var(--font-size-9) var(--sans-serif);
                letter-spacing: 0.05em;
                line-height: 1;
                margin: 0;
                padding: 2px 3px;
                text-rendering: optimizeLegibility;
                text-transform: uppercase;
                white-space: nowrap;

                &:hover:not(:disabled) {
                    background: white;
                    box-shadow: inset 0 0 0 1px white;
                }
            }

            button,
            h2 {
                border-bottom: 1px solid var(--sidebar-title);
            }
        }

        .sidebar_label {
            color: var(--sidebar-label);
            @include micro;
            white-space: nowrap;
        }

        a.roll-icon.rest {
            padding-bottom: 0;
        }

        a.dots {
            display: flex;
            flex-direction: column;
            gap: 2px;

            > * {
                cursor: pointer;
            }
            .pips {
                display: flex;
                justify-content: center;
            }
        }

        .data-value {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0; /* Removes whitespace for inputs */

            h2 {
                color: var(--color-pf-tertiary);
                text-align: center;
                font-size: var(--font-size-28);
                line-height: 1;
                font-weight: initial;
                font-family: var(--serif);
                border: none;
            }
        }

        a.roll-icon {
            display: inline-flex;
            align-items: center;
            padding-bottom: var(--space-2);

            i {
                font-size: var(--font-size-19);
                color: var(--text-light);
                transition: all 0.2s ease-in-out;
            }

            svg path {
                fill: var(--text-light);
            }

            &:hover {
                i {
                    transform: scale(1.25);
                }
                svg {
                    @include die-spin;
                }
            }

            &.disabled {
                cursor: default;
                filter: brightness(0.75);
                opacity: 0.75;
                text-shadow: none;
                &:hover svg {
                    animation-play-state: paused;
                }
            }
        }

        ol {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }

        .roll-data {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            justify-content: left;

            .modifier,
            h3 {
                color: var(--color-pf-tertiary);
                font-size: var(--font-size-18);
                font-weight: initial;
                line-height: 1;
                white-space: nowrap;
            }

            a.modifier.hover {
                text-decoration: underline var(--color-pf-tertiary-darker);
                text-underline-offset: 0.125em;
            }
        }

        .hitpoints {
            .hp-big {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-content: space-evenly;

                .container {
                    text-align: center;

                    &.current-hp {
                        background-image: linear-gradient(
                            90deg,
                            darken($primary-color, 5) 0%,
                            lighten($primary-color, 8) 50%,
                            darken($primary-color, 5) 100%
                        );
                        background-color: var(--primary);
                        border-radius: 0 0 4px 4px;
                        border: 1px solid var(--sidebar-title);
                        display: flex;
                        flex-direction: column;
                        padding: 0.625rem 0.25rem 0;
                        position: relative;
                        width: min-content;
                        z-index: 0;

                        .data-value {
                            margin-top: 3px;
                            input[type="number"] {
                                font-size: var(--font-size-32);
                                letter-spacing: -1px;
                                height: 2rem;
                            }
                        }
                    }

                    &.max-hp,
                    &.temp-hp {
                        margin-top: 0.75rem;
                    }

                    &.temp-hp {
                        margin-right: 0.5rem;
                        text-align: center;

                        input {
                            margin-top: 0.125rem;
                        }
                    }

                    &.max-hp {
                        margin-left: 0.5rem;
                        text-align: center;

                        .unrecoverable {
                            color: orangered;
                        }
                    }
                }
            }
            .hp-small {
                display: flex;
                gap: 0.125rem;
                justify-content: space-evenly;
                margin: 0.5rem 0.125rem 0 0.125rem;
                text-align: center;

                h4,
                label {
                    @include micro;
                }

                i.fa-regular,
                i.fa-solid {
                    color: var(--text-light);
                }
            }
        }

        .stamina {
            flex-direction: row;

            li {
                flex-direction: column;

                input {
                    padding: 0;
                    font-size: var(--font-size-24);
                    text-align: left;
                }
                input.left {
                    color: var(--text-light);
                    text-align: right;
                }
                input.right {
                    color: var(--tertiary-light);
                }
                .divider {
                    font-size: var(--font-size-16);
                    line-height: 1;
                }
                .stamina-group {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
            }
        }

        .armor-class {
            display: grid;
            grid:
                "ac shield-hp shield-footer" 74px
                "shield-data shield-data shield-data" auto
                / 66px 59px auto;
            grid-column-gap: 4px;

            .ac,
            .shield {
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 4.625rem;
                justify-content: start;
                padding: 0.875rem 0.625rem 0 0.625rem;
                text-align: center;

                .data-value {
                    h2,
                    input {
                        width: 3rem;
                    }

                    input {
                        font-size: var(--font-size-30);

                        &:disabled {
                            color: var(--color-pf-tertiary);
                        }
                    }
                }

                label {
                    white-space: normal;
                }

                &.hp {
                    background: url("/assets/sheet/shield-red.webp") no-repeat top center;
                    grid-area: shield-hp;

                    &.disabled {
                        opacity: 0.75;

                        input:hover {
                            text-shadow: none;
                        }
                    }
                }
            }

            .ac {
                background: url("/assets/sheet/shield-blue.webp") no-repeat center center;
                font-size: var(--font-size-26);
                grid-area: ac;
            }

            .shield-stats {
                grid-area: shield-data;

                ul {
                    align-items: center;
                    display: grid;
                    gap: 0.5rem;
                    grid-template-columns: repeat(3, 1fr);
                    margin: 0.5rem auto 0;
                    padding: 0 0.25rem;

                    li {
                        display: flex;
                        flex: 1;
                        gap: 0.5rem;

                        .shield-label {
                            margin-right: -0.5rem;
                            position: relative;

                            svg {
                                height: 1.25rem;

                                path {
                                    fill: var(--tertiary-light);
                                }

                                text {
                                    fill: var(--primary-dark);
                                }
                            }
                        }

                        .data-value {
                            @include input-border;
                            color: var(--color-pf-tertiary);
                            flex-basis: 3.125rem;
                            font-size: var(--font-size-14);
                            font-weight: normal;
                            height: 1.25rem;
                            margin-left: -0.5rem;
                        }
                    }
                }
            }

            .shield-max-status {
                display: inline-flex;
                flex-direction: column;
                grid-area: shield-footer;
                justify-content: center;
                justify-self: center;
                width: calc(100% - 6px);

                &.disabled {
                    opacity: 0.75;
                }

                .max {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    label {
                        white-space: normal;
                        text-align: center;
                        width: 5em;
                        margin-bottom: 0.25rem;
                    }

                    .data-value {
                        color: var(--color-pf-tertiary);
                        text-align: center;
                        font: normal var(--font-size-26) / 1em var(--serif);
                    }
                }

                .status {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.33rem;
                    color: var(--tertiary-light);
                    margin-top: 0.25rem;
                }
            }
        }

        .perception,
        .initiative {
            a.modifier {
                margin-right: 1rem;
            }

            select {
                flex: 0 0 8.25rem;
                margin-left: auto;
            }

            .button-group {
                margin-left: auto;
            }

            .tags {
                margin-top: var(--space-6);
            }
        }

        .perception {
            .pf-rank {
                margin-left: auto;
            }
        }

        ul.saves {
            @include p-reset;
            display: flex;

            li {
                align-items: center;
                border-left: 1px solid rgba(255, 239, 189, 0.18);
                flex: 1 1 auto;
                flex-direction: column;
                gap: 0;

                &:first-child {
                    border-left: none;
                }

                .sidebar_label {
                    font-weight: initial;
                    text-transform: capitalize;
                    font-size: var(--font-size-12);
                    border: none;
                    margin-bottom: 0.125rem;
                }

                .save-roll {
                    @include flex-center;
                    margin-top: 0.25rem;

                    .modifier {
                        margin: 0;
                        margin-left: 0.125rem;
                    }
                }
            }
        }

        ol.tags {
            flex-direction: row;
            li {
                box-shadow: inset 0 0 0 1px rgba(white, 0.5);
            }
        }
    }
}
