aside .sidebar {
    a.roll-icon.rest {
        padding-bottom: 0;
    }

    .class-dc {
        &.secondary {
            margin-top: 0.2em;
        }

        .classdc-rank {
            align-items: center;
            display: flex;
            gap: 0.5em;
        }
    }
}
