&.spellcasting {
    .spellcasting-entry {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.25em;
        padding-bottom: 1em;

        &:first-child {
            .action-header {
                justify-content: start;
            }
        }

        .rollable {
            .d20-svg {
                width: var(--font-size-14);
                height: var(--font-size-14);
                path {
                    fill: black;
                }
            }

            &:hover svg {
                @include rotate;
            }
        }

        .spell-ability-data {
            align-items: center;
            display: flex;
            flex: 1;
            gap: 1rem;
            margin: 0.5em 0.25rem;

            section {
                display: flex;
                align-items: center;
            }

            .rollable {
                cursor: pointer;
            }

            button {
                width: auto;
                line-height: 1.5em;
                i {
                    font-size: 0.9em;
                }

                // hardcoded alignment adjustments due to annoying font centering
                padding-top: 1px;
                margin-bottom: 1px;
            }

            .skill-score {
                font-family: var(--serif);
                font-weight: bold;
                font-size: 1rem;
                letter-spacing: -1px;
                line-height: 1;
                color: var(--secondary);
            }

            .statistic-values {
                display: flex;
                gap: 0.5rem;

                .skill-data {
                    display: flex;
                    gap: 0.25rem;
                    white-space: nowrap;
                }

                h4 {
                    white-space: nowrap;
                }

                .spell-attack {
                    cursor: pointer;
                    gap: 0.1rem;
                }
            }

            .focus-pool {
                cursor: pointer;
                gap: 0.25em;
                position: relative;
                img.pool-size {
                    border: none;
                    width: 34px;
                    height: 32px;
                }

                .pips {
                    display: flex;
                    font-size: var(--font-size-10);
                    gap: 1px;

                    i {
                        padding-bottom: 0.08rem;
                    }
                }

                h4 {
                    white-space: nowrap;
                }
            }

            .spell-ability {
                gap: 0.5em;
                margin-left: auto;

                .spell-tradition {
                    font-family: var(--body-serif);
                    font-weight: 600;
                }
            }

            .pf-rank {
                margin-bottom: 0.13rem;
            }
        }
    }

    .spellbook-empty {
        margin: 8px 0;
        background: none;
        border: none;
    }

    .pf-add-item-row {
        grid-column: span 4;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        a {
            width: 100%;
            margin-bottom: 12px;
        }
    }
}
