&.spellcasting {
    padding: 0;
    overflow-y: hidden;
    scrollbar-gutter: initial;

    nav.spell-collections a.rituals {
        flex-basis: 20%;
    }

    .spell-collections {
        overflow-y: auto;
        scrollbar-gutter: stable;
        padding: var(--space-8) var(--space-4) 0;

        ul.option-toggles {
            margin: var(--space-4) var(--space-4) 0;
        }

        > .tab {
            padding: var(--space-10) 0 0;

            &:first-child {
                padding-top: 0;
            }

            > ol {
                gap: var(--space-12);
            }
        }
    }

    .spellcasting-entry {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.25em;

        &:first-child {
            .action-header {
                justify-content: start;
            }
        }

        .rollable {
            .d20-svg {
                width: var(--font-size-14);
                height: var(--font-size-14);
                path {
                    fill: var(--color-text-dark-1);
                }
            }

            &:hover {
                text-shadow: none;
                svg {
                    @include die-spin;
                }
            }
        }

        .spell-ability-data {
            align-items: center;
            display: flex;
            flex: 1;
            gap: 1rem;
            margin: 0.5em var(--space-4);

            section {
                display: flex;
                align-items: center;
            }

            .skill-score {
                font: 700 var(--font-size-16) / 1 var(--serif);
                letter-spacing: -1px;
                color: var(--secondary);
            }

            h4 {
                margin: 0;
            }

            button.prepare-spells {
                font-family: var(--serif);
                font-size: var(--font-size-14);
            }

            .statistic-values {
                display: flex;
                gap: var(--space-8);

                .skill-data {
                    display: flex;
                    gap: var(--space-4);
                    white-space: nowrap;
                }

                h4 {
                    white-space: nowrap;
                }

                .rollable {
                    gap: 0.1rem;
                }
            }

            .focus-pool {
                cursor: pointer;
                gap: 0.25em;
                position: relative;

                img.pool-size {
                    border: none;
                    height: 2rem;
                    width: 2.125rem;
                }

                .pips {
                    display: flex;
                    font-size: var(--font-size-10);
                    gap: var(--space-1);

                    i {
                        padding-bottom: 0.08rem;
                    }
                }

                h4 {
                    white-space: nowrap;
                }
            }

            .spell-ability {
                gap: 0.5em;
                margin-left: auto;

                .spell-tradition {
                    font-family: var(--body-serif);
                    font-weight: 600;
                }
            }

            .pf-rank {
                margin-bottom: var(--space-2);
            }
        }
    }

    .spellbook-empty {
        margin: var(--space-8) 0;
    }

    button.create-entry {
        font: 500 var(--font-size-14) var(--serif);
        margin: 1rem 0 1.25rem;
        width: 100%;
    }
}
