<form class="{{cssClass}} crb-style" autocomplete="off" spellcheck="off" data-tooltip-class="">
    <aside>
        <div class="sidebar" data-group="dashboard" data-tab="sidebar">
            {{> "systems/pf2e/templates/actors/vehicle/sidebar.hbs"}}
        </div>
    </aside>
    {{> "systems/pf2e/templates/actors/vehicle/vehicle-header.hbs"}}
    <nav class="sheet-navigation" data-group="primary" data-tooltip-direction="UP">
        <span class="panel-title">{{localize "PF2E.Details"}}</span>
        <a class="item" data-tab="details" data-tooltip="PF2E.Details"><i class="fa-solid fa-dharmachakra"></i></a>
        <a class="item" data-tab="actions" data-tooltip="PF2E.TabActionsLabel"><span class="action-glyph">1</span></a>
        <a class="item" data-tab="inventory" data-tooltip="PF2E.TabInventoryLabel"><i class="fa-solid fa-box-open"></i></a>
        <a class="item" data-tab="description" data-tooltip="PF2E.TabDescriptionLabel"><i class="fa-solid fa-book-reader"></i></a>
        <a class="item" data-tab="effects" data-tooltip="PF2E.Item.Effect.Plural"><i class="fa-solid fa-person-rays"></i></a>
    </nav>
    <section class="sheet-body">
        <section class="sheet-content">
            {{> "systems/pf2e/templates/actors/vehicle/tabs/details.hbs"}}
            {{> "systems/pf2e/templates/actors/vehicle/tabs/actions.hbs"}}
            {{> "systems/pf2e/templates/actors/vehicle/tabs/inventory.hbs"}}
            {{> "systems/pf2e/templates/actors/vehicle/tabs/description.hbs"}}
            {{> "systems/pf2e/templates/actors/vehicle/tabs/effects.hbs"}}
        </section>
    </section>
</form>
