:root {
    --border-width: 1px;
}

/* Toolbar UI */
#controls .scene-control,
#controls .control-tool {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    padding: 2px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    background: var(--primary);
    background-image: url('../../assets/sheet/nav-item.png');
    background-size: contain;
    background-blend-mode: overlay;
    border-radius: 3px;

    border: 1px solid var(--body);
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px var(--tertiary),
        0 0 0 2px #9f725b,
        inset 0 0 3px #CC0000;
}
#controls .control-tools {
    left: 48px;
    top: 0;
}

#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
    position: relative;
    margin: auto 1px 10px;
    color: var(--tertiary);
    border: none;
    text-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    background-color: var(--secondary);
    background-blend-mode: luminosity;
    box-shadow: inset 0 0 0 1px var(--body),
        inset 0 0 0 2px rgba(255, 255, 255, 0.2);
}

@keyframes moveGradient {
    50% {
        background-position: 100% 100%;
    }
}

#controls .scene-control.active::after,
#controls .control-tool.active::after,
#controls .scene-control:hover::after,
#controls .control-tool:hover::after {
    position: absolute;
    content: '';
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
        45deg,
        var(--tertiary) 0%,
        #9f725b 25%,
        var(--tertiary) 90%,
        white 100%
    );
    background-size: 200% auto;
    background-position: 0 50%;
    animation: moveGradient 4s ease infinite;
    box-shadow: 0 0 0 1px #9f725b, 0 0 8px var(--tertiary);
    border-radius: 1px;
}

/* Map Navigation */
#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context {
    border: none;
    padding: 0;
    background-image: url('../../assets/dark_tire.png');
}

#navigation #scene-list .scene.view .scene-name,
#navigation #scene-list .scene.context .scene-name {
    border-style: solid;
    border-image-outset: 0;
    border-width: 9px;
    border-image: url('../../assets/sheet/corner-box.png') 9 repeat;
}

#navigation #scene-list .scene.gm {
    background-color: var(--alt);
    border: 1px solid #493C31;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5),
        inset 0 0 0 2px rgba(255, 255, 255, 0.2),
        inset 0 0 0 3px rgba(255, 255, 255, 0.1);
}

#navigation #nav-toggle {
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
}

#navigation #nav-toggle:hover {
    box-shadow: none;
}
