<section id="npc__weaknesses">
    <div class="header {{#unless data.traits.dv }} disabled {{/unless}}">
        <h4 class="header__title">{{ localize 'PF2E.WeaknessesLabel' }}</h4>

        {{#if options.editable }}
        <div class="weaknesses-controls controls">
            <a
                class="trait-edit edit"
                data-trait-selector="weaknesses"
                title="{{ localize 'PF2E.NPC.EditWeaknesses' }}"
            >
                <i class="fas {{#if data.traits.dv }}fa-edit {{else}}fa-plus{{/if}}"></i>
            </a>
        </div>
        {{/if}}
    </div>
    <div class="body tag-list">
        {{#each data.traits.dv as |weakness key|}}
        <div class="tag wrap weakness" data-weakness="{{weakness.type}}">{{ weakness.label }} {{ weakness.value }}</div>
        {{/each}}
    </div>
</section>

<section id="npc__resistances">
    <div class="header {{#unless data.traits.dr }} disabled {{/unless}}">
        <h4 class="header__title">{{ localize 'PF2E.ResistancesLabel' }}</h4>

        {{#if options.editable }}
        <div class="resistances-controls controls">
            <a
                class="trait-edit edit"
                data-trait-selector="resistances"
                title="{{ localize 'PF2E.NPC.EditResistances' }}"
            >
                <i class="fas {{#if data.traits.dr }}fa-edit {{else}}fa-plus{{/if}}"></i>
            </a>
        </div>
        {{/if}}
    </div>
    <div class="body tag-list">
        {{#each data.traits.dr as |resistance key|}}
        <div class="tag wrap resistance" data-weakness="{{resistance.type}}">
            {{ resistance.label }} {{ resistance.value }}{{#if resistance.exceptions}}
            ({{resistance.exceptions}}){{/if}}
        </div>
        {{/each}}
    </div>
</section>

<section id="npc__immunities">
    <div class="header{{#unless immunities}} disabled{{/unless}}">
        <h4 class="header__title">{{ localize 'PF2E.ImmunitiesLabel' }}</h4>

        {{#if options.editable }}
        <div class="immunities-controls controls">
            <a
                class="trait-edit edit"
                data-trait-selector="basic"
                data-config-types="immunityTypes"
                data-property="data.traits.di"
                title="{{ localize 'PF2E.NPC.EditImmunities' }}"
            >
                <i class="fas {{#if immunities}}fa-edit {{else}}fa-plus{{/if}}"></i>
            </a>
        </div>
        {{/if}}
    </div>

    <div class="body tag-list">
        {{#each immunities as |immunity key|}}
        <div class="tag wrap immunity" data-weakness="{{localize key}}">{{localize immunity}}</div>
        {{/each}}
    </div>
</section>
