<!-- TOGGLES -->
<section id="npc__toggles">
    <div class="header">
        <h4 class="header__title">{{ localize 'PF2E.TogglesLabel' }}</h4>
    </div>
    <div class="body actions-options">
        {{#each actor.data.toggles.actions as |toggle idx|}}
        <div class="actions-option">
            <label data-toggle-property="{{toggle.inputName}}" data-toggle-label="{{localize toggle.label}}">
                <input type="checkbox" name="{{toggle.inputName}}" {{checked toggle.checked}} />
                <span>{{localize toggle.label}}</span>
            </label>
        </div>
        {{/each}}
    </div>
</section>
