<!-- SENSES -->
<section id="npc__senses">
    <div class="header">
        <h4 class="header__title">{{ localize 'PF2E.NPC.SensesLabel' }}</h4>

        <div class="input-group" data-attribute="perception">
            <label class="rollable"><a>{{ localize "PF2E.PerceptionLabel" }}</a></label>
            <input
                class="modifier{{#if (gte data.attributes.perception.value 0)}} not-negative{{/if}}{{#if (gt data.attributes.perception.totalModifier data.attributes.perception.base)}} positive-modifier{{/if}}{{#if (lt data.attributes.perception.totalModifier data.attributes.perception.base)}} negative-modifier{{/if}}"
                type="number"
                name="data.attributes.perception.value"
                value="{{ data.attributes.perception.value }}"
                data-base-property="data.attributes.perception.base"
                data-display-value="{{ data.attributes.perception.value }}"
                data-dtype="Number"
                placeholder="0"
            />
            <span class="plus{{#if (lt data.attributes.perception.value 10)}} lt10{{/if}}"></span>
        </div>
    </div>
    <div class="body">
        {{# if options.editable }}
        <input
            name="data.traits.senses.value"
            type="text"
            value="{{ data.traits.senses.value }}"
            title="{{ data.traits.senses.value }}"
            data-dtype="String"
            placeholder="Special Senses"
        />
        {{else}}
        <span>{{ data.traits.senses.value }}</span>
        {{/if}}
    </div>
</section>
