<section id="npc__effects">
    <div class="header">
        <h4 class="header__title">{{localize "PF2E.EffectsLabel"}}</h4>
    </div>
    <div class="body">
        <div class="icons-list">
            {{#each conditions as |condition index|}}
            <div
                class="icon item effect"
                title="{{condition.name}}"
                data-item-id="{{condition._id}}"
                data-action-index="{{index}}"
            >
                <img class="icon__image item-image" src="{{condition.img}}" alt="{{condition.name}}" />
                <!-- <div class="icon__image item-image" style="background-image: url({{condition.img}})"></div> -->
            </div>
            {{/each}} {{#each effects as |effect|}} {{#if @first}}
            <div class="separator"></div>
            {{/if}}
            <div class="icon item effect" title="{{effect.name}}" data-item-id="{{effect._id}}">
                <img src="{{effect.img}}" alt="{{effect.name}}" class="icon__image" />
                <!-- <div class="icon__image item-image" style="background-image: url({{effect.img}})"></div> -->
            </div>
            {{/each}}
        </div>
    </div>
</section>
