<!-- ATTACKS -->
<section id="npc__attacks">
    <div class="header">
        <h4 class="header__title">{{ localize 'PF2E.NPC.Attacks'}}</h4>
        {{# if options.editable }}
        <div class="attacks-controls controls">
            <a class="attack-add item-create" data-type="melee" data-action-type="melee">
                <i class="fas fa-plus"></i>
                {{localize 'PF2E.NPCAttackMelee'}}
            </a>
            <a class="attack-add item-create" data-type="melee" data-action-type="ranged">
                <i class="fas fa-plus"></i>
                {{localize 'PF2E.NPCAttackRanged'}}
            </a>
        </div>
        {{/if}}
    </div>
    <div class="body">
        <ol class="attacks-list item-list">
            {{#each attacks as |attack index|}} {{> 'systems/pf2e/templates/actors/npc/partials/npc-attack.html'
            action=attack.attack traits=attack.traits actionId=index isEditable=../options.editable }} {{/each}}
        </ol>
    </div>
</section>
