<!-- SKILLS -->
<section id="npc__skills">
    <div class="header">
        <h4 class="header__title">{{ localize 'PF2E.SkillsLabel' }}</h4>

        {{# if options.editable }}
        <div class="skills-controls controls" for="data.skills">
            <a class="skills-edit edit" data-options="skill" title="{{ localize 'PF2E.NPC.EditSkills' }}">
                <i class="fas fa-edit"></i>
            </a>
        </div>
        {{/if}}
    </div>

    <div class="body">
        <div class="tag-list">
            {{#each data.sortedSkills as |skill id|}} {{#if skill.visible }}
            <div class="skill-entry tag" data-skill="{{id}}">
                <a class="rollable">{{skill.label}} {{numberFormat skill.value decimals=0 sign=true}}</a>
                {{#if skill.variants}} {{#each skill.variants as |variant variantId|}}
                <a class="rollable variant" data-skill="{{id}}" data-options="{{variant.options}}">
                    ({{ variant.label }})
                </a>
                {{/each}} {{/if}}
            </div>
            {{/if}} {{/each}}
        </div>
    </div>
</section>
