<!-- ABILITY SCORES -->
<section id="npc__ability">
    <div class="header">
        <h4 class="header__title">{{ localize 'PF2E.AbilityScoresHeader' }}</h4>
    </div>

    <div class="body grid">
        {{#each data.abilities as |ability id|}}
        <div class="grid__item npc__input" data-attribute="{{id}}">
            <label class="rollable"><a>{{ ability.localizedCode }}</a></label>
            <div class="input-wrapper">
                <input
                    class="modifier{{#if (gte ability.mod 0)}} not-negative{{/if}}"
                    type="number"
                    name="data.abilities.{{id}}.mod"
                    value="{{ability.mod}}"
                    data-dtype="Number"
                    placeholder="0"
                />
                <span class="plus{{#if (lt ability.mod 10)}} lt10{{/if}}"></span>
            </div>
        </div>
        {{/each}}
    </div>
</section>
