<form class="npc-sheet" autocomplete="off">
    <div class="side-bar">
        {{> 'systems/pf2e/templates/actors/npc/partials/npc-side-bar.html' }}
    </div>
    <div class="npc-body">
        {{> 'systems/pf2e/templates/actors/npc/partials/npc-header.html' }}

        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="main">{{ localize 'PF2E.NPC.MainTab'}}</a>
            <a class="item" data-tab="spells">{{ localize 'PF2E.NPC.SpellsTab'}}</a>
            <a class="item" data-tab="notes">{{ localize 'PF2E.NPC.NotesTab'}}</a>
        </nav>
        <section class="sheet-body">
            {{> 'systems/pf2e/templates/actors/npc/partials/npc-main-tab.html' }}
            {{> 'systems/pf2e/templates/actors/npc/partials/npc-spells-tab.html' }}
            {{> 'systems/pf2e/templates/actors/npc/partials/npc-notes-tab.html' }}
        </section>
    </div>
    <!--
    <div class="npc-sheet-body">
        <div class="npc-main-body">
            {{!-- Perception and senses --}}
            <div class="attribute" data-attribute="perception">
                <label class="attribute-label rollable"><a>{{ localize "PF2E.PerceptionLabel" }}</a></label>
                <input name="data.attributes.perception.base" type="text" value="{{ data.attributes.perception.readableValue }}" data-dtype="Number" placeholder="0"/>
                {{#each data.traits.senses as |sense key|}}
                <span class="sense-entry">{{sense.localizedName}}{{#if sense.value}} {{sense.value}}{{/if}}{{#if @last}}{{else}}, {{/if}}</span>
                {{/each}}
                {{# if options.editable }}
                <div class="senses-controls" style="flex: 0 0 32px;" for="data.traits.senses">
                    <a class="senses-edit" data-options="senses" title="{{ localize 'PF2E.NPC.EditSenses' }}"><i class="fas fa-edit"></i></a>
                </div>
                {{/if}}
            </div>
            {{!-- Languages --}}
            <div class="attribute" data-attribute="languages" for="data.traits.languages">
                <label class="attribute-label">{{ localize "PF2E.Languages" }}</label>
                {{#each data.traits.languages.localizedNames as |localizedName key|}}
                <span class="language-entry">{{localizedName}}{{#if @last}}{{else}}, {{/if}}</span>
                {{/each}}
                {{# if options.editable }}
                <div class="languages-controls" style="flex: 0 0 32px;" for="data.traits.languages">
                    <a class="languages-edit" data-options="languages" title="{{ localize 'PF2E.NPC.EditLanguages' }}"><i class="fas fa-edit"></i></a>
                </div>
                {{/if}}
            </div>
            {{!-- Skills --}}
            <div class="attribute" data-attribute="skills" for="data.npc_skills">
                <label class="attribute-label">{{ localize "PF2E.SkillsLabel" }}</label>
                {{#each data.skills as |skill id|}}
                {{#if (isNotZero skill.value) }}
                <div class="skill-entry" data-skill="{{id}}">
                    <a class="rollable">{{skill.label}} {{numberFormat skill.value decimals=0 sign=true}}{{#if @last}}{{else}}, {{/if}}</a>
                </div>
                {{/if}}
                {{/each}}
                {{# if options.editable }}
                <div class="skills-controls" style="flex: 0 0 32px;" for="data.npc_skills">
                    <a class="skills-edit" data-options="skill" title="{{ localize 'PF2E.NPC.EditSkills' }}"><i class="fas fa-edit"></i></a>
                </div>
                {{/if}}
            </div>
            
            {{!-- Ability Scores --}}
            <div class="attributes-list">
                {{#each data.abilities as |ability id|}}
                <div class="inline-attribute" data-attribute="{{id}}">
                    <label class="attribute-label rollable"><a>{{ ability.localizedCode }}</a></label>
                    <input type="text" name="data.abilities.{{id}}.mod" value="{{ numberFormat ability.mod decimals=0 sign=true }}" data-dtype="Number" placeholder="0"/>
                </div>
                {{/each}}
            </div>
            
            <div class="bottom-separator"></div>
            
            {{!-- DEFENSE --}}
            <div class="attributes-list">
                <div class="inline-attribute">
                    <label class="attribute-label">{{ localize "PF2E.ArmorClassShortLabel" }}</label>
                    <input type="text" name="data.attributes.ac.base" value="{{ data.attributes.ac.base }}" data-dtype="Number" placeholder="0"/>
                </div>
                
                {{#each data.saves as |save saveId|}}
                <div class="inline-attribute" data-save="{{saveId}}">
                    <label class="attribute-label rollable"><a>{{ localize save.labelShort }}</a></label>
                    <input type="text" name="data.saves.{{saveId}}.base" value="{{ numberFormat save.base decimals=0 sign=true }}" data-dtype="Number" placeholder="0"/>    
                </div>
                {{/each}}
            </div>
            <div class="attributes-list" style="flex-wrap: wrap;">
                <div class="inline-attribute">
                    <label class="attribute-label">{{ localize "PF2E.HitPointsShortLabel" }}</label>
                    <input type="text" name="data.attributes.hp.max" value="{{ data.attributes.hp.max }}" data-dtype="Number" placeholder="0"/>
                </div>
                
                {{!-- WEAKNESSES --}}
                {{#if (or (isNotEmptyList data.traits.dv) options.editable) }}
                <label class="attribute-label">{{ localize "PF2E.WeaknessesLabel" }}</label>
                {{#each data.traits.dv as |weakness key|}}
                <div class="weakness-entry" data-weakness="{{weakness.type}}">{{ weakness.label }} {{ weakness.value }}{{#if @last}}{{else}}, {{/if}}</div>
                {{/each}}
                {{#if options.editable }}
                <div class="weaknesses-controls" style="flex: 0 0 32px;" data-attribute="weaknessTypes" for="data.traits.dv">
                    <a class="weaknesses-edit" data-options="weaknessTypes" title="{{ localize 'PF2E.NPC.EditWeaknesses' }}"><i class="fas fa-edit"></i></a>
                </div>
                {{/if}}
                {{/if}}
                
                {{!-- RESITANCES --}}
                {{#if (or (isNotEmptyList data.traits.dr) options.editable) }}
                <label class="attribute-label">{{ localize "PF2E.ResistancesLabel" }}</label>
                {{#each data.traits.dr as |resistance key|}}
                <div class="resistance-entry" data-weakness="{{resistance.type}}">{{ resistance.label }} {{ resistance.value }}{{#if @last}}{{else}}, {{/if}}</div>
                {{/each}}
                {{#if options.editable }}
                <div class="resistances-controls" style="flex: 0 0 32px;" data-attribute="resistancesTypes" for="data.traits.dr">
                    <a class="resistances-edit" data-options="resistancesTypes" title="{{ localize 'PF2E.NPC.EditResistances' }}"><i class="fas fa-edit"></i></a>
                </div>
                {{/if}}
                {{/if}}
                
                {{!-- IMMUNITIES --}}
                {{#if (or (isNotEmptyList data.traits.di.labels) options.editable) }}
                <label class="attribute-label">{{ localize "PF2E.ImmunitiesLabel" }}</label>
                {{#each data.traits.di.labels as |label key|}}
                <div class="immunity-entry" data-weakness="{{immunity.type}}">{{ label }}{{#if @last}}{{else}}, {{/if}}</div>
                {{/each}}
                {{#if options.editable }}
                <div class="immunities-controls" style="flex: 0 0 32px;" data-attribute="immunitiesTypes" for="data.traits.di">
                    <a class="immunities-edit" data-options="immunitiesTypes" title="{{ localize 'PF2E.NPC.EditImmunities' }}"><i class="fas fa-edit"></i></a>
                </div>
                {{/if}}
                {{/if}}
            </div>
            
            
            <div class="bottom-separator"></div>
            {{!-- OFFENSE --}}
            <div class="attribute">
                <label class="attribute-label">{{ localize "PF2E.Speed" }}</label>
                <input type="text" name="data.attributes.speed.value" value="{{ data.attributes.speed.value }}" data-dtype="Number" placeholder="0"/><span style="margin-right: 6px;"> {{ localize "PF2E.Feet" }};</span>
                {{#each data.attributes.speed.otherSpeeds as |speed speedId|}}
                {{#if (isNotZero speed.value) }}
                <div class="speed-entry" data-speed="{{speed.type}}">
                    {{speed.label}} {{speed.value}} {{ localize "PF2E.Feet" }}{{#if @last}}{{else}}, {{/if}}</a>
                </div>
                {{/if}}
                {{/each}}
                {{#if options.editable }}
                <div class="speed-controls" style="flex: 0 0 32px;" data-attribute="speed" for="data.attributes.speed.otherSpeeds">
                    <a class="speed-edit" data-options="speed" title="{{ localize 'PF2E.NPC.EditSpeed' }}"><i class="fas fa-edit"></i></a>
                </div>
                {{/if}}
            </div>
            
            {{!-- Actions/features --}}
            {{#each actor.actions as |section sid|}}
            <ol class="actions-list">
                <li class="actions-header flexrow">
                    <div class="action-detail flexrow">{{ localize section.label }}</div>
                    <div class="action-detail action-traits"></div>
                    <div class="action-detail action-controls">
                        {{#if ../options.editable }}
                        <a class="action-add item-create" title="{{ localize 'PF2E.NPC.AddAction' }}" data-type="action" data-action-type="action"><i class="fas fa-plus"></i></a>
                        {{/if}}
                    </div>
                </li>
                {{#each section.actions as |action actionId|}}
                <li class="item action flexrow" data-action="{{action._id}}" data-item-name="{{action.name}}" data-item-id="{{action._id}}">
                    <div class="action-name item-name flexrow rollable">
                        <div class="item-image" style="background-image: url({{action.imageUrl}})"></div>
                        <h4><a>{{action.name}}<span class="activity-icon">{{action.glyph}}</span></a></h4>
                    </div>
                    <div class="action-detail action-traits">
                        
                    </div>
                    <div class="action-detail action-controls">
                        <a class="item-control item-edit" title="{{ localize 'PF2E.NPC.Edit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{ localize 'PF2E.NPC.Remove' }}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                
                {{/each}}
            </ol>
            {{/each}}
            
            {{#each actor.attacks as |section sid|}}
                <ol class="actions-list">
                    <li class="actions-header flexrow">
                        <div class="action-detail flexrow">{{ section.label }}</div>
                        <div class="action-detail action-traits"></div>
                        <div class="action-detail action-controls">
                            {{#if ../owner}}
                            <a class="action-add item-create" title="{{ localize 'PF2E.NPC.AddAction' }}" data-type="action" data-action-type="action"><i class="fas fa-plus"></i></a>
                            {{/if}}
                        </div>
                    </li>
                    {{#each section.items as |item iid|}}
                    <li class="item action flexrow" data-item-id="{{item._id}}">
                        <div class="action-name item-name flexrow rollable">
                            <div class="item-image" style="background-image: url({{item.imageUrl}})"></div>
                            <h4><a>{{item.name}}<span class="activity-icon">{{action.glyph}}</span></a></h4>
                        </div>
                        <div class="action-detail action-traits">                            
                            <div class="action-detail melee-buttons">
                                <span class="tag"><button data-action="npcAttack" >{{localize "PF2E.WeaponStrikeLabel"}} (+{{item.data.bonus.total}})</button></span>
                                <span class="tag"><button data-action="npcAttack2" >{{#unless item.data.isAgile}}-5{{else}}-4{{/unless}}</button></span>
                                <span class="tag"><button data-action="npcAttack3" >{{#unless item.data.isAgile}}-10{{else}}-8{{/unless}}</button></span>
                                <span class="tag">
                                    <button data-action="npcDamage">
                                        {{localize "PF2E.DamageLabel"}} (
                                        {{#if item.data.damageRolls}}
                                        {{#each item.data.damageRolls as |dmg index|}}
                                        {{dmg.damage}} {{dmg.damageType}}
                                        {{/each}}
                                        {{/if}}
                                        )
                                    </button>
                                </span>
                                <span class="tag"><button data-action="npcDamageCritical">{{localize "PF2E.CriticalDamageLabel"}}</button></span>
                                {{#if_all item.data item.data.attackEffects item.data.attackEffects.value}}
                                {{#each item.data.attackEffects.value as |attackEffect aID|}}
                                <span class="tag"><button class="npc-attackEffect" data-attackEffect="{{aID}}" data-action="npcAttackEffect">Plus {{attackEffect}}</button></span>
                                {{/each}}
                                {{/if_all}}
                                {{#if_all item.data item.data.attackEffects item.data.attackEffects.custom}}
                                <span class="tag"><button class="npc-attackEffect" data-attackEffect="{{aID}}" data-action="npcAttackEffect">Plus {{item.data.attackEffects.custom}}</button></span>
                                {{/if_all}}
                            </div>
                            
                        </div>
                        <div class="action-detail action-controls">
                            <a class="item-control item-edit" title="{{ localize 'PF2E.NPC.Edit'}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{ localize 'PF2E.NPC.Remove' }}"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
            </ol>
            {{/each}}
            
        </div>
    </div>
-->
</form>