<section class="metrics"{{#unless metrics.visible}} hidden{{/unless}}>
    <div class="threat" data-tooltip="{{metrics.threat.tooltip}}">{{{metrics.threat.label}}}</div>
    <div class="award" data-tooltip="{{metrics.award.tooltip}}">{{{metrics.award.label}}}</div>
</section>
