<section class="threat-award">
    <div class="threat" data-tooltip="{{threat.tooltip}}">{{{threat.label}}}</div>
    <div class="award" data-tooltip="{{award.tooltip}}">{{{award.label}}}</div>
</section>
