.sheet-navigation {
    min-width: 375px;
}

aside .sidebar {
    .save-roll input[type=number] {
        width: 3ch;
        font-size: 20px;
        height: 24px;
    }
    
    .hitpoints .container {
        display: grid;
    }
    .armor-class {
        grid: "ac hardness" 1fr;

        .shield {
            padding: 18px 20px 0 20px;
        }
        .hardness {
            background: url(../assets/sheet/shield-red.webp) no-repeat top center;
        }
    }
}

header.char-header {
    .char-details {
        font-size: 13px;
        font-weight: normal;
    }
}

.sheet-content {
    .tab {
        @import "details", "actions", "inventory", "description";
    }

    .directory-list {
        display: flex;
        flex-direction: column;
        @include p-reset;
        list-style: none;
        width: 100%;

        > h3, > li > h3 {
            font-size: 16px;
            font-weight: 500;
            font-family: var(--serif);
            line-height: 1;
            color: white;
            @include p-reset;
            margin-left: 8px;
        }

        h4 {
            @include p-reset;
        }

        .item {
            ol {
                list-style: none;
            }
        }

        .action-header {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin-top: 8px;
            margin-left: 0;
            padding: 0;
            padding-bottom: 2px;
            height: 32px;
            border: none;

            h3 {
                color: white;
                flex: 1 1 100%;
            }

            .item-controls {
                color: var(--primary);
                font-size: 12px;
                flex: 1 0 auto;
                a + a {
                    margin-left: 4px;
                }
            }

            &:first-child {
                margin-top: 0;
            }

            & + li {
                border-top: none;
            }
        }
    }
}

// Grid-positions
.row-nr-1 { grid-row: 1/2; }
.row-nr-2 { grid-row: 2/3; }
.row-nr-3 { grid-row: 3/4; }
.span-2-columns { grid-column-end: span 2; }

// Flex-positions
.flexitem-1 {
    flex: 1 1 10%
}
.flexitem-5 {
    flex: 5 1 50%
}
.flexitem-full {
    flex: 100%
}
