.sheet-navigation {
    min-width: 375px;
}

aside .sidebar {
    .save-roll input[type=number] {
        width: 3ch;
        font-size: var(--font-size-20);
        height: 24px;
    }

    .hitpoints .container {
        display: grid;
    }

    .armor-class {
        grid: "ac hardness" 1fr;

        .shield {
            padding: 18px 20px 0 20px;
        }
        .hardness {
            background: url("/assets/sheet/shield-red.webp") no-repeat top center;
        }
    }

    li.tag {
        font-size: var(--font-size-10);
    }
}

header.char-header {
    .tags select {
        font-family: var(--sans-serif);
        font-size: var(--font-size-12);
        text-transform: uppercase;
    }

    .char-details {
        font-size: var(--font-size-13);
        font-weight: normal;
    }
}

.sheet-content > .tab {
    &:not(.inventory), .inventory .inventory-list {
        @include scrollbar;
        flex-grow: 1;
        overflow: hidden scroll;
    }

    &.details {
        .vehicle-details {
            display: grid;
            grid: "img details" 1fr/120px 1fr;
            min-width: 330px;

            .frame {
                margin-left: 5px;

                .actor-image {
                    margin-top: 8px;
                    max-height: 90%;
                    object-fit: contain;
                    border-radius: 0;
                    border: none;
                    box-shadow: 0 0 0 1px #918c88, 0 0 0 2px #e1d8cf, 0 0 0 3px #a98f39, inset 0 0 8px rgba(0, 0, 0, 0.5), 0 0 8px black;
                }
            }

            .image-container {
                [data-action=show-image] {
                    bottom: 3px;
                    right: 1px;
                }
            }

            .detail-sheet {
                display: grid;
                grid: repeat(2, 42px) / 3fr 2fr;
                grid-row-gap: 8px;
                padding-left: 12px;
            }

            .detail-small {
                display: flex;
            }
        }

        .vehicle-properties {
            display: flex;
            flex-wrap: wrap;
            padding-top: 8px;
        }

        .vehicle-properties > div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 8px;
        }

        .vehicle-properties > div > span {
            width: 100%;
        }

        .detailsInput {
            margin-bottom: 8px;
        }
    }

    &.effects {
        @import 'effects';
        @import 'header';

        ol.directory-list {
            @include p-reset;
            display: flex;
            flex-direction: column;
            list-style: none;
            width: 100%;

            h4 {
                @include p-reset;
            }

            .item {
                ol {
                    list-style: none;
                }
            }
        }
    }
}

input.adjustable:not(:focus),
span.adjustable {
    &.adjusted-higher {
        color: $adjusted-higher;
    }

    &.adjusted-lower {
        color: $adjusted-lower;
    }
}

.inventory {
    margin-bottom: 0.6rem;
}

// Grid-positions
.row-nr-1 { grid-row: 1/2; }
.row-nr-2 { grid-row: 2/3; }
.row-nr-3 { grid-row: 3/4; }
.span-2-columns { grid-column-end: span 2; }

// Flex-positions
.flexitem-1 {
    flex: 1 1 10%
}
.flexitem-5 {
    flex: 5 1 50%
}
.flexitem-full {
    flex: 100%
}
