.inventory {
    .item-controls {
        flex: 0 0 100px;
    }

    .inventory-list, .item-list {
        border: 1px solid var(--alt);
        border-top: none;
        height: calc(100% - 60px);
    }

    .currency, .wealth {
        margin: 0 0.5rem auto;
    }

    .wealth {
        margin-bottom: 0.5rem;
    }

    .inventory-header {
        @include button;
        margin-top: 8px;
        &:first-child {
            margin-top: 0;
        }
    }
}
