<template class="compendium-search-match">
    <li class="match" >
        <div class="thumbnail"><img /></div>
        <a class="name"></a>
        <span class="details"></span>
    </li>
</template>
