<template class="compendium-search-match">
    <li class="match">
        <div class="thumbnail"><img /></div>
        <a class="name" data-action="openSheet"></a>
        <a class="pack" data-action="activateEntry"><i class="fa-solid fa-book-atlas" inert></i></span>
    </li>
</template>
