#darkness-adjuster {
    background: none;
    box-shadow: 0 0 10px black;
    height: 38px !important;

    .window-header {
        display: none;
    }

    .window-content {
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid black;
        border-radius: 5px;
        padding: 6px 12px 0;
    }

    .slider {
        height: 6px;

        .noUi-base {
            background: #ecc1b3;
            cursor: pointer;

            .noUi-origin .noUi-handle {
                background: none;
                border: none;
                box-shadow: none;
                color: white;
                font-size: var(--font-size-16);
                height: 14px;
                width: 14px;
                top: -5px;
                right: -7px; // Half width
                text-shadow: 0 0 4px black;

                &.threshold_bright-light, &.threshold_darkness {
                    pointer-events: none;
                }

                &.threshold_darkness {
                    font-size: var(--font-size-14);
                }

                &.darkness-level {
                    background: #c85019;
                    border: 1px solid black;
                    border-radius: 2px;
                    box-shadow: 1px 1px 4px black;
                    height: 12px;
                    width: 12px;
                    right: -6px; // Half width
                    top: -4px;

                    .noUi-touch-area {
                        cursor: grab;
                    }
                }

                &.darkness-level:active .noUi-touch-area {
                    cursor: grabbing;
                }

                &::before, &::after {
                    background: none;
                }

                i.fa-solid {
                    cursor: default; // Change to pointer when these become adjustable
                    left: -1px;
                    opacity: 0.6;
                    position: absolute;
                    top: 0;
                }
            }

            .noUi-connect {
                &.range {
                    &_bright-light {
                        background: #fdfbd3;
                    }
                    &_darkness {
                        background: #16193a;
                    }
                }
            }
        }

        .noUi-pips {
            height: 12px;
            .noUi-marker {
                &.noUi-marker-large {
                    height: 12px;
                }
            }
            .noUi-value {
                display: none;
            }
        }
    }

    .synchronized .slider {
        .noUi-base {
            cursor: not-allowed;
        }

        .message {
            display: flex;
            justify-content: center;
            position: relative;
            top: 0.5em;
            width: 100%;

            span {
                color: var(--color-text-light-1);
                text-shadow: 1px 1px black;
                z-index: 1;
            }
        }

        .noUi-origin .noUi-handle {
            cursor: not-allowed;

            &.darkness-level {
                background: var(--color-disabled);
                border: none;
                box-shadow: none;

                .noUi-touch-area, &:active .noUi-touch-area {
                    cursor: inherit;
                }
            }


            i.fas {
                cursor: inherit;
            }
        }

        .noUi-pips {
            visibility: hidden;
        }
    }
}
