@use "sass:color";
@import "darkness-adjuster", "sheet", "token-config";

#scene-controls li button.gm-vision {
    $gm-vision: #d1ccff;
    --control-bg-color: #{rgba(color.adjust($gm-vision, $lightness: -30%), 0.3)};
    --control-icon-color: #{color.adjust($gm-vision, $lightness: 5%)};

    &:not([aria-pressed="true"]) {
        --control-border-color: #{color.adjust($gm-vision, $lightness: -20%)};
    }
}
