@import "darkness-adjuster", "sheet", "token-config";

#controls ol.control-tools > li:has(> i.gm-vision) {
    $gm-vision: #d1ccff;
    background: rgba(darken($gm-vision, 30), 0.3);
    color: #{lighten($gm-vision, 5)};
}
