@use "sass:color";
@import "darkness-adjuster", "sheet", "token-config";

#controls ol.control-tools > li:has(> i.gm-vision) {
    $gm-vision: #d1ccff;
    background: rgba(color.adjust($gm-vision, $lightness: -30%), 0.3);
    color: #{color.adjust($gm-vision, $lightness: 5%)};
}
