.scene-sheet {
    nav .action-glyph {
        font-size: var(--font-size-15);
    }

    span.range-value.disabled {
        border: none;
        color: #777;
    }

    button.automation-settings {
        align-self: end;
        display: flex;
        margin: -1px 0 -1px 4px;
        padding: 0.3125rem 0.5em;

        > i {
            margin: 0;
        }
    }
}
