.scene-sheet {
    nav .action-glyph {
        font-size: var(--font-size-15);
    }

    span.range-value.disabled {
        border: none;
        color: #777;
    }

    button.automation-settings {
        margin: -1px 0 -1px 4px;
    }
}
