.app.token-sheet {
    .tab.active[data-tab="appearance"] {
        fieldset {
            border: 1px solid #b5b3a4;
            > legend {
                font-size: var(--font-size-15);
                color: #333;
            }
            input[type="number"] {
                max-width: 60px;
                text-align: center;
                &:disabled {
                    border: none;
                    color: var(--color-text-dark-6);
                }
            }

            select.alternate-images {
                max-width: 20em;
            }

            &:last-child {
                margin: 6px 0;
            }
        }
    }

    .tab[data-tab="vision"] {
        .disabled[data-tab] {
            color: var(--color-text-dark-6);
            pointer-events: none;
        }

        a.managed-by-rbv {
            padding-left: 0.33em;
        }
    }

    .form-group.children-disabled .range-value {
        border: none;
        background-color: rgba(0, 0, 0, 0.05);
        color: #777;
    }
}
