.crb-style section.window-content {
    padding: 0;
}

.crb-style form {
    all: initial;
    display: grid;
    grid:
        'sidebar header' 100px
        'sidebar content' auto
        / 200px 1fr;
    input {
        all: initial;
    }
    aside {
        grid-area: sidebar;
    }
    section.header {
        grid-area: header;
    }
    section.content {
        grid-area: content;
    }
}
