header.char-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-light);

    .char-details {
        @include micro;
        margin-left: 8px;

        h1.char-name {
            margin: 0;
            border: none;
            span.non-editable {
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0;
                text-shadow: none;
                text-rendering: auto;
                &.gender {
                  font-size: var(--font-size-14);
                }
            }
            input[type='text'], span.non-editable {
                font-family: var(--serif);
                font-weight: 500;
                font-size: var(--font-size-24);
                color: var(--text-light);
                line-height: calc(1em + 1px);
                border-bottom: 1px solid transparent;
                height: 26px;
                &:focus {
                    box-shadow: none;
                    border-bottom: 1px solid var(--text-light);
                }
            }
        }

        h2.non-editable.ancestry-class {
            font-family: var(--serif);
            border-bottom: none;
            margin-bottom: 0;
            font-weight: 400;
        }
    }

    .char-level {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 4px;
        .level {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 43px;
            width: 40px;
            background: url("/assets/sheet/level-badge.webp") no-repeat;
            background-size: 40px 43px;
            z-index: 2;
            font-size: 0;
            padding-top: 2px;
            label {
                color: var(--sidebar-label);
                @include micro;
                line-height: 1.5;
            }
            input {
                font-family: var(--serif);
                font-size: var(--font-size-22);
                font-weight: 400;
                color: var(--text-light);
                line-height: calc(1em + 1px);
                height: 24px;
            }
            label,
            input {
                margin-left: 1px;
                text-align: center;
            }
        }
    }
}
