@import "character/attribute-builder";
@import "iwr-editor";

.actor.sheet section.window-content {
    @import "../reset";
    font-family: var(--sans-serif);
    overflow: hidden;
    padding: 0;

    h1,
    h2,
    h3,
    h4 {
        font-weight: 600;
    }

    a.disabled {
        cursor: default;

        &:hover {
            text-shadow: none;
        }
    }

    .drag-handle {
        cursor: hand;
    }

    i.fa-info-circle {
        cursor: help;
    }

    .image-container {
        position: relative;

        .hover-icon {
            --shadow-color: var(--color-text-dark-1);

            color: var(--color-text-light-0);
            bottom: 0;
            display: none;
            font-size: var(--font-size-16);
            padding: var(--space-2);
            position: absolute;
            right: 0;
            text-shadow:
                0 0 3px var(--shadow-color),
                0 0 5px var(--shadow-color),
                0 0 8px var(--shadow-color);
            &:hover {
                --shadow-color: var(--color-pf-primary);
            }
        }

        &:hover .hover-icon {
            display: flex; // used instead of block to avoid whitespace
        }
    }

    @import "inventory";
    @import "item-summary";

    .item-image {
        display: flex;
        flex: 0 0 1.5rem;
        font-size: var(--font-size-16);
        height: 1.5rem;
        position: relative;

        &.framed {
            background-color: var(--tertiary);

            img {
                border-radius: 2px;
            }

            &,
            i {
                @include frame-icon;
            }
        }

        img {
            border: none;
            border-radius: 0;
        }

        i {
            box-shadow: inset 0 0 4px rgba(black, 0.5);
            color: var(--text-dark);
            display: none;
            height: 100%;
            position: absolute;
            width: 100%;
        }

        &:hover {
            text-shadow: none;

            i {
                align-items: center;
                background: #f1eee9;
                display: flex;
                justify-content: center;
            }
        }
    }

    .size-select {
        background-color: var(--color-bg-size);
        border: 2px solid var(--color-border-trait);
        color: var(--color-text-trait);
    }

    .rarity-select {
        border: 2px solid var(--color-border-trait);
        color: var(--color-text-trait);

        &.common {
            background-color: var(--color-rarity-common);
        }

        &.uncommon {
            background-color: var(--color-rarity-uncommon);
        }

        &.rare {
            background-color: var(--color-rarity-rare);
        }

        &.unique {
            background-color: var(--color-rarity-unique);
        }
    }

    button.blue {
        align-items: center;
        background: var(--color-pf-secondary);
        border-radius: 2px;
        border: 1px solid var(--color-pf-secondary-lighter);
        box-shadow: inset 0 0 0 1px rgba(black, 50%);
        color: var(--text-light);
        display: flex;
        font-weight: 500;
        gap: 0.25em;
        justify-content: center;
        line-height: 1.8em;
        margin: 0;
        padding: 0 0.5em;
        width: auto;

        &:disabled {
            background: rgba(black, 0.1);
            border: none;
            box-shadow: none;
            color: var(--color-disabled);
            pointer-events: none;
        }

        &:hover {
            border-color: transparent;
            text-shadow: 0 0 0.1em var(--text-light);
        }
    }

    ul.comma-separated {
        display: inline;
        list-style: none;
        margin: 0 0 var(--space-3);
        padding: 0;

        li {
            display: inline;
            margin: 0;

            &::after {
                content: ",";
            }

            &.details-follow::after {
                content: ";";
            }

            &:last-child::after {
                content: "";
            }
        }

        &.senses {
            text-transform: lowercase;
        }
    }

    form.crb-style {
        display: grid;
        grid:
            "sidebar header" 4.625rem
            "sidebar nav" minmax(min-content, max-content)
            "sidebar content" 1fr
            / 14.375rem 1fr;

        font-family: var(--body-serif);

        background: url("/assets/sheet/header.webp"), url("/assets/sheet/background.webp");
        background-repeat: repeat-x, no-repeat;
        background-size:
            auto 5.625rem,
            cover;
        background-attachment: local;
        height: 100%;

        .d20-svg {
            width: var(--font-size-19);
            height: var(--font-size-19);
        }

        @import "header";

        .char-header {
            grid-area: header;
            padding-right: 1rem;
        }

        .sheet-navigation {
            grid-area: nav;
        }

        .sheet-body {
            grid-area: content;
            position: relative;

            ol {
                list-style: none;
            }

            .sheet-content,
            .sheet-content .inventory {
                bottom: 0;
                display: flex;
                flex-direction: column;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }

            .sheet-content {
                color: var(--text-dark);

                > .tab {
                    padding: var(--space-10) var(--space-10) 0;
                    display: none;

                    &.active {
                        display: initial;
                    }
                }

                @import "spell-collection";

                ul.option-toggles {
                    @include frame-elegant;
                    display: flex;
                    flex-flow: column wrap;
                    list-style: none;
                    margin-bottom: var(--space-8);
                    padding: var(--space-8) 1rem;

                    > li {
                        align-items: center;
                        display: flex;
                        height: 1.5rem;
                        width: 100%;

                        label {
                            align-items: center;
                            display: flex;
                            gap: var(--space-4);

                            input[type="checkbox"] {
                                height: 1.125rem;
                                margin: 0;
                                padding: 0;
                            }

                            .unchecked-disabled {
                                color: var(--color-text-dark-inactive);
                            }

                            select {
                                margin-left: 0.25em;
                            }
                        }
                    }
                }

                .directory-list {
                    > h3,
                    > li > h3 {
                        color: var(--text-light);
                        font: 500 var(--font-size-16) / 1 var(--serif);
                        margin: 0 0 0 var(--space-8);
                        padding: 0;
                    }

                    .action-header {
                        align-items: center;
                        background: var(--color-pf-primary);
                        border: none;
                        border-radius: 0.25em;
                        box-shadow:
                            inset 0 0 0 1px rgb(0 0 0 / 30%),
                            inset 0 0 0 2px rgb(255 255 255 / 20%);
                        display: flex;
                        flex-basis: 100%;
                        flex-wrap: nowrap;
                        height: 1.75rem;
                        justify-content: space-between;
                        margin-left: 0;
                        margin-top: var(--space-8);
                        padding: 0 0.5em;
                        width: 100%;

                        &:first-child {
                            margin-top: 0;
                        }

                        & + li {
                            border-top: none;
                        }

                        .drag-handle {
                            color: var(--text-light);
                            flex-basis: 0;
                            margin-right: 0.25em;

                            i {
                                padding-top: 0.25em;
                            }
                        }

                        .item-controls {
                            color: var(--text-light);
                            flex: 1 0 auto;
                            font: 0.85em var(--sans-serif);
                            letter-spacing: 0.05em;
                            margin-left: auto;
                            max-width: fit-content;
                            text-transform: uppercase;
                            font-size: var(--font-size-12);
                        }

                        h3,
                        h4 {
                            color: var(--text-light);
                            flex: 1 1 100%;
                            margin-bottom: 0;
                            font-size: var(--font-size-16);

                            input.item-name-input {
                                color: var(--text-light);
                                max-width: 100%;
                                font-weight: 500;

                                &:read-only {
                                    pointer-events: none;
                                }
                            }
                        }

                        h4 {
                            font-size: var(--font-size-14);
                        }
                    }
                }

                .tab.actions {
                    @import "tabs/actions";
                }

                footer {
                    @include micro;
                    color: var(--color-pf-primary);
                    text-align: right;
                    line-height: 1.4;
                    margin: 1em 1em 0;
                }
            }
        }

        /* Navigation */
        @import "nav";

        section.major > header,
        section.major > .subsection > header {
            border-bottom: 1px solid var(--color-border-divider);
            color: var(--color-pf-primary);
            font: 600 var(--font-size-16) / 1 var(--serif);
            position: relative;
            margin: var(--space-8) 0;

            a {
                color: var(--color-text-dark-primary);
                font-size: var(--font-size-12);
            }

            & > button,
            & > .controls {
                position: absolute;
                bottom: calc(-1 * var(--space-1));
                right: 0;
            }

            .controls {
                display: flex;
            }

            button {
                background: transparent;
                border-radius: 2px 2px 0 0;
                border: 1px solid var(--color-border-divider);
                color: var(--color-pf-primary);
                cursor: pointer;
                font: 500 var(--font-size-12) / 1 var(--sans-serif);
                height: 1.25rem;
                margin: 0;
                outline: none;
                text-transform: uppercase;
                width: auto;

                &.has-unallocated {
                    @include requires-user-attention;
                }
            }
        }

        section.major > .subsection {
            flex-wrap: wrap;
            margin-bottom: var(--space-12);

            header {
                display: flex;
                flex-basis: 100%;
                margin-top: 0;
            }
        }

        /* Read-Only Sheet */
        &.limited {
            @import "limited";
        }

        input.adjusted:not(:focus) {
            font-weight: 700;
            color: $adjusted-higher;
        }

        button.tag:disabled {
            background-color: var(--color-text-dark-inactive);
            cursor: not-allowed;
        }

        .tags .tag.edit-btn {
            align-items: center;
            border-radius: 0;
            display: flex;
            justify-content: center;

            a {
                display: inline-flex;

                svg {
                    height: var(--space-9);
                    width: auto;
                }
            }
        }
    }

    /* Mystification data revealed to GMs */
    .gm-mystified-data {
        opacity: 0.75;
    }

    @import "coinage";
}

.actor.sheet {
    &.character section.window-content {
        @import "character/attack-popout";

        .crb-style {
            @import "character";
        }
    }

    &.vehicle .crb-style {
        @import "vehicle";
    }
}

@import "spell-preparation";

/* Actor-type Imports */
@import "familiar";

@import "hazard";

@import "npc";

@import "loot";

@import "party";

@import "army";
