.default section.window-content {
    padding: 0;
    overflow: hidden;
}

$header-height: 89px; /* Adjust height of the header */

@import "character/attribute-builder";
@import "iwr-editor";

.actor.sheet {
    .image-container {
        position: relative;

        .hover-icon {
            display: none;
            font-size: var(--font-size-16);
        }

        &:hover .hover-icon {
            display: block;
        }

        [data-action="show-image"] {
            bottom: 0.25rem;
            position: absolute;
            right: 0.025rem;
        }
    }

    @import "../reset";
    @import "item-summary";
    @import "inventory";

    a.disabled {
        cursor: default;

        &:hover {
            text-shadow: none;
        }
    }

    i.fa-info-circle {
        cursor: help;
    }

    .item-image {
        cursor: pointer;
        display: flex;
        flex: 0 0 1.5rem;
        font-size: var(--font-size-16);
        height: 1.5rem;
        position: relative;

        &.framed {
            background-color: var(--tertiary);

            img {
                border-radius: 2px;
            }

            &,
            i {
                @include frame-icon;
            }
        }

        img {
            border: none;
            border-radius: 0;
        }

        i {
            box-shadow: inset 0 0 4px rgba(black, 0.5);
            color: var(--text-dark);
            display: none;
            height: 100%;
            position: absolute;
            width: 100%;
        }

        &:hover {
            i {
                align-items: center;
                background: #f1eee9;
                display: flex;
                justify-content: center;
            }
        }
    }

    .alignment-select {
        background-color: var(--color-bg-alignment);
        border: 2px solid var(--color-border-trait);
        color: var(--color-text-trait);
    }

    .size-select {
        background-color: var(--color-bg-size);
        border: 2px solid var(--color-border-trait);
        color: var(--color-text-trait);
    }

    .rarity-select {
        border: 2px solid var(--color-border-trait);
        color: var(--color-text-trait);

        &.common {
            background-color: var(--color-rarity-common);
        }

        &.uncommon {
            background-color: var(--color-rarity-uncommon);
        }

        &.rare {
            background-color: var(--color-rarity-rare);
        }

        &.unique {
            background-color: var(--color-rarity-unique);
        }
    }

    &.character {
        @import "character/attack-popout";
    }

    &.character .crb-style {
        @import "character";
    }

    &.vehicle .crb-style {
        @import "vehicle";
    }

    .crb-style {
        display: grid;
        grid:
            "sidebar header" 75px
            "sidebar nav" minmax(min-content, max-content)
            "sidebar content" 1fr
            / 230px 1fr;

        font-family: var(--body-serif);

        background: url("/assets/sheet/header.webp"), url("/assets/sheet/background.webp");
        background-repeat: repeat-x, no-repeat;
        background-size:
            auto $header-height,
            cover;
        background-attachment: local;
        height: 100%;

        .d20-svg {
            width: 19px;
            height: 19px;
        }

        @import "sidebar", "header";

        .char-header {
            grid-area: header;
            padding-right: 1rem;
        }

        .sheet-navigation {
            grid-area: nav;
            margin-left: -2px;
        }

        .sheet-body {
            grid-area: content;
            position: relative;
            z-index: 0;

            ol {
                list-style: none;
            }

            .sheet-content,
            .sheet-content .inventory {
                bottom: 0;
                display: flex;
                flex-direction: column;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }

            .sheet-content {
                color: var(--text-dark);

                > .tab {
                    padding: 0.6rem 0.6rem 0;
                    display: none;

                    &.active {
                        display: initial;
                    }
                }

                @import "spell-collection";

                ol.directory-list {
                    > h3,
                    > li > h3 {
                        font-size: 1rem;
                        font-weight: 500;
                        font-family: var(--serif);
                        line-height: 1;
                        color: var(--text-light);
                        @include p-reset;
                        margin-left: 8px;
                    }

                    .action-header {
                        align-items: center;
                        background: var(--primary);
                        border: none;
                        border-radius: 0.25em;
                        box-shadow:
                            inset 0 0 0 1px rgb(0 0 0 / 30%),
                            inset 0 0 0 2px rgb(255 255 255 / 20%);
                        display: flex;
                        flex-basis: 100%;
                        flex-wrap: nowrap;
                        height: 32px;
                        justify-content: space-between;
                        margin-left: 0;
                        margin-top: 8px;
                        padding: 0 0.5em;
                        position: relative;
                        width: 100%;
                        z-index: 2;

                        &:first-child {
                            margin-top: 0;
                        }

                        & + li {
                            border-top: none;
                        }

                        .drag-handle {
                            cursor: move;
                            color: var(--text-light);
                            flex-basis: 0;
                            margin-right: 0.25em;
                            i {
                                padding-top: 0.25em;
                            }
                        }

                        .item-controls {
                            color: var(--text-light);
                            flex: 1 0 auto;
                            font: 0.85em var(--sans-serif);
                            letter-spacing: 0.05em;
                            margin-left: auto;
                            max-width: fit-content;
                            text-transform: uppercase;
                            font-size: var(--font-size-12);
                        }

                        h3 {
                            color: var(--text-light);
                            flex: 1 1 100%;
                            margin-bottom: 0;
                            font-size: var(--font-size-16);

                            input.item-name-input {
                                color: var(--text-light);
                                max-width: 100%;
                                font-weight: 500;

                                &:read-only {
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }

                .tab.actions {
                    @import "tabs/actions";
                }

                footer {
                    @include micro;
                    color: var(--primary);
                    text-align: right;
                    line-height: 1.4;
                    margin: 1em 1em 0;
                }
            }
        }

        /* Navigation */
        @import "nav";

        /* Page structure elements */
        .stroke-header {
            position: relative;

            svg {
                position: absolute;
                fill: var(--primary);
            }

            h3 {
                position: relative;
            }
        }

        /* Read-Only Sheet */
        &.limited {
            @import "limited";
        }

        input {
            &.adjusted:not(:focus) {
                font-weight: 700;
                color: $adjusted-higher;
            }
        }

        button.tag:disabled {
            cursor: not-allowed;
            background-color: var(--color-text-dark-inactive);
        }

        .tags .tag.edit-btn {
            align-items: center;
            border-radius: 0;
            display: flex;
            justify-content: center;

            a {
                display: inline-flex;
                svg {
                    height: 9px;
                    width: auto;
                }
            }
        }
    }
}

@import "spell-preparation";
@import "coinage";

/* Actor-type Imports */
@import "familiar";

@import "hazard";

@import "npc";

@import "loot";

@import "party";

/* Mystification data revealed to GMs */
.gm-mystified-data {
    opacity: 0.75;
}
