// Base inventory stylings
.inventory {
    --border-color: var(--alt);

    ol:not(.currency) {
        @include p-reset;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .item-name {
        display: flex;
        align-items: center;
        font-weight: 500;
        flex: 2;
        gap: 4px;
        padding-right: 4px;

        h3,
        h4 {
            margin: auto auto auto 0;
            line-height: var(--font-size-12);
            padding: 2px;
            word-break: break-word;
            cursor: pointer;

            &:hover {
                color: var(--primary);
            }
        }

        .item-image {
            box-shadow: inset 0 0 0 1px var(--tertiary);
            img {
                border-radius: 0;
            }
        }

        .size {
            font-size: 0.8em;
            color: var(--alt);
            margin: 0;
        }

        .item-charges {
            color: var(--sub);
        }
    }

    .inventory-list, .inventory-items {
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;

        & > li:nth-of-type(even) {
            background-color: rgba($alt-color, 0.1);
        }

        .list-row {
            &:last-child {
                .item-summary {
                    border-bottom: none;
                }
            }
        }

        .temporary-item {
            background-color: #0005ff1d;
        }
    }

    .inventory-list {
        @include scrollbar;
        height: calc(100% - 60px);
        padding-right: 0.15rem;
    }

    .item-quantity,
    .item-weight,
    .item-controls,
    .item-sell-value {
        @include flex-center;
        flex: 0 0 68px;
    }

    .item-sell-value {
        justify-content: flex-end;
        padding-right: 3px;
    }

    .item-quantity {
        justify-content: space-around;

        .item-decrease-quantity,
        .item-increase-quantity {
            @include flex-center;
            font-family: var(--sans-serif-monospace);
            height: 100%;
            text-align: center;
            width: 18px;
        }
    }

    .item-weight {
        flex: 0 0 36px;
        font-weight: 500;
    }

    .item-controls {
        flex: 0 0 90px;
        font-size: var(--font-size-12);
        gap: 1px;
        justify-content: flex-end;
    }

    .inventory-header {
        align-items: center;
        background-color: var(--alt);
        color: white;
        display: flex;
        font-family: var(--sans-serif);
        font-size: var(--font-size-10);
        justify-content: flex-end;
        letter-spacing: .05em;
        line-height: 1;
        padding: 4px 0;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
        width: 100%;

        h3 {
            font-size: var(--font-size-14);
            text-transform: capitalize;
            text-shadow: 0 0 2px rgba(black, 0.75);
            margin: 2px;
            margin-left: 4px;
            cursor: default;
            &:hover {
                color: white;
            }
        }

        .item-name {
            padding-left: 4px;
        }

        .item-sell-value,
        .item-quantity,
        .item-weight {
            @include flex-center;
        }

        .item-invested-total {
            flex: none;
            margin-right: 1em;
        }

        .item-controls {
            padding-right: 0.4em;
        }

        .overinvested {
            color:orange;
            text-shadow: 1px 1px 0px black;
        }
    }

    .inventory-items {
        border: 1px solid var(--border-color);
        border-top: none;
        border-bottom: none;

        &:last-child {
            border-bottom: 1px solid var(--border-color);
        }
    }

    .item {
        display: flex;
        flex-wrap: wrap;
        font-size: var(--font-size-12);
        justify-content: flex-start;
        width: 100%;
        .item-quantity,
        .item-weight,
        .item-controls,
        .item-sell-value {
            border-left: 1px solid var(--alt);
        }
    }

    .list-row {
        width: 100%;
        .item-controls {
            color: var(--body);
            font-size: var(--font-size-13);

            .item-control {
                &.item-toggle-invest, &.item-carry-type {
                    &.active {
                        color: var(--secondary);
                    }
                }

                &.item-carry-type {
                    color: rgba(black, 0.5);
                    text-align: right;
                }

                &.item-toggle-invest {
                    color: rgba(black, 0.5);
                }

                // Hands-held with interior number
                .fa-stack {
                    margin: -3px -2px 0;

                    .fa-1, .fa-2 {
                        left: 1px;
                        position: relative;
                    }
                }
            }
        }

        &.drag-preview {
            box-shadow: 0 0 6px inset var(--color-shadow-highlight);
        }

        // The gap left by an item being dragged to a new position
        &.drag-gap {
            visibility: hidden;
        }
    }

    .container-metadata {
        .container-capacity {
            @include micro;
            position: relative;
            background-color: rgba(black, 0.75);
            box-shadow: inset 0 0 4px black;
            color: white;
            display: flex;
            width: 100%;
            .container-capacity-bar {
                background-color: var(--secondary);
                border-radius: 0 2px 2px 0;
                box-shadow: inset 0 0 0 1px rgba(black, 0.5),
                    inset 0 0 0 2px rgba(white, 0.1);
                padding: 8px 0;
            }
            .container-capacity-label {
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                padding: 2px;
            }
            &.over-limit .container-capacity-bar {
                background-color: var(--primary);
            }
        }

        .container-held-items {
            padding-left: 10px;
            border-left: none;
            border-right: none;

            li:nth-of-type(even) {
                background-color: rgba($alt-color, 0.1);
            }

            li:first-of-type .item::before {
                height: 50%;
                top: 0;
            }

            .item {
                position: relative;

                &::before,
                &::after {
                    position: absolute;
                    border-left: 1px solid var(--alt);
                    top: 0;
                    height: 50%;
                    left: -5px;
                    width: 5px;
                    content: '';
                }

                &::before {
                    border-bottom: 1px solid var(--alt);
                    top: 0;
                }

                &::after {
                    top: 50%;
                }

                .item-summary {
                    border-left: 1px solid var(--alt);
                }
            }

            // Add a connection line for nested containers
            .container-metadata {
                position: relative;
                &::before {
                    position: absolute;
                    border-left: 1px solid var(--alt);
                    top: 0;
                    height: 100%;
                    left: -5px;
                    width: 0px;
                    content: '';
                }
            }

            // Ensure the final item's bracket ends in an L shape
            li:last-of-type {
                .item::after, .container-metadata::before {
                    border: none;
                }
            }
        }
    }

    .item-summary {
        flex: 100%;
        padding: 4px 8px 8px;
        border-top: 1px solid var(--alt);
        border-bottom: 1px solid var(--alt);
        background: var(--bg);

        // Normalize styling of visible-to-all tag elements
        span[data-visibility=all] {
            display: inline-block;
            line-height: 1em;
            padding: 2px 1px 1px;
        }

        .item-buttons {
            .weapon {
                &_attack {
                    background: var(--primary);
                }
                &_attack2,
                &_attack3 {
                    color: rgba(black, 0.75);
                    background: var(--tertiary);
                    flex: 0 50%;
                    margin-top: 0;
                }
                &_attack2 {
                    border-radius: 0 0 0 2px;
                }
                &_attack3 {
                    border-radius: 0 0 2px 0;
                }
            }
        }
    }
}
