.dialog.item-transfer {
    width: 22rem;
    .item-row {
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        align-items: center;
        display: flex;
        gap: var(--space-6);
        margin-top: var(--space-8);
        padding: var(--space-4);

        img {
            width: 1.5rem;
            height: 1.5rem;
        }

        .name {
            font-weight: 500;
            line-height: 0.9;
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
        }

        .quantity {
            align-items: baseline;
            display: flex;
            gap: var(--space-4);
            margin-left: auto;
            input {
                width: 4ch;
            }
        }
    }

    .dialog-buttons {
        white-space: nowrap;
    }
}
