.item-summary {
    @include journal-styling;
    line-height: normal;
    overflow: hidden;
    padding: var(--space-4);

    .tags {
        padding: 0;

        &.has-properties {
            row-gap: var(--space-3);
        }

        .tag.property {
            margin-left: var(--space-2);
            border-width: var(--space-1);
            height: calc(1rem + var(--space-1));
        }

        .tag:not(.property) + .tag.property {
            margin-left: var(--space-4);
        }
    }

    .description {
        padding: 0 var(--space-2);

        .addendum {
            @include frame-elegant;
            background: rgba($alt-dark, 0.1);
            border-radius: 2px;
            color: var(--color-pf-alternate-darker);
            padding: var(--space-4);
            margin: 0 0 var(--space-8);

            h4 {
                font-weight: 700;
                margin-bottom: var(--space-6);
                text-align: center;
            }

            p:first-of-type {
                margin-top: 0;
            }
        }
    }

    .button-group {
        align-items: start;
        display: flex;
        gap: var(--space-6);
        justify-content: center;
        flex-direction: column;

        button {
            width: 100%;
        }
    }
}
