.sidebar {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    .profile-img {
        display: flex;
        align-items: end;
        margin: 1rem 0;
        max-width: 85%;
        max-height: 200px;
        background-color: var(--tertiary);
        background-size: cover;
        background-position: top center;
        @include frame-silver;
    }

    .appearance {
        color: var(--sidebar-title);
        display: flex;
        flex-direction: column;

        h3 {
            border-bottom: none;
            font-size: 1rem;
            text-align: center;
        }

        .body {
            font-weight: 400;
            font-size: var(--font-size-14);
        }
    }

    .orn img {
        border: none;
        position: relative;

        &:first-child {
            left: 4px;
        }

        &:last-child {
            right: 4px;
            transform: scaleX(-1);
        }
    }

    ul.stats {
        @include p-reset;
        list-style: none;
        text-align: center;

        li {
            @include p-reset;
        }
    }
}

.tab.biography {
    .bio.backstory p:first-child {
        margin-top: 0;
    }
}
