nav.sheet-navigation {
    align-items: center;
    background:
        url("/assets/sheet/border-pattern.webp") repeat-x top,
        url("/assets/sheet/border-pattern.webp") repeat-x bottom,
        var(--color-pf-secondary);
    border-bottom: 1px solid rgba(white, 0.5);
    border-top: 1px solid rgba(white, 0.1);
    box-shadow: 0 -1px 1px rgba(black, 0.25);
    display: inline-flex;
    gap: var(--space-11);
    height: 1.25rem;
    justify-content: center;
    position: relative;
    transition: all 0.1s ease-out;

    .panel-title {
        color: var(--text-light);
        margin-right: auto;
        padding-left: 1em;
        white-space: nowrap;
    }

    > a {
        @include flex-center;
        font-size: var(--font-size-12);
    }

    .item {
        background-image: url("/assets/sheet/nav-item-inactive.webp");
        background-size: contain;
        border-radius: 50%;
        color: var(--color-pf-tertiary);
        fill: var(--color-pf-tertiary);
        height: 1.5rem;
        transition: all 0.1s ease-out;
        width: 1.5rem;
        z-index: 1;

        /* prettier-ignore */
        box-shadow:
            0 0 0 1px var(--color-pf-tertiary),
            0 0 0 2px #9f725b,
            inset 0 0 4px rgba(black, 0.25);

        &.active {
            box-shadow:
                0 0 0 1px var(--color-pf-tertiary),
                0 0 0 2px #9f725b,
                inset 0 0 4px rgba(black, 0.25),
                0 0 8px var(--color-pf-tertiary);
        }

        &:last-child {
            margin-right: 10px;
        }

        &:hover,
        &.active {
            z-index: 2;
            transform: scale(1.2);
            color: var(--text-light);
            fill: var(--text-light);
            background-image: url("/assets/sheet/nav-item.webp");
        }

        i.fa-solid {
            padding-bottom: 0;
        }

        &:hover .pfs-icon {
            filter: drop-shadow(0 0 8px var(--color-shadow-primary));
        }

        // Actions tab icon
        .action-glyph {
            font-size: 1rem;
        }
    }
}

/** White background navigation with little decorations on the left and right */
nav.sub-nav {
    align-items: center;
    background-color: var(--bg);
    box-shadow: 0 2px 4px rgba(black, 0.18);
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 2.5rem;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;

    &::before,
    &::after {
        background: url("/assets/sheet/sub-nav-decoration.webp");
        content: "";
        height: 1rem;
        width: 2.5rem;
        margin: 0 1rem;
    }

    &::after {
        transform: scaleX(-100%);
    }

    a {
        border-left: 1px solid rgba(white, 0.3);
        border-right: 1px solid rgba(black, 0.2);
        color: var(--color-pf-alternate);
        display: block;
        flex: 1;
        font: 400 var(--font-size-16) var(--serif);
        text-align: center;
        text-decoration: none;
        transition: all 0.1s ease-out;

        &:hover,
        &.active {
            color: var(--color-pf-primary);
        }

        &.active {
            font-weight: 500;
        }

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }

        &:hover {
            text-shadow: 0 0 3px rgba(white, 0.5);
        }
    }
}
