nav.sheet-navigation {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--secondary);
    background: url('../assets/sheet/border-pattern.png') repeat-x top,
        url('../assets/sheet/border-pattern.png') repeat-x bottom,
        var(--secondary);
    @include corner-boxes;

    a {
        color: $sidebar-label;
        padding: 4px;
        font-family: $sans-serif;
        font-size: 12px;
        position: relative;
        span {
            display: none;
            margin-left: 3px;
        }

        &.active {
            span {
                display: inline-flex;
            }
        }

        &:hover {
            span {
                display: inline-flex;
            }
        }
    }
}
