.section-container {
    display: flex;
    flex-direction: column;

    .section-header {
        border: 1px solid var(--primary);
        border-radius: 3px 3px 0px 0px;
        background: var(--primary);

        display: flex;
        flex: 0;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        text-align: left;
        color: var(--text-light);
        font-size: var(--font-size-13);
        padding: 0 8px;
        line-height: 2em;

        h4 {
            flex: auto;
            display: flex;
            align-items: baseline;
            gap: 4px;
            margin-bottom: 0px;
            text-transform: uppercase;
        }

        input {
            color: inherit;
            width: auto;
        }

        .controls {
            gap: 0.5rem;
            white-space: nowrap;
        }
    }

    .section-body {
        border: 1px solid var(--primary);
        border-radius: 0px 0px 3px 3px;

        display: flex;
        flex: auto;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        width: 100%;
    }

    &.headerless .section-body {
        border-radius: 3px;
    }
}

.actions-list,
.attacks-list {
    margin: 0;
    padding: 0;
    width: 100%;

    .controls {
        align-items: baseline;
        display: flex;
        flex: 0;
        flex-wrap: nowrap;
        font-size: var(--font-size-12);
        gap: 1px;
        margin-left: auto;

        .chat {
            margin-right: 2px;
            font-size: 0.9em;
        }
    }

    li.action,
    li.attack {
        .button-group {
            display: flex;
            gap: 0.25em;
            justify-content: start;
            min-width: 100%;

            .flexrow,
            .sub-section {
                gap: 2px;
            }

            .sub-section {
                align-items: start;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;

                h4 {
                    margin-left: var(--font-size-12);
                    margin-right: var(--font-size-12);
                }
            }

            button {
                align-items: center;
                display: flex;
                border-radius: 3px;
                border: none;
                box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(255, 255, 255, 0.2);
                color: var(--color-text-light-0);
                cursor: pointer;
                font-size: var(--font-size-11);
                height: var(--font-size-18);
                justify-content: center;
                line-height: var(--font-size-18);
                margin: 0;
                padding: 0 8px;
                white-space: nowrap;
                width: auto;

                &:first-child {
                    margin-left: 0px;
                }

                &:hover {
                    box-shadow: none;
                    text-shadow: 0 0 2px var(--color-text-light-0);
                }
            }

            .attack-button {
                background-color: var(--secondary);
            }

            .damage-button,
            .critical-button {
                background-color: var(--primary);
            }
        }
    }

    li.attack {
        border-bottom: 1px solid var(--color-border-light-tertiary);
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 0.25rem;
        padding: 0.25rem 0;

        &:last-child {
            border-bottom: none;
        }

        > h4 {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            font-size: 0.9rem;
            font-weight: 500;
            gap: 2px;
            margin: 0 4px 0 0;
            white-space: nowrap;

            > span,
            > a {
                display: flex;
                gap: 3px;
                line-height: 1.125rem;
                margin-right: 4px;
            }
        }

        > .description {
            flex-basis: 100%;
        }
    }

    li.action {
        display: flex;
        gap: 0.25rem;

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-border-light-tertiary);
        }

        > h4 {
            align-items: center;
            display: flex;
            gap: 0.25rem;
            flex: auto;
            font-size: 0.9rem;
            margin: 0;

            > a {
                align-items: center;
                display: flex;
                gap: 2px;
            }
        }

        .button-group > button.use-action {
            color: var(--color-text-light-0);
            background-color: var(--secondary);
            margin-right: 0.5rem;
        }

        .action-traits {
            margin-left: var(--font-size-12);
        }

        .tracking {
            flex: 0;
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-left: auto;
            margin-right: var(--font-size-16);

            input {
                background: none;
                border: 0;
                flex: 0 1 4rem;
                flex: 1;
                font-family: inherit;
                font-size: 0.9rem;
                height: auto;
                padding: 0 3px;
                text-align: center;
                width: 0;
            }

            span {
                white-space: nowrap;
            }
        }

        .item-summary {
            flex-basis: 100%;
        }
    }
}
