.section-container {
    display: flex;
    flex-direction: column;

    .section-header {
        align-items: baseline;
        background: var(--color-pf-primary);
        border-radius: 3px 3px 0 0;
        border: 1px solid var(--color-pf-primary);
        color: var(--text-light);
        display: flex;
        flex-direction: row;
        flex: 0;
        justify-content: space-between;
        line-height: 2em;
        padding: 0 var(--space-8);
        text-align: left;
        width: 100%;

        h4 {
            align-items: baseline;
            display: flex;
            flex: auto;
            gap: var(--space-4);
            margin-bottom: 0;
            text-transform: uppercase;
        }

        input {
            color: inherit;
            width: auto;
        }

        .controls {
            gap: var(--space-8);
            white-space: nowrap;
        }
    }

    .section-body {
        align-items: baseline;
        border-radius: 0 0 3px 3px;
        border: 1px solid var(--color-pf-primary);
        display: flex;
        flex-flow: row wrap;
        flex: auto;
        justify-content: flex-start;
        width: 100%;
    }

    &.headerless .section-body {
        border-radius: 3px;
    }
}

.actions-list {
    margin: 0;
    padding: 0;
    width: 100%;

    .controls {
        align-items: baseline;
        display: flex;
        flex: 0;
        flex-wrap: nowrap;
        font-size: var(--font-size-12);
        gap: var(--space-1);
        margin-left: auto;

        .chat {
            font-size: 0.9em;
            margin-right: var(--space-2);
        }
    }

    li.action {
        border-bottom: 1px solid var(--color-border-light-tertiary);
        gap: var(--space-4);
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        padding: var(--space-2) 0;

        &:last-child {
            border-bottom: none;
        }

        > h4 {
            flex: 0 0 88%;
            font-weight: normal;
            margin: 0;
            white-space: wrap;

            .name strong {
                font-weight: 500;
            }

            .traits {
                text-transform: lowercase;

                ul {
                    margin-bottom: 0;

                    li {
                        white-space: nowrap;

                        &[data-tooltip] {
                            text-decoration: underline;
                            text-decoration-color: var(--color-pf-alternate);
                        }
                    }
                }
            }
        }

        .button-group {
            display: flex;
            gap: var(--space-3);
            justify-content: start;
            min-width: 100%;
            font-size: 1.25em;

            .subsection {
                align-items: start;
                display: flex;
                flex-wrap: wrap;
                gap: var(--space-2);
                justify-content: start;

                h4 {
                    margin-left: var(--font-size-12);
                    margin-right: var(--font-size-12);
                }

                &.attack button {
                    background-color: var(--color-pf-secondary);
                }

                &.damage button {
                    background-color: var(--color-pf-primary);
                }
            }

            button {
                align-items: center;
                display: flex;
                border: none;
                border-radius: 3px;
                box-shadow:
                    inset 0 0 0 1px rgba(black, 0.3),
                    inset 0 0 0 2px rgba(white, 0.2);
                color: var(--color-text-light-0);
                cursor: pointer;
                font: var(--font-size-11) var(--sans-serif);
                height: var(--font-size-18);
                justify-content: center;
                line-height: var(--font-size-18);
                margin: 0;
                padding: 0 var(--space-8);
                white-space: nowrap;
                width: auto;

                &:first-child {
                    margin-left: 0;
                }

                &:hover {
                    box-shadow: none;
                    text-shadow: 0 0 2px var(--color-text-light-0);
                }

                &.use-action {
                    background-color: var(--color-pf-secondary);
                    color: var(--color-text-light-0);
                    margin-right: var(--space-8);
                }
            }

            .tracking {
                align-items: center;
                display: flex;
                flex-flow: row nowrap;
                flex: 0;
                margin-left: auto;
                margin-right: var(--font-size-16);

                input {
                    background: none;
                    border: 0;
                    flex: 0 1 4rem;
                    font-family: inherit;
                    font-size: 0.9rem;
                    height: auto;
                    padding: 0 var(--space-3);
                    text-align: center;
                    width: 0;
                }

                span {
                    white-space: nowrap;
                }
            }
        }

        .effects {
            font-size: var(--font-size-12);
            flex-basis: 100%;
        }

        > .item-summary {
            flex-basis: 100%;
            padding: 0;
        }
    }
}
