ol.spell-list {
    border-bottom: 1px solid var(--color-border-light-2);
    display: flex;
    flex-basis: 100%;
    flex-flow: column nowrap;
    gap: 1px;
    margin: 0;
    padding: 0;

    > li {
        align-items: center;
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 55% auto 2.5rem 3rem;
        margin: 0;

        > * {
            align-items: center;
            display: flex;
            flex-wrap: nowrap;
        }

        &[data-slot-expended] {
            h4 {
                color: var(--color-disabled);
                text-decoration: line-through;
            }

            button.cast-spell {
                background: var(--color-disabled);
                box-shadow: inset 0 0 0 1px rgba(white, 0.5);
                cursor: not-allowed;

                &:hover {
                    text-shadow: none;
                }
            }
        }

        &:nth-child(odd) {
            background-color: rgba($alt-color, 0.1);
        }

        &:nth-child(even) .item-summary {
            background: none;
        }

        &:last-child {
            border-bottom: 1px solid var(--sub);
        }

        &.header-row {
            background: rgba($sub-color, 0.25);
            border: 1px solid var(--color-border-light-2);
            border-radius: 2px;
            font: 500 var(--font-size-12) var(--sans-serif);
            line-height: 2.25em;
            margin-bottom: 0.125em;
            padding: 0 0.25em;

            &:not(:first-child) {
                margin-top: 0.125em;
            }

            h3 {
                text-transform: capitalize;
                font-size: var(--font-size-13);
                padding: 0.25rem 0;
            }

            .item-name {
                line-height: 1;
                gap: 0.25em;
                padding-left: 0.2em;

                h3 {
                    margin: 0 0.5rem 0 0;
                    font-weight: 700;
                }
            }

            .item-controls {
                gap: 0.125rem;
                padding-right: 0.25em;
            }
        }

        .uses {
            align-items: center;
            display: flex;
            gap: 0.25em;
            line-height: 1;
        }

        &.header-row,
        .uses {
            input {
                background: var(--color-pf-alternate);
                border-radius: 3px;
                border: 1px solid var(--sub);
                color: var(--text-light);
                font: var(--font-size-12) var(--sans-serif);
                height: unset;
                text-align: center;
                width: 2em;
            }

            .spell-slots-increment-reset {
                padding-left: 5px;
                font-size: var(--font-size-10);
            }
        }

        &.spell {
            border: none;
            font-size: var(--font-size-13);
            padding: 0.1875rem 0.25rem;

            // The lighter background gives an illusion of larger padding: tweak slightly
            &:nth-child(even) {
                padding: 0.125rem 0.25rem;
            }
        }

        .level-prepared-toggle {
            flex: 0;
            font-size: 0.75rem;
            color: var(--secondary);
        }

        .item-name {
            &.empty {
                opacity: 0.75;
                pointer-events: none;

                .item-image {
                    --inset-shadow-length: 0.125rem;
                }
            }

            h3 {
                white-space: nowrap;
            }

            + span {
                font-size: 0.75rem;
            }

            .item-image {
                flex: 0 0 1.5rem;
                height: 1.5rem;
            }

            .focus-pool-input {
                align-items: center;
                display: flex;
                flex-wrap: nowrap;
            }

            .slash {
                font-size: 0.75rem;
            }

            .spell-slots,
            .spell-max {
                padding-top: 3px;
                font-size: 0.75rem;

                &.infinity {
                    position: relative;
                    top: -2px;
                }
            }

            h4 {
                @include p-reset;
                font-size: var(--font-size-14);
                letter-spacing: -0.075em;
                line-height: 1;
                margin-left: 0.5rem;

                > a:hover {
                    color: var(--secondary);
                    text-shadow: none;
                }
            }

            .action-glyph {
                margin-left: 0.25rem;
                font-size: small;
            }
        }

        button.cast-spell {
            font: 500 var(--font-size-10) / 1.8em var(--sans-serif);
            text-transform: uppercase;
        }

        .item-controls {
            justify-content: end;
        }

        .item-summary {
            background-color: rgba($light-background-color, 0.5);
            border-bottom: 1px solid var(--sub);
            border-top: 1px solid lighten($sub-color, 30);
            display: block;
            grid-column: span 4;
            padding: 0.25rem 0 0.5rem;
        }
    }

    &[data-category="spontaneous"] {
        .virtual {
            position: relative;
            &::before {
                background-color: #0005ff1d;
                content: "";
                height: 100%;
                mix-blend-mode: saturation;
                pointer-events: none;
                position: absolute;
                width: 100%;
            }
        }

        .item:not(.virtual) + .virtual {
            border-top: 1px solid rgba(0, 0, 0, 0.15);
        }
    }

    .level-prepared-header {
        font-size: 0.75rem;
        color: var(--text-light);
        margin: 0;
        padding: 4px;
        text-align: center;
        background: var(--secondary);
        position: relative;
    }
}
