// Spellcasting Preparation Sheet Styling
.spellcasting-entry.preparation {
    @import "../reset";
    @import "spell-collection";

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: var(--space-4);
    }

    form > header {
        align-items: baseline;
        display: block;
        flex: 0;
        margin-bottom: 0.5em;

        h1 {
            display: flex;
            flex: 1;
            font-family: var(--serif-condensed);
            font-weight: 700;
            justify-content: space-between;
            overflow: hidden;
            padding-right: var(--space-4);
            white-space: nowrap;
        }

        p.hint {
            margin: auto auto 0.5em;
        }

        .item-controls {
            flex: 0;
            white-space: nowrap;
        }
    }

    .sheet-content {
        display: flex;
        overflow: hidden auto;
        padding: 0 var(--space-3) 1em 0; // easier resize gripping
        scrollbar-gutter: stable;

        ol.spell-list {
            height: fit-content;

            > li {
                --cast-spell-width: 1.5rem;
                --controls-width: 2.25rem;

                .item-name .item-image {
                    display: flex;
                    flex: 0 0 1.5rem;
                    height: 1.5rem;
                    position: relative;

                    i {
                        align-items: center;
                        background: #f1eee9;
                        border-radius: 2px;
                        box-shadow:
                            0 0 0 1px var(--tertiary),
                            0 0 0 2px rgba(#9f725b, 0.65),
                            inset 0 0 4px rgba(0, 0, 0, 0.5);
                        color: var(--text-dark);
                        display: none;
                        font-size: var(--font-size-16);
                        height: 100%;
                        justify-content: center;
                        position: absolute;
                        width: 100%;
                    }

                    &:hover {
                        text-shadow: none;

                        i {
                            display: flex;
                        }
                    }
                }

                .cast-spell {
                    justify-content: center;

                    input {
                        margin: 0;
                    }
                }

                .item-summary {
                    padding: var(--space-4);
                }
            }

            &:not(.flexible) > li {
                --cast-spell-width: 0;
            }
        }
    }
}
