ol.spell-list {
    border-bottom: 1px solid var(--color-border-light-2);
    display: flex;
    flex-basis: 100%;
    flex-flow: column nowrap;
    gap: var(--space-1);
    margin: 0;
    padding: 0;

    > li {
        --range-uses-width: 4rem;
        --cast-spell-width: min-content;
        --controls-width: 3rem;
        align-items: center;
        display: grid;
        gap: var(--space-4);
        grid-template-columns: 1fr 6rem var(--range-uses-width) var(--cast-spell-width) var(--controls-width);
        margin: 0;

        > * {
            align-items: center;
            justify-self: center;
            display: flex;
            flex-wrap: nowrap;
            &.defense,
            &.range {
                text-align: center;
            }
        }

        &:nth-child(odd) {
            background-color: rgba($alt-color, 0.1);
        }

        &:nth-child(even) .item-summary {
            background: none;
        }

        &:last-child {
            border-bottom: 1px solid var(--sub);
        }

        &.header-row {
            background: rgba($sub-color, 0.25);
            border: 1px solid var(--color-border-light-2);
            border-radius: 2px;
            font: 500 var(--font-size-12) var(--sans-serif);
            line-height: 2.25em;
            margin-bottom: 0.125em;
            padding: 0 0.25em;

            &:not(:first-child) {
                margin-top: 0.125em;
            }

            h3 {
                text-transform: capitalize;
                font-size: var(--font-size-13);
                padding: 0.25rem 0;
            }

            .item-name {
                line-height: 1;
                gap: 0.25em;
                padding-left: 0.2em;

                h3 {
                    margin: 0 var(--space-8) 0 0;
                    font-weight: 700;
                }
            }

            .invisible {
                visibility: hidden;
            }

            .item-controls {
                gap: 0.125rem;
                padding-right: 0.25em;
            }
        }

        &.header-row,
        .uses {
            input {
                background: var(--color-pf-alternate);
                border: 1px solid var(--sub);
                border-radius: 3px;
                color: var(--text-light);
                font: var(--font-size-12) var(--sans-serif);
                height: unset;
                text-align: center;
                width: 2em;
            }

            .spell-slots-increment-reset {
                font-size: var(--font-size-10);
                padding-left: var(--space-5);
            }
        }

        &.spell {
            border: none;
            font-size: var(--font-size-13);
            padding: var(--space-3) var(--space-4);

            &[data-slot-expended] {
                h4 {
                    color: var(--color-disabled);
                    text-decoration: line-through;
                }

                button.cast-spell {
                    background: var(--color-disabled);
                    border-color: transparent;
                    box-shadow: inset 0 0 0 1px rgba(white, 0.5);
                    cursor: not-allowed;

                    &:hover {
                        text-shadow: none;
                    }
                }
            }

            // The lighter background gives an illusion of larger padding: tweak slightly
            &:nth-child(even) {
                padding: var(--space-2) var(--space-4);
            }
        }

        .item-name {
            justify-self: start;
            width: 100%;

            &.empty {
                opacity: 0.75;
                pointer-events: none;

                .item-image {
                    --inset-shadow-length: 0.125rem;
                }
            }

            h3 {
                white-space: nowrap;
            }

            + span {
                font-size: var(--font-size-12);
            }

            .item-image {
                flex: 0 0 1.5rem;
                height: 1.5rem;
            }

            .focus-pool-input {
                align-items: center;
                display: flex;
                flex-wrap: nowrap;
                gap: var(--space-3);
            }

            .spell-slots,
            .spell-max {
                padding-top: var(--space-3);
                font-size: var(--font-size-12);

                &.infinity {
                    position: relative;
                    top: calc(-1 * var(--space-2));
                }
            }

            h4 {
                @include p-reset;
                font: 500 var(--font-size-14) / 1 var(--body-serif);
                letter-spacing: -0.025em;
                margin-left: 0.5em;

                > a:hover {
                    color: var(--color-pf-secondary);
                    text-shadow: none;
                }
            }

            .action-glyph {
                margin-left: var(--space-2);
                font-size: small;
            }
        }

        .uses {
            display: flex;
            gap: 0.25em;
            line-height: 1;
        }

        button.cast-spell {
            font: 500 var(--font-size-10) / 1.8em var(--sans-serif);
            justify-self: end;
            min-width: 2.5rem;
            padding: 0 0.25em;
            text-transform: uppercase;
            width: fit-content;
        }

        .item-controls {
            justify-content: end;
            justify-self: end;
        }

        .item-summary {
            background-color: rgba($light-background-color, 0.5);
            border-bottom: 1px solid var(--sub);
            border-top: 1px solid lighten($sub-color, 30);
            display: block;
            grid-column: span 5;
            padding: var(--space-4) 0 var(--space-8);
            width: 100%;
        }
    }

    &[data-category="innate"] > li {
        --range-uses-width: 5.5rem;

        > .uses .unlimited {
            font-size: var(--font-size-18);
        }
    }

    &[data-category="spontaneous"] {
        .virtual {
            backdrop-filter: blur(8px) hue-rotate(210deg) saturate(2);
        }

        .item:not(.virtual) + .virtual {
            border-top: 1px solid rgba(0, 0, 0, 0.15);
        }
    }

    .level-prepared-header {
        font-size: 0.75rem;
        color: var(--text-light);
        margin: 0;
        padding: var(--space-4);
        text-align: center;
        background: var(--color-pf-secondary);
        position: relative;
    }
}
