& {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    height: 100%;
}

.skills, .actions {
    display: flex;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.skill-list, .actions-list {
    @include scrollbar;
}

.skills {
    padding-right: 0.5rem;

    .control-dc {
        background: var(--paper-bg);
        box-shadow: var(--drop-shadow);
        margin: 0.5rem 0;
        padding: 0.25rem 0;
        .mod {
            color: var(--secondary);
            display: inline-block;
            font-size: 1.25em;
            font-weight: bold;
            min-width: 5ch;
            text-align: right;
            margin-right: 8px;
        }
    }

    .skill {
        display: flex;
        align-items: center;
        padding: 1px 0;
        padding-right: 0.5rem;
        gap: 8px;

        .mod {
            display: flex;
            color: var(--primary);
            font-family: var(--serif);
            font-weight: 600;
            font-size: 1.25em;
            line-height: 1em;
            padding: 3px 0; // easier to click
            min-width: 5ch;

            i {
                color: black;
                font-size: 0.8em;
                margin-right: 2px;
            }
        }

        .name {
            flex: 1;
            color: var(--alt-dark);
            &.selected {
                color: black;
                font-weight: 600;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(68, 55, 48, 0.2);
        }

        .button-group {
            display: flex;
            padding-left: 0.25rem;
        }
    }
}

.actions {
    flex: 1;

    h3.header .filters {
        float: right;
        margin: 0;
        margin-left: auto;

        .choice {
            cursor: pointer;
            opacity: 0.6;
            transition: opacity 0.2s ease-in-out;
            &.active {
                opacity: 1;
            }
            &:hover {
                box-shadow: 0 0 5px var(--primary);
            }
        }
    }

    .action {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding: 4px;
        width: 100%;
        gap: 0.5rem;
        padding-right: 0.5rem;

        .item-name {
            align-items: center;
            display: flex;
            flex: 1;
        }

        .item-summary {
            flex-basis: 100%;
            margin-bottom: 0.5rem;

            // tags are shown in the header, so hide in the summary
            .tags {
                display: none;
            }
        }

        .tags {
            margin-left: 0.25rem;
        }
    }
}
