.pf2e.chat-card.kingdom {
    --color-confirmation: #2c4f0d;
    .confirmation {
        align-items: center;
        color: var(--color-confirmation);
        display: flex;
        border: 1px dashed var(--color-confirmation);
        font-size: 1.2em;
        gap: 0.5rem;
        justify-content: center;
        padding: 0.25rem 0;
    }
}
