// Application V2
.application {
    .window-content.compact {
        padding: 0;
        gap: var(--space-6);

        > * {
            display: flex;
        }
    }

    button:where(.flat) {
        align-items: unset;
        background: unset;
        border: none;
        border-radius: unset;
        color: unset;
        display: unset;
        font-family: unset;
        font-size: unset;
        justify-content: unset;
        line-height: unset;
        margin: unset;
        padding: unset;
        text-align: inherit;
        width: unset;
        height: unset;

        &:hover {
            background: inherit;
            box-shadow: none;
            color: var(--color-text-primary);
            text-shadow: 0 0 8px var(--color-shadow-primary);
        }

        &:focus {
            box-shadow: none;
            outline: none;
            text-shadow: 0 0 8px var(--color-shadow-primary);
        }
    }
}
