:root {
    /** Font-size variables not defined by Foundry */
    --font-size-5: 0.3125rem;
    --font-size-8: 0.5rem;
    --font-size-9: 0.5625rem;
    --font-size-10: 0.625rem;
    --font-size-15: 0.9375rem;
    --font-size-17: 1.0625rem;
    --font-size-19: 1.1875rem;
    --font-size-21: 1.3125rem;
    --font-size-22: 1.375rem;
    --font-size-26: 1.625rem;
    --font-size-30: 1.875rem;
    --font-size-34: 2.125rem;
    --font-size-36: 2.25rem;
    --font-size-42: 2.625rem;

    /** Font families */
    --body-serif: Gelasio, Georgia, serif;
    --sans-serif: Roboto, sans-serif;
    --sans-serif-condensed: "Roboto Condensed", var(--sans-serif);
    --sans-serif-monospace: "Roboto Mono", monospace;
    --serif: Eczar, Georgia, serif;
    --serif-condensed: "Modesto Condensed", serif;
    --journal-cursive: "La Belle Aurore", cursive;
    --journal-serif: "Vollkorn", var(--serif);
}
