/* ----------------------------------------- */
/* Animation                                 */
/* ----------------------------------------- */

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

/* ----------------------------------------- */
/* Layout                                    */
/* ----------------------------------------- */

/** A vertical rule in a flexbox */
hr.vr {
    border: 1px inset;
    height: 1.25em;
    margin: 1px 2px;
}

/* ----------------------------------------- */
/* Typography                                */
/* ----------------------------------------- */

.pf2e,
.app.sheet.actor {
    font-family: var(--sans-serif);
    h1,
    h2,
    h3,
    h4 {
        font-weight: 600;
    }
}

// ensure higher specificity than the sheet styles
.pf2e.sheet form span.pf2-icon,
.pf2e.sheet form span[data-pf2-action],
.pf2e.sheet form span[data-pf2-action] *,
.pf2e.sheet form span[data-pf2-check],
.pf2e.sheet form span[data-pf2-check] *,
.pf2-icon {
    display: inline;
}

.pf2e.sheet form span.pf2-icon,
.pf2-icon {
    font-family: "Pathfinder2eActions", sans-serif;
}

section.roll-note,
p.compact-text {
    display: inline-block;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0.25em 0;
    min-height: 1rem;
    width: 100%;
}

.action-glyph {
    align-self: center;
    display: inline;
    font-family: "Pathfinder2eActions", sans-serif;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

/* ----------------------------------------- */
/* Styled table                              */
/* ----------------------------------------- */

table.pf2-table {
    border: solid 1px #000000;
    border-collapse: collapse;
    font-size: var(--font-size-13);
    color: #191813;
    user-select: text;

    thead,
    tbody,
    tr,
    th,
    td {
        box-sizing: border-box;
        user-select: text;
    }

    tr:nth-child(odd) {
        background-color: #eee5c8;
    }
    tr:nth-child(even) {
        background-color: #f6f1e1;
    }

    th {
        color: var(--text-light);
        font-weight: bold;
        background-color: #522e2c;
    }

    th,
    td {
        border: solid 1px #808080;
        padding: 6px 15px;
        text-align: center;
    }
}

a.foundry-href {
    color: var(--primary);
    font-weight: 500;
    text-decoration: underline;
}

@mixin inline-link {
    background: var(--inline-link-bg);
    border-radius: 2px;
    border: 1px solid var(--color-border-dark-tertiary);
    box-sizing: border-box;
    color: var(--color-text-dark-primary);
    line-height: 1.6em;
    padding: 1px 4px;
    white-space: nowrap;
    word-break: break-all;

    > i.icon {
        color: var(--color-text-dark-inactive);
        margin-right: 0.25em;
    }
}

a.content-link {
    line-height: 1.6em;

    // Automatically italicize spell content links
    &:has(i.fa-sparkles) {
        font-style: italic;
    }
}

#tooltip a.content-link {
    color: var(--color-text-dark-primary);
}

.inline-roll.altered {
    color: var(--color-text-dark-improved);
}

/* ----------------------------------------- */
/* PF2E Action Custom Element                */
/* ----------------------------------------- */

span[data-pf2-action] {
    @include inline-link;
    cursor: pointer;

    &[data-pf2-glyph]::before {
        font-family: "Pathfinder2eActions";
        margin-right: 2px;
        color: var(--color-text-dark-inactive);
    }

    &:not([data-pf2-glyph])::before,
    &[data-pf2-glyph=""]::before {
        display: inline-block;
        height: 15px;
        width: 15px;
        background-image: url("/icons/actions/Passive.webp");
        background-repeat: no-repeat;
        background-size: 15px 15px;
        opacity: 0.4;
        margin-bottom: -3px;
        margin-right: 2px;
        content: "";
    }

    &[data-pf2-glyph="A"]::before,
    &[data-pf2-glyph="a"]::before,
    &[data-pf2-glyph="1"]::before {
        content: "A";
    }
    &[data-pf2-glyph="D"]::before,
    &[data-pf2-glyph="d"]::before,
    &[data-pf2-glyph="2"]::before {
        content: "D";
    }
    &[data-pf2-glyph="T"]::before,
    &[data-pf2-glyph="t"]::before,
    &[data-pf2-glyph="3"]::before {
        content: "T";
    }
    &[data-pf2-glyph="F"]::before,
    &[data-pf2-glyph="f"]::before {
        content: "F";
    }
    &[data-pf2-glyph="R"]::before,
    &[data-pf2-glyph="r"]::before {
        content: "R";
    }
}

/* ----------------------------------------- */
/* PF2E Check Custom Element                 */
/* ----------------------------------------- */

a.inline-check,
span[data-pf2-check] {
    @include inline-link;

    &:has([data-pf2-repost]) {
        padding-right: 0;
    }

    &:hover {
        text-shadow: none;
    }

    &:has(.label:hover, i.fa-dice-d20:hover) {
        text-shadow: 0 0 8px var(--color-shadow-primary);
    }

    > i.icon {
        &:has(+ span.label > :first-child:is([data-visibility="gm"])) {
            margin-right: 0.25em;
        }
    }

    &[data-pf2-traits*="secret"] {
        background: var(--blind-roll);
        border-color: #720073;
    }

    &[data-invalid] {
        background: rgba(255, 0, 0, 0.05);
        border: 1px dashed red;
    }
}

/* ----------------------------------------- */
/* PF2E Inline Template Custom Element       */
/* ----------------------------------------- */

span[data-pf2-effect-area] {
    @include inline-link;
    cursor: pointer;
    padding-right: 0;

    &::before {
        color: var(--color-text-dark-inactive);
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 0.25em;
    }

    &[data-pf2-effect-area="cone"]::before {
        content: "\f104";
    }

    &[data-pf2-effect-area="line"]::before {
        content: "\f7a5";
    }

    &[data-pf2-effect-area="burst"]::before {
        content: "\f111";
    }

    &[data-pf2-effect-area="emanation"]::before {
        content: "\f192";
    }

    &[data-pf2-effect-area="rect"]::before {
        content: "\f0c8";
    }
}

/* ----------------------------------------- */
/* PF2E Inline Repost Element                */
/* ----------------------------------------- */

i[data-pf2-repost] {
    @include quick-transition;
    background: var(--inline-repost-bg);
    color: var(--color-text-dark-inactive);
    border-left: 1px solid var(--color-border-dark-tertiary);
    background: #fff9;
    padding: 2px;
    margin-left: 2px;
    text-shadow: none;

    &:hover {
        color: var(--text-light);
        text-shadow: 0px 0px 2px var(--text-dark);
    }
}

[data-visibility]:not([data-visibility="all"]) {
    border-radius: 1px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1em;
    outline: 1px dotted rgba(75, 74, 68, 0.5);
    padding: 1px;

    /* ----------------------------------------- */
    /* GM Visibility Elements                    */
    /* ----------------------------------------- */
    &[data-visibility="gm"] {
        background: var(--visibility-gm-bg);

        &.message-sender {
            max-width: fit-content;
        }

        [data-visibility="gm"] {
            outline: none;
            padding: initial;
        }
    }
}

/* ----------------------------------------- */
/* Forms                                     */
/* ----------------------------------------- */
@import "forms";

a[href]:hover {
    text-shadow: 0 0 8px var(--color-text-hyperlink);
}

#loading-bar {
    white-space: nowrap;
}

#tinymce {
    @include journal-styling;
}

// System theme Foundry tooltips
#tooltip.pf2e {
    @include corner-boxes;
    background: rgba(black, 0.9);
    font-size: var(--font-size-14);
    padding: 0.25rem 0;
    text-align: left;

    h1,
    h2,
    h3 {
        font-size: var(--font-size-12);
        font-weight: 500;
        text-align: left;
    }
}

/* ----------------------------------------- */
/* Upstream Overrides                        */
/* ----------------------------------------- */

button:disabled {
    cursor: default;
}
