/* ----------------------------------------- */
/* Sub-font-size spacing                     */
/* (margin, padding, gap, etc.)              */
/* ----------------------------------------- */

:root {
    --space-1: 0.0625rem;
    --space-neg-1: -0.0625rem;
    --space-2: 0.125rem;
    --space-3: 0.1875rem;
    --space-4: 0.25rem;
    --space-5: 0.3125rem;
    --space-6: 0.375rem;
    --space-7: 0.4375rem;
    --space-8: 0.5rem;
    --space-9: 0.5625rem;
    --space-10: 0.625rem;
    --space-11: 0.6875rem;
    --space-12: 0.75rem;
    --space-13: 0.8125rem;
    --space-14: 0.875rem;
    --space-15: 0.9375rem;
}

/* ----------------------------------------- */
/* Layout                                    */
/* ----------------------------------------- */

*,
.directory .directory-list,
.sheet.journal-entry .scrollable,
#permissions-config ul.permissions-list {
    scrollbar-color: initial;
    scrollbar-width: initial;
}

::-webkit-scrollbar-thumb {
    border-color: #ff6400;
}

@-moz-document url-prefix() {
    * {
        scrollbar-color: #782e22 transparent;
        scrollbar-width: thin;
    }
}

[hidden] {
    display: none !important;
}

/** A vertical rule in a flexbox */
hr.vr {
    border: 1px inset;
    height: 1.25em;
    margin: 1px 2px;
}

// ensure higher specificity than the sheet styles
.pf2e.sheet form span.pf2-icon,
.pf2e.sheet form span[data-pf2-action],
.pf2e.sheet form span[data-pf2-action] *,
.pf2e.sheet form span[data-pf2-check],
.pf2e.sheet form span[data-pf2-check] *,
.pf2-icon {
    display: inline;
}

.pf2e.sheet form span.pf2-icon,
.pf2-icon {
    font-family: "Pathfinder2eActions", sans-serif;
}

section.roll-note,
p.compact-text {
    display: inline-block;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0.25em 0;
    min-height: 1rem;
    width: 100%;
}

.action-glyph {
    align-self: center;
    display: inline;
    font-family: "Pathfinder2eActions", sans-serif;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

/* ----------------------------------------- */
/* Styled table                              */
/* ----------------------------------------- */

table.pf2e,
table.pf2-table {
    border-collapse: collapse;
    color: var(--text-dark);
    font-size: var(--font-size-13);
    user-select: text;

    thead,
    tbody,
    th,
    td {
        box-sizing: border-box;
        user-select: text;
        word-break: auto-phrase;
    }

    tr:nth-child(odd) {
        background-color: var(--tertiary-light);
    }

    tr:nth-child(even) {
        background-color: var(--text-light);
    }

    th,
    td {
        border: solid 1px var(--color-border-light-tertiary);
        text-align: center;
    }

    th {
        background-color: var(--color-pf-primary-dark);
        color: var(--text-light);
        font-weight: bold;
        padding: 0.5rem 0.25rem;
    }

    td {
        padding: 0.25rem;
    }
}

@mixin inline-link {
    background: var(--inline-link-bg);
    border-radius: 2px;
    border: 1px solid var(--color-border-dark-tertiary);
    box-sizing: border-box;
    color: var(--color-text-dark-primary);
    padding: 0 var(--space-4);
    white-space: nowrap;
    word-break: break-all;

    > i.icon {
        color: var(--color-text-dark-inactive);
        margin-right: var(--space-4);
    }
}

a.content-link,
a.inline-roll {
    padding: 0 var(--space-4);
}

a.content-link {
    // Automatically italicize spell content links
    &:has(i.fa-sparkles) {
        font-style: italic;
    }

    & > span.fa-stack {
        width: 1.25em;
    }
}

#tooltip a.content-link {
    color: var(--color-text-dark-primary);
}

a.inline-roll.altered {
    color: var(--color-text-dark-improved);
}

/* ----------------------------------------- */
/* PF2E Action Custom Element                */
/* ----------------------------------------- */

span[data-pf2-action] {
    @include inline-link;
    cursor: pointer;

    &[data-secret] {
        background: var(--blind-roll);
        border-color: #720073;
    }

    &[data-pf2-glyph]::before {
        font-family: "Pathfinder2eActions";
        margin-right: var(--space-2);
        color: var(--color-text-dark-inactive);
    }

    &:not([data-pf2-glyph])::before,
    &[data-pf2-glyph=""]::before {
        display: inline-block;
        height: var(--font-size-15);
        width: var(--font-size-15);
        background-image: url("/icons/actions/Passive.webp");
        background-repeat: no-repeat;
        background-size: var(--font-size-15) var(--font-size-15);
        opacity: 0.4;
        margin-bottom: calc(-1 * var(--space-3));
        margin-right: var(--space-2);
        content: "";
    }

    &[data-pf2-glyph="A"]::before,
    &[data-pf2-glyph="a"]::before,
    &[data-pf2-glyph="1"]::before {
        content: "A";
    }
    &[data-pf2-glyph="D"]::before,
    &[data-pf2-glyph="d"]::before,
    &[data-pf2-glyph="2"]::before {
        content: "D";
    }
    &[data-pf2-glyph="T"]::before,
    &[data-pf2-glyph="t"]::before,
    &[data-pf2-glyph="3"]::before {
        content: "T";
    }
    &[data-pf2-glyph="F"]::before,
    &[data-pf2-glyph="f"]::before {
        content: "F";
    }
    &[data-pf2-glyph="R"]::before,
    &[data-pf2-glyph="r"]::before {
        content: "R";
    }
}

/* ----------------------------------------- */
/* PF2E Check Custom Element                 */
/* ----------------------------------------- */

a.inline-check,
span[data-pf2-check] {
    @include inline-link;

    &:has([data-pf2-repost]) {
        padding-right: 0;
    }

    &:hover {
        text-shadow: none;
    }

    &:has(.label:hover, i.fa-dice-d20:hover) {
        text-shadow: 0 0 8px var(--color-shadow-primary);
    }

    > i.icon {
        &:has(+ span.label > :first-child:is([data-visibility="gm"])) {
            margin-right: 0.25em;
        }
    }

    &[data-pf2-traits*="secret"] {
        background: var(--blind-roll);
        border-color: #720073;
    }

    &[data-invalid] {
        background: rgba(255, 0, 0, 0.05);
        border: 1px dashed red;
    }
}

/* ----------------------------------------- */
/* PF2E Inline Template Custom Element       */
/* ----------------------------------------- */

span[data-pf2-effect-area] {
    @include inline-link;
    cursor: pointer;
    padding-right: 0;

    &::before {
        color: var(--color-text-dark-inactive);
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 0.25em;
    }

    &[data-pf2-effect-area="cone"]::before {
        content: "\f104";
    }

    &[data-pf2-effect-area="line"]::before {
        content: "\f7a5";
    }

    &[data-pf2-effect-area="burst"]::before {
        content: "\f111";
    }

    &[data-pf2-effect-area="emanation"]::before {
        content: "\f192";
    }

    &[data-pf2-effect-area="rect"]::before {
        content: "\f0c8";
    }
}

/* ----------------------------------------- */
/* PF2E Inline Repost Element                */
/* ----------------------------------------- */

i[data-pf2-repost] {
    @include quick-transition;
    background: var(--inline-repost-bg);
    color: var(--color-text-dark-inactive);
    border-left: 1px solid var(--color-border-dark-tertiary);
    background: #fff9;
    padding: var(--space-2);
    margin-left: var(--space-2);
    text-shadow: none;

    &:hover {
        color: var(--text-light);
        text-shadow: 0 0 2px var(--text-dark);
    }
}

/* ----------------------------------------- */
/* GM Visibility Elements                    */
/* ----------------------------------------- */

[data-visibility="gm"]:not(.dice-result > *) {
    background: var(--visibility-gm-bg);
    border-radius: 1px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1em;
    outline: 1px dotted rgba(75, 74, 68, 0.5);
    padding: var(--space-1);

    &.message-sender {
        align-self: center;
        margin-bottom: var(--space-4);
        max-width: fit-content;
    }

    [data-visibility="gm"] {
        outline: none;
        padding: initial;
    }
}

/* ----------------------------------------- */
/* Forms                                     */
/* ----------------------------------------- */
@import "forms";

a[href]:hover {
    text-shadow: 0 0 8px var(--color-text-hyperlink);
}

#loading-bar {
    white-space: nowrap;
}

#tinymce {
    @include journal-styling;
}

#prosemirror-dropdown {
    @include journal-styling;

    .info:hover {
        color: black;
    }

    .inline-header {
        padding: inherit;

        &:hover {
            color: black;
        }
    }

    .statblock {
        margin-top: unset;
    }

    li[data-action="pf2e"] {
        li {
            height: 1.9rem;
            margin-bottom: var(--space-2);
        }

        .visibility-gm {
            background: var(--visibility-gm-bg);
            border-radius: 1px;
            box-sizing: border-box;
            line-height: 1em;
            outline: 1px dotted rgba(75, 74, 68, 0.5);

            &:hover {
                background: var(--color-hover-bg);
            }
        }
    }
}

.prosemirror menu {
    gap: 3px;
}

// System theme Foundry tooltips
#tooltip.pf2e,
aside.locked-tooltip.pf2e {
    @include corner-boxes;
    background: rgba(black, 0.9);
    font-size: var(--font-size-14);
    padding: var(--space-4) 0;
    text-align: left;

    h1,
    h2,
    h3 {
        font-size: var(--font-size-12);
        font-weight: 500;
        text-align: left;
    }
}

/* ----------------------------------------- */
/* Upstream Overrides                        */
/* ----------------------------------------- */

button:disabled {
    cursor: default;
}
