// Reset for foundry global stylings
input,
select {
    --form-field-height: 1.5rem;
}

select {
    height: var(--form-field-height);
}

h3 {
    border-bottom: none;
}

button > i {
    margin-right: 0;
}
