// Reset for foundry global stylings

& {
    --animate-delay: 1s;
    --animate-duration: 1s;
    --animate-repeat: 1;
    --form-field-height: 1.5rem;
}

input[type="checkbox"] {
    flex: 0 0 var(--font-size-20);
    height: var(--font-size-20);
    margin: var(--space-3) var(--space-5);
    width: var(--font-size-20);
}

select {
    height: var(--form-field-height);
}

h3 {
    border-bottom: none;
}

button > i {
    margin-right: 0;
}
