tags.tagify.pf2e-tagify {
    --tag-bg: var(--color-text-light-3);
    --tags-border-color: var(--color-text-light-5);
    --tags-hover-border-color: var(--color-text-light-5);
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    gap: 3px;
    padding: 2px;

    &:hover {
        box-shadow: 0 0 10px #00005a
    }

    tag {
        margin: 0;
        padding: 1px;

        x {
            margin: 0;
        }

        > div {
            padding: 2px;

            .tagify__tag-text {
                font-weight: normal;
            }
        }

        .tagify__tag__removeBtn {
            align-items: baseline;
        }
    }

    .tagify__input {
        margin: 0;
    }
}

// Prevents early word wrap on certain forms
tags.pf2e-tagify, tags.tags.paizo-style {
    &.tagify--hasMaxTags > span {
        display: none;
    }

    &:not(.tagify--select) > span {
        min-width: 20px;
    }
}
