// Note: tags html element is tagify, and .tags is paizo tag/traits styling. They are not mutually exclusive.

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    list-style-type: none;
    margin-bottom: 2px;
    padding-left: 0;

    .tag, .tag option {
        @include micro;
        align-items: center;
        background-color: var(--primary);
        border-radius: 2px;
        box-shadow: inset 0 0 0 1px rgba(black, 0.5);
        color: white;
        display: flex;
        font-weight: 500;
        min-height: 1.5em;
        padding: 0 0.33em;

        &.edit-btn {
            align-items: center;
            background-color: white;
            border-radius: 0;
            color: var(--primary);
            display: flex;
            justify-content: center;

            a {
                display: inline-flex;
                svg {
                    height: 9px;
                    width: auto;
                }
            }
        }

        &.tag_secondary {
            background-color: var(--secondary);
            color: white;
        }

        &.tag_tertiary {
            background-color: var(--tertiary);
            color: white;
        }

        &.tag_alt {
            background-color: var(--alt);
            color: white;
        }

        &.tag_material {
            background-color: var(--alt-dark);
            color: white;
        }

        &.tag_transparent {
            background-color: transparent;
            color: var(--text-color-dark-2);
            text-transform: none;
            font-family: var(--font-primary);
            font-size: var(--font-size-10);
            box-shadow: inset 0 0 0 1px rgb(0 0 0 / 30%);
            border-radius: 4px;
        }

        &.mystified {
            opacity: 0.7;
        }

        &.common, &[value="common"] {
            border-color: $rarity-common;
            background-color: $rarity-common;
        }

        &.uncommon, &[value="uncommon"] {
            border-color: $rarity-uncommon;
            background-color: $rarity-uncommon;
        }

        &.rare, &[value="rare"] {
            border-color: $rarity-rare;
            background-color: $rarity-rare;
        }

        &.unique, &[value="unique"] {
            border-color: $rarity-unique;
            background-color: $rarity-unique;
        }
    }
}

li.chat-message .tags .tag {
    height: unset;
    line-height: 1.65em;
    min-height: 1em;

    &_transparent {
        line-height: 1.25em;
        padding: 0.1em 0.25em;
    }
}

// Tagify and non-tagify paizo style main traits row
.tags.paizo-style {
    align-items: center;
    border-radius: 3px;
    padding: 0.05em;
    gap: 0;

    select.tag {
        height: 22px;
    }

    tag, .tag, select.tag {
        border: 2px solid var(--color-border-trait);
        margin: 0;
        min-height: 22px;

        x {
            align-items: start;
            margin: 0;
        }

        &__removeBtn {
            align-items: baseline;
        }
    }

    tag > div {
        padding: 0 0.09rem 0 0.25rem;
    }

    tag > div, .tag, select {
        border-radius: 0;
        display: flex;
        font: 500 var(--font-size-10) var(--sans-serif);

        .tagify__tag-text {
            text-transform: uppercase;
        }
    }

    // Tone down disabled effects so we still see trait colors
    &[disabled] {
        filter: none;
        tag > div::before {
            animation: none!important;
        }

        // There's some css specificity issues that reintroduce margins,
        // display none makes it easier to remove
        & > .tagify__input {
            display: none;
        }
    }
}

tags.tags.paizo-style {
    background-color: rgba(0, 0, 0, 0.075);
    --tag-bg: var(--primary);
    --tag-hover: var(--primary);
    --tag-remove-btn-color: var(--color-text-trait);
    --tag-text-color: var(--color-text-trait);
    --tags-border-color: var(--color-border-light-tertiary);
    --tags-focus-border-color: var(--color-border-light-tertiary);
    --tags-hover-border-color: var(--color-border-light-tertiary);
    --readonly-striped: 0;

    .tagify__input {
        margin: 0;
        padding: 0.1em 0.5em;

        // Placeholder
        &::before {
            align-items: center;
            color: var(--color-text-dark-secondary);
            display: flex;
            font: 500 var(--font-size-10) var(--sans-serif);
            letter-spacing: 0.05em;
            margin: 0;
            min-height: 22px;
            text-rendering: optimizeLegibility;
            text-transform: uppercase;
            width: fit-content;
        }
    }

    .conjunction-not {
        .tagify__tag-text {
            text-decoration: line-through;
            text-decoration-color: var(--color-text-trait);
        }
    }

    // In lieu of remove button
    tag[readonly=true] {
        padding-right: 2px;
    }
}

tags.tagify.pf2e-tagify {
    --tag-bg: var(--color-text-light-3);
    --tags-border-color: var(--color-text-light-5);
    --tags-hover-border-color: var(--color-text-light-5);
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    gap: 3px;
    padding: 2px;

    &:hover {
        box-shadow: 0 0 10px #00005a
    }

    tag {
        margin: 0;
        padding: 1px;

        x {
            margin: 0;
        }

        > div {
            padding: 2px;

            .tagify__tag-text {
                font-weight: normal;
            }
        }

        .tagify__tag__removeBtn {
            align-items: baseline;
        }
    }

    .tagify__input {
        margin: 0;
    }
}

// Prevents early word wrap on certain forms
tags.pf2e-tagify, tags.tags.paizo-style {
    &.tagify--hasMaxTags > span {
        display: none;
    }

    &:not(.tagify--select) > span {
        min-width: 20px;
    }
}

.damage-tag {
    white-space: nowrap;
    margin: 0 1px 1px 0;
    padding: 0 3px;
    font-size: var(--font-size-10);
    line-height: 16px;
    border: 1px solid #999;
    border-radius: 3px;

    &-base {
        color: white;
        background: rgba(0, 0, 0, 0.45);
    }

    &-modifier {
        background: rgba(0, 0, 0, 0.05);
    }
}

// Ensure shadow fills the whole tag even if it wraps lines
// Default from tagify module is 1.1em
.tagify {
    --tag-inset-shadow-size: 10em
}

// Ensure that remove button doesn't get covered up when window is small
// Default from tagify module is hidden
.tagify__tag__removeBtn {
    overflow: visible;
}
