@import "fonts",
    // Color definitions
    "colors",
    // Useful Functions
    "mixins",
    // Old CSS files
    "legacy",
    // Global Settings
    "globals",
    // Foundry System stylings
    "ui",
    // Character Sheets
    "actor",
    // Compendium Browser
    "packs",
    // Item Sheets
    "item",
    // Scene and scene-object sheets
    "scene",
    // PF2E Settings Applications
    "settings",
    // PF2E System Applications
    "system",
    // Trait, trait-like, and tagify styles
    "tags",
    // Foundry Tooltip API
    "tooltip",
    // GM tools
    "gm",
    // UserConfig
    "user";
