@import "fonts",
        "colors",   // Color definitions
        "mixins",   // Useful Functions
        "legacy",   // Old CSS files
        "lib",      // Third-Party Plugins
        "globals",  // Global Settings
        "ui",       // Foundry System stylings
        "actor",    // Character Sheets
        "packs",    // Compendium Browser
        "item",     // Item Sheets
        "scene",    // Scene and scene-object sheets
        "settings", // PF2E Settings Applications
        "system",   // PF2E System Applications
        "tags",     // Trait, trait-like, and tagify styles
        "gm";       // GM tools
