{{#unless excludeUntrained}}
    <option value="0" {{#if (eq proflevel 0)}}selected{{/if}}>{{localize "PF2E.ProficiencyLevel0"}}</option>
{{/unless}}
{{#each profNames}}
    {{#if (not @first)}}
        <option value="{{@index}}" style="background-color: {{lookup ../profColors @index}}" {{#if (eq ../proflevel @index)}}selected{{/if}}>{{localize (lookup ../profNames @index)}}</option>
    {{/if}}
{{/each}}
