.sheet.actor.loot {
    @import "inventory";

    .inventory-list .item .item-controls a.item-toggle-equip,
    .pf2e.actor .item.action-header .item-controls a.item-toggle-equip {
        display: none;
    }

    form {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    section.sidebar {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 100%;
        border-right: 1px solid #888;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

        > * {
            flex: 0;
        }

        > img.actor-icon {
            flex: none;
            border: none;
            border-bottom: 1px solid #888;
        }

        .gm-settings, .sidebar-meta {
            display: flex;
            flex-direction: column;
            padding: 0.25rem;
        }

        .gm-settings {
            border-bottom: 1px solid #888;
            .loot-distribution {
                @include button;
                background-color: var(--tertiary);
            }
            label {
                display: flex;
                align-items: center;
                font-weight: bold;
            }
        }

        .sidebar-meta {
            border-top: 1px solid #888;
        }

        .hidden-when-empty, .bulk {
            align-self: end;
        }

        .bulk {
            line-height: 1.5em;
            margin-right: 8px;
        }

        > .editor, .description {
            flex-basis: auto;
            min-height: 40px;
            flex: 1;
        }

        > .editor {
            > .tox-tinymce {
                .tox-edit-area {
                    min-height: 120px;
                }
            }
        }

        .description, .editor-content {
            padding: 0.25rem;
            @include scrollbar;
        }
    }

    section.content {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
    }

    .sheet-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;

        padding-top: 0.25rem;
        border-bottom: 1px solid #888;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

        h1 {
            margin: 0;
            border: none;
            flex: 1;

            padding-left: 0.5rem;

            > input {
                height: 40px;
                width: 100%;
                margin: 2px;
                border: none;
            }
        }

        h1, input {
            font-family: var(--serif-condensed);
            font-size: var(--font-size-36);
            font-weight: 700;
        }

        .sheet-type {
            i.fas {
                padding: 0 2px;
            }
        }

        .traits-bar {
            flex: 0 0 auto;
            margin-left: auto;
            align-self: center;
            font-size: var(--font-size-16);
            margin-right: 0.5em;

            > .trait {
                padding: 0.1em 0.4em;
                height: unset; // this could be a select, which has default height styling

                option {
                    background-color: #5e0000;
                    color: white;
                }
            }
        }

        .currency {
            margin-bottom: 8px;
        }
    }

    .sheet-body {
        padding: 0.5rem;
        @include scrollbar;
    }
}

.loot-actor-popup {
    .confirm-button {
        @include button;
        width: calc(100% - 6px);
        background-color: var(--tertiary);
    }

    .checkboxes {
        label {
            display: block;
            padding-right: 10px;
            padding-left: 22px;
            text-indent: -22px;
        }
        input {
            vertical-align: middle;
        }
        label span {
            vertical-align: middle;
        }
    }
}
