.inventory .inventory-list {
    @include scrollbar;
    height: 100%;
    margin-bottom: 2px;

    .item-name {
        h4 {
            flex: 2;
            margin: 0;
        }

        .prepared {
            margin-left: 3px;
            font-size: var(--font-size-10);
        }
    }

    .item-sell-value,
    .item-quantity,
    .item-weight {
        border-left: 1px solid var(--secondary-background);
        color: #666;
    }

    .item-controls {
        flex: 0 0 70px;
        border-left: 1px solid var(--secondary-background);
    }

    .inventory-header {
        font-weight: 700;
        background: var(--primary-background);
        margin: 0;
        padding: 0;
        border-bottom: 1px solid var(--secondary-background);

        .item-name,
        .item-sell-value,
        .item-quantity,
        .item-weight,
        .item-controls {
            line-height: 1.8em;
            color: white;
            height: 100%;
        }

        .item-name {
            margin: 0;
            font-weight: bold;
            flex: 1;
        }

        .item-controls {
            color: white;
        }
    }

    li {
        padding: 0;
        border-bottom: 1px solid var(--secondary-background);
    }

    .item {
        line-height: 1.8em;
        .item-controls a {
            font-size: var(--font-size-10);
            color: #666;
        }
    }
}
