<div class="tab actions actions-pane" data-group="primary" data-tab="actions">
    <div class="actions-container">
        <div class="actions-tabs-wrapper">
            <section class="actions-panels major">
                <div class="toggles section-container headerless">
                    {{#if toggles.actions}}{{> "systems/pf2e/templates/actors/partials/toggles.hbs" toggles=toggles.actions}}{{/if}}
                </div>
                {{#each actions as |section sid|}}
                    <header class="action-header">
                        {{#if @root.editable}}
                            {{section.label}}
                            <div class="controls">
                                <button
                                    type="button"
                                    data-action="create-item"
                                    data-type="action"
                                    data-action-type="{{sid}}"
                                ><i class="fa-solid fa-fw fa-plus"></i>{{localize "PF2E.CreateActionTitle"}}</button>
                                <button type="button" data-action="browse-abilities">
                                    <i class="fa-solid fa-fw fa-search"></i>{{localize "PF2E.BrowseLabel"}}
                                </button>
                            </div>
                        {{/if}}
                    </header>
                    <ol class="actions-list item-list directory-list strikes-list">
                        {{#each section.actions as |action aid|}}
                            {{> "systems/pf2e/templates/actors/partials/action.hbs" action=action}}
                        {{/each}}
                    </ol>
                {{/each}}
            </section>
        </div>
    </div>
</div>
