<div class="tab inventory" data-tab="inventory">
    {{> "systems/pf2e/templates/actors/partials/coinage.hbs" editable=editable}}
    {{> "systems/pf2e/templates/actors/partials/inventory.hbs"}}
    {{> "systems/pf2e/templates/actors/partials/total-bulk.hbs"}}
</div>
