<div class="tab inventory" data-group="primary" data-tab="inventory">
    {{> "systems/pf2e/templates/actors/partials/coinage.hbs" editable=editable}}
    {{> "systems/pf2e/templates/actors/partials/inventory.hbs"}}
</div>
