<form>
    <div class="form-group">
        <label for="adjustment-quantity">{{localize "PF2E.UI.shiftModifyDamageLabel"}}</label>
        <input type="number" id="adjustment-quantity" placeholder="0" />
    </div>
</form>
