    <ul class="tags">
        {{#each breakdown as |modifier|}}
        <li class="tag tag_transparent">{{modifier}}</li>
        {{/each}}
    </ul>
    {{{notes}}}
    {{#if (or breakdown.length notes)}}<hr />{{/if}}
