<p>
    <span class="statements">{{statements}}</span>
    {{!--
    {{#if iwr.applications}}
        <span class="iwr" data-visibility="{{iwr.visibility}}"><i class="fas fa-info-circle small" data-applications={{json iwr.applications}}></i></span>
    {{/if}}
     --}}
</p>
