<p class="damage-taken">
    <span class="statements">{{statements}}</span>
    {{#if iwr.applications}}
        <span class="iwr" data-visibility="{{iwr.visibility}}" data-applications="{{json iwr.applications}}"><i class="fas fa-info-circle small"></i></span>
    {{/if}}
</p>
