.choice-set-prompt {
    --border-color-50: color-mix(in srgb, var(--color-form-hint) 50%, transparent);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .header {
        display: flex;
        justify-content: center;
        font-size: 1.25em;
        border-bottom: 1px solid var(--color-tabs-border);
    }

    button,
    select {
        display: flex;
        justify-content: flex-start;
        margin: var(--space-4) auto;
        width: 100%;
    }

    .choices {
        margin: auto;
        max-width: max-content;

        &.select-menu {
            min-width: 18em;

            tags {
                background-color: var(--table-header-bg-color);
                border-radius: 3px;
                height: 2rem;
                width: 100%;

                .tagify__input {
                    align-items: center;
                    display: flex;
                    height: 100%;
                    margin: 0;
                }
            }
        }

        button,
        .drop-zone {
            cursor: pointer;
            max-width: 100%;

            &:not(.with-image) {
                min-width: 120px;
                justify-content: center;
            }

            &.with-image {
                align-items: center;

                img {
                    border: 1px solid #444;
                    height: 1.6em;
                    margin-right: 0.5em;
                }
            }
        }

        .choice-buttons {
            align-items: center;
            display: flex;
            flex-direction: column;

            .choice {
                align-items: center;
                display: flex;
                gap: 0.5em;
                width: 100%;

                &.select {
                    margin-bottom: 0.5rem;
                }

                button.item-info {
                    align-items: center;
                    border: 1px solid var(--border-color-50);
                    display: flex;
                    justify-content: center;
                    height: var(--font-size-20);
                    width: var(--font-size-20);
                    min-width: unset;
                    min-height: unset;

                    &.disabled {
                        color: var(--color-disabled);
                        cursor: default;
                    }
                }
            }
        }

        .drop-zone {
            border: 1px solid var(--border-color-50);
            border-radius: 3px;
            color: var(--color-text-secondary);
            cursor: default;
            display: flex;
            font-family: var(--font-sans);
            font-size: var(--font-size-14);
            line-height: 1.75rem;
            padding: var(--space-1) var(--space-6);
            margin: var(--space-4) auto;

            i {
                align-items: center;
                border: 1px solid var(--border-color-50);
                border-radius: 2px;
                display: flex;
                height: 1.6em;
                justify-content: center;
                margin-right: 0.5em;
                width: 1.6em;

                &:after {
                    font-size: var(--font-size-20);
                }
            }

            span {
                flex: 1;
            }
        }
    }
}
