.compendium-migration-status {
    .content {
        min-width: 15rem;
    }

    table * {
        user-select: text;
        th, td {
            padding: 0.25em 0.5em;
            white-space: nowrap;
        }
        th {
            padding-left: 1em;
            text-align: end;
        }
        td {
            width: 100%;
        }
    }

    .empty {
        opacity: 0.8;
    }

    .updated {
        border: 1px dashed var(--alt);
        line-height: 28px;
        text-align: center;
    }

    .migrate {
        display: flex;
        padding: 0.125rem;
        & > * {
            flex: 1;
        }
    }
}
