#ui-right-column-1 {
    position: relative;
}

#effects-panel {
    position: absolute;
    top: 1rem;
    right: 0;

    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: fit-content;
    max-height: calc(100% - 165px);
    overflow: auto;
    pointer-events: initial;
    padding-left: 2px;
    scrollbar-gutter: stable;

    // This allows glow effects to exist despite overflow cutting them off
    padding: 6px 6px 6px 0;
    margin: -6px -6px 0 0;

    .effect-item {
        border-radius: 4px;
        direction: ltr;
        display: flex;
        justify-content: end;

        &[data-badge-type="formula"] .icon {
            cursor: pointer;

            /* Show fa-dice-d20 */
            &:hover::before {
                content: "\f6cf";
                background: rgba(0, 0, 0, 0.5);
                font-family: var(--font-awesome);
                font-weight: 900;
                font-size: var(--font-size-26);
                color: var(--text-light);
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 4px; // offset
            }
        }

        > .icon {
            align-items: center;
            background-repeat: no-repeat;
            background-size: contain;
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
            border: 1px solid var(--color-cool-4);
            border-radius: 4px;
            color: transparent;
            display: flex;
            justify-content: center;
            position: relative;
            height: 46px;
            width: 46px;

            &.aura {
                border-radius: 50%;
                box-shadow: 0px 0px 6px 3px white;
            }

            &.unidentified {
                filter: drop-shadow(0 0 8px var(--visibility-gm-bg));
            }

            .expired {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 2px 1px;
                @include micro;
                color: var(--text-light);
                background-color: var(--primary);
            }

            .linked {
                position: absolute;
                display: inline-block;
                bottom: 0;
                right: 0;
                padding: 0px 2px;
                color: var(--text-light);
                background-color: rgba(0, 0, 0, 0.75);
            }

            .value-wrapper {
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: calc(100% + 2px);
                padding: 0px 2px;

                color: var(--text-light);
                background-color: rgba(0, 0, 0, 0.75);
                font-size: var(--font-size-13);
                letter-spacing: -0.05em;
                white-space: nowrap;
                overflow: hidden;

                .value {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    strong {
                        display: inline-block;
                        padding-right: 1px; // prevent clipping
                    }
                }
            }
        }
    }

    > hr {
        margin: 0;
        width: 48px;
    }
}

aside.effect-info {
    gap: 3px;
    height: min-content;
    margin-right: 0.5em;
    max-width: 350px;
    padding: 0.25em 0.5rem;

    // Allow tooltips spawned from this element to have a higher z-index
    z-index: 9998;

    .content {
        display: flex;
        align-items: end;
        flex-direction: column;
    }

    h1 {
        border: none;
        display: flex;
        font: var(--font-size-14) var(--font-primary);
        margin: 0;
        padding: 0;
        padding-top: 0.25em;
        text-align: right;

        a[data-action="send-to-chat"] i {
            font-size: var(--font-size-13);
            margin-left: 2px;
        }
    }

    > a.inline-check {
        font-size: var(--font-size-13);
        font-weight: normal;
        line-height: normal;
        vertical-align: middle;
    }

    .tags {
        justify-content: end;

        .tag {
            margin-bottom: 0;

            & + .tag,
            &:first-child {
                margin-left: 3px;
                margin-right: -2px;
            }
        }
    }

    .instructions,
    .description {
        font-size: var(--font-size-12);
    }

    .instructions {
        display: flex;
        flex-direction: column;
        gap: 2px;
        text-align: right;
    }

    .description {
        max-height: 22em;
        overflow-y: auto;
        padding: 0 0.5em;
        text-align: left;

        hr {
            border: none;
            border-bottom: 2px groove #bbbbbb;
        }

        .addendum {
            background-color: rgba(white, 0.1);
            padding: 0 var(--space-4);

            + .addendum {
                margin: var(--space-4) 0;
            }
            h4 {
                font-weight: bold;
                margin-bottom: 0;
                padding-top: var(--space-2);
            }
            h4 + p {
                margin-top: 0;
            }
            p {
                margin: var(--space-2) 0;
                min-height: unset;
            }
        }
    }
}
