#migration-summary > .window-content {
    > h3 {
        margin: auto;
    }
    > .dialog-content > table {
        i.fa-check {
            color: green;
        }
        i.fa-times {
            color: red;
        }
        td {
            text-align: center;
        }
    }
    > .dialog-buttons {
        display: flex;
        &:disabled::hover {
            box-shadow: none;
        }
    }
}
