#upw-viewer {
    .window-content {
        background: no-repeat right url("/assets/upw-logo.webp") black;

        .content {
            color: #eee;
            width: 435px;
            font-size: larger;

            a[href] {
                color: #8b6cae;
                font-size: large;
                display: block;
                text-align: center;
            }
        }
    }
}
