#world-clock {
    section.window-content {
        font-size: 1rem;

        h1 {
            font-size: inherit;
            text-align: center;
        }

        .input-grid {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            font-size: 0.8rem;
            justify-content: space-evenly;

            > * {
                flex-basis: 32%;
                height: 1.5rem;
                line-height: 20px;
            }

            .sign {
                font-family: var(--sans-serif-monospace);
                font-size: inherit;
            }

            button {
                align-items: center;
                display: flex;
                font-size: inherit;
                justify-content: center;
                margin: 1px;

                img {
                    border: none;
                    height: 1.5em;
                }
            }

            .time-of-day {
                display: flex;
                flex-basis: 100%;
                margin: 0 3px;

                img.midnight {
                    height: 1.05rem;
                }
            }
        }
    }
}
