.app.recall-knowledge {
    section.window-content {
        .skill-buttons {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            row-gap: 10px;
            column-gap: 10px;
            margin: 10px 0px;
            max-width: 400px;
        }
        .alternate-skills {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 10px;
    
            .controls {
                flex-basis: 85%;
            }
        }
    }
}