{
	"env": { "es6": true },
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"eslint-config-prettier"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint"],
	"rules": {
		"@typescript-eslint/ban-types": 0,
		"@typescript-eslint/no-explicit-any": 0
	}
}
