#token-hud .status-effects {
  width: 175px;
  grid-template-columns: 35px 35px 35px 35px 35px;
}
#token-hud .status-effects .effect-control {
  width: 34px;
  height: 34px;
  opacity: 0.4;
}
#token-hud .status-effects .pf2e-effect-control {
  width: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
  border: none;
  opacity: 0.4;
}
#token-hud .status-effects .pf2e-effect-control:hover {
  opacity: 0.75;
}
#token-hud .status-effects .pf2e-effect-control.active {
  opacity: 1;
}
#token-hud .status-effects .pf2e-effect-control.overlay {
  opacity: 1;
  border: 1px solid #ff6400;
}
#token-hud .pf2e-effect-img-container {
  position: relative;
  text-align: center;
  color: white;
}
#token-hud .pf2e-effect-value {
  position: absolute;
  top: -1px;
  right: -1px;
  font-size: 13px;
  line-height: 1em;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  background: #fff;
  border: 0.1em solid darkred;
  color: #111;
  text-align: center;
  font-weight: bold;
}
