<form class="window flexcol" autocomplete="off" onsubmit="event.preventDefault();">
    <header class="trait-header flexrow">
        <div class="header-search">
            <i class="fas fa-search"></i>
            <input type="text" id="search" value="{{searchString}}" placeholder="Search" autocomplete="off"/>
        </div>
    </header>
    <ol class="trait-list">
        {{#each choices as |choice key|}}
        <li class="trait-item">
            <div class="form-group form-fields">
                <input type="checkbox" name="{{key}}" data-dtype="Boolean" {{checked choice.selected}}>
                <label class="trait-label" style="margin-left: 5px; margin-right: 5px;">{{choice.label}}</label>
            </div>
        </li>
        {{/each}}
    </ol>
    {{#if allowCustom}}
    <div class="form-group-stacked trait-footer">
        <label>{{localize "PF2E.SpecialLabel"}}:</label>
        <input type="text" name="custom" value="{{custom}}" data-dtype="String"/>
    </div>
    {{/if}}
    <button class="trait-footer" type="submit" name="submit" value="1"><i class="far fa-save"></i>{{localize "PF2E.UpdateActorLabel"}}</button>
</form>
