#npc__ability {
    .ability-scores-list {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        column-gap: 0.75em;
        row-gap: 0.25em;

        input {
            width: 3ch;
        }
        span.plus::before {
            left: -21px;
            top: -8px;
        }
        span.plus.lt10::before {
            left: -15px;
        }
    }
}
