#npc__armor {
    .armor {
        display: grid;
        grid-template: 'ac base';

        &__ac {
            grid-area: ac;
        }

        &__base {
            grid-area: base;
        }

        .input-group {
            flex-direction: column;
            align-items: center;
        }

        &__label,
        input {
            margin: 0;
            text-align: center;
        }

        &__label,
        .shield__label {
            font-family: $serif;
        }

        &__value {
            font-size: 1.2em;
        }

        &__ac {
            font-weight: bold;
        }
    }

    .hasShield {
        grid-template:
            'ac base shield'
            'shield-detail shield-detail shield-detail';
        grid-template-columns: repeat(3, 1fr);
    }

    .shield {
        grid-area: shield;

        &__details {
            --color: var(--alt);
            grid-area: shield-detail;
            display: flex;
            justify-content: space-between;
            border: 1px solid var(--color);
            border-radius: 2px;
            padding: 0.25em 0.5em;

            .label-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__label {
                font-weight: bold;
            }

            &__value {
                margin: 0 0.25em;
            }
        }

        .input-row {
            display: flex;
            align-items: center;
            margin-top: 0.2em;

            input {
                width: 2ch;
            }
        }

        &.broken {
            opacity: 0.5;

            .armor__label {
                text-decoration: line-through;
            }

            .shield__details {
                &__label,
                &__value {
                    text-decoration: line-through;
                }
            }
        }
    }
}
