#npc__health {
    gap: 0;
    margin-bottom: 1em;

    .hp {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;

        .input-group {
            flex-direction: column;
            align-items: center;
        }

        &__title,
        input {
            text-align: center;
            margin: 0;
        }

        &__title {
            font-family: $serif;
        }

        input {
            font-size: 1.2em;
            padding-top: 0.25em;
        }

        &__current {
            border-radius: 0 0 3px 3px;
            box-shadow: 0 0 0 1px var(--primary);
        }
    }
}
