#passives {
    grid-area: passives;

    .actions-list {
        width: 100%;
    }

    .action {
        flex: auto;
        margin: 0;
    }

    .action-header {
        flex: initial;
        padding: 0.25em 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .action-body {
        padding: 0;
    }

    .action-detail {
        padding: 0 0 0.5em;
    }
}
