#recall-knowledge {
    grid-area: recall;

    .identification-skills {
        display: flex;
    }
    ul {
        display: flex;
        gap: 0.25em;
        list-style: none;
        @include p-reset;
        margin-right: 0.25em;


        li:not(:last-of-type):after {
            content: ', ';
        }
    }
}
