#npc__speed {
    input {
        text-align: right;
    }

    span {
        margin-left: 0.25em;
    }

    .input-group,
    input {
        width: 100%;
    }

    .controls {
        margin-left: 0.25em;
    }
}
