#npc__toggles {
    .actions-options {
        gap: 1em;

        .actions-option {
            display: flex;
            align-items: center;

            label {
                * {
                    display: inline;
                    vertical-align: middle;
                }

                input {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
