/* ----------------------------------------- */
/* Item Card Structure                       */
/* ----------------------------------------- */

.pf2e.chat-card {
    font-style: normal;

    .card-header {
        padding: 2px 0;
        border-top: 2px groove #fff;
        align-items: center;
        min-height: 2.25rem;

        img {
            flex: 0 0 2.25rem;
            margin-right: 0.25rem;
            height: 2.25rem;
            width: 2.25rem;
        }

        h3 {
            border-bottom: none;
            flex: 1;
            margin: 0;
            font-size: var(--font-size-16);
        }

        h4 {
            flex: 0;
            margin: 0 0.5em 0 0;
            white-space: nowrap;

            &.level,
            &.rank {
                margin-left: auto;
            }
        }
    }

    .tags {
        margin: 3px 0 0;
    }

    .card-content {
        margin: 0.25rem 0;

        p {
            margin: 0.25rem 0;
            min-height: unset;
        }
    }

    .card-buttons {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        margin: 0.25rem 0;

        button {
            margin: 2px 0;

            span {
                border: none;
            }
        }

        .owner-buttons {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
        }

        .spell-attack-buttons,
        .spell-button {
            display: flex;
            flex-direction: row;

            * {
                flex-grow: 1;
                flex-basis: 0;
            }

            :first-child {
                flex-grow: 2;
            }
        }

        .spell-button button.small {
            flex-grow: 0;

            > i {
                margin-right: 0;
            }
        }

        // Conditionally added based on visibility
        .hidden-to-others {
            background: var(--visibility-gm-bg);
        }
    }

    .card-footer {
        padding: 3px 0 0;
        border-top: 2px groove #fff;

        span {
            border-right: 2px groove #fff;
            padding: 0 0.25rem 0 0;
            font-size: var(--font-size-12);

            &:last-child {
                border-right: none;
                padding-right: 0;
            }
        }
    }

    .card-buttons-two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.25rem;
    }
}
