/* ----------------------------------------- */
/* Item Card Structure                       */
/* ----------------------------------------- */

.pf2e.chat-card {
    display: flex;
    flex-direction: column;
    font-family: var(--sans-serif);
    gap: var(--space-4);

    h2,
    h3,
    h4 {
        font-size: inherit;
        font-weight: 600;
    }

    .card-header {
        padding: var(--space-2) 0;
        border-top: 2px groove white;
        align-items: center;
        min-height: 2.125rem;

        img {
            flex: 0 0 1.75rem;
            margin-right: var(--space-4);
            height: 1.75rem;
            width: 1.75rem;
        }

        h3 {
            border-bottom: none;
            flex: 1;
            margin: 0;
            font-size: var(--font-size-16);
        }

        h4 {
            flex: 0;
            margin: 0 0.5em 0 0;
            white-space: nowrap;

            &.level,
            &.rank {
                font-size: var(--font-size-14);
                margin-left: auto;
            }
        }
    }

    .tags {
        border-bottom: 2px groove white;
        margin: 0;
        padding: var(--space-4) 0;
        flex-basis: 100%;
        &:not(:has(.tag)) {
            padding: 0 0 var(--space-3) 0;
        }
    }

    .card-content {
        margin: 0;

        hr.item-block-divider {
            margin-top: var(--space-3);
        }
    }

    footer {
        padding: var(--space-3) 0 0;
        border-top: 2px groove white;

        span {
            border-right: 2px groove white;
            padding: 0 var(--space-4) 0 0;
            font-size: var(--font-size-12);

            &:last-child {
                border-right: none;
                padding-right: 0;
            }
        }
    }

    .card-buttons-two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: var(--space-4);
    }
}

.message-content {
    .card-buttons,
    .message-buttons {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        gap: 0.25rem;

        &.horizontal {
            flex-direction: row;
            button {
                flex: 1;
            }
        }

        button span {
            border: none;
        }

        .owner-buttons {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            gap: 0.25rem;
        }

        .spell-attack-buttons,
        .spell-button {
            display: flex;
            flex-direction: row;
            gap: 0.25rem;

            * {
                flex-grow: 1;
                flex-basis: 0;
            }

            :first-child {
                flex-grow: 2;
            }
        }

        .spell-button button.small {
            flex-grow: 0;

            > i {
                margin-right: 0;
            }
        }

        // Conditionally added based on visibility
        .hidden-to-others {
            background: var(--visibility-gm-bg);
        }
    }
}
