:root {
    --primary-background: #454a7c;
    --secondary-background: gray;
    --tertiary-background: #454a7c;
    --alternate-background: darkgray;
}

/* ---------------------------------------- */
/* Actor Sheet                              */
/* ---------------------------------------- */

.pf2e.actor form {
    font-size: var(--font-size-13);
    height: 100%;
    padding: 0.25rem;

    .sheet-header {
        border-bottom: 1px solid var(--primary-background);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 0 0 100%;
        height: 3rem;
        justify-content: flex-start;

        > * {
            flex: 1;
        }

        h1 {
            margin: 0;
            border: none;

            > input {
                @include serif-condensed;
                height: 2.5rem;
                width: 100%;
                margin: 2px;
                font-size: var(--font-size-36);
                border: none;
            }
        }
    }

    .sheet-sidebar {
        height: calc(100% - 48px);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: hidden auto;
        border-right: 1px solid var(--primary-background);

        .tab {
            height: 100%;
            padding-top: 2px;
            overflow-y: auto;
        }

        > * {
            flex: 1;
        }

        .sidebar-summary {
            overflow-y: hidden;
        }
    }

    .sheet-body {
        height: calc(100% - 35px);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    input {
        &[type="text"],
        &[type="number"] {
            background: rgba(black, 0.025);
            border: 1px solid transparent;
            color: var(--color-text-dark-input);
            height: calc(100% - 2px);
            margin: 1px 0;
            padding: 0;
            width: calc(100% - 2px);

            &:hover:not(:disabled),
            &:focus {
                border: 1px solid black;
                box-shadow: 0 0 10px #00005a;
            }
        }
    }

    label {
        display: block;
    }

    .mce-panel span {
        display: inherit;
    }

    &.editable .rollable:hover {
        color: #000;
        text-shadow: 0 0 10px #00005a;
        cursor: pointer;
    }

    .sheet-tabs {
        font-weight: 500;
        height: 30px;

        > .list-row {
            line-height: 2rem;
            padding-top: 3px;
            font-size: var(--font-size-12);
            text-align: center;

            &:last-of-type {
                padding-right: 4px;
            }

            &.active {
                color: var(--text-dark);
                font-weight: 700;
            }
        }
    }

    .tag-legacy {
        float: left;
        margin: 0 2px 2px 0;
        padding: 0 3px;
        font-size: var(--font-size-10);
        line-height: 1rem;
        border: 1px solid var(--color-border-light-2);
        border-radius: 3px;
        white-space: normal;
        font-weight: 500;
    }

    .traits {
        label {
            font-weight: bold;
        }

        select {
            margin: 2px 0;
        }

        .trait-perception > input {
            flex: 0 0 32px;
            text-align: center;
        }

        .tag-selector {
            float: right;
            margin-right: 3px;
            color: #999;
            font-size: var(--font-size-10);
            line-height: 16px;
        }
    }

    .inventory-header {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .action-header .item-controls {
        flex: 0 0 44px;
    }

    .action-header .item-controls a {
        display: block;
        float: left;
        width: 44px;
        font-size: var(--font-size-14);
        text-align: center;
    }

    .list-row.action-header .item-controls a {
        display: block;
        float: left;
        width: 22px;
        font-size: var(--font-size-10);
        text-align: center;
        color: #666;
    }

    .action-header .item-controls a {
        &.item-create,
        &.item-delete,
        &.feat-browse,
        &.action-browse {
            width: 100%;
            color: #fff;
            background: var(--primary-background);
        }
    }
}

/* ----------------------------------------- */
/* Item Buttons                              */
/* ----------------------------------------- */

.pf2e.sheet {
    .item-buttons {
        button {
            font-size: var(--font-size-10);
            line-height: 12px;
            margin: 0;
        }

        > span {
            padding: 0;
        }
    }
}

li.list-row.hover-container {
    background-color: #aaa !important;
}

.dice-total-shield-btn.shield-activated {
    background-color: #333;
    color: var(--text-light);
}

.recall-knowledge-table {
    th {
        padding: 5px 8px;
    }

    td {
        text-align: center;
        padding: 5px 8px;

        &:first-child {
            text-align: right;
        }
    }

    th:first-child {
        text-align: right;
    }
}

button {
    &:hover::not(:disabled) {
        box-shadow: 0 0 3px #c00;
    }
    &:disabled {
        color: #666;
    }

    &:active {
        box-shadow: 0 0 5px red;
    }
}

.app.tag-selector {
    max-height: 700px;
}
