/**
*  Legacy is for the old css unrelated
*  to the current design (crb-style).
*  Only use the legacy folder if you need
*  to make changes to the old css.
*
*  If you're adding a new feature, put it
*  in the appropriate folder in src/styles.
*  Just make sure to update the relevant
*  _index.scss so that it will get compiled.
*
*/
