.focus,
.input-group,
.item__name {
    display: inline-flex;
    align-items: center;
    gap: var(--size-s);
    line-height: 1;
}

&__subheader {
    display: grid;
    grid-template-columns: 55% 35% 10%;
    background-color: var(--secondary);
    color: white;
    width: 100%;
    border-top: 1px solid lighten($secondary-color, 10);
    border-bottom: 1px solid darken($secondary-color, 15);
    align-items: center;
}

.label {
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 1.5;
}

.info-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;

    &.info-header {
        display: inline-flex;
        gap: var(--size-xl);
    }

    .spell__title {
        margin-left: var(--size-m);
        margin-right: 0;
        font-family: $sans-serif;
        font-size: 0.8em;
        text-transform: uppercase;
    }

    .input-group {
        justify-content: flex-start;
        margin-right: var(--size-xl);
        line-height: 1;
    }
}
