&__book {
    .spell__header {
        background-color: var(--alt);
        border: none;
        border-radius: var(--radius);
        padding: var(--size-s) var(--size-m);
        line-height: 1;

        &:first-of-type {
            border-top: 1px solid lighten($alt-color, 5);
            border-bottom: 1px solid darken($alt-color, 10);
            border-radius: 0 0 var(--radius) var(--radius);
        }
    }
}

&__list {
    @include p-reset;
}

.item {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);

    &__header,
    .controls {
        background-color: transparent;
        color: var(--body);
        border: none;
    }

    &__header {
        padding: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    &__icon {
        display: block;
        border: none;
        object-fit: contain;
        max-width: 2em;
        cursor: pointer;
        background-color: var(--alt);
        border-radius: 0;
    }

    &:last-of-type {
        .item__header {
            border: none;
        }
    }
}

&__components {
    display: inline-flex;
    justify-content: flex-start;
    gap: var(--size-s);
}
