<div>
  <div style="display: grid; grid-template-columns: 1fr 2fr 0.6fr;">
    <span style="justify-self: start; font-weight: bold;">Type</span>
    <span style="justify-self: start; font-weight: bold;">Modifier</span>
    <span style="justify-self: center; font-weight: bold;">Exclude?</span>
  </div>
  <hr/>
  <div class="modifier-container">
    {{#each modifiers as |modifier idx|}}
    <div style="display: grid; grid-template-columns: 1fr 1.5fr 0.5fr 0.6fr; {{#unless modifier.enabled}}text-decoration: line-through; color: darkgrey;{{/unless}}">
      <span style="justify-self: start; text-transform: capitalize;">{{modifier.type}}</span>
      <span style="justify-self: start;">{{localize modifier.name}}</span>
      <span style="justify-self: center;">{{numberFormat modifier.modifier decimals=0 sign=true}}</span>
      <input type="checkbox" data-modifier-index="{{idx}}" style="justify-self: center;" {{#if modifier.ignored}}checked="checked"{{/if}}/>
    </div>
    {{/each}}
  </div>
  <hr/>
  <div style="display: grid; grid-template-columns: 2.5fr 0.5fr 0.6fr;">
    <span style="justify-self: start; font-weight: bold;">Total Modifier:</span>
    <span style="justify-self: center; font-weight: bold;">{{numberFormat totalModifier decimals=0 sign=true}}</span>
    <span>&nbsp;</span>
  </div>
  <hr/>
  <button type="button">Roll</button>
</div>
