.select-repair-item-dialog {
    .drop-item-zone {
        display: flex;
        align-items: center;
        margin: 0 2px 5px;
    }

    .item-icon {
        height: 32px;
        width: 32px;
        margin-right: 3px;
    }

    .button-panel {
        display: flex;
    }
}
