.armor-class {
    display: grid;
    grid:
        "ac shield-hp shield-footer" 74px
        "shield-data shield-data shield-data" auto
        / 66px 59px auto;
    grid-column-gap: 4px;

    .ac,
    .shield {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 4.625rem;
        justify-content: start;
        padding: 0.875rem 0.625rem 0 0.625rem;
        text-align: center;

        .data-value {
            h2,
            input {
                width: 3rem;
            }

            input {
                font-size: var(--font-size-30);

                &:disabled {
                    color: var(--color-pf-tertiary);
                }
            }
        }

        label {
            white-space: normal;
        }

        &.hp {
            background: url("/assets/sheet/shield-red.webp") no-repeat top center;
            grid-area: shield-hp;

            &.disabled {
                opacity: 0.75;

                input:hover {
                    text-shadow: none;
                }
            }
        }
    }

    .ac {
        background: url("/assets/sheet/shield-blue.webp") no-repeat center center;
        font-size: var(--font-size-26);
        grid-area: ac;
    }

    .shield-stats {
        grid-area: shield-data;

        ul {
            align-items: center;
            display: grid;
            gap: 0.5rem;
            grid-template-columns: repeat(3, 1fr);
            margin: 0.5rem auto 0;
            padding: 0 0.25rem;

            li {
                display: flex;
                flex: 1;
                gap: 0.5rem;

                .shield-label {
                    margin-right: -0.5rem;
                    position: relative;

                    svg {
                        height: 1.25rem;

                        path {
                            fill: var(--tertiary-light);
                        }

                        text {
                            fill: var(--primary-dark);
                        }
                    }
                }

                .data-value {
                    @include input-border;
                    color: var(--color-pf-tertiary);
                    flex-basis: 3.125rem;
                    font-size: var(--font-size-14);
                    font-weight: normal;
                    height: 1.25rem;
                    margin-left: -0.5rem;
                }
            }
        }
    }

    .shield-max-status {
        display: inline-flex;
        flex-direction: column;
        grid-area: shield-footer;
        justify-content: center;
        justify-self: center;
        width: calc(100% - 6px);

        &.disabled {
            opacity: 0.75;
        }

        .max {
            display: flex;
            flex-direction: column;
            align-items: center;

            label {
                white-space: normal;
                text-align: center;
                width: 5em;
                margin-bottom: 0.25rem;
            }

            .data-value {
                color: var(--color-pf-tertiary);
                text-align: center;
                font: normal var(--font-size-26) / 1em var(--serif);
            }
        }

        .status {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.33rem;
            color: var(--tertiary-light);
            margin-top: 0.25rem;
        }
    }
}
