ol.difficulty-checks {
    li {
        grid:
            'label' 1fr
            'value' 20px
            / 1fr;

        .data-value h2 {
            line-height: 1;
            height: auto;
            font-size: 24px;
        }
    }
}

.difficulty-checks {
    &.roll-data {
        h3 {
            @include p-reset;
            text-transform: capitalize;
        }
    }
}
