aside {
    grid-area: sidebar;
    color: #ffefbd;
    font-family: $serif;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background: url('../assets/sheet/red_sidebar2.svg') no-repeat top center;
    background-size: 230px;
    height: 770px;
    overflow: hidden;
    .logo {
        margin-top: 5px;
        border: none;
        position: relative;
        z-index: 10;
    }
    .sidebar {
        padding: 0 30px;
        @import 'health';
    }
}
