.roll-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        display: inline-flex;
        align-items: center;
        padding-bottom: 2px;
        &:hover {
            svg {
                filter: drop-shadow(0 0 6px white);
            }
        }
    }
    h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 0 10px;
    }
    select {
        all: initial;
        font-family: $serif;
        font-size: 14px;
        color: white;
        background-color: var(--primary);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        line-height: 1.5;
        width: 100%;
        max-width: 100%;
        cursor: pointer;
        padding: 0 8px;
        -webkit-appearance: none;
        text-overflow: ellipsis;
        background-image: url('../assets/icons/chevron-down.svg');
        background-repeat: no-repeat;
        background-position: right 0.25em top 50%;
        background-size: 1em auto;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.075);
    }
    h4 {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        background: url('../assets/sheet/plaque.png') no-repeat center center;
        color: var(--primary);
        text-transform: capitalize;
        font-family: $serif;
        font-size: 14px;
        padding: 4px 0 2px;
        border-radius: 1px;
        border: 1px solid #9f725b;
        /* prettier-ignore */
        box-shadow:
            inset 0 0 0 1px #e9d7a1,
            inset 0 0 0 2px #c3b396;
    }
}
