.sidebar_title.tags {
    justify-content: flex-start;
}

.sidebar.tags, ol.tags {
    .resist {
        background-color: var(--secondary);
    }
    .weakness {
        background-color: var(--sub);
    }
    .immune {
        background-color: white;
        color: var(--primary);
    }
}

ol.tags {
    flex-direction: row;
    flex-wrap: wrap;
    li {
        display: inline-flex;
        flex-wrap: nowrap;
        box-shadow: inset 0 0 0 1px rgba(white, 0.5);
        &.edit-btn {
            background-color: white;
        }
    }
}