.sidebar_title.tags {
    justify-content: space-between;
    border-top: 1px solid var(--sidebar-title);
    border-bottom: 1px solid var(--sidebar-title);
    .tag {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 2px;
        padding: 4px !important;
        justify-content: space-around;
    }
}

.sidebar_title.tags, ol.tags {
    .tag {
        margin-bottom: 4px;
        border-radius: 12px;
        padding: 3px 6px;
    }
    .resist {
        background-color: var(--secondary);
        box-shadow: inset 0 0 0 1px rgba(white, 0.1);
        color: white;
    }
    .weakness {
        background-color: var(--sub);
        box-shadow: inset 0 0 0 1px rgba(white, 0.2);
        color: white;
    }
    .immune {
        background-color: white;
        color: var(--primary);
        box-shadow: inset 0 0 0 1px rgba(black, 0.6);
    }
}

ol.tags {
    flex-direction: row;
    flex-wrap: wrap;
    li {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: stretch;
        &.edit-btn {
            background-color: var(--teal);
            box-shadow: inset 0 0 0 1px rgba(black, 0.8), inset 0 0 0 2px rgba(white, 0.1);
            border-radius: 2px;

            a {
                color: white;
            }

            transition: all 0.2s ease-in;

            &:hover {
                background-color: white;
                a {
                    color: var(--primary);
                }
            }
        }
    }
}