ul.sidebar-saves {
    @include p-reset;
    display: flex;

    .roll-data {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #ffefbd30;

        &:first-child {
            border-left: none;
        }

        .save-label {
            font-size: 0.75rem;
            font-family: var(--sans-serif);
            font-weight: 400;
            text-transform: capitalize;
            color: var(--sidebar-label);
            border: none;
            margin-bottom: 2px;
        }

        .save-roll {
            @include flex-center;
            margin: 4px 0;

            h3 {
                margin: 0;
                margin-left: 2px;
            }
        }

        .button {
            box-shadow: inset 0 0 0 1px rgba(white, 0.4);
            background-color: rgba(255, 255, 255, 0.75);
            color: var(--primary);
            padding: 2px;
            border-radius: 2px;
        }
    }
}
