.stamina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    li {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        label {
            white-space: normal;
        }
        input {
            text-align: center;
            font-size: 14px;
            color: white;
            padding: 0;
        }
    }
}
