.actions-options {
    .actions-option {
        display: flex;
        align-items: center;
        width: 100%;

        label {
            width: 100%;

            * {
                display: inline;
                vertical-align: middle;
            }

            input {
                margin: 0;
                padding: 0;
            }
        }
    }
}
