.main .tab-content {
    display: grid;
    grid-template:
        'ability-scores speed'
        'skills skills'
        'passives passives'
        'recall lang';

    gap: 0.5em;
}

@import 'skills';
@import 'lang';
@import 'ability';
@import 'recall';
@import 'speed';
@import 'passives';
