.main .tab-content {
    display: grid;
    grid-template:
        'ability-scores speed'
        'skills skills'
        'passives passives'
        'recall lang';
    grid-template-columns: 50% 50%;
    column-gap: 0.5em;
    row-gap: 1em;
}

@import 'skills';
@import 'lang';
@import 'ability';
@import 'recall';
@import 'speed';
@import 'passives';
