.pf2e.influence {
    section[data-type] {
        ul {
            list-style-type: none;
            margin: 0 0 0 10px;
            padding: 0;
        }
    }

    [data-action] {
        cursor: pointer;
    }
}
