<form class="{{cssClass}} npc-sheet" autocomplete="off">
    <div class = "side-bar">
        {{# if (not lootSheet)}}<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="auto" width="100%" style="margin: 0 auto"/>{{/if}}
        {{# if lootSheet}}
        <div class="profile" style="background-image: url('{{actor.img}}')">
            <img src="/icons/svg/skull.svg" />
        </div>
        {{/if}}
        <div class="side-bar-section effects">
            <div class="side-bar-section-header">
                <div class="side-bar-label">
                    <i class="fas fa-adjust"></i>
                    <h4>{{localize "PF2E.EffectsLabel"}}</h4>
                </div>
            </div>
            <div class="side-bar-section-content">
                <div class="effects-list inventory-list">
                    {{#each conditions as |condition index|}}
                        <div class="item item-name effect expandable" title="{{condition.name}}" data-item-id="{{condition._id}}" data-action-index="{{index}}">
                            <div class="item-image" style="background-image: url({{condition.img}})"></div>
                        </div>
                    {{/each}}
                    {{#each effectItems as |effect|}}
                        {{#if @first}}<div class="separator"></div>{{/if}}
                        <div class="item effect expandable" title="{{effect.name}}" data-item-id="{{effect._id}}">
                            <div class="item-image" style="background-image: url({{effect.img}})"></div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="npc-body">
        <header class="npc-sheet-header">
            <div class="name flexrow">
                <span class="non-editable name-value">{{actor.name}}</span>
            </div>
            <div class="description flexrow" >{{data.details.blurb}}</div>
        </header>
        <hr />
        <nav class="sheet-tabs tabs" data-group="primary">
            {{# if limited}}<a class="item" data-tab="main">{{localize "PF2E.NPC.PublicNotes"}}</a>{{/if}}
            {{# if lootSheet}}<a class="item" data-tab="inventory">{{localize "PF2E.NPC.InventoryTab"}}</a>{{/if}}
        </nav>
        <section class="sheet-body">
            <div class="tab main public-notes" data-group="primary" data-tab="main" style="padding-left: 10px;">
                {{{enrichHTML data.details.publicNotes}}}
            </div>
            {{> "systems/pf2e/templates/actors/npc/tabs/inventory.html"}}
        </section>
    </div>
</form>