<ol class="skills-list">
{{#each data.skills as |skill s|}}
    <li class="skill" data-skill="{{s}}">

        <span class="skill-score" title="{{skill.breakdown}}">{{skill.value}}</span>
        <h4 class="skill-name rollable">{{skill.label}}</h4>
        
        <div class="skill-container">
            <h4 class="skill-proficiency pf-title">Rank</h4>
            <input type="hidden" name="data.skills.{{s}}.rank" value="{{skill.rank}}" data-dtype="Number"/>
            <span class="skill-proficiency pf-value pf-rank proficiency-click" title="{{skill.hover}}">{{{skill.icon}}}</span>
        </div>
        <div class="skill-container">
            <h4 class="skill-item pf-title">Item</h4>
            <span class="skill-item pf-value" title="Item">
                <input name="data.skills.{{s}}.item" type="text" value="{{skill.item}}"
                        data-dtype="Number" placeholder="+0"/>
            </span>
        </div>
        {{#if skill.armor}}
        <h4 class="skill-armor" title="Armor Check Penalty"><i class="fas fa-shield-alt"></i></h4>
        {{/if}}

    </li>
{{/each}}
</ol>
