.exploration-members {
    .actor-link {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    .member {
        .sub-data {
            display: flex;
            flex-direction: row;
            background-color: rgba(68, 55, 48, 0.1);
            font-size: var(--font-size-11);
            font-weight: 500;

            & > span {
                flex: 1;
                text-align: center;
                padding: 0.2rem;
                &:not(:last-child) {
                    border-right: 1px solid rgba(68, 55, 48, 0.1);
                }
            }
        }

        footer {
            color: white;
            background-color: var(--sub);

            .bar {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                background-color: var(--primary);
                border-radius: 0 0 3px 3px;
                box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
            }

            span {
                position: relative; // lets it render over the bar
            }
        }
    }
}

.content {
    padding: 0.5rem;
}

.activities {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .member-activity {
        @include frame-elegant;
        display: flex;
        align-items: center;

        img {
            object-fit: contain;
            border: none;
        }

        .actor-image {
            flex: 0 0 auto;

            img {
                width: 4rem;
                height: 4rem;
                margin: 0.375rem;

                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: var(--text-dark);
                    font-size: var(--font-size-30);
                }
            }
        }

        .activity-entries {
            display: flex;
            flex-direction: column;
            gap: 0.125rem;
            overflow: hidden;

            .activity {
                align-items: center;
                display: flex;
                gap: 0 0.5rem;
                margin-left: 0.25rem;
                white-space: nowrap;
                .name {
                    font-weight: 500;
                }
                .tags {
                    flex-wrap: nowrap;
                    overflow: hidden;
                }

                &.single {
                    align-items: start;
                    flex-direction: column;
                    .name {
                        font-size: var(--font-size-16);
                    }
                }
            }
        }

        .empty {
            align-items: center;
            cursor: pointer;
            display: flex;
            font-family: var(--serif);
            gap: 0.5rem;
            div {
                margin: 0;
            }
            .icon {
                border: 1px dashed var(--color-border);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: var(--font-size-14);
                height: 2.125rem;
                width: 2.125rem;
            }
            .name {
                color: var(--dark);
                font-size: var(--font-size-16);
                line-height: 1em;
            }
            .hint {
                color: var(--alt-dark);
                line-height: 1em;
            }
        }
    }
}
