.inventory-members {
    .box {
        .actor-link {
            align-items: center;
            display: grid;
            grid-template-areas:
                "image name "
                "image value";
            grid-template-columns: auto 1fr;
            padding: 0.5rem;
            overflow: hidden;

            img {
                grid-area: image;
                margin-right: 0.4rem;
            }
            .name {
                grid-area: name;
            }
            .value {
                grid-area: value;
            }
        }

        footer {
            align-items: center;
            display: flex;
            gap: 0.25rem;
            i {
                font-size: 0.8em;
            }
        }

        .inventory-data {
            display: flex;
            gap: 0.25rem;
            padding: 2px 3px;
            font-size: var(--font-size-12);
        }
    }
}

.inventory {
    @include scrollbar;
    flex: 1;
    padding: 0 4px;

    display: flex;
    flex-direction: column;
    height: 100%;
}
