.inventory-members {
    .box {
        .content {
            align-items: center;
            display: flex;
            padding: 0.5rem;
            overflow: hidden;

            img {
                grid-area: image;
                margin-right: 0.4rem;
            }
            .sub-data {
                display: flex;
                flex-direction: column;
                gap: 0.125rem;
            }
        }

        footer {
            align-items: center;
            display: flex;
            gap: 0.25rem;
            i {
                font-size: 0.8em;
            }
        }

        .inventory-data {
            display: flex;
            gap: 0.25rem;
            padding: 2px 3px;
            font-size: var(--font-size-12);
        }
    }
}

.inventory {
    flex: 1;
    padding: 0.5rem 4px 0.5em 0.5em;

    display: flex;
    flex-direction: column;
    height: 100%;
}
