<li class="build-item" data-item-id="{{item._id}}" data-item-is-container="{{item.isContainer}}">
    <div class="item-name rollable">
        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
        <h4>
            {{item.name}}
        </h4>
    </div>
    {{#if owner}}
    <div class="item-controls">
        <a class="item-control item-delete" data-item-name="{{item.name}}" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
    </div>
    {{/if}}
</li>
