#homebrew-settings {
    section.window-content {
        display: block;
        .form-group {
            &.setting {
                display: inherit;
                tags {
                    background-color: rgba(0, 0, 0, 0.05);
                    border: 1px solid #7a7971;
                    border-radius: 3px;
                    &.tagify--focus {
                        border: 1px solid #7a7971;
                        box-shadow: 0 0 5px red;
                    }
                }

                .homebrew {
                    --tag-text-color--edit: #111;
                    --tag-pad: 0.2em 0.4em;
                    --tag-remove-bg: var(--tag-hover);
                    --tag-remove-btn-bg--hover: black;
                    font-size: var(--font-size-13);
                    min-width: 0;
                }
            }
            &.buttons {
                margin-top: 0.5em;
            }
        }
    }

    .damage-types {
        th, td {
            white-space: nowrap;
            &:not(:last-child) {
                padding-right: 0.25rem;
            }
        }

        .icon-preview {
            display: flex;
            align-items: center;
            gap: 0.125rem;
        }

        .delete-cell {
            text-align: end;
            width: 1rem;
            i {
                padding: 0.125rem 0.25rem;
                cursor: pointer;
            }
        }
    }
}
