#homebrew-settings section.window-content {
    .form-group {
        &.setting {
            display: inherit;

            tags {
                --tag-bg: rgba(255, 255, 255, 0.25);
                --tag-remove-bg: var(--tag-hover);
                --tag-remove-btn-bg--hover: var(--text-dark);
                --tag-text-color--edit: var(--text-dark);
                --tags-border-color: var(--color-border-light-tertiary);
                background-color: rgba(black, 0.05);
                font-size: var(--font-size-13);
            }
        }

        &.common-language {
            margin-top: 0.5em;
        }
    }

    .form-group.language-rarities {
        label {
            --form-field-height: 1em;
            column-gap: var(--space-3);
            padding-bottom: var(--space-3);
        }

        ul {
            background: rgba(black, 0.05);
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            gap: 0.25em;
            margin-top: 0;
            padding: 0.25em;

            li {
                background: rgba(white, 0.2);
                cursor: grab;

                &:hover {
                    box-shadow: 0 0 0.3em;
                }

                &.drag-gap {
                    border-color: var(--tag-color);
                    box-shadow: 0 0 0.3em var(--tag-color);
                    color: transparent;
                }
            }
        }

        &.common li:hover {
            --tag-color: var(--color-rarity-common);
        }

        &.uncommon li:hover {
            --tag-color: var(--color-rarity-uncommon);
        }

        &.rare li:hover {
            --tag-color: var(--color-rarity-rare);
        }

        &.secret li:hover {
            --tag-color: var(--color-pf-primary);
        }
    }
}

table.damage-types {
    th,
    td {
        white-space: nowrap;
        &:not(:last-child) {
            padding-right: 0.25rem;
        }
    }

    .icon-preview {
        display: flex;
        align-items: center;
        gap: 0.125rem;
    }

    .delete-cell {
        text-align: end;
        width: 1rem;
        i {
            padding: 0.125rem 0.25rem;
            cursor: pointer;
        }
    }
}
