@import "homebrew", "world-clock";

// Settings sidebar
#game-details > .system-links {
    gap: 0.5rem;
    margin-bottom: 0.35rem;

    > a[href] {
        flex: 0;
        font-size: var(--font-size-12);
        text-transform: uppercase;

        &:hover {
            text-shadow: 0 0 8px var(--color-text-hyperlink);
        }
    }
}

// Game Settings application
#client-settings {
    form .form-group > label {
        flex: 2.5;
    }
}

// Settings menus
.settings-menu {
    form .form-group > label {
        flex: 2.5;
    }

    .instructions {
        text-align: center;
    }
}

#metagame-settings {
    @import "metagame";
}
