@import "homebrew", "variant-rules", "world-clock";

// Settings sidebar
#game-details {
    .system-links {
        gap: 0.5rem;
        margin-bottom: 0.35rem;
        white-space: nowrap;

        > a[href] {
            flex: 0;
            font-size: var(--font-size-12);
            text-transform: uppercase;

            &:hover {
                text-shadow: 0 0 8px var(--color-text-hyperlink);
            }
        }
    }

    .system-info {
        white-space: nowrap;
    }
}

// Game Settings application
#client-settings {
    form .form-group > label {
        flex: 2.5;
    }
}

// Settings menus
.settings-menu form {
    --form-field-height: 1.5rem;

    .form-group > label {
        flex: 2.5;
    }

    .instructions {
        text-align: center;
    }

    footer {
        margin-top: 0.5em;
        display: flex;
        flex-wrap: nowrap;
    }
}

#metagame-settings {
    @import "metagame";
}
