.scene-sheet {
    p.notes {
        a {
            color: var(--primary);
            text-decoration: underline;
        }
    }

    span.range-value.disabled {
        border: none;
        color: #777;
    }
}
