<section class="effect-panel">
  {{#if actor}}
  {{#each conditions}}
  <div class="effect-item">
    <div class="effect-info">
      <h1>{{this.name}}</h1>
    </div>
    <div data-item-id="{{#unless this.locked}}{{this.id}}{{/unless}}" title="{{this.name}}{{this.breakdown}}" style="background-image: url({{this.img}});">
      {{#if this.locked}}
      <div class="badge">
        <i class="fas fa-lock"></i>
      </div>
      {{/if}}
      {{#if this.value}}
      <div class="badge">
        <b>{{this.value}}</b>
      </div>
      {{/if}}
    </div>
  </div>
  {{/each}}

  {{#if (and conditions.length effects.length)}}
  <hr>
  {{/if}}

  {{#each effects}}
  <div class="effect-item spell">
    <div class="effect-info">
      <h1>{{this.name}}</h1>
      <div class="tags">
        <div class="tag tag_secondary">5 Rounds Remaining</div>
      </div>
    </div>
    <div data-item-id="{{this._id}}" title="{{this.name}}" style="background-image: url({{this.img}})">
      <span class="expired">expired</span>
    </div>
  </div>
  {{/each}}
  {{/if}}
</section>
