<section class="effect-panel">
    {{#each conditions as |condition|}}
        <div class="effect-item">
            <div class="effect-info">
                <h1>{{condition.name}}</h1>
                {{#if condition.breakdown}}
                    <div class="tags">
                        <div class="tag tag_secondary">{{condition.breakdown}}</div>
                    </div>
                {{/if}}
                <div class="instructions">
                    {{#if (not condition.locked)}}
                        {{#if condition.value}}
                            <p>{{localize "PF2E.EffectPanel.IncrementToolTip"}}</p>
                            <p>{{localize "PF2E.EffectPanel.DecrementToolTip"}}</p>
                        {{else}}
                            <p>{{localize "PF2E.EffectPanel.RemoveToolTip"}}</p>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <div class="icon" data-item-id="{{condition.id}}" data-locked="{{#if condition.locked}}true{{/if}}" style="background-image: url({{condition.img}});">
                {{#if condition.locked}}
                    <div class="linked"><i class="fas fa-link"></i></div>
                {{/if}}
                {{#if condition.value}}
                    <div class="value"><strong>{{condition.value}}</strong></div>
                {{/if}}
            </div>
        </div>
    {{/each}}

    {{#if (and conditions.length effects.length)}}<hr />{{/if}}

    {{#each effects as |effect|}}
        <div class="effect-item spell">
            <div class="effect-info">
                <h1>{{effect.name}}</h1>
                <div class="tags">
                    {{#if (and effect.system.duration.sustained (not effect.system.expired))}}
                        <div class="tag tag_secondary">{{localize "PF2E.EffectPanel.Sustained"}}</div>
                    {{/if}}
                    <div class="tag tag_secondary">{{effect.system.remaining}}</div>
                </div>
                <div class="instructions">
                    <p>{{localize "PF2E.EffectPanel.RemoveToolTip"}}</p>
                </div>
            </div>
            <div class="icon" data-item-id="{{effect.id}}" style="background-image: url({{effect.img}})">
                {{#if effect.system.expired}}
                    <span class="expired">{{localize "PF2E.EffectPanel.Expired"}}</span>
                {{/if}}
                <i class="fas fa-comment-alt"></i>
            </div>
        </div>
    {{/each}}
</section>
