@import "carry-type-menu";

aside.locked-tooltip.pf2e.manage-tabs {
    ul {
        li {
            align-items: center;
            display: flex;
            gap: var(--space-12);

            label {
                color: var(--color-pf-tertiary);
                cursor: pointer;
                flex-basis: 100%;
            }

            input {
                display: flex;
                min-width: 2em;
            }
        }
    }
}

aside.locked-tooltip .roll-options {
    padding-right: var(--space-8);
    li {
        user-select: all;
    }
}
