<div class="pc pc_gender">
    <label for="pc_gender">
        {{localize 'PF2E.GenderPronoun'}}
    </label>
    <span title="{{localize 'PF2E.GenderPronounTitle'}}">
        <input
            id="pc pc_gender"
            name="data.details.gender.value"
            type="text"
            value="{{data.details.gender.value}}"
            data-dtype="String"
        />
    </span>
</div>
<div class="pc pc_age">
    <label for="pc_age">
        {{localize 'PF2E.Age'}}
    </label>
    <span title="{{localize 'PF2E.AgeTitle'}}">
        <input
            id="pc pc_age"
            name="data.details.age.value"
            type="text"
            value="{{data.details.age.value}}"
            data-dtype="String"
        />
    </span>
</div>
<div class="pc pc_height">
    <label for="pc_height">
        {{localize 'PF2E.Height'}}
    </label>
    <span title="{{localize 'PF2E.HeightTitle'}}">
        <input
            id="pc pc_height"
            name="data.details.height.value"
            type="text"
            value="{{data.details.height.value}}"
            data-dtype="String"
        />
    </span>
</div>
<div class="pc pc_weight">
    <label for="pc_weight">
        {{localize 'PF2E.Weight'}}
    </label>
    <span title="{{localize 'PF2E.WeightTitle'}}">
        <input
            id="pc pc_weight"
            name="data.details.weight.value"
            type="text"
            value="{{data.details.weight.value}}"
            data-dtype="String"
        />
    </span>
</div>
<div class="pc pc_ethnicity">
    <label for="ethnicity">
        {{localize 'PF2E.Ethnicity'}}
    </label>
    <span>
        <input
            id="ethnicity"
            type="text"
            name="data.details.ethnicity.value"
            data-dtype="String"
            value="{{data.details.ethnicity.value}}"
        />
    </span>
</div>
<div class="pc pc_nationality">
  <label for="nationality">
    {{localize 'PF2E.Nationality'}}
  </label>
  <span>
        <input
          id="nationality"
          type="text"
          name="data.details.nationality.value"
          data-dtype="String"
          value="{{data.details.nationality.value}}"
        />
    </span>
</div>
