<div class="dice-roll">
    <div class="dice-flavor">
        <strong>{{check.name}}</strong>
        {{#if dc}}
            <div data-visibility="{{dc.visibility}}">{{dc.label}}</div>
            <div class="degree-of-success" data-visibility="{{result.visibility}}">{{localize "PF2E.ResultLabel"}} {{localize result.label}}</div>
        {{/if}}
        {{#each notes as |note|}}
            <p>{{enrichHTML note.text}}</p>
        {{/each}}
        <div class="tags">
            {{#each traits as |trait|}}
                <span class="tag" data-trait="trait.name" data-description="{{trait.description}}">{{trait.label}}</span>
            {{/each}}
            {{#each otherTags as |tag|}}
                <span class="tag tag_secondary">{{localize tag.label}}</span>
            {{/each}}
        </div>
        <hr />
        {{#if breakdown}}
            <div class="tags">
                {{#each breakdown.component as |component|}}
                    <span class="tag tag_alt">{{component.label}} {{numberFormat component.modifier decimals=0 sign=true}}</span>
                {{/each}}
            </div>
        {{/if}}
        {{#each notes as |note|}}
           {{enrichHTML note.text}}
        {{/each}}
    </div>

    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{total}}</h4>
    </div>
</div>
