<ul class="participant-conditions" data-tooltip-class="pf2e" data-tooltip-direction="LEFT">
    {{#each conditions as |condition|}}
        <li data-tooltip="{{condition.description}}">
            <img src="{{condition.img}}" />
            <span>{{condition.name}}</span>
        </li>
    {{/each}}
</ul>
