<ul class="participant-conditions">
    {{#each conditions as |condition|}}
        <li data-tooltip="{{condition.description}}" data-tooltip-direction="LEFT">
            <img src="{{condition.img}}" />
            <span>{{condition.name}}</span>
        </li>
    {{/each}}
</ul>
