<section class="persistent-damage-recovery">
    <hr/>
    <button data-action="recover-persistent-damage">
        <i class="fas fa-dice-d20"></i>
        {{localize "PF2E.Item.Condition.PersistentDamage.Chat.Recover"}}
    </button>
</section>
