<div class="pf2e chat-card weapon-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" />
        <h3>{{item.name}}</h3>
    </header>
    <div class="tags">
        {{#if data.group}}<span class="tag tag_alt">{{localize data.group}}</span>{{/if}}
        {{#if item.isIdentified}}<span class="tag tag_alt">{{localize data.rarity}}</span>{{/if}}
        {{#each data.traits as |trait|}}
            {{#unless trait.mystified}}
                <span class="tag" title="{{localize trait.description}}">{{localize trait.label}}</span>
            {{/unless}}
        {{/each}}
    </div>
    <div class="card-content">{{{item.description}}}</div>
    <footer class="card-footer"></footer>
</div>
