.section-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--primary);
        color: $light-text;
        font-size: 1em;

        h4 {
            margin-bottom: 0px;
            text-transform: capitalize;
            font-weight: 400;
            margin-bottom: 0;
            padding: 0.1em 0.5em;
            border-radius: 3px 3px 0px 0px;
            background-color: var(--primary);
        }
    }

    .section-body {
        display: flex;
        flex-wrap: wrap;
    }
}

.section-body,
.save-container {
    input.modifier {
        display: inline;
        text-align: right;

        &.positive-modifier {
            color: $positive-modifier;
        }

        &.negative-modifier {
            color: $negative-modifer;
        }
    }
    span.plus {
        display: none;
        height: 0;
        &::before {
            content: '+';
            font-weight: normal;
            position: relative;
        }
    }
    input.modifier.not-negative:not(:focus) {
        + span.plus {
            display: inline;
        }
    }
}

.controls {
    font-size: 0.8rem;
    color: var(--primary);
    .chat {
        margin-right: 6px;
    }
}
