.main {
    display: grid;
    grid-template:
        'toggles toggles'
        'attacks attacks'
        'actions actions'
        'passives passives'
        'skills ability'
        'recall lang';
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 1em;
}

#npc {
    &__ability {
        grid-area: ability;
    }

    &__actions {
        grid-area: actions;
    }

    &__attacks {
        grid-area: attacks;
    }

    &__languages {
        grid-area: lang;
    }

    &__knowledge {
        grid-area: recall;
    }

    &__passives {
        grid-area: passives;
    }

    &__skills {
        grid-area: skills;
    }

    &__speed {
        grid-area: speed;
    }

    &__toggles {
        grid-area: toggles;
    }
}
