.sheet-body {
    flex: auto;
    .tab {
        padding: 0.5em 0 2em;

        &:not(.notes) {
            overflow: hidden scroll;
        }

        > * + * {
            margin-top: 0.75em;
        }
    }
}

.expandable {
    display: none;
}

.expanded {
    display: block;
}

@import 'layout';
@import 'main';
@import 'inventory';
@import 'spells';
@import 'notes';
