<h4 class="sidebar-summary">Armor Summary</h4>

<div class="inventory-details">
    <div class="form-group">
        <label>Level</label>
        <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="{{data.level.type}}"/>
    </div>

    <div class="form-group">
        <label>Bulk</label>
        <input type="text" name="data.weight.value" value="{{data.weight.value}}" data-dtype="String"/>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}"/>
    </div>
</div>

<ol class="item-tags">
    {{#if data.armor.value}}<li class="tag">{{data.armor.value}} AC Bonus</li>{{/if}}
    <li class="tag">{{lookup armorTypes data.armorType.value}}</li>
    <li class="tag">{{lookup armorGroups data.group.value}}</li>
    {{#if data.strength.value}}<li class="tag">Requires {{data.strength.value}} Strength</li>{{/if}}
    {{#if data.dex.value}}<li class="tag">{{data.dex.value}} Dex Modifier Cap</li>{{/if}}
    {{#if data.check.value}}<li class="tag">{{data.check.value}} Check Penalty</li>{{/if}}
    {{#if data.speed.value}}<li class="tag">{{data.speed.value}} Speed Penalty</li>{{/if}}
</ol>

<ol class="item-tags">
    {{#if data.equipped.value}}
    <li class="tag">Equipped</li>
    {{/if}}
</ol>
