<div class="form-group">
    <label>{{data.weaponType.label}}</label>
    <select name="data.weaponType.value" data-dtype="{{data.weaponType.type}}">
        {{#select data.weaponType.value}}
        <option value=""></option>
        {{#each weaponTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{data.group.label}}</label>
    <select name="data.group.value" data-dtype="{{data.group.type}}">
        {{#select data.group.value}}
        <option value=""></option>
        {{#each weaponGroups as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{data.bonus.label}}</label>
    <select name="data.bonus.value" data-dtype="{{data.bonus.type}}">
        {{#select data.bonus.value}}
        {{#each itemBonuses as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>Damage</label>
    <div class="details-container">
        <select name="data.dice.value" data-dtype="{{data.dice.type}}">
            {{#select data.dice.value}}
            {{#each damageDice as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <select name="data.die.value" data-dtype="{{data.die.type}}">
            {{#select data.die.value}}
            {{#each damageDie as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <select name="data.damageType.value" data-dtype="{{data.damageType.type}}">
            {{#select data.damageType.value}}
            {{#each weaponDamage as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>

<!-- <div class="form-group">
    <label>{{data.damage.label}}</label>
    <select name="data.damage.value" data-dtype="{{data.damage.type}}">
        {{#select data.damage.value}}
        {{#each damageDice as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{data.damageType.label}}</label>
    <select name="data.damageType.value" data-dtype="{{data.damageType.type}}">
        {{#select data.damageType.value}}
        <option value=""></option>
        {{#each damageTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div> -->

<div class="form-group">
    <label>{{data.range.label}}</label>
    <select name="data.range.value" data-dtype="{{data.range.type}}">
        {{#select data.range.value}}
        {{#each weaponRange as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>


<div class="form-group">
        <label>{{data.reload.label}}</label>
        <select name="data.reload.value" data-dtype="{{data.reload.type}}">
            {{#select data.reload.value}}
            <option value=""></option>
            {{#each weaponReload as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

<div class="form-group">
    <label>{{data.ability.label}}</label>
    <select name="data.ability.value" data-dtype="{{data.ability.type}}">
        {{#select data.ability.value}}
        {{#each abilities as |ability a|}}
        <option value="{{a}}">{{ability.label}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group-stacked">
    <label>{{data.traits.label}}</label>
    <input type="text" name="data.traits.value" value="{{data.traits.value}}" data-dtype="{{data.traits.type}}"/>
</div>
