<span class="pips">
    {{#if dying.maxed}}
        {{#times data.attributes.dying.max}}<i class="fa-solid fa-skull"></i>{{/times}}
        {{#times data.attributes.doomed.value}}<i class="fa-solid fa-skull"></i>{{/times}}
    {{else}}
        {{#times data.attributes.dying.value}}<i class="fa-solid fa-circle-x"></i>{{/times}}
        {{#times dying.remainingDying}}<i class="fa-regular fa-circle"></i>{{/times}}
        {{#times data.attributes.doomed.value}}<i class="fa-solid fa-skull"></i>{{/times}}
    {{/if}}
</span>
