.adjustment-select {
    .adjustment {
        &.active {
            background-color: $primary-accent !important;
            color: $light-text;
        }

        &:not(.active) {
            background-color: $faded-color !important;
            color: $light-text !important;
        }
    }
}
