.adjustment-select {
    display: flex;
    margin-left: auto;
    gap: 0.25em;

    .adjustment {
        background-color: $faded-color;
        color: $light-text;

        &:hover {
            color: var(--primary);
        }

        &.active {
            background-color: var(--primary);
        }
    }
}
