.section-body,
.save-container {
    input.modifier {
        display: inline;
        text-align: right;

        &.positive-modifier {
            color: $positive-modifier;
        }

        &.negative-modifier {
            color: $negative-modifer;
        }
    }
    span.plus {
        display: none;
        height: 0;
        &::before {
            content: '+';
            font-weight: normal;
            position: relative;
        }
    }
    input.modifier.not-negative:not(:focus) {
        + span.plus {
            display: inline;
        }
    }
}

.controls {
    font-size: 0.8rem;
    .chat {
        margin-right: 6px;
    }
}

.disabled {
    color: $color-disabled !important;
    border-color: $color-disabled !important;
}

.disabled:hover {
    color: $color !important;
    border-color: $faded-color !important;
}
