#npc__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Roboto Condensed', $sans-serif;
    margin-bottom: 0.5em;

    .name-value {
        font-size: 1.5rem;
        text-transform: uppercase;
        height: min-content;
        font-weight: bold;
        letter-spacing: -1px;
        border: none;
        color: black !important;
    }

    .level-container {
        display: flex;
        align-items: center;
        width: 100%;

        .level-label,
        input {
            font-size: 1.2rem;
            font-weight: 700;
            height: min-content;
        }

        .level-label {
            text-transform: uppercase;
        }

        input {
            text-align: center;
            width: 3ch;
        }
    }
}
