#name {
    justify-content: space-between;

    .name-value {
        margin-left: 8px;
        margin-right: 8px;
        height: 32px;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .level-container {
        margin-left: 4px;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: flex-end;

        .level-label {
            flex: 1 0 auto;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-right: 4px;
        }

        input {
            flex: 0 0 32px;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            height: 32px;
            width: 32px;
        }
    }
}
