.rarity-select {
    border: 2px solid #d8c384 !important;
    color: white !important;

    &.common {
        background: $common !important;
    }
    &.uncommon {
        background: $uncommon !important;
    }
    &.rare {
        background: $rare !important;
    }
    &.unique {
        background: $unique !important;
    }
}
