.traits-list-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 0;
    gap: 0.5em;

    .traits-list-item {
        text-transform: uppercase;
        font-weight: bold;
        width: min-content;
    }
}

.trait {
    font-family: 'Roboto Condensed', $sans-serif;
    padding: 0.25em 0.5em;
    background: #5d0000;
    border: 2px solid var(--tertiary);
    color: $light-text;
    text-transform: uppercase;
    flex: initial;
    text-align: center;
}
