.traits-list-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25em;
    margin: 0.2em;

    .traits-list-item {
        text-transform: uppercase;
        width: min-content;
    }
}

.trait {
    font-family: 'Roboto Condensed', $sans-serif;
    padding: 0.25em 0.5em;
    background: var(--alt);

    color: $light-text;
    text-transform: uppercase;
    flex: initial;
    text-align: center;
}
