.traits-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0px;
    padding: 4px;

    .traits-list-item {
        flex: auto 0 0;
        margin-left: 4px;
        margin-right: 4px;

        text-transform: uppercase;
        font-weight: bold;
    }

    .traits-list-item:first-child {
        margin-left: 0px;
        margin-right: 4px;
    }

    .traits-list-item:last-child {
        margin-left: 4px;
        margin-right: 0px;
    }
}

.trait {
    flex: auto 0 0;
    padding: 4px;
    background: #5d0000;
    border: 2px solid #d8c384;
    color: $light-text;
    text-transform: uppercase;
}
