.npc-sheet-header {
    display: flex;
    flex-direction: column;

    .flexrow {
        align-items: center
    }

    @import 'name';
    @import 'adjustment';
    @import 'alignment';
    @import 'rarity';
    @import 'size';
    @import 'trait';
}
