.npc-sheet-header {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    @import 'name';
    @import 'adjustment';
    @import 'alignment';
    @import 'rarity';
    @import 'size';
    @import 'trait';
}
