#npc__header {
    grid-area: header;
    display: flex;
    column-gap: 1em;

    section {
        grid-area: npc-header;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    select {
        cursor: pointer;
    }

    @import 'name';
    @import 'adjustment';
    @import 'traits';
    @import 'profile-img';
}
