<form>
    <div class="form-group">
        <label>{{ localize "PF2E.UI.shiftModifyDamage.label" }}</label>
        <input type="number" name="modifier" value="" placeholder="0" autofocus>
    </div>
    <button type="submit" name="submit" value="1">{{ localize "PF2E.UI.shiftModifyDamage.submit" }}</button>
</form>