<div class="target-dc-result" data-tooltip-class="pf2e" data-tooltip-direction="UP">
    <div class="target-dc">{{{dc.markup}}}</div>
    <div class="result degree-of-success"{{#unless result.visible}} data-visibility="gm"{{/unless}}>{{{result.markup}}}</div>
</div>
