<div class="target-dc-result">
    <div class="target-dc">{{{dc.markup}}}</div>
    <div class="result degree-of-success" {{#unless result.visible}}data-visibility="gm"{{/unless}}>{{{result.markup}}}</div>
</div>
