<div class="tab inventory item-container" data-group="primary" data-tab="inventory">
    {{> "systems/pf2e/templates/actors/partials/coinage.hbs"}}
    {{> "systems/pf2e/templates/actors/partials/inventory.hbs"}}
    {{> "systems/pf2e/templates/actors/partials/encumbrance.hbs"}}
</div>
