<div class="tab inventory item-container" data-group="primary" data-tab="inventory">
    {{> "systems/pf2e/templates/actors/partials/coinage.hbs"}}
    <header class="inventory-header">
        <div class="search">
            <input type="search" spellcheck="false" placeholder="{{localize "PF2E.Actor.Inventory.Search"}}" />
        </div>
    </header>
    {{> "systems/pf2e/templates/actors/partials/inventory.hbs"}}
    {{> "systems/pf2e/templates/actors/partials/encumbrance.hbs"}}
</div>
