&.dead {
    .profile {
        background-size: cover;
        background-color: #dbd9cd;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 2px;
        > img {
            border: none;
            width: 100%;
            opacity: 0.33;
        }
    }
    h2.name {
        margin-top: 3px;
        text-align: center;
        border-bottom: none;
    }
}
