$faded-color: #7a7971;

@import "recall-knowledge", "skills-editor";

.actor.npc.sheet form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @import "../spell-collection";

    > .npc-body > header {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;

        .name {
            flex-wrap: nowrap;
            font: 700 1.75rem var(--sans-serif-condensed);
            width: 100%;

            input {
                font-weight: inherit;
                height: 2rem;
            }

            .name-value {
                font-variant: small-caps;
                margin-left: 0.375rem;
                margin-right: 1.125rem;
            }

            .level-label {
                flex: 0;
                text-align: right;
                margin-right: 0.1em;
                text-transform: uppercase;
            }

            input.level {
                flex: 0 0 2.5rem;
                text-align: center;
            }
        }

        .rarity-size {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    hr {
        margin: 10px 6px 10px 0;
    }

    select {
        background: none;
    }

    a.roll:not(.inline-roll) {
        color: var(--color-pf-primary-darker);

        .d20-svg {
            height: var(--font-size-16);
            position: relative;
            top: var(--space-1);
            width: var(--font-size-16);
        }

        &:hover {
            color: var(--color-pf-primary-light);
            text-shadow: none;

            .d20-svg {
                @include die-spin;
            }
        }
    }

    @import "sidebar";

    .sheet-body {
        flex: auto;

        .tab {
            overflow: hidden scroll;

            .identification-skills {
                ul {
                    display: inline;
                    list-style-type: none;
                    padding: 0;

                    li {
                        display: inline;
                        &:not(:last-of-type):after {
                            content: ",";
                        }
                    }
                }
            }
        }

        @import "inventory";
        @import "spells";
        @import "effects";
        @import "../red-action-boxes";
    }

    input.adjustable:not(:focus),
    span.adjustable,
    div.adjustable {
        display: inline;
        text-align: right;

        &.adjusted-higher {
            color: $adjusted-higher;
        }

        &.adjusted-lower {
            color: $adjusted-lower;
        }
    }

    .empty {
        border-color: var(--color-text-dark-inactive);
        color: var(--color-text-dark-inactive);
    }

    a.empty {
        &:hover,
        &:active {
            border-color: $faded-color;
            color: var(--text-dark);
        }
    }

    .trait {
        flex: auto 0 0;
        padding: 0.25rem;
        background: var(--color-pf-primary);
        border: 2px solid var(--color-border-trait);
        color: var(--color-text-trait);
        font-size: 0.9em;
        font-weight: 500;
        text-transform: uppercase;
    }

    .effects-list {
        display: flex;
        flex-flow: row wrap;
        flex: 1 0 auto;
        width: 100%;

        .separator {
            border-left: 2px solid var(--color-rarity-common);
            flex: 0 0 var(--space-1);
            height: 2rem;
            margin-right: 0.25rem;
        }

        > .effect {
            display: flex;
            flex: 0 0 2rem;
            height: 2rem;
            margin-right: 0.25rem;
            margin-bottom: 0.25rem;
            border-bottom: none !important;

            .item-image {
                background-size: cover;
                border: 1px solid var(--color-rarity-common);
                border-bottom: 1px solid var(--color-rarity-common);
                border-radius: 3px;
                width: 2rem;
            }

            .item-image:hover {
                border: 1px solid var(--text-light);
                border-radius: 3px;
            }
        }
    }

    .section-container.toggles ul.option-toggles {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
        list-style: none;

        > li {
            width: 100%;

            label {
                display: flex;
                align-items: center;
                gap: var(--space-4);

                input {
                    margin: 0;
                    padding: 0;
                }
            }

            select {
                background: none;
                margin-left: 0.25em;
                text-transform: none;
            }
        }
    }

    .actions-list {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .action {
            width: 100%;
        }
    }

    .labeled-field {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        a,
        label {
            flex: 0;
            font-weight: 600;
        }

        input[type="text"],
        input[type="number"] {
            flex: 0;
            font-weight: normal;
            margin: var(--space-1) var(--space-4);
            margin-left: auto;
            min-width: 2.5em;
            padding-right: var(--space-1);
            text-align: right;
        }
        &.hp-temp > label {
            margin-right: 0.5em;
        }
    }

    .top-sections {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        .skills {
            flex: 3;
            align-self: stretch;
        }

        .senses {
            flex: 2;
        }

        .attribute-modifiers {
            flex: 1.75;
            flex-direction: column;

            .list {
                display: grid;
                padding-left: 0.75em;
                grid-template-columns: repeat(3, minmax(0, 1fr));

                input {
                    flex: 0 0 1.5rem;
                    margin-right: 1em;
                    z-index: 1;
                }

                a:hover {
                    text-shadow: none;
                }
            }
        }
    }

    .section-container {
        padding: 0.25rem 0.25rem 0 0;

        .section-body {
            padding: 0.25rem;
        }

        &.skills > .section-body {
            .list {
                display: flex;
                flex-flow: row wrap;
            }
        }

        &.recall-knowledge {
            .section-header {
                align-items: center;

                .breakdown {
                    background: var(--color-pf-secondary);
                    border: none;
                    box-shadow:
                        inset 0 0 0 1px rgba(black, 0.3),
                        inset 0 0 0 2px rgba(white, 0.2);
                    color: var(--text-light);
                    font: var(--font-size-9) / var(--font-size-15) var(--sans-serif);
                    padding: var(--space-2) var(--space-4) 0;
                    text-transform: uppercase;
                    width: auto;

                    &:hover {
                        box-shadow: none;
                        text-shadow: 0 0 2px var(--color-text-light-0);
                    }
                }
            }
        }

        &.languages {
            flex: 1;
        }
    }

    select {
        flex: auto 0 0;
        padding: 0.25rem;
        height: auto;

        option {
            color: var(--text-light);
            background-color: var(--alt);
        }
    }

    .adjustments {
        align-items: center;
        display: flex;
        justify-content: end;

        .adjustment {
            &.active {
                background-color: var(--color-pf-primary);
                color: var(--text-light);
            }

            &:not(.active) {
                background-color: var(--color-disabled);
                color: var(--color-text-trait);
            }
        }
    }

    .npc-body {
        padding-left: var(--space-5);
        display: flex;
        flex: auto;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow-y: hidden;
    }

    .notes.active {
        display: flex;
        flex-direction: column;
        font-size: var(--font-size-14);
        gap: 0.5rem;
        padding-bottom: 0.5rem;
        padding-right: 0.75rem;

        .notes-section {
            > h4 {
                color: var(--color-pf-primary);
                font: 700 var(--font-size-12) / 1em var(--sans-serif);
                margin: 0 2px 0 0;
                padding: 0.25rem;
                text-transform: uppercase;
                white-space: nowrap;
            }

            > .notes-text {
                padding: 0 0.25rem 0.25rem;
                color: var(--text-dark);
                flex-grow: 1;

                .editor {
                    .editor-content {
                        min-height: 75px;
                    }

                    .editor-edit {
                        background: var(--color-pf-primary);
                        color: var(--text-light);
                    }

                    a.editor-edit {
                        padding: 2px 2px 2px 0.25rem;
                    }

                    &.prosemirror {
                        min-height: 18rem;
                        .editor-container {
                            margin: var(--space-4) 0;
                        }
                    }
                }
            }

            &.publication {
                margin-top: auto;

                .notes-text {
                    @include publication-data;

                    input[type="text"] {
                        background: rgba(black, 0.05);
                        padding: 1px 3px;
                    }
                }
            }
        }
    }

    &.dead {
        .profile {
            background-size: cover;
            background-color: #dbd9cd;
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: 2px;
            > img {
                border: none;
                width: 100%;
                opacity: 0.33;
            }
        }

        h2.name {
            margin-top: 3px;
            text-align: center;
            border-bottom: none;
        }
    }

    &.simple .sheet-body {
        overflow-y: auto;
    }
}

@import "simple";
