$faded-color: #7a7971;
$color: #323232;
$color-disabled: #b6b6b6;
$value-color: #000000;
$armor-color: #2A8FBD;
$health-color: #A40802;

.npc-sheet {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: $color;
    font-family: "Signika", sans-serif;

    .npc-sheet-header {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;

        img.profile-img {
            flex: 0 0 64px;
            height: 64px;
            width: 64px;
            object-fit: cover;
            overflow: hidden;
            height: auto;
        }

        #name {
            justify-content: space-between;

            .name-value {
                margin-left: 8px;
                margin-right: 8px;
                height: 32px;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: bold;
            }
    
            .level-container {
                margin-left: 4px;
                display: flex;
                flex: 0 0 auto;
                flex-direction: row;
                align-items: flex-end;
    
                .level-label {
                    flex: 1 0 auto;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-right: 4px;
                }
    
                input {
                    flex: 0 0 32px;
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: bold;
                    height: 32px;
                    width: 32px;
                }
            }

        }


        .traits-list-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            margin: 0px;
            padding: 4px;
    
            .traits-list-item {
                flex: auto 0 0;
                margin-left: 4px;
                margin-right: 4px;
                
                text-transform: uppercase;
                font-weight: bold;
            }
    
            .traits-list-item:first-child {
                margin-left: 0px;
                margin-right: 4px
            }
    
            .traits-list-item:last-child {
                margin-left: 4px;
                margin-right: 0px;
            }
        }
    }

    .side-bar {
        flex: 140px 0 0;
        height: 100%;
        overflow-y: scroll;

        .side-bar-section {
            display: flex;
            flex: auto;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .side-bar-section-header {
            display: flex;
            width: 100%;
            font-size: 1.0rem;
            border-bottom: 2px solid;
            border-color: $faded-color;
            margin-top: 10px;
            margin-bottom: 0px;

            .side-bar-label {
                display: flex;
                flex: auto;
                flex-direction: row;
                align-items: flex-start;

                h4 {
                    margin-bottom: 0px;
                    padding-left: 6px;
                }
            }
        }

        .side-bar-section-content {
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 2px;
        }

        .armor-section {
            .armor-label {
                color: $armor-color;
            }

            .armor-value {
                flex: 0px;
                text-align: right;
                font-weight: bold;
                color: $value-color;
            }
        }

        .health-section {
            .health-label {
                color: $health-color;
            }

            .health-value {
                display: flex;
                flex: auto;
                flex-direction: row;
                align-items: flex-end;
                text-align: right;
                font-weight: bold;
                color: $value-color;
                
                #health-current {
                    flex: 0px;
                    font-weight: bold;
                    color: $value-color;
                    text-align: right;
                }
                
                #health-max {
                    flex: 0px;
                    font-weight: bold;
                    color: $value-color;
                    text-align: left;
                }
            }
        }

        #speed-section {
            text-align: center;

            #walk-speed {
                font-size: 1.2rem;
            }

            #other-speeds {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;
            }
        }

        #saves {
            margin-top: 12px;
            display: flex;
            flex-direction: row;
            width: 100%;
            flex: 1 0 auto;
            font-size: 1.2rem;
        }

        .save-container {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    .sheet-body {
        flex: auto;
    }

    .controls {
        .edit {
            font-size: 0.8rem;
        }
    }

    .disabled {
        color: $color-disabled !important;
        border-color: $color-disabled !important;
    }

    .disabled:hover {
        color: $color !important;
        border-color: $faded-color !important;
    }

    .trait {
        flex: auto 0 0;
        padding: 4px;
        background: #5d0000;
        border: 2px solid #d8c384;
        color: white;
        text-transform: uppercase;
    }

    .labelled-field {
        display: flex;
        flex: auto;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;

        label {
            flex: auto;
            font-weight: bold;
        }

        input[type="text"] {
            flex: auto;
            font-weight: normal;
            margin-left: 6px !important;
        }
    }
    
    .alignment-select {
        flex: auto 0 0;
        padding: 4px !important;
        background: #566193 !important;
        border: 2px solid #d8c384 !important;
        color: white !important;
        height: auto !important;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .size-select {
        flex: auto 0 0;
        padding: 4px !important;
        background: #3a7a58 !important;
        border: 2px solid #d8c384 !important;
        color: white !important;
        height: auto !important;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .npc-sheet-body {
        font-size: 14px;
        display: flex;
        flex: 1 0 auto;
        min-width: 100%;
        flex-direction: row;
        justify-content: stretch;
        overflow-y: auto;
        height: calc(100% - 77.5px);

        .npc-sidebar {
            flex: 0 0 64px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .npc-main-body {
            flex: 1 0;
            padding: 8px;
        }
    }

    .bottom-separator {
        border-bottom: 2px solid #000;
    }
    

    .attribute {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: wrap;

        label {
            flex: 0 0 auto;
            font-weight: 600;
            margin-right: 4px;
        }

        input {
            flex: 0 0 32px;
            width: 32px;
            height: 32px;
            text-align: center;
        }

        .extra-info {
            flex: 1 0 auto;
            text-align: left !important;
        }

        .rollable:hover {
            color: #5d0000;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .attribute-label {
        flex: 0 0 auto;
        font-weight: 600;
        margin-right: 4px;
    }

    .attributes-list {
        display: flex;
        flex-direction: row;
        justify-items: flex-start;
        align-items: baseline;

        .inline-attribute {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-items: flex-start;
            flex: 0 0;
            margin-right: 12px;

            label {
                flex: 0 0 auto;
                margin-right: 4px;
                font-weight: bold;
            }

            input {
                flex: 0 0 32px;
            }
        }
    }


    .ability-container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        margin-bottom: 4px;

        .ability-title {
            flex: 0 0 auto;
            background: #5d0000;
            color: white;
            border: 2px solid #5d0000;
            text-transform: uppercase;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
        }

        .ability-value {
            flex: 1 0 auto;
            border: 2px solid #5d0000;
            text-align: center;
        }
    }

    .language-entry {
        margin-right: 6px;
    }

    .sense-entry {
        margin-right: 6px;
    }

    .skill-entry {
        margin-right: 6px;
    }

    .speed-entry {
        margin-right: 6px;
    }

    .weakness-entry,
    .resistance-entry,
    .immunity-entry {
        margin-right: 6px;
        flex: 0 0 auto;
    }

    .actions-list {
        list-style: none;
        overflow-y: auto;
        scrollbar-width: thin;
        padding: 0px;
        margin: 0px;

        .actions-header {
            height: 28px;
            margin: 2px 0;
            padding: 0px 6px;
            margin: 0px;
            align-items: center;
            background: rgba(0, 0, 0, 0.05);
            font-weight: bold;
            border: 2px groove #eeede0;
            color: $faded-color;
        }

        .action-name {
            color: $color;
            align-items: center;
            font-weight: bold;

            h4 {
                margin: 0px;
                padding: 0px;
            }
        }

        .item-image {
            flex: 0 0 30px;
            height: 30px;
            background-size: 30px;
            border: none;
            margin-right: 5px;
        }

        .action-type {
            flex: 100px 0 0;
            text-align: center;
        }

        .action-cost {
            flex: 50px 0 0;
            text-align: center;

            img {
                height: 24px;
                widows: auto;
                border: none;
            }
        }
        
        .action-traits {
            flex: 350px 0 0;
            text-align: center;
        }
        
        .action-controls {
            flex: 64px 0 0;
            text-align: center;
        }

        .action {
            align-items: center;
            padding: 0 2px; // to align with the header border
            border-bottom: 1px solid $faded-color;
            &:last-child { border-bottom: none; }
        }

        .item-summary {
            flex: 0 0 100%;
            font-size: 12px;
            line-height: 16px;
            border-bottom: 1px solid $faded-color;

            .tag {
                color: $color;
            }
        }
    }
}
