.profile {
    display: flex;
    grid-area: img;
    background: url('../assets/sheet/background.webp') no-repeat;
    background-size: cover;
    cursor: pointer;

    .profile-img {
        height: auto;
        max-height: 8rem;
        width: 100%;
        object-fit: contain;
        border: none;
        border-radius: 0;
        box-shadow: 0 0 0 1px #918c88, 0 0 0 2px #e1d8cf, 0 0 0 3px #a98f39, 0 0 8px rgba(0, 0, 0, 0.5),
            0 0 8px rgba(0, 0, 0, 0.25);
    }
}
