#recall-knowledge-breakdown table {
    th {
        padding: var(--space-5) var(--space-8);
    }

    td {
        text-align: center;
        padding: var(--space-5) var(--space-8);

        &:first-child {
            text-align: right;
        }
    }

    th:first-child {
        text-align: right;
    }
}
