.sidebar {
    --logo-height: 2rem;
    grid-area: sidebar;
    overflow: hidden scroll;
    padding: 1px 0.5em 0.5em 1px;
    float: none !important;
    width: initial !important;
    margin-top: var(--logo-height);

    &::after {
        content: '';
        position: absolute;
        width: var(--sidebar-width);
        height: calc(var(--logo-height) + 1.2em);
        background: url('../assets/pathfinder_logo.webp') no-repeat;
        background-size: contain;
        top: calc(1% - 6px);
        left: 1%;
    }

    & > * + * {
        margin-top: 0.5em;
    }

    .header {
        &__title {
            padding: 0 0.5em !important;
        }

        input {
            margin: 0;
            width: 4ch;
            text-align: right;
        }

        span,
        a {
            color: var(--body);
        }

        .input-group {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
}
