.sidebar {
    display: flex;
    flex-direction: column;
    flex: 10rem 0 0;
    gap: var(--space-12);
    height: 100%;
    overflow: hidden scroll;
    padding-right: var(--space-4);

    .image-container {
        img {
            border: none;
            border-radius: 0.5rem;
        }
    }
}

.sidebar .subsection {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: start;

    header {
        align-items: baseline;
        border-bottom: 1px solid;
        border-color: $faded-color;
        display: flex;
        margin-bottom: var(--space-2);
        padding-right: var(--space-5);
        width: 100%;

        label {
            align-items: center;
            display: flex;
            flex: 0 1 100%;
            font-weight: 500;
            gap: var(--space-3);
            margin-bottom: 0;
            padding-left: var(--space-2);
        }

        input[type="number"] {
            font-size: var(--font-size-16);
            font-weight: 700;
        }
    }

    &.armor-class input[type="number"] {
        width: 2rem;
    }

    .hit-points {
        display: flex;
        flex: 0;
        justify-content: end;
        margin-left: auto;

        input.current {
            font-weight: normal;
            padding-right: var(--space-3);
            text-align: right;
            width: 2.25rem;
        }

        .slash {
            align-items: center;
            display: flex;
            font-size: var(--font-size-16);
            padding: 0 var(--space-1);
        }

        .max {
            text-align: center;

            &.lt10 {
                width: 0.5rem;
            }
            &.lt100 {
                width: 1.5rem;
            }
            &.lt1000 {
                width: 2.25rem;
            }
        }
    }

    &.shield {
        .hit-points {
            .max {
                font-size: var(--font-size-16);
            }
        }

        .shield-details {
            align-items: baseline;
            display: flex;
            flex-direction: row;
            flex: auto;
            justify-content: start;

            .label {
                flex: 0;
                font-weight: bold;
            }

            .value {
                flex: auto;
                font-weight: normal;
                margin-left: 0.375rem;
            }
        }

        &.broken {
            color: rgba(black, 0.4);

            .shield-label {
                color: rgba(black, 0.4);

                h4 {
                    text-decoration: line-through;
                }
            }
        }
    }

    &.initiative {
        a {
            display: flex;
            flex-wrap: nowrap;
            font-size: var(--font-size-16);
            font-weight: 700;
            gap: 0.25em;
            margin-bottom: var(--space-2);
            padding-left: var(--space-4);
            text-decoration: none;

            i {
                position: relative;
                top: var(--space-1);
            }

            span {
                text-underline-offset: 0.125em;
            }
        }

        select {
            font-size: var(--font-size-12);
            text-transform: unset;
        }
    }

    &.saves {
        gap: var(--space-4);

        ul {
            display: flex;
            flex-direction: row;
            font-size: var(--font-size-16);
            list-style: none;
            margin: 0;
            padding: 0;

            a {
                font-weight: 500;
            }

            li {
                display: flex;
                flex-direction: column;
                height: 2.5rem;
                text-align: center;

                label {
                    font-weight: 700;
                }

                input.modifier {
                    height: 1.5rem;
                    text-align: center;
                }
            }
        }

        input.details {
            height: 1.25rem;
        }
    }

    &.speeds {
        .side-bar-section-content {
            gap: var(--space-4);
        }

        .land-speed {
            gap: var(--space-4);

            &-value {
                flex: 0 0 1.5rem;
                text-align: right;
            }

            .speed-details {
                flex: 1;
            }
        }

        .other-speeds {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            width: 100%;
        }
    }

    // Used to grey out empty values on the simple sheet
    .value0 {
        border-bottom: 1px darkgrey solid;
        color: darkgrey;

        input {
            color: darkgrey;
        }
    }
}

.sidebar .side-bar-section-content {
    align-items: start;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    padding-top: 0.125rem;
    width: 100%;
}
