$table-even: #ede3c8;
$table-odd: #f5efe0;

.app.npc-skills-editor form {
    font-size: var(--font-size-12);
    overflow: hidden;

    > .scroll-container {
        max-height: 500px;
        overflow: hidden scroll;
    }

    ol {
        list-style: none;
        overflow: hidden;
        padding: 0px;
        width: 100%;

        li {
            align-items: center;
            column-gap: 0.5rem;
            display: grid;
            grid-template-columns: 6rem auto 4rem 1rem;
            grid-template-rows: auto;
            padding: 0.25rem;
            width: 100%;

            section.skill-special-modifiers {
                grid-column: 1 / 5;
                overflow: hidden;
                table {
                    border: none;
                    table-layout: fixed;
                    .name {
                        width: 6.5rem;
                        padding-right: 0.5rem;
                    }
                    .predicate {
                        padding-right: 0.5rem;
                    }
                    .modifier {
                        width: 4rem;
                    }
                    .controls {
                        width: 1.5rem;
                        text-align: right;
                    }
                    input {
                        width: 100%;
                    }
                }
            }

            &.skill {
                &:nth-child(even) {
                    background-color: $table-even;
                }

                &:nth-child(odd) {
                    background-color: $table-odd;
                }

                &.header {
                    background-color: var(--color-pf-primary);
                    color: var(--text-light);
                    font-weight: 500;
                    padding: 4px;
                    text-transform: uppercase;

                    &.lore {
                        background-color: var(--color-pf-secondary);
                    }
                }

                .modifier {
                    width: 100%;
                    margin: 0;
                }

                .item-controls {
                    text-align: right;
                }
            }

            &.lore {
                grid-template-columns: auto 4rem 2rem;
            }

            a[data-action="add-special-skill"] {
                display: inline-block;
                margin-top: var(--space-2);
            }

            &.skill-selector,
            &.lore-skill-creator {
                margin-top: var(--space-4);
                .name {
                    grid-column: span 2;
                }
                button {
                    background-color: var(--color-pf-secondary);
                    border-radius: 3px;
                    border: 1px solid var(--color-pf-secondary-dark);
                    color: var(--text-light);
                    display: flex;
                    grid-column: span 2;
                    justify-content: center;
                    line-height: 1em;
                    padding: var(--space-4) var(--space-8);
                    white-space: nowrap;
                }
            }
        }
    }
}
