.entries-list {
    list-style: none;
    padding: 2px;
    margin: 0;

    .spellcasting-entry {
        display: block;
        width: 100%;
        margin: 0px;
        border: 1px solid var(--sub);
        border-radius: 4px;

        &:not(:first-child) {
            margin-top: 0.5rem;
        }

        .header {
            align-items: baseline;
            background-color: var(--color-pf-primary);
            border-radius: 3px 3px 0 0;
            color: var(--text-light);
            display: flex;
            flex-flow: row wrap;
            gap: 0.5em;
            justify-content: space-between;
            padding: var(--space-4) 0.5em;

            .drag-handle {
                cursor: move;
            }

            h4.name {
                flex: 1;
                margin: 0 var(--space-4) 0 0;
                padding-right: var(--space-6);
                width: max-content;

                input {
                    border: none;
                    color: var(--text-light);
                    font-weight: 500;
                    max-width: 100%;

                    &:focus,
                    &:hover {
                        box-shadow: none;
                    }

                    &:read-only {
                        pointer-events: none;
                    }
                }
            }

            .inline-field {
                align-items: baseline;
                display: flex;
                flex-flow: row nowrap;
                flex: 0;
                justify-content: start;

                label {
                    margin-left: var(--space-2);
                    flex: 1;
                }

                input {
                    margin-left: var(--space-4);
                }

                .attack-input,
                .dc-input {
                    background-color: var(--text-light);
                    flex: 1 0 2rem;
                    font-weight: 700;
                    text-align: center;
                    width: 2rem;
                }

                span.modifier {
                    font-weight: 700;
                    text-align: center;
                    width: 2rem;
                }

                span.attribute {
                    text-transform: uppercase;
                    width: 6rem;
                }
            }

            .attribute {
                select {
                    background: rgba(white, 0.5);
                    font-size: var(--font-size-10);
                    max-width: 5.5em;
                    padding: var(--space-2);
                    text-transform: uppercase;
                }
            }

            .item-controls {
                display: flex;
                justify-content: space-between;

                a {
                    padding: var(--space-2);
                }
            }
        }

        .spell-level-header input {
            background: var(--text-light);
            border: 1px solid transparent;
            color: var(--text-dark);
            flex: 1 0 2rem;
            font-weight: 700;
            height: 1.125rem;
            text-align: center;
            width: 2rem;
        }

        ol.spell-list li.spell h4.name {
            font: 500 var(--font-size-13) var(--sans-serif);
            letter-spacing: normal;
        }
    }
}

.footer {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: var(--space-12);

    button.spellcasting-create {
        flex-basis: 100%;
        margin: 0 var(--space-12);
    }
}
