$faded-color: #7a7971;
$color: #323232;
$color-disabled: #b6b6b6;
$value-color: #000000;
$armor-color: #2a8fbd;
$health-color: #a40802;
$attack-button-color: #171f69;
$damage-button-color: #5e0000;
$primary-accent: #5e0000;
$secondary-accent: #171f69;
$light-text: #f5efe0;
$common: #323232;
$uncommon: #98513d;
$rare: #002664;
$unique: #54166e;
$positive-modifier: #009988;
$negative-modifer: #cc3311;

.pf2e.sheet.npc {
    .window-content {
        padding: 0;
        justify-content: center;
        background: url('../assets/sheet/scroll-bg.webp'), url(../assets/sheet/red-bg.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.npc-sheet {
    display: grid;
    grid-template:
        'sidebar header'
        'sidebar body'
        / 30% 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 1em;
    align-items: stretch;
    color: black;
    font-family: $sans-serif;
    padding: 1em 2.5em 0;
    margin: auto;
    max-width: 50vw;

    h1,
    h2,
    h3,
    h4 {
        font-family: 'Roboto Condensed', $sans-serif;
    }

    .tag-list {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 0.125em;
    }

    .tag {
        background-color: var(--alt);
        text-transform: capitalize;
        font-size: 0.875em;
        font-weight: 400;
        box-shadow: none;
        border-radius: 2px;
        border: none;
        color: white;
        white-space: nowrap;
        line-height: 1;
        padding: 0.3em 0.5em;
    }

    input {
        color: black;
        border: none;
    }

    p {
        @include p-reset;
        font-size: 0.875rem;
        font-family: 'Gelasio', Georgia, serif;
        color: black;
        line-height: 1.4;
        margin: auto;
        max-width: 64ch;

        & + p {
            margin-top: 0.5em;
        }
    }

    @import 'forms';
    @import 'data-entry';
    @import 'sidebar';
    @import 'nav';
    @import 'header';
    @import 'tabs';
    @import 'dead';
}
