@mixin requires-user-attention {
    animation: glow 0.75s infinite alternate;
}

@mixin die-spin {
    @keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
        }
    }

    animation: rotation 2s infinite linear;
}

@mixin quick-transition {
    $transitionTime: 0.15s;
    transition:
        text-shadow $transitionTime ease-in-out,
        background-color $transitionTime ease-in-out,
        border $transitionTime ease-in-out,
        color $transitionTime ease-in-out,
        box-shadow $transitionTime ease-in-out;
}
