@mixin animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@mixin animate-infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@mixin rotate {
    animation: rotation 2s infinite linear;
}

@mixin wobble {
    @include animate;
    -webkit-animation-name: wobble;
    animation-name: wobble;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin quick-transition {
    $transitionTime: 0.15s;
    transition: text-shadow $transitionTime ease-in-out, background-color $transitionTime ease-in-out, border $transitionTime ease-in-out, color $transitionTime ease-in-out, box-shadow $transitionTime ease-in-out;
}