$-alt-color: #786452 !default;

@mixin configure($alt-color: null) {
    @if $alt-color {
        $-alt-color: $alt-color;
    }
}

@mixin effects-list {
    gap: 0.2em;

    .item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 2px 4px 2px 12px;
        width: 100%;

        p:empty {
            display: none;
        }

        .item-name {
            display: flex;
            align-items: center;
            flex: 1;

            h4 {
                cursor: pointer;
                margin: 0;
            }

            .item-image {
                margin-right: 8px;
            }
        }

        .item-controls {
            display: flex;
            flex: 0;
            font-size: var(--font-size-12);
            gap: 1px;
            white-space: nowrap;

            a.info-only:hover {
                cursor: default;
                text-shadow: none;
            }

            a + a {
                margin-left: 4px;
            }
        }

        .item-summary {
            flex-basis: 100%;
        }

        &.unidentified {
            border-radius: 1px;
            outline: 1px dotted rgba(75, 74, 68, 0.5);
            background: var(--visibility-gm-bg);
        }

        .button-group {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: nowrap;
            width: 50%;
            flex: 0;
            button {
                margin: 0;
                border: none;
                cursor: pointer;
                @include micro;
                padding: 5px;
                color: var(--text-light);
                width: 70px;
                @include button;
                background: var(--secondary);
                border-radius: 2px;
                flex: 0;
                white-space: nowrap;
                margin-left: 4px;
                flex: 0;

                &:hover {
                    box-shadow: none;
                    text-shadow: 0 0 2px white;
                }
            }
        }
    }
}
