$-alt-color: #786452 !default;

@mixin configure($alt-color: null) {
    @if $alt-color {
        $-alt-color: $alt-color;
    }
}

@mixin effects-list {
    gap: 0.2em;

    .item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 2px 4px 2px 12px;
        width: 100%;

        p:empty {
            display: none;
        }

        .item-name {
            display: flex;
            align-items: center;
            flex: 1;

            h4 {
                cursor: pointer;
                margin: 0;
            }

            .item-image {
                margin-right: 8px;
            }
        }

        .item-controls {
            white-space: nowrap;
            font-size: var(--font-size-12);

            a.info-only:hover {
                cursor: default;
                text-shadow: none;
            }

            a + a {
                margin-left: 4px;
            }
        }

        .item-summary {
            flex-basis: 100%;

            .title,
            .framing {
                color: var(--primary);
                @include p-reset;
                margin-top: 1em;
            }

            .framing {
                color: var(--secondary);
                margin: 1em 0 0.25em;
                strong {
                    font-weight: 500;
                }
                & + p {
                    margin-top: 0;
                }
            }

            img {
                border: none;
                vertical-align: middle;

                &.actionlight {
                    background: var(--alt);
                    vertical-align: middle;
                    border: 1px solid var(--body);
                }
            }

            .item-properties {
                .tag {
                    &.toggled-on:hover,
                    &.toggled-off:hover {
                        box-shadow: none;
                        text-shadow: 0 0 2px white;
                    }

                    &.toggled-on,
                    &.toggled-off {
                        cursor: pointer;
                    }

                    &.toggled-on {
                        background-color: rgba(23, 31, 105, 0.5);
                        color: black;
                        text-shadow: 0 0 2px white;
                    }
                }
            }
        }

        &.unidentified {
            border-radius: 1px;
            outline: 1px dotted rgba(75, 74, 68, 0.5);
            background: var(--visibility-gm-bg);
        }

        .button-group {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: nowrap;
            width: 50%;
            flex: 0;
            button {
                margin: 0;
                border: none;
                cursor: pointer;
                @include micro;
                padding: 5px;
                color: white;
                width: 70px;
                @include button;
                background: var(--secondary);
                border-radius: 2px;
                flex: 0;
                white-space: nowrap;
                margin-left: 4px;
                flex: 0;

                &:hover {
                    box-shadow: none;
                    text-shadow: 0 0 2px white;
                }
            }
        }
    }
}
