@mixin serif-condensed {
    font-family: var(--serif-condensed);
    font-weight: 700;
}

@mixin micro {
    font-family: var(--sans-serif);
    font-size: var(--font-size-10);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-rendering: optimizeLegibility;
}
