@mixin text-gold {
    background: url('../assets/sheet/gold.webp');
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@mixin serif-condensed {
    font-family: var(--serif-condensed);
    font-weight: 700;
}
