form > header {
    align-items: center;
    background: url("/assets/sheet/header-bw.webp"), url("/assets/sheet/background.webp");
    background-blend-mode: multiply;
    background-color: #238580;
    background-repeat: repeat-x, no-repeat;
    background-size: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    font-family: var(--sans-serif);
    font-weight: 600;
    gap: 8px;
    justify-content: space-between;
    margin-bottom: 0.1em;
    padding: 0 16px;
    text-transform: uppercase;
    width: 100%;

    .frame-container {
        flex: 0 0 60px;
        padding: 4px; // frames use shadows to create the border, so we need to offset it
        margin: 16px 0;

        .frame {
            width: 60px;
            height: 60px;
        }

        .image-container {
            [data-action=show-image] {
                color: var(--color-text-dark-primary);
            }
        }

        .actor-image {
            object-fit: cover;
            object-position: top;
            border: none;
            border-radius: 0;
            max-height: 178px;
            width: 100%;
            @include brown-border;
        }

        .edit-mode-button {
            position: absolute;
            width: 20px;
            height: 20px;
            bottom: -10px;
            left: -10px;
            border-radius: 10px;
            background-color: white;
            color: black;
            cursor: pointer;
            @include brown-border;

            // center the icon
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.05em;
        }
    }

    .details {
        margin: 4px 0;
        flex: 1;

        tags.tags.paizo-style .tagify__input::before {
            color: var(--color-text-light-7);
        }
    }

    input[type="text"], input[type="number"] {
        color: white;
        border: none;
        border-bottom: 1px solid transparent;
        &:hover:not(:disabled), &:focus {
            border: none;
            border-bottom: 1px solid var(--text-light);
            box-shadow: none;
        }
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 4px;

        font-size: var(--font-size-28);
        font-family: var(--serif-condensed);
        font-weight: 700;

        .name {
            flex: 1;
            font-size: var(--font-size-32);
        }

        .level {
            width: 32px;
            text-align: center;
        }
    }
}
