form > header {
    align-items: center;
    background: url("/assets/sheet/header-bw.webp"), url("/assets/sheet/background.webp");
    background-blend-mode: multiply;
    background-color: #238580;
    background-repeat: repeat-x, no-repeat;
    background-size: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    color: var(--text-light);
    display: flex;
    font-family: var(--sans-serif);
    font-weight: 600;
    gap: var(--space-8);
    justify-content: space-between;
    margin-bottom: 0.1em;
    padding: 0 1rem;
    text-transform: uppercase;
    width: 100%;

    .frame-container {
        flex: 0 0 3.75rem;
        padding: var(--space-4); // frames use shadows to create the border, so we need to offset it
        margin: 1rem 0;

        .frame {
            width: 3.75rem;
            height: 3.75rem;
        }

        .actor-image {
            @include brown-border;
            border-radius: 0;
            border: none;
            max-height: 11.125rem;
            object-fit: cover;
            object-position: top;
            width: 100%;
        }

        .edit-mode-button {
            @include brown-border;
            align-items: center;
            background-color: var(--color-text-light-0);
            border-radius: 10px;
            bottom: -0.625rem;
            color: var(--text-dark);
            display: flex;
            font-size: 1.05em;
            height: 1.25rem;
            justify-content: center;
            left: -0.625rem;
            position: absolute;
            width: 1.25rem;

            &:hover {
                text-shadow: none;
            }
        }
    }

    .details {
        flex: 1;
        margin: var(--space-4) 0;

        tags.paizo-style {
            select {
                border-radius: 0;
            }

            tag {
                height: 1.5rem;

                .tagify__input::before {
                    color: var(--color-text-trait);
                }
            }
        }
    }

    input[type="text"],
    input[type="number"] {
        color: var(--text-light);
        border: none;
        border-bottom: 1px solid transparent;

        &:hover:not(:disabled),
        &:focus {
            border: none;
            border-bottom: 1px solid var(--text-light);
            box-shadow: none;
        }
    }

    .title {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        font-family: var(--serif-condensed);
        font-size: var(--font-size-28);
        font-weight: 700;
        gap: var(--space-4);

        .name {
            flex: 1;
            font-size: var(--font-size-32);
        }

        .level {
            text-align: center;
            width: 2rem;
        }
    }
}
