$faded-color: #7a7971;
$attack-button-color: $secondary-color;
$damage-button-color: $primary-color;
$light-text: #f5efe0;

.sheet.hazard {
    @import "../red-action-boxes";

    ul, ol {
        @include p-reset;
        list-style-type: none;
    }

    h1, h2, h3, h4 {
        @include p-reset;
        border-bottom: none;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 100%;

        .tagify > span {
            min-width: 20px;
        }

        .tagify--hasMaxTags > span {
            display: none;
        }
    }

    .window-content {
        @include p-reset;
    }

    input[type="text"], input[type="number"] {
        @include p-reset;
        background: none;
        border: 1px solid transparent;

        &:hover:not(:disabled), &:focus {
            border: 1px solid black;
            box-shadow: 0 0 10px #00005a;
        }
    }

    .container {
        display: flex;
        background: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        );
        height: 100%;
        overflow: hidden;
    }

    .content {
        flex: 1;
        padding-left: 5px;
        padding-right: 5px;
        padding: 0 5px 20px 5px;
        @include scrollbar;
    }

    @import "header", "sidebar";

    .section-container {
        padding: 4px 6px 0;

        .editor {
            width: 100%;
            .editor-content, .tox-edit-area {
                padding: 4px;
            }

            .tox {
                width: 100%;
            }
        }

        &.skills > .section-body {
            .list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        .actions-list, .attacks-list {
            border-bottom: 1px solid var(--alt);
            &:last-child {
                border-bottom: none;
            }

            .action {
                padding: 4px 0;
            }
        }
    }

    .source {
        margin-top: 4px;
        .section-body {
            display: flex;
            gap: 4px;
            padding: 0 6px;
            .source-input {
                flex: 1;
            }
            label {
                flex: 0;
                font-weight: bold;
            }
        }
    }

    // When the editor is open, fill more space so the user has something to work with
    .tox.tox-tinymce {
        // !important to work around tox's limitations and a foundry issue where initial height is overwritten
        height: 200px!important;
    }

    // Hide editor button for those controlled by section controls
    // In the current version of foundry, not rendering the button in handlebars auto opens the prompt instead.
    .hazard-editor .editor .editor-edit {
        display: none;
    }
}
