.pf2e.sheet.hazard {
    .hazard-editor {
        min-height: 200px;
    }

    .stats-line.rich-description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .inline-stats {
            flex-grow: 0;
            padding-right: 6px;
            padding-top: 6px
        }
        div {
            flex-grow: 1;
            display: inline-block;
        }
    }
}
