.sidebar {
    border-right: 1px solid #888;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    height: 100%;
    overflow: hidden scroll;
    padding: var(--space-10) var(--space-8) var(--space-8);
    width: 13.75rem;

    select {
        font-size: var(--font-size-12);
        height: 2em;
    }

    .sidebar-title {
        border-bottom: 1px solid var(--color-shadow-dark);
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--space-4);

        h2 {
            font-size: var(--font-size-15);
            font-weight: 500;
        }
    }

    .valued-icon {
        align-items: baseline;
        display: flex;

        i {
            margin-right: var(--space-4);
        }

        i + input {
            // simulate similar appearance for spans and inputs (that have a border)
            margin-left: calc(-1 * var(--space-1));
        }
    }

    .health-line {
        display: flex;
        flex-direction: row;
        font-size: var(--font-size-16);
        gap: var(--space-2);
        justify-content: center;

        .health {
            input {
                width: 2rem;

                &.current {
                    text-align: end;
                }
            }
        }

        .armor-class,
        .hardness {
            input {
                margin-right: var(--space-1);
                text-align: right;
                width: 1.375rem;
            }
        }
    }

    .hp-details {
        width: 100%;
    }

    i.fa-info-circle {
        font-size: small;
    }

    .initiative {
        display: flex;
        font-size: var(--font-size-16);

        .roll-init {
            align-items: center;
            display: flex;
            font-weight: 500;

            i {
                margin-right: var(--space-4);
            }
        }
    }

    .sidebar-saves {
        display: flex;
        justify-content: space-between;

        .save {
            align-items: center;
            display: flex;
            flex: 1;
            flex-direction: column;
            font-size: var(--font-size-16);
        }

        input {
            max-width: 3.125rem;
            text-align: center;
        }
    }

    a.rollable {
        color: var(--color-pf-primary-darker);

        &:hover {
            color: var(--color-pf-primary-light);
            text-shadow: none;

            i {
                @include die-spin;
            }
        }
    }
}
