{{#*inline "editUnidentifiedItem"}}
<div class="form-group">
    <label>{{localize 'PF2E.ItemUnidentifiedShowLabel'}}</label>
    <input type="checkbox" name="data.identification.showIconToPlayer" value="1" data-dtype="{{data.identification.type}}" {{checked data.identification.showIconToPlayer}}/>
</div>

<div class="form-group">
    <label>{{localize "PF2E.ItemIdentificationSkillLabel"}}</label>
    <select name="data.identification.skill" data-dtype="String">
    {{#select data.identification.skill}}
    <option value=""></option>
    {{#each skills as |label skill|}}
        <option value="{{skill}}">{{label}}</option>
    {{/each}}
    {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize 'PF2E.ItemIdentificationDCLabel'}}</label>
    <input type="text" name="data.identification.dc" value="{{data.identification.dc}}" data-dtype="Number"/>
</div>
{{/inline}}

{{#*inline "editUnidentifiedItemButtons"}}
<ol class="form-list">
    <p class="notes">{{localize 'PF2E.ItemUnidentifiedEditHint'}}</p>
    <button type="button" data-action="editUnidentifiedVersion"><i class="fas fa-edit"></i>{{localize 'PF2E.ItemUnidentifiedEditLabel'}}</button>
</ol>

<ol class="form-list">
    <p class="notes">NPCs get the identified version of an item by default. Check this setting to prevent that.</p>
    <div class="form-group">
        <label>{{localize 'PF2E.ItemUnidentifiedCreateNPCLabel'}}</label>
        <input type="checkbox" name="data.identification.createUnidentifiedForNpcs" value="1" data-dtype="{{data.identification.type}}" {{checked data.identification.createUnidentifiedForNpcs}}/>
    </div>
</ol>

<ol class="form-list">
    <p class="notes">{{localize 'PF2E.ItemUnidentifiedDeleteHint'}}</p>
    <button type="button" data-action="deleteUnidentifiedVersion"><i class="fas fa-trash"></i>{{localize 'PF2E.ItemUnidentifiedDeleteLabel'}}</button>
</ol>
{{/inline}}

{{#if isOwned}}
    {{#if isUnidentifiedItem}}
        {{> editUnidentifiedItem}}
        <p class="notes">{{localize 'PF2E.ItemIdentificationOwnedEditHint'}}</p>
    {{else}}
        {{#if isPlayerCharacter}}
            <p class="notes">{{localize 'PF2E.ItemIdentificationOwnedHint'}}</p>
        {{else}}
            {{> editUnidentifiedItemButtons}}
        {{/if}}
    {{/if}}
{{else}}
    {{#if hasUnidentifiedItem}}
        {{> editUnidentifiedItemButtons}}
    {{else}}
        {{#if isUnidentifiedItem}}
            {{> editUnidentifiedItem}}
        {{else}}
            <p class="notes">{{localize 'PF2E.ItemUnidentifiedAttachHint'}}</p>
            <button type="button" data-action="createUnidentifiedVersion">{{localize 'PF2E.ItemUnidentifiedAttachLabel'}}</button>
        {{/if}}
    {{/if}}
{{/if}}
