.toggle {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;

    input[type='checkbox'] {
        position: absolute;
        opacity: 0;
    }

    &__status {
        height: 15px;
        width: 39px;
        border-radius: 13px;
        font-size: 0.8em;
        background-color: var(--alt);
        position: relative;
    }

    &__status:before {
        --size: 11px;
        position: absolute;
        display: grid;
        place-content: center;
        content: '';
        border-radius: 13px;
        background-color: white;
        height: var(--size);
        width: var(--size);
        top: 2px;
        left: 2px;
    }

    &__status:after {
        position: absolute;
        content: 'OFF';
        right: 5px;
        top: 1px;
    }

    input[type='checkbox']:checked ~ .toggle__status {
        background-color: var(--secondary);

        &:before {
            left: 26px;
        }

        &:after {
            content: 'ON';
            right: 18px;
            color: white;
        }
    }
}
