.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5em;

    &:hover {
        cursor: pointer;
    }

    input[type='checkbox'] {
        position: absolute;
        opacity: 0;
    }

    &__label {
        line-height: 1;
    }

    input[type='checkbox'] ~ .checkbox__image,
    input[type='checkbox'] ~ .checkbox__image:before {
        display: block;
        box-sizing: border-box;
        border-radius: 20px;
    }

    input[type='checkbox'] ~ .checkbox__image {
        color: var(--alt);
        border: 2px solid;
        position: relative;
        transform: scale(1);
        width: 24px;
        height: 14px;

        &:before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            background: currentColor;
            top: 2px;
            left: 2px;
        }
    }

    input[type='checkbox']:checked ~ .checkbox__image {
        color: var(--primary);

        &:before {
            left: 12px;
        }
    }

    input[type='checkbox']:checked ~ .checkbox__label {
        color: var(--primary);
    }
}
