.labelled-field {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;

    label {
        min-width: 22px;
        font-weight: bold;
    }

    input[type='text'],
    input[type='number'] {
        flex: auto;
        font-weight: normal;
        margin-left: 6px !important;
    }
}
