.labelled-field {
    display: flex;
    align-items: center;

    label {
        font-weight: bold;
        white-space: nowrap;
    }

    input[type='text'],
    input[type='number'] {
        flex: auto;
        font-weight: normal;
    }
}
