select {
    font-family: 'Roboto Condensed', $sans-serif;
    height: auto !important;
    font-size: 0.8em;
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.25em 0.5em;
    border: none;
}
