.npc-skills-editor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    overflow-y: scroll;

    .skill {
        display: grid;
        flex: auto;
        width: 100%;
        grid-template-columns: 1fr 1fr 3fr;
        column-gap: 12px;
        row-gap: 8px;
    }
}