{{!-- 
    1. List out all items for tracking a build 
    2. Start Validating (hard part)

    ===== Level 1 ===== Ability Boosts Skill Training
Ancestry Feat Heritage Class Selection (Order/Racket/Etc.) Class Features (tap
for details) 
===== Level 2 ===== (add level up option here) Warning if PC is
below the current level Class Feat Skill Feat 
===== Level 3 ===== (add level up
option here) Skill Increase General Feat Class Features (tap for details) =====
Level 4 ===== (add level up option here) Skill Feat Class Feat 
===== Level 5
===== (add level up option here) Ability Boosts Skill Increase Ancestry Feat
Class Features 
===== Level 6 ===== (add level up option here) Class Feat Skill
Feat 
===== Level 7 ===== (add level up option here) Skill Increase General Feat
Class Features 
===== Level 8 ===== (add level up option here) Skill Feat Class Feat 
===== Level 9 ===== (add level up option here) Skill Increase Ancestry Feat
===== Level 10 ===== (add level up option here) Ability Boosts Class Feat Skill Feat 
===== Level 11 ===== (add level up option here) Skill Increase General Feat Class Features 
===== Level 12 ===== (add level up option here) Skill Feat Class Feat 
===== Level 13 ===== (add level up option here) Skill Increase Ancestry Feat 
===== Level 14 ===== (add level up option here) Skill Feat Class Feat 
===== Level 15 ===== (add level up option here) Ability Boosts Skill Increase General Feat 
===== Level 16 ===== (add level up option here) Skill Feat Class Feat 
===== Level 17 ===== (add level up option here) Skill Increase Ancestry Feat 
===== Level 18 ===== (add level up option here) Skill Feat Class Feat 
===== Level 19
===== (add level up option here) Skill Increase General Feat 
===== Level 20
===== (add level up option here) Ability Boosts Class Feat Skill Feat --}}
<form autocomplete="off" onsubmit="event.preventDefault();">
    <div>
        <ol class="character-build-list inventory-list directory-list inventory-pane">
            {{#each build.choices as |choice choiceId|}}
                <div class="inventory-header">
                    <h3 class="build-choice-category item-name">{{choice.label}}</h3>
                    <p>{{json choice}}</p>
                </div>
            {{/each}}
        </ol>
    </div>
    <button type="submit" name="submit" value="1">
        <i class="far fa-save">{{localize "PF2E.SaveCharacterBuild"}}</i>
    </button>
</form>
