<li class="crafting-entry item-container" data-container-type="craftingEntryGroup">
    <div class="action-header">
        <h3 class="item-name pf-heading pf-actions hide-container-toggle title">
            Advanced Alchemy
        </h3>
    </div>
    <ol class="alchemicalEntry-list directory-list item-list">
        <li class="item inventory-header formula-level-header entry-header">
            <div class = "flexrow">
                <div class="item-name reagent-cost flexrow">
                    <h3>Total Cost:</h3>
                    <div class="formula-number">
                        {{@root.totalInfusedCost}}
                    </div>
                </div>

                <div class="item-name infused-reagents flexrow">
                    <h3>Infused Reagents:</h3>
                    <div class="resource-value-input">
                        <input type="number" data-selector="value" data-resource="infusedReagents" value="{{infusedReagents.value}}" placeholder="0" data-dtype="Number"/>
                    </span>
                    <h3>/</h3>
                    <div class="formula-number">
                        {{@root.infusedReagents.max}}
                    </div>
                </div>
            </div>
        </li>
        {{#each alchemicalCraftingEntries as |entry eid|}}
        <li class="alchemical-entry item-container item" data-container-type="craftingEntry"
            data-item-id="{{entry.id}}" data-container-id="{{entry.id}}">
            <div class="action-header">
                <h3 class="item-name pf-heading pf-actions hide-container-toggle title">
                    {{entry.name}}
                </h3>

                {{#if @root.owner}}
                <div class="item-controls">
                    <a class="item-control toggle-entry-filters" title="{{localize " PF2E.Filters"}}"><i
                            class="fas fa-filter"></i></a>
                    <a class="item-control clear-formula-filters" title="{{localize " PF2E.BrowserClearFilters"}}"><i
                            class="fas fa-undo"></i></a>
                </div>
                {{/if}}
            </div>

            <ol class="directory-list item-list formula-list">
                <li class="item inventory-header formula-level-header formula-header">
                    <div class="item-name flexrow reagent-cost">
                        <h3>Reagent Cost:</h3>
                        <div class="formula-number">
                            {{entry.reagentCost}}
                        </div>
                    </div>

                    <div class="item-name flexrow aa-level">
                        <h3>Advanced Alchemy Level:</h3>
                        <div class="formula-number">
                            {{entry.advancedAlchemyLevel}}
                        </div>
                    </div>
                </li>

                {{#each entry.formulas}}
                <li class="item formula-item" data-item-id="{{this.formula.id}}" data-item-type="formula" data-slot-id={{@key}}>
                    <div class="item-name rollable">
                        <div class="item-image">
                            <img class="item-icon" src="{{this.formula.img}}" alt="{{this.formula.name}}">
                        </div>
                        <h4>{{this.formula.name}}</h4>
                    </div>

                    <div class="formula-dc"></div>
                    <div class="formula-cost"></div>

                    <div class="item-quantity">
                        <a class="formula-decrease-quantity {{#unless @root.owner}} hidden{{/unless}}">&ndash;</a>
                        <div>{{this.quantity}}</div>
                        <a class="formula-increase-quantity {{#unless @root.owner}} hidden{{/unless}}">+</a>
                    </div>

                    {{#if @root.owner}}
                    <div class="item-controls">
                        <a class="item-control toggle-signature-item" title="{{localize 'PF2E.ToggleSignatureItemTitle'}}">
                            {{#if this.formula.data.data.alchemist.signatureItem}}
                                <i class="fas fa-star"></i>
                            {{else}}
                                <i class="far fa-star"></i>
                            {{/if}}
                        </a>
                        <a class="item-control formula-unprepare" title="{{localize "PF2E.UnprepareItemTitle"}}"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
                {{#unless entry.data.slots.prepared}}
                {{#if @root.owner}}
                <li class="inventory-header formula-header knownFormulas-empty">
                    <h4>{{localize "PF2E.FormulaListEmpty"}}</h4>
                </li>
                {{/if}}
                {{/unless}}
            </ol>
        </li>
        {{/each}}
    </ol>
</li>
