<div class="crafting">
    <form>
        <div class="form-group">
            <label>Item:</label>
            <input name="itemName" type="text" disabled value="{{formula.name}}">
        </div>
        <hr>
        <div class="form-group">
            <label>Craft DC:</label>
            <input name="craftDC" type="number" value="{{formula.data.craftDC.value}}">
        </div>
        <div class="form-group">
            <label>Item Cost:</label>
            <input name="itemCost" type="text" value="{{formula.data.cost.value}}">
        </div>
        <div class="form-group">
            {{#if batchCrafting}}
                <label>Quantity:</label>
                <input name="quantity" type="number" value="4" min="1" max="4">
                {{else}}
                    <input name="quantity" type="number" value="1" min="1" max="1" hidden>
            {{/if}}
        </div>
        <div class="form-group">
            <label>Specialty Crafting:</label>
            <select name="specialtyCrafting">
                <option {{#unless defaultSpecialty}} selected="selected" {{/unless}}></option>
                {{#each specialtyCrafting as |label key|}}
                    <option value="{{key}}" {{#if (eq ../defaultSpecialty key)}} selected="selected" {{/if}}>{{label}}</option>
                {{/each}}
            </select>
        </div>
    </form>
</div>
