<div class="delete-spellcasting-dialog selection"> 
  <div style="margin-bottom: 17px;">
      <label>{{localize "PF2E.DeleteSpellcastEntryQuestion"}}</label>
  </div>
  <div style="margin-bottom: 5px;">
      <label>{{localize "PF2E.DeleteSpellcastEntryWarning"}}</label>
  </div>
</div>
