<form class="{{cssClass}}" autocomplete="off">

  <!-- HEADER -->
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <section class="header-details">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}"/>
      </h1>
    </section>
  </header>

  <!-- BODY -->
  <section class="sheet-content" style="margin-top: 10px;">
    <label for="{{data._id}}-master"><b>Master</b></label>
    <select id="{{data._id}}-master" name="data.master.id">
      {{#select data.master.id}}
      <option value="">Select a master...</option>
      {{#each masters as |master idx|}}
      <option value="{{master.data._id}}">{{master.name}}</option>
      {{/each}}
      {{/select}}
    </select>
    <div><b>Level</b> {{data.master.level}}</div>
    <div>
      <b>Hit Points</b>
      <input name="data.attributes.hp.value" value="{{data.attributes.hp.value}}"/>
      <span>/</span>
      <span title="{{data.attributes.hp.breakdown}}">{{data.attributes.hp.max}}</span>
    </div>
    <div title="{{data.attributes.ac.breakdown}}">
      <b>Armor Class</b>
      <span>{{numberFormat data.attributes.ac.value decimals=0 sign=false}}</span>
    </div>
    {{#each data.saves as |save idx|}}
    <div title="{{save.breakdown}}">
      <b>{{localize save.name}}</b>
      <span>{{numberFormat save.value decimals=0 sign=true}}</span>
    </div>
    {{/each}}
  </section>

</form>
