<form class="{{cssClass}}" autocomplete="off" spellcheck="false">
    <!-- HEADER -->
    <div class="familiar-sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div class="header-row">
            <div class="charname">
                <input class=" charname-value" name="name" type="text" value="{{actor.name}}" placeholder="{{localize "
                    PF2E.NPC.Familiar"}}" spellcheck="false" />
                <label class="familiar-title">{{localize "ACTOR.TypeFamiliar"}}</label>
            </div>
            <div class="traits">
                {{#each traits as |trait|}}
                <span data-trait="{{trait.value}}" title="{{trait.description}}">{{localize trait.label}}</span>
                {{/each}}
            </div>
            <div class="hit-points">
                <label>{{localize "PF2E.HitPointsHeader"}}</label>
                <input id="{{actor._id}}-hit-points" type="number" name="data.attributes.hp.value"
                    value="{{data.attributes.hp.value}}" class="current-hp" data-dtype="Number" />
                <div>/</div>
                <div class="total-hp" title="{{data.attributes.hp.breakdown}}">{{data.attributes.hp.max}}</div>
            </div>
            <div title="{{data.attributes.ac.breakdown}}">
                <strong>{{localize "PF2E.Familiar.ArmorClass"}}</strong>
                <span>{{numberFormat data.attributes.ac.value decimals=0 sign=false}}</span>
            </div>
        </div>
    </div>
    <!-- TOP SECTIONS -->
    <div class="top-sections">
        <!-- MASTER -->
        <div class="master-section section-container">
            <div class="section-header">
                <h4>{{localize "PF2E.Familiar.Master"}}</h4>
            </div>
            <div class="section-body">
                <div class="master-detail">
                    <label for="{{actor._id}}-master"><strong>{{localize "PF2E.Familiar.MasterActor"}}</strong></label>
                    <select id="{{actor._id}}-master" name="data.master.id">
                        {{#select master.id}}
                        <option value="">{{localize "PF2E.Familiar.SelectMaster"}}</option>
                        {{#each masters as |eligible idx|}}
                        <option value="{{eligible.id}}">{{eligible.name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                {{#if data.master.id}}
                <div class="master-detail"><strong>{{localize "PF2E.Familiar.MasterLevel"}}</strong>
                    {{data.details.level.value}}</div>
                <div class="master-detail">
                    <label for="{{actor._id}}-spellcasting-ability"><strong>{{localize
                            'PF2E.Familiar.MasterSpellcastingAbility'}}</strong></label>
                    <select id="{{actor._id}}-spellcasting-ability" name="data.master.ability">
                        {{#select data.master.ability}}
                        {{#each abilities as |ability abbr|}}
                        <option value="{{abbr}}">{{localize ability}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>

                <div class="master-detail" title="{{familiarAbilities.breakdown}}">
                    <strong>{{localize "PF2E.Familiar.TotalNumberFamiliarAbilities"}}</strong> {{numberFormat
                    familiarAbilities.value decimals=0}}
                </div>
                {{/if}}
            </div>
        </div>
        <!-- FAMILIAR -->
        <div class="familiar-section section-container">
            <div class="section-header">
                <h4>{{localize "PF2E.Familiar.Familiar"}}</h4>
            </div>
            <div class="section-body">
                <!-- Species Name -->
                <div class="familiar-detail">
                    <label for="{{actor._id}}-species"><strong>{{localize "PF2E.Familiar.Creature"}}</strong></label>
                    <input id="{{actor._id}}-species" name="data.details.creature.value"
                        value="{{data.details.creature.value}}" placeholder="Rat, imp, leshy, etc." />
                </div>
                {{#if data.master.id}}
                <div class="familiar-detail">
                    <strong>{{localize "PF2E.Size"}}</strong>
                    <span>{{localize size}}</span>
                </div>
                <div class="rollable perception" title="{{data.attributes.perception.breakdown}}" data-perception-check>
                    <strong>{{localize "PF2E.Familiar.Perception"}}</strong>
                    <span>{{numberFormat data.attributes.perception.value decimals=0 sign=true}}</span>
                </div>
                <div class="familiar-detail">
                    <strong>{{localize "PF2E.Senses"}}</strong>
                    <span class="tags">
                        {{#each data.traits.senses as |sense idx|}}
                        {{#if sense.label}}<span class="tag">{{sense.label}}</span>{{/if}}
                        {{/each}}
                    </span>
                </div>
                <div class="familiar-detail">
                    <strong>{{localize "PF2E.Speed"}}</strong>
                    <span class="tags">
                        {{#with data.attributes.speed as |landSpeed|}}
                        <span class="tag" title="{{landSpeed.breakdown}}">{{localize landSpeed.label}}
                            {{landSpeed.total}}</span>
                        {{/with}}
                        {{#each data.attributes.speed.otherSpeeds}}
                        <span class="tag" title="{{this.breakdown}}">{{localize this.label}} {{this.total}}</span>
                        {{/each}}
                    </span>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{#if data.master.id}}
    <!-- ABILITIES -->
    <div class="section-container">
        <div class="section-header">
            <h4>Abilities</h4>
        </div>
        <div class="section-body">
            <i>TBD...</i>
        </div>
    </div>
    <!-- SAVES -->
    <div class="section-container">
        <div class="section-header">
            <h4>{{localize "PF2E.SavesHeader"}}</h4>
        </div>
        <div class="section-body">
            <div class="saves-list">
                {{#each data.saves}}
                <div class="saves saving-throw rollable" title="{{this.breakdown}}" data-saving-throw="{{@key}}">
                    <div class="save-name">{{localize this.name}}</div>
                    <div class="save-val">{{numberFormat this.value decimals=0 sign=true}}</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <!-- SKILLS -->
    <div class="section-container">
        <div class="section-header">
            <h4>{{localize "PF2E.Familiar.Skills"}}</h4>
        </div>
        <div class="section-body">
            <div class="skills-content">
                <div class="skills-list">
                    {{#each data.skills}}
                    <div class="skills-item" title="{{this.breakdown}}" data-skill-check="{{@key}}">
                        <div class="skills-score">
                            {{numberFormat this.value decimals=0 sign=true}}
                        </div>
                        <div class="skills-name">
                            {{localize this.name}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                <hr>
                <div class="rollable skills-attack" title="{{data.attack.breakdown}}" data-attack-roll="">
                    <strong>{{localize "PF2E.Familiar.AttackRoll"}}</strong>
                    <span>{{numberFormat data.attack.value decimals=0 sign=true}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- EFFECTS -->
    <div class="section-container">
        <div class="section-header">
            <h4>{{localize "PF2E.EffectsLabel"}}</h4>
        </div>
        <div class="section-body">
            <ol class="effects-list">
                {{#each items as |item idx|}}
                {{#if (eq item.type "condition")}}
                <div class="item effect expandable" title="{{item.name}}" data-item-id="{{item._id}}">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                </div>
                {{/if}}
                {{/each}}
                {{#each items as |item idx|}}
                {{#if (eq item.type "effect")}}
                <div class="item effect expandable" title="{{item.name}}" data-item-id="{{item._id}}">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                </div>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
    {{/if}}
</form>