<div class ="content">
    Main Skills
    <div class="skill-buttons">
        {{#each standard as |skill|}}
            <button value="{{skill.value}}">{{skill.label}}</button>
        {{/each}}
    </div>
    Alternate Skills
    <div class="alternate-skills">
        <div class="skills">
            <label for="skill-select">Skills</label>
            <select class="skill" id="skill-select">
                {{#each nonStandard as |skill|}}
                    <option value="{{skill.value}}">{{skill.label}}</option>
                {{/each}}
            </select>
        </div>
        <div class="abilities">
            <label for="ability-select">Abilities</label>
            <select class="ability" id="ability-select">
                <option value=""> Default</option>
                {{#each abilities as |ability|}}
                    <option value="{{ability.value}}">{{ability.label}}</option>
                {{/each}}
            </select>
        </div>
        <div class="controls">
            <button class="alt-submit"> choose</button>
        </div>
    </div>
</div>