<form>
    <div class="dialog-content" autocomplete="off">
        <div class="form-group">
            <label>{{localize "PF2E.SpellcastingTypeLabel"}}</label>
            <select name="data.prepared.value" {{disabled object.id}}>
            {{#select data.prepared.value}}
            {{#each spellcastingTypes as |label mode|}}
                <option value="{{mode}}">{{localize label}}</option>
            {{/each}}
            {{/select}}
            </select>
        </div>
        {{#if object.isPrepared}}
            <div class="form-group">
                <label>{{localize "PF2E.SpellFlexibleLabel"}}</label>
                <input name="data.prepared.flexible" type="checkbox" {{checked data.prepared.flexible}}/>
            </div>
        {{/if}}
        <hr/>
        {{#unless object.isRitual}}
            <div class="form-group">
                <label>{{localize "PF2E.MagicTraditionLabel"}}</label>
                <select name="data.tradition.value">
                {{#select data.tradition.value}}
                {{#each magicTraditions as |label mode|}}
                    <option value="{{mode}}">{{localize label}}</option>
                {{/each}}
                {{/select}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "PF2E.SpellAbilityLabel"}}</label>
                <select name="data.ability.value">
                    {{#select data.ability.value}}
                        {{#each abilities as |label key|}}
                            <option value="{{key}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            {{#if (eq actor.type "npc")}}
            <div class="form-group">
                <label>{{localize "PF2E.SpellcastingSettings.AutoHeightenLabel"}}</label>
                <select name="data.autoHeightenLevel.value" data-dtype="Number">
                    {{#select data.autoHeightenLevel.value}}
                        <option>{{localize "PF2E.SpellcastingSettings.AutoHeightenDefault"}}</option>
                        {{#times 10}}
                            <option value="{{add this 1}}">{{localize "PF2E.SpellLevel" level=(ordinal (add this 1))}}</option>
                        {{/times}}
                    {{/select}}
                </select>
            </div>
            {{/if}}
        {{/unless}}
    </div>
    <div class="dialog-buttons">
        <button type="submit" class="dialog-button finish default">
            {{#if object.id}}
                {{localize "PF2E.UpdateLabelUniversal"}}
            {{else}}
                {{localize "PF2E.CreateLabelUniversal"}}
            {{/if}}
        </button>
    </div>
<form>
