{{#*inline "folderPartial"}}
<li class="directory-item folder flexcol {{#unless folder.expanded}}collapsed{{/unless}}"
    data-folder-id="{{folder._id}}" data-folder-depth="{{folder.depth}}">
  <header class="folder-header flexrow" style="background-color: {{folder.data.color}}">
    <h3><i class="fas fa-folder-open fa-fw"></i>{{folder.name}}</h3>
    {{#if user.isGM}}
      <a class="create-folder" data-parent-folder="{{folder._id}}"><i class="fas fa-folder-plus fa-fw"></i></a>
      <a class="create-entity" data-folder="{{folder._id}}"><i class="fas fa-feather-alt fa-fw"></i></a>
	{{/if}}
  </header>

  <ol class="subdirectory">
	{{~#each folder.children as |child i|}}
      {{> folderPartial folder=child user=../user}}
    {{/each}}
    {{~#each folder.content as |entity i|}}
      {{> entityPartial item=entity user=../user}}
    {{/each~}}
  </ol>
</li>
{{/inline}}

{{#*inline "entityPartial"}}
  {{#unless item.data.data.identification.isUnidentified}}
  <li class="directory-item entity item flexrow" data-entity-id="{{item._id}}">
      <img class="profile item-profile" title="{{item.name}}" data-src="{{item.img}}"/>
      <h4 class="entity-name">
        <a>{{item.name}}</a>
        {{#if user.isGM}}
          {{#if item.data.data.identification.unidentifiedItemId}}
              <i class="far fa-question-circle" title="{{localize 'PF2E.ItemUnidentifiedAttachedHint'}}"></i>
          {{/if}}
        {{/if}}
      </h4>
  </li>
  {{/unless}}
{{/inline}}

<section class="sidebar-tab sidebar-directory tab flexcol" id="items" data-tab="items">

    <!-- Directory Header -->
    <header class="directory-header flexrow">
        <div class="header-search">
            <i class="fas fa-search"></i>
            <input type="text" name="search" value="{{search}}" placeholder="{{localize 'ITEM.Search'}}" autocomplete="off"/>
        </div>
        <a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up fa-fw"></i></a>
    </header>

    <!-- Directories List -->
	<ol class="directory-list">
	    {{~#each tree.children as |f fi|}}
        {{> folderPartial folder=f user=../user}}
	    {{/each}}
	    {{~#each tree.content as |entity i|}}
        {{> entityPartial item=entity user=../user}}
	    {{/each~}}
	</ol>

	<!-- Directory Footer -->
	{{#if canCreate}}
	<footer class="directory-footer">
		<button class="create-entity"><i class="fas fa-suitcase"></i> {{localize 'ITEM.Create'}}</button>
        {{#if user.isGM }}
        <button class="create-folder"><i class="fas fa-folder"></i> {{localize 'FOLDER.Create'}}</button>
	    {{/if}}
    </footer>
	{{/if}}
</section>
