.form-group > label a.small-button {
    padding-left: var(--space-4);
    font-size: 0.9em;
}

.lore-list {
    list-style-type: none;
    padding: 0;
    li {
        align-items: baseline;
        display: flex;
        gap: var(--space-4);
    }
}

fieldset {
    > .item-ref-group:not(.form-group) {
        margin: var(--space-6) 0;
        .item-refs {
            border: none;
        }
    }
}

.item-ref-list {
    align-items: start;
}

.form-group {
    &.form-group-trait {
        height: auto;
        margin: var(--space-2) 0;

        label {
            vertical-align: top;
        }

        > ul.abc-traits-list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;

            span.tag {
                float: none;
            }
        }
    }

    &.other-weapons {
        input {
            flex: 2;
        }
        select {
            flex: 1;
        }
    }

    &.additional-language {
        gap: var(--space-4);

        input {
            flex: 0.5;
        }

        span {
            flex: 2.5;
        }
    }
}
