.item-ref-group {
    ul.item-refs {
        border: 1px solid var(--color-border-light-2);
        border-radius: 3px;
        padding: 0;

        &.empty {
            background-color: rgba(120, 100, 82, 0.1);
            height: 28px;
        }

        > li {
            align-items: center;
            display: grid;
            grid-template-columns: 26px auto 2em 1em;
            padding: 1px;

            &:nth-of-type(even) {
                background-color: rgba(120, 100, 82, 0.1);
            }

            .name {
                display: block;
                margin-left: 0.25em;
                line-height: 1em;
                height: 1em;

                .fa.fa-globe {
                    padding: 0 3px;
                    float: right;
                }
            }

            .level {
                font-weight: bold;
                height: 1.25em;
                text-align: center;
            }

            a.remove {
                padding: 0 2px;
            }
        }

        ul {
            grid-column: 1 / 5;
            margin-top: 0;
            padding-left: 0.5em;

            &:empty {
                display: none;
            }
        }
    }
}

.item-ref-list {
    align-items: start;
}

.form-group {
    &.form-group-trait {
        height: auto;
        margin: 2px 0;

        label {
            vertical-align: top;
        }

        > ul.abc-traits-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;

            span.tag {
                float: none;
            }
        }
    }

    &.other-weapons {
        input { flex: 2; }
        select { flex: 1; }
    }

    &.additional-language {
        input { flex: 0.5; }
        span {
            flex: 2.5;
            padding-left: 4px;
        }
    }
}
