.affliction-stage {
    > header {
        align-items: baseline;
        background-color: var(--color-pf-secondary);
        border-radius: 2px 2px 0 0;
        color: var(--text-light);
        display: flex;
        justify-content: space-between;
        margin: -1px calc(-0.5em - 1px) var(--space-4);
        padding: 1px;

        h3,
        .item-controls {
            padding: 0.25rem;
            margin-bottom: 0;
        }
    }

    > section {
        margin: var(--space-6) 0;
    }

    .link:not(.linked) {
        opacity: 0.6;
        color: #a00;
    }

    .formula-row {
        align-items: center;
        display: flex;
        gap: 4px;
    }
}
