ul.item-refs {
    border: none;
    margin: 0;

    > li {
        grid-template-columns: 1.625rem auto 1em 1em;
        column-gap: var(--space-8);

        a.name {
            margin-left: 0;
        }

        i.fa-globe {
            cursor: help;
        }
    }
}
