.tab.details {
    .form-group.fonts {
        display: flex;
        gap: 0.25rem;

        .form-fields {
            justify-content: start;

            label {
                font-weight: normal;
            }
        }
    }
}
