.sheet-content .sheet-sidebar .inventory-details .form-group {
    select {
        max-width: fit-content;
    }

     .form-group.duration label {
        max-width: fit-content;
        padding-right: 0.1em;
    }
}
