@import "self-applied-effect";

.tab.details {
    .form-group {
        > label {
            min-width: fit-content;
            margin-right: 1em;
        }
    }

    .form-group.proficiencies {
        margin: 0;

        ul {
            &.empty {
                flex: 1;

                li.add-increase {
                    gap: 0.5rem;
                    justify-content: end;

                    a {
                        margin-left: 0;
                    }
                }
            }

            &:not(.empty) {
                border: 1px solid var(--color-border-light-2);
            }

            border-radius: 2px;
            display: flex;
            flex-direction: column;
            margin: 0.25rem 0;
            padding: 0.25rem;

            li {
                align-items: center;
                border: 1px solid transparent;
                display: flex;
                gap: 0.333rem;
                padding: 0.125rem;

                label,
                select.available-increases {
                    flex-basis: 10rem;
                }

                label {
                    font-weight: normal;
                    padding-right: 0;
                }

                select.rank {
                    flex-basis: 6rem;
                }

                a {
                    margin-left: auto;
                }
            }
        }
    }
}
