.identify-popup {
    min-width: 300px;
}
.item-mystify {
    &.active .form-group + .editor {
        height: auto;
        min-height: 30px;
    }
    .tox.tox-tinymce {
        min-height: 200px;
    }
}