.identify-popup {
    min-width: 300px;

    section.window-content {
        .drop-zone {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5em;
            border: 1px solid var(--color-border-light-primary);
            border-radius: 3px;
    
            img, i.fas {
                height: 1.6em;
                margin-right: 0.5em;
                border: 1px solid #bbb;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            i.fas {
                width: 1.6em;
                border-radius: 2px;
            }
        }
    }
}