#item-attacher .window-content {
    .form-group {
        --arrow-width: 3rem;
        flex-wrap: nowrap;
        gap: calc(1.5rem + var(--arrow-width));
        justify-content: space-between;
        position: relative;

        > * {
            flex: unset;
        }

        .attachment {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: var(--space-2);
            position: relative;
            width: fit-content;

            img {
                width: 2.5rem;
            }

            span {
                white-space: nowrap;
            }
        }

        .arrow {
            align-items: center;
            background: var(--table-header-bg-color);
            border-radius: 1px;
            bottom: var(--space-8);
            color: var(--color-text-subtle);
            display: flex;
            font-size: var(--font-size-16);
            height: 1.5rem;
            justify-content: center;
            left: 2.95rem;
            position: absolute;
            width: var(--arrow-width);

            i {
                padding-left: var(--space-3);
            }

            &:after {
                border: var(--space-12) solid transparent;
                border-left-color: var(--table-header-bg-color);
                border-radius: 1px;
                content: "";
                left: 100%;
                position: absolute;
            }
        }

        .choices {
            width: calc(4 * var(--arrow-width));

            tags {
                width: 100%;
            }
        }
    }

    footer {
        display: flex;
        gap: 1rem;

        button {
            width: 100%;

            &:disabled {
                background: rgba(black, 0.1);
                border-color: transparent;
            }
        }

        label {
            align-items: center;
            display: flex;
            flex-wrap: nowrap;
            white-space: nowrap;
        }
    }
}
