.sheet-body .item-details {
    .form-group.attack-modifier, li.damage-partial form-group {
        label {
            max-width: fit-content;
        }

        input {
            max-width: 6ch;
        }
    }

    ol.form-list li.damage-partial {
        align-items: center;
        display: flex;
        gap: 1em;

        input {
            max-width: 12ch;
        }

        .type {
            gap: 0.25em;
        }

        .remove-partial {
            margin: 0 0.5em 0 auto;
        }
    }
}
