.sheet-body .tab.details {
    li.damage-partial .form-group {
        flex-wrap: nowrap;
    }
    .damage-control {
        flex: 0;
        font-size: var(--font-size-13);
        &.remove-partial {
            margin: 0 0.5rem;
        }
    }
}
