.identify-popup {
    min-width: 300px;
}

.sheet-body .tab.mystification.active {
    .mystification-status {
        select {
            max-width: fit-content;
            margin-right: auto;
        }
    }

    fieldset > legend {
        font-weight: 500;
    }

    .form-group.unidentified {
        align-items: start;
        flex-direction: column;
        gap: 0.25rem;

        .img-name {
            align-items: center;
            gap: 0.5em;
            display: flex;
            flex-wrap: nowrap;

            img {
                flex: 0 0 3em;
                height: 3em;
            }
        }

        .editor {
            background: rgba(black, 0.05);
            padding: 0.25rem;
            min-height: 100px;
            min-width: 100%;
            flex-basis: 100%;
        }

        .tox.tox-tinymce {
            min-height: 200px;
        }
    }
}
