.identify-popup {
    min-width: 300px;
}

.sheet-body .tab.mystification.active {
    .mystification-status {
        select {
            max-width: fit-content;
            margin-right: auto;
        }
    }

    .unidentified {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;

        > * {
            display: flex;
        }

        img {
            height: 42px;
            width: 42px;
        }

        input {
            width: 50%;
        }

        .editor {
            min-height: 100px;
            width: 100%;
        }

        .tox.tox-tinymce {
            min-height: 200px;
        }
    }
}
