.persistent-damage-editor .window-content {
    fieldset {
        padding: 0.5rem;
        &.add {
            border-color: transparent;
        }
        &.list legend {
            text-align: right;
        }
    }
    .form-fields {
        flex-wrap: nowrap;
        justify-content: start;
        i.bullet {
            flex: none;
        }
        input.formula {
            flex: 0 0 5rem;
        }
        label.dc {
            flex: 0 0 5rem;
            gap: 0.5rem;
            text-align: right;
        }
        input[type="number"] {
            flex: 0 0 3rem;
        }
        button {
            margin-left: auto;
        }
    }
}
