.item-rules {
    @include scrollbar;

    select {
        font-size: var(--font-size-12);
        height: 1.36rem;
        width: auto;

        span {
            padding: 0;
        }
    }

    .nerd-details {
        margin-bottom: 10px;

        .form-group {
            margin: 0;
        }

        label {
            align-items: center;
            display: flex;
            flex: 0 0 70px;
            line-height: 1.5em;
            margin-right: 4px;
            min-width: 8em;

            i.fa-info-circle {
                margin-left: auto;
                margin-right: 0.5em;
            }
        }
    }

    .rules {
        padding-top: 7px;
        padding-right: 7px;

        .rule-element-header {
            display: flex;
            justify-content: space-between;

            h3.unrecognized {
                color: #880000;
            }
        }

        .add-rule-element {
            text-align: right;
        }

        textarea {
            padding: 4px;
            min-height: 60px;
            resize: vertical;
        }
    }

    .create-rule-element {
        display: flex;
        align-items: center;
        white-space: nowrap;
        gap: 6px;
        justify-content: flex-end;
    }

    .rule-editing {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 5px;

        & > .cm-editor {
            flex: 1;
            background-color: white;
            overflow: hidden;

            .cm-scroller {
                @include scrollbar;
                overflow: scroll;
            }

            // Undo global style overrides
            button {
                width: auto;
                line-height: normal;
            }

            // Undo global style overrides
            input[type=checkbox] {
                width: auto;
                height: auto;
            }

            // Undo legacy pf2e style overrides
            label {
                display: inline;
            }

            // Reduction in size so that it wraps neatly
            .cm-search .cm-textfield {
                width: 100px;
            }

            ::selection {
                color: black;
            }
        }

        .item-controls {
            margin: 0;
        }
    }

    // Styles for the rule editor forms
    .rule-form {
        label, .labelled-element {
            display: flex;
            align-items: center;
            gap: 4px;
            input, tags {
                flex: 1;
            }
        }

        .range {
            display: flex;
            gap: 3px;
            align-items: center;
            input {
                width: 40px;
            }
        }

        .attached-input {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;

            .attachment {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 6px;
                margin: 0;
                line-height: unset;
                flex: 0 0 auto;
                width: auto;
                min-width: 68px;

                align-self: stretch;
                border: 1px solid #aaa;
                border-right: none;
                border-radius: 3px 0 0 3px;
            }
            input, tags {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin: 0;
                flex: 1;
            }
        }

        // Main element for the value of a form group
        // Flex row with gaps between items
        .spaced-fields {
            display: flex;
            align-items: center;
            gap: 4px;

            label {
                font-weight: 500;
                padding-right: 2px;
                &:not(:first-child) {
                    padding-left: 2px;
                }
            }
        }

        .brackets {
            margin-left: 9.5em;
        }

        &[data-key="FastHealing"] {
            .details, tags {
                flex: 3;
            }

            .value {
                flex: 1;
                min-width: 80px;
            }
        }

        &[data-key="FlatModifier"] {
            .type-input {
                flex: 0;
            }
        }

        &[data-key="GrantItem"] {
            a.granted {
                display: flex;
                flex: 0 0 auto;
                flex-direction: row;
                align-items: center;
                gap: 3px;
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &[data-key="Note"] {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
    }
}
