.item-rules {
    @include scrollbar;

    select {
        font-size: var(--font-size-12);
        height: 1.36rem;
        width: auto;

        span {
            padding: 0;
        }
    }

    .nerd-details {
        margin-bottom: 10px;

        .form-group {
            margin: 0;
        }

        label {
            align-items: center;
            display: flex;
            flex: 0 0 70px;
            line-height: 1.5em;
            margin-right: 4px;
            min-width: 8em;

            i.fa-info-circle {
                margin-left: auto;
                margin-right: 0.5em;
            }
        }
    }

    .rules {
        padding-top: 7px;
        padding-right: 7px;

        .rule-element-header {
            display: flex;
            align-items: center;
            margin-bottom: 0.25rem;

            h3 {
                margin: 0;
                &.unrecognized {
                    color: #880000;
                }
            }

            .item-controls {
                margin-left: auto;
            }
        }

        .add-rule-element {
            text-align: right;
        }

        textarea {
            padding: 4px;
            min-height: 60px;
            resize: vertical;
        }
    }

    .create-rule-element {
        display: flex;
        align-items: center;
        white-space: nowrap;
        gap: 6px;
        justify-content: flex-end;
    }

    .rule-editing {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 5px;

        & > .cm-editor {
            flex: 1;
            background-color: white;
            overflow: hidden;

            .cm-scroller {
                @include scrollbar;
                overflow: scroll;
            }

            // Undo global style overrides
            button {
                width: auto;
                line-height: normal;
            }

            // Undo global style overrides
            input[type="checkbox"] {
                width: auto;
                height: auto;
            }

            // Undo legacy pf2e style overrides
            label {
                display: inline;
            }

            // Reduction in size so that it wraps neatly
            .cm-search .cm-textfield {
                width: 100px;
            }

            ::selection {
                color: var(--text-dark);
            }
        }

        .item-controls {
            margin: 0;
        }
    }

    // Styles for the rule editor forms
    .rule-form {
        label,
        .labelled-element {
            display: flex;
            align-items: center;
            gap: 4px;
            input,
            tags {
                flex: 1;
            }
        }

        .range {
            display: flex;
            gap: 3px;
            align-items: center;
            input {
                width: 40px;
            }
        }

        .attached-input {
            align-items: center;
            display: flex;
            flex: 2;
            justify-content: center;

            .attachment,
            input,
            .tags {
                z-index: 0;

                &:hover,
                &:focus {
                    z-index: 1;
                }
            }

            .attachment {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 6px;
                margin: 0;
                line-height: unset;
                flex: 0 0 auto;
                width: auto;
                min-width: 68px;

                align-self: stretch;
                border: 1px solid #aaa;
                border-right: none;
                border-radius: 3px 0 0 3px;
            }

            .file-picker {
                line-height: unset;
            }

            input,
            tags {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin: 0;
                flex: 1;
            }
        }

        // Main element for the value of a form group
        // Flex row with gaps between items
        .spaced-fields {
            display: flex;
            align-items: center;
            gap: 4px;

            label {
                font-weight: 500;
                padding-right: 2px;
                &:not(:first-child) {
                    padding-left: 2px;
                }
            }
        }

        .brackets {
            margin-left: 9.5em;
        }

        nav.rule-tabs {
            border-bottom: 1px solid var(--secondary-background);

            h4 {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                margin-top: 0.5em;
                font-weight: 200;
            }

            a.active {
                font-weight: 600;
                text-decoration: underline;
            }
        }

        fieldset {
            border-radius: 5px;
            border: 1px solid var(--secondary-background);
            margin: 0.5em 0;
            padding: 0.25em;

            legend {
                font-weight: 500;
            }
        }

        .rules-drop-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 4em;

            .rules-drop-zone {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40%;
                height: 3.5em;
                border: 1px solid var(--color-border-light-primary);
                border-radius: 3px;
                color: #222;
                background-color: #ddd;
                cursor: default;
                padding: 1px 6px;
                font-family: var(--font-primary);
                font-size: var(--font-size-14);
                line-height: 28px;

                i {
                    border: 1px solid #bbb;
                    border-radius: 2px;
                    align-items: center;
                    display: flex;
                    height: 1.6em;
                    justify-content: center;
                    margin-right: 0.5em;
                    width: 1.6em;

                    &:after {
                        font-size: var(--font-size-20);
                    }
                }

                span {
                    color: var(--text-dark);
                }
            }
        }

        &[data-key="Aura"] {
            div[data-rule-tab] {
                display: flex;
                flex-direction: column;

                label {
                    min-width: 5em;

                    &.short {
                        max-width: 5em;
                    }
                }

                .brackets {
                    margin-left: 6em;
                }

                .grid {
                    display: grid;
                    grid: "label content" 1fr/1fr 1fr;
                    column-gap: 5px;
                    margin-top: 0.5em;

                    input[type="checkbox"] {
                        margin-right: 3px;
                    }

                    .item-controls {
                        justify-content: flex-end;

                        a {
                            margin: 2px 2px 0 0;
                        }
                    }

                    .column-span-two {
                        grid-column: span 2;
                    }
                }

                hr {
                    width: 100%;
                }
            }

            div[data-rule-tab="effects"] {
                height: 230px;
                overflow-y: auto;

                a.content-link {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                    min-width: 9rem;
                    height: 2em;
                    padding: 4px;

                    img {
                        border: 1px solid var(--color-border-dark);
                        border-radius: 2px;
                        box-sizing: border-box;
                        display: block;
                        float: left;
                        height: 24px;
                        width: 24px;
                    }

                    span {
                        text-wrap: wrap;
                    }
                }

                .saves-container {
                    grid-column: span 2;
                }
            }

            div[data-rule-tab="appearance"] {
                .translation {
                    input {
                        width: 5em;
                    }
                }
            }
        }

        &[data-key="FastHealing"] {
            select {
                flex: 0;
            }

            .details,
            tags {
                flex: 1;
            }

            .resolvable {
                flex: 1;
                min-width: 120px;
            }
        }

        &[data-key="FlatModifier"] {
            .type-input {
                flex: 0;
            }
        }

        &[data-key="GrantItem"] {
            a.granted {
                display: flex;
                flex: 0 0 auto;
                flex-direction: row;
                align-items: center;
                gap: 3px;
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &[data-key="Note"] {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        &[data-key="TokenLight"] {
            div[data-rule-tab] {
                display: grid;
                grid: "label content" 1fr/1fr 1fr;
                column-gap: 5px;

                fieldset.radii {
                    display: flex;
                    flex-direction: column;
                    grid-column: span 2;

                    .brackets {
                        margin-left: 6.5em;
                    }
                }

                label {
                    display: flex;
                    flex: unset;
                    margin-left: 5px;
                    margin-right: 5px;

                    &.short {
                        min-width: 5em;
                    }
                }

                .column-span-two {
                    grid-column: span 2;
                }
            }
        }
    }
}
