section.sidebar {
    flex: 0 0 13.75rem;
    display: flex;
    flex-flow: column nowrap;

    > * {
        flex: 1;
    }

    .item-summary,
    .tags-title {
        @include serif-condensed;
        flex: 0 0 1.5em;
        line-height: 1.5em;
        text-align: center;
        font-size: var(--font-size-18);
        color: var(--color-text-dark-3);
        margin: 0.5em 0 0;
    }

    .item-tags,
    ul.tags {
        flex: 0;
        list-style: none;
        margin-top: 0;
        padding-left: 0;

        li {
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
        }
    }

    .inventory-details {
        display: flex;
        flex-flow: column nowrap;
        gap: var(--space-4);
        overflow: hidden scroll;
        padding: var(--space-8) var(--space-4) 0 0;

        .form-group {
            column-gap: var(--space-4);
            flex-wrap: nowrap;
            margin: 0;
            padding: 0 var(--space-2) 0 0;

            &.quantity,
            &.price {
                input:first-of-type {
                    margin-left: auto;
                    max-width: 9.5ch;
                }

                .slash {
                    flex: 0;

                    & + input {
                        min-width: 5.25ch;
                    }
                }
            }

            label {
                flex: 0 0 5em;
                font-weight: 500;
                white-space: nowrap;
            }

            input {
                text-align: right;

                &[type="checkbox"] {
                    margin-right: 0;
                }
            }

            select {
                font-size: var(--font-size-13);
                margin: 0 0 0 auto;
                max-width: 10em;
            }
        }
    }

    button {
        padding-top: 0;
        padding-bottom: 0;
        white-space: nowrap;
    }
}
