section.sidebar {
    flex: 0 0 13.75rem;
    display: flex;
    flex-flow: column nowrap;

    > * {
        flex: 1;
    }

    .item-summary,
    .tags-title {
        @include serif-condensed;
        flex: 0 0 1.5em;
        line-height: 1.5em;
        text-align: center;
        font-size: var(--font-size-18);
        color: var(--color-text-dark-3);
        margin: 0.5em 0 0;
    }

    .item-tags,
    ul.tags {
        flex: 0;
        list-style: none;
        margin-top: 0;
        padding-left: 0;

        li {
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }

    .inventory-details,
    .feat-details {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.25rem;
        overflow: hidden scroll;
        padding: 0 0.25rem 0 0;

        .form-group {
            margin: 0 0.125rem;
            flex-wrap: nowrap;

            &.quantity,
            &.price {
                input:first-of-type {
                    margin-left: auto;
                    max-width: 9.5ch;
                }

                .slash {
                    flex: 0;

                    & + input {
                        min-width: 5.25ch;
                    }
                }
            }

            label {
                font-weight: 500;
                flex: 0 0 5em;
                white-space: nowrap;
            }

            input {
                text-align: right;

                &.left-of-select {
                    min-width: 4ch;
                    padding-right: 0.25em;
                }
            }

            select {
                font-size: var(--font-size-13);
                margin-left: auto;
                max-width: 10em;
            }
        }
    }

    button {
        padding-top: 0;
        padding-bottom: 0;
        white-space: nowrap;
    }
}
