section.sidebar {
    flex: 0 0 13.75rem;
    display: flex;
    flex-flow: column nowrap;

    > * {
        flex: 1;
    }

    .item-summary {
        @include serif-condensed;
        flex: 0 0 1.5em;
        line-height: 1.5em;
        text-align: center;
        font-size: var(--font-size-18);
        color: #444;
    }

    ol.item-tags {
        padding-left: 0;
        flex: 0;
        list-style: none;

        .tag {
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }

    .inventory-details,
    .feat-details {
        overflow: hidden scroll;
        padding: 0 0.25rem 0 0;

        .form-group {
            margin: 3px 0;

            label {
                font-weight: 500;
                max-width: 6em;
                white-space: nowrap;
            }

            input {
                text-align: right;

                &.left-of-select {
                    min-width: 4ch;
                    padding-right: 0.25em;
                }
            }

            select {
                max-width: 12em;
            }
        }

        .price-fields {
            display: flex;
            gap: 4px;
            input[name="system.price.per"] {
                width: 22px;
            }
        }
    }

    button {
        padding-top: 0;
        padding-bottom: 0;
        white-space: nowrap;
    }
}
