.tab.details.active {
    .damage-formulas {
        margin-top: 0.5rem;

        .form-fields {
            gap: 2px;
            white-space: nowrap;

            .apply-mod {
                white-space: nowrap;
            }

            select {
                max-width: 8em;
            }

            .materials {
                flex: 0 1 fit-content;
                align-self: end;
            }
        }
    }

    button + fieldset {
        margin-top: 0.5rem;
    }

    fieldset.heightening {
        .add {
            display: grid;
            grid-template-columns: 1fr 1fr;

            button.only-option {
                grid-column: span 2;
            }
        }

        .overlay {
            margin-top: var(--space-8);

            .toggle-button-list {
                column-gap: 2px;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                margin: 4px 0;

                button {
                    font-size: var(--font-size-12);
                    line-height: normal;
                    margin: 0;
                    padding: 0.25em;
                    white-space: nowrap;
                }
            }
        }
    }

    .overlay {
        .traits {
            align-items: center;
            display: flex;
            gap: 4px;
            .tags {
                flex: 1;
            }
        }
    }

    .variants .variant {
        display: grid;
        grid-template-columns: 1fr 1fr 0.2fr;

        .item-controls {
            justify-self: end;
        }
    }

    .form-group {
        &.save,
        &.duration {
            .form-fields {
                gap: 2rem;

                > * {
                    display: flex;
                    flex-wrap: nowrap;

                    label {
                        flex: 0 1 fit-content;
                    }
                }
            }
        }
    }
}
