.damage-formulas {
    margin-top: 8px;

    .details-container-flex-row {
        gap: 2px;
        margin-top: 4px;
    }

    input[type="checkbox"] {
        margin-left: 2px;
    }

    .traits-list {
        display: flex;
        margin-top: 2px;
    }

    .tag {
        float: none; // remove when global rule is removed
    }
}

button[data-action="damage-add"] {
    margin-top: 4px;
}

.variants .variant {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;

    .item-controls {
        justify-self: end;
    }
}
