section.sheet-sidebar {
    > .inventory-details {
        padding-left: 0;
    }

    ol.item-tags {
        padding-left: 0;
        flex: 0;
        list-style: none;

        .tag {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}
